.Light {
  // Local Variables
  $FLDS-Color-Background-Default-Default: #eeeff6;
  $FLDS-Color-Background-Default-Secondary: #d2d5ea;
  $FLDS-Color-Background-Default-Tertiary: #aeb2cc;
  $FLDS-Color-Background-Default-Default-Hover: #aeb2cc;
  $FLDS-Color-Background-Default-Secondary-Hover: #aeb2cc;
  $FLDS-Color-Background-Default-Tertiary-Hover: #989cb7;
  $FLDS-Color-Background-Brand-Default: #253bac;
  $FLDS-Color-Background-Brand-Secondary: #6f93fe;
  $FLDS-Color-Background-Brand-Hover: #213496;
  $FLDS-Color-Background-Brand-Secondary-Hover: #456eeb;
  $FLDS-Color-Background-Brand-Tertiary: #9fb7ff;
  $FLDS-Color-Background-Brand-Tertiary-Hover: #6f93fe;
  $FLDS-Color-Background-Positive-Default: #14ae5c;
  $FLDS-Color-Background-Positive-Secondary: #cff7d3;
  $FLDS-Color-Background-Positive-Hover: #009951;
  $FLDS-Color-Background-Positive-Secondary-Hover: #aff4c6;
  $FLDS-Color-Background-Positive-Tertiary: #ebffee;
  $FLDS-Color-Background-Positive-Tertiary-Hover: #cff7d3;
  $FLDS-Color-Background-Warning-Default: #e8b931;
  $FLDS-Color-Background-Warning-Secondary: #fff1c2;
  $FLDS-Color-Background-Warning-Hover: #e5a000;
  $FLDS-Color-Background-Warning-Secondary-Hover: #ffe8a3;
  $FLDS-Color-Background-Warning-Tertiary: #fffbeb;
  $FLDS-Color-Background-Warning-Tertiary-Hover: #fff1c2;
  $FLDS-Color-Background-Danger-Default: #f03330;
  $FLDS-Color-Background-Danger-Secondary: #fdd3d0;
  $FLDS-Color-Background-Danger-Hover: #d21e1e;
  $FLDS-Color-Background-Danger-Secondary-Hover: #fcb3ad;
  $FLDS-Color-Background-Danger-Tertiary: #fee9e7;
  $FLDS-Color-Background-Danger-Tertiary-Hover: #fdd3d0;
  $FLDS-Color-Background-Disabled-Default: #b3b3b3;
  $FLDS-Color-Background-Utilities-Scrim: rgba(255, 255, 255, 0.8);
  $FLDS-Color-Background-Utilities-Overlay: rgba(0, 0, 0, 0.5);
  $FLDS-Color-Background-Utilities-Blanket: rgba(0, 0, 0, 0.7);
  $FLDS-Color-Background-Utilities-Measurement: #fbcfe8;
  $FLDS-Color-Background-Utilities-Highlight: rgba(12, 12, 13, 0.03);
  $FLDS-Color-Background-Utilities-Highlight-2: rgba(12, 12, 13, 0.05);
  $FLDS-Color-Background-Utilities-Highlight-Brand: rgba(135, 165, 255, 0.05);
  $FLDS-Color-Background-Utilities-Highlight-Brand-2: rgba(69, 110, 235, 0.1);
  $FLDS-Color-Background-Utilities-Highlight-Brand-3: rgba(69, 110, 235, 0.15);
  $FLDS-Color-Background-Utilities-Highlight-Brand-4: rgba(69, 110, 235, 0.2);
  $FLDS-Color-Background-Neutral-Default: #5a5a5a;
  $FLDS-Color-Background-Neutral-Hover: #434343;
  $FLDS-Color-Background-Neutral-Secondary: #cdcdcd;
  $FLDS-Color-Background-Neutral-Secondary-Hover: #b2b2b2;
  $FLDS-Color-Background-Neutral-Tertiary: #e3e3e3;
  $FLDS-Color-Background-Neutral-Tertiary-Hover: #cdcdcd;
  $FLDS-Color-Background-Neutral-Secondary-2: #cdcdcd;
  $FLDS-Color-Background-Bold-Default: #ffffff;
  $FLDS-Color-Background-Bold-Default-Hover: #f5f5f5;
  $FLDS-Color-Background-Bold-Secondary: #f5f5f5;
  $FLDS-Color-Background-Bold-Secondary-Hover: #e6e6e6;
  $FLDS-Color-Background-Bold-Tertiary: #d9d9d9;
  $FLDS-Color-Background-Bold-Tertiary-Hover: #b3b3b3;
  $FLDS-Color-Background-Accent-Default: #0d9488;
  $FLDS-Color-Background-Accent-Hover: #0f766e;
  $FLDS-Color-Background-Accent-Secondary: #5eead4;
  $FLDS-Color-Background-Accent-Secondary-Hover: #2dd4bf;
  $FLDS-Color-Background-Accent-Tertiary: #99f6e4;
  $FLDS-Color-Background-Accent-Tertiary-Hover: #5eead4;
  $FLDS-Color-Background-Invert-Default: #17171f;
  $FLDS-Color-Background-Invert-Default-Hover: #1e1f2a;
  $FLDS-Color-Background-Invert-Secondary: #1e1f2a;
  $FLDS-Color-Background-Invert-Secondary-Hover: #2f303e;
  $FLDS-Color-Background-Invert-Tertiary: #3e4051;
  $FLDS-Color-Background-Invert-Tertiary-Hover: #5a5c71;
  $FLDS-Color-Text-Default-Default: #1e1e1e;
  $FLDS-Color-Text-Default-Secondary: #757575;
  $FLDS-Color-Text-Default-Tertiary: #b3b3b3;
  $FLDS-Color-Text-Brand-Default: #161e69;
  $FLDS-Color-Text-Brand-Secondary: #253bac;
  $FLDS-Color-Text-Brand-Tertiary: #1f3ccd;
  $FLDS-Color-Text-Brand-On-Brand: #d0deff;
  $FLDS-Color-Text-Brand-On-Brand-Secondary: #161e69;
  $FLDS-Color-Text-Brand-On-Brand-Tertiary: #213496;
  $FLDS-Color-Text-Positive-Default: #02542d;
  $FLDS-Color-Text-Positive-Secondary: #009951;
  $FLDS-Color-Text-Positive-Tertiary: #14ae5c;
  $FLDS-Color-Text-Positive-On-Positive: #ebffee;
  $FLDS-Color-Text-Positive-On-Positive-Secondary: #02542d;
  $FLDS-Color-Text-Positive-On-Positive-Tertiary: #02542d;
  $FLDS-Color-Text-Warning-Default: #522504;
  $FLDS-Color-Text-Warning-Secondary: #975102;
  $FLDS-Color-Text-Warning-Tertiary: #bf6a02;
  $FLDS-Color-Text-Warning-On-Warning: #401b01;
  $FLDS-Color-Text-Warning-On-Warning-Secondary: #682d03;
  $FLDS-Color-Text-Warning-On-Warning-Tertiary: #522504;
  $FLDS-Color-Text-Danger-Default: #9c120f;
  $FLDS-Color-Text-Danger-Secondary: #d21e1e;
  $FLDS-Color-Text-Danger-Tertiary: #f03330;
  $FLDS-Color-Text-Danger-On-Danger: #fee9e7;
  $FLDS-Color-Text-Danger-On-Danger-Secondary: #9c120f;
  $FLDS-Color-Text-Danger-On-Danger-Tertiary: #9c120f;
  $FLDS-Color-Text-Disabled-Default: #e6e6e6;
  $FLDS-Color-Text-Disabled-On-Disabled: #d9d9d9;
  $FLDS-Color-Text-Utilities-Text-On-Overlay: #0c0c0d;
  $FLDS-Color-Text-Utilities-Text-On-Measurement: #9d174d;
  $FLDS-Color-Text-Neutral-Default: #303030;
  $FLDS-Color-Text-Neutral-Secondary: #5a5a5a;
  $FLDS-Color-Text-Neutral-Tertiary: #767676;
  $FLDS-Color-Text-Neutral-On-Neutral: #f3f3f3;
  $FLDS-Color-Text-Neutral-On-Neutral-Secondary: #303030;
  $FLDS-Color-Text-Neutral-On-Neutral-Tertiary: #434343;
  $FLDS-Color-Text-Invert-Default: #ffffff;
  $FLDS-Color-Text-Invert-Secondary: rgba(255, 255, 255, 0.7);
  $FLDS-Color-Text-Invert-Tertiary: rgba(255, 255, 255, 0.4);
  $FLDS-Color-Icon-Default-Default: #1e1e1e;
  $FLDS-Color-Icon-Default-Secondary: #757575;
  $FLDS-Color-Icon-Default-Tertiary: #b3b3b3;
  $FLDS-Color-Icon-Brand-Default: #161e69;
  $FLDS-Color-Icon-Brand-Secondary: #253bac;
  $FLDS-Color-Icon-Brand-Tertiary: #1f3ccd;
  $FLDS-Color-Icon-Brand-On-Brand: #d0deff;
  $FLDS-Color-Icon-Brand-On-Brand-Secondary: #0e0f43;
  $FLDS-Color-Icon-Brand-On-Brand-Tertiary: #161e69;
  $FLDS-Color-Icon-Positive-Default: #02542d;
  $FLDS-Color-Icon-Positive-Secondary: #009951;
  $FLDS-Color-Icon-Positive-Tertiary: #14ae5c;
  $FLDS-Color-Icon-Positive-On-Positive: #ebffee;
  $FLDS-Color-Icon-Positive-On-Positive-Secondary: #02542d;
  $FLDS-Color-Icon-Positive-On-Positive-Tertiary: #024023;
  $FLDS-Color-Icon-Warning-Default: #522504;
  $FLDS-Color-Icon-Warning-Secondary: #975102;
  $FLDS-Color-Icon-Warning-Tertiary: #bf6a02;
  $FLDS-Color-Icon-Warning-On-Warning: #401b01;
  $FLDS-Color-Icon-Warning-On-Warning-Secondary: #682d03;
  $FLDS-Color-Icon-Warning-On-Warning-Tertiary: #522504;
  $FLDS-Color-Icon-Danger-Default: #9c120f;
  $FLDS-Color-Icon-Danger-Secondary: #d21e1e;
  $FLDS-Color-Icon-Danger-Tertiary: #f03330;
  $FLDS-Color-Icon-Danger-On-Danger: #fee9e7;
  $FLDS-Color-Icon-Danger-On-Danger-Secondary: #9c120f;
  $FLDS-Color-Icon-Danger-On-Danger-Tertiary: #9c120f;
  $FLDS-Color-Icon-Disabled-Default: #e6e6e6;
  $FLDS-Color-Icon-Disabled-On-Disabled: #d9d9d9;
  $FLDS-Color-Icon-Neutral-Default: #303030;
  $FLDS-Color-Icon-Neutral-Secondary: #5a5a5a;
  $FLDS-Color-Icon-Neutral-Tertiary: #767676;
  $FLDS-Color-Icon-Neutral-On-Neutral: #f3f3f3;
  $FLDS-Color-Icon-Neutral-On-Neutral-Secondary: #303030;
  $FLDS-Color-Icon-Neutral-On-Neutral-Tertiary: #434343;
  $FLDS-Color-Icon-Utilities-Icon-On-Measurement: #9d174d;
  $FLDS-Color-Icon-Utilities-Icon: #db2777;
  $FLDS-Color-Border-Default-Default: #d9d9d9;
  $FLDS-Color-Border-Default-Secondary: #757575;
  $FLDS-Color-Border-Default-Tertiary: #383838;
  $FLDS-Color-Border-Brand-Default: #161e69;
  $FLDS-Color-Border-Brand-Secondary: #253bac;
  $FLDS-Color-Border-Brand-Tertiary: #1f3ccd;
  $FLDS-Color-Border-Positive-Default: #02542d;
  $FLDS-Color-Border-Positive-Secondary: #009951;
  $FLDS-Color-Border-Positive-Tertiary: #14ae5c;
  $FLDS-Color-Border-Warning-Default: #522504;
  $FLDS-Color-Border-Warning-Secondary: #975102;
  $FLDS-Color-Border-Warning-Tertiary: #bf6a02;
  $FLDS-Color-Border-Danger-Default: #9c120f;
  $FLDS-Color-Border-Danger-Secondary: #d21e1e;
  $FLDS-Color-Border-Danger-Tertiary: #f03330;
  $FLDS-Color-Border-Disabled-Default: #d9d9d9;
  $FLDS-Color-Border-Utilities-Measurement: #f472b6;
  $FLDS-Color-Border-Utilities-Swatch: rgba(0, 0, 0, 0.24);
  $FLDS-Color-Border-Neutral-Default: #303030;
  $FLDS-Color-Border-Neutral-Secondary: #767676;
  $FLDS-Color-Border-Neutral-Tertiary: #b2b2b2;
  $FLDS-Color-Overlay-White-White4: rgba(255, 255, 255, 0.06);
  $FLDS-Color-Radius-200: 10px;
  $FLDS-Color-Space-200: 8px;

  // Global Variables
  --FLDS-Color-Background-Default-Default: #eeeff6;
  --FLDS-Color-Background-Default-Secondary: #d2d5ea;
  --FLDS-Color-Background-Default-Tertiary: #aeb2cc;
  --FLDS-Color-Background-Default-Default-Hover: #aeb2cc;
  --FLDS-Color-Background-Default-Secondary-Hover: #aeb2cc;
  --FLDS-Color-Background-Default-Tertiary-Hover: #989cb7;
  --FLDS-Color-Background-Brand-Default: #253bac;
  --FLDS-Color-Background-Brand-Secondary: #6f93fe;
  --FLDS-Color-Background-Brand-Hover: #213496;
  --FLDS-Color-Background-Brand-Secondary-Hover: #456eeb;
  --FLDS-Color-Background-Brand-Tertiary: #9fb7ff;
  --FLDS-Color-Background-Brand-Tertiary-Hover: #6f93fe;
  --FLDS-Color-Background-Positive-Default: #14ae5c;
  --FLDS-Color-Background-Positive-Secondary: #cff7d3;
  --FLDS-Color-Background-Positive-Hover: #009951;
  --FLDS-Color-Background-Positive-Secondary-Hover: #aff4c6;
  --FLDS-Color-Background-Positive-Tertiary: #ebffee;
  --FLDS-Color-Background-Positive-Tertiary-Hover: #cff7d3;
  --FLDS-Color-Background-Warning-Default: #e8b931;
  --FLDS-Color-Background-Warning-Secondary: #fff1c2;
  --FLDS-Color-Background-Warning-Hover: #e5a000;
  --FLDS-Color-Background-Warning-Secondary-Hover: #ffe8a3;
  --FLDS-Color-Background-Warning-Tertiary: #fffbeb;
  --FLDS-Color-Background-Warning-Tertiary-Hover: #fff1c2;
  --FLDS-Color-Background-Danger-Default: #f03330;
  --FLDS-Color-Background-Danger-Secondary: #fdd3d0;
  --FLDS-Color-Background-Danger-Hover: #d21e1e;
  --FLDS-Color-Background-Danger-Secondary-Hover: #fcb3ad;
  --FLDS-Color-Background-Danger-Tertiary: #fee9e7;
  --FLDS-Color-Background-Danger-Tertiary-Hover: #fdd3d0;
  --FLDS-Color-Background-Disabled-Default: #b3b3b3;
  --FLDS-Color-Background-Utilities-Scrim: rgba(255, 255, 255, 0.8);
  --FLDS-Color-Background-Utilities-Overlay: rgba(0, 0, 0, 0.5);
  --FLDS-Color-Background-Utilities-Blanket: rgba(0, 0, 0, 0.7);
  --FLDS-Color-Background-Utilities-Measurement: #fbcfe8;
  --FLDS-Color-Background-Utilities-Highlight: rgba(12, 12, 13, 0.03);
  --FLDS-Color-Background-Utilities-Highlight-2: rgba(12, 12, 13, 0.05);
  --FLDS-Color-Background-Utilities-Highlight-Brand: rgba(135, 165, 255, 0.05);
  --FLDS-Color-Background-Utilities-Highlight-Brand-2: rgba(69, 110, 235, 0.1);
  --FLDS-Color-Background-Utilities-Highlight-Brand-3: rgba(69, 110, 235, 0.15);
  --FLDS-Color-Background-Utilities-Highlight-Brand-4: rgba(69, 110, 235, 0.2);
  --FLDS-Color-Background-Neutral-Default: #5a5a5a;
  --FLDS-Color-Background-Neutral-Hover: #434343;
  --FLDS-Color-Background-Neutral-Secondary: #cdcdcd;
  --FLDS-Color-Background-Neutral-Secondary-Hover: #b2b2b2;
  --FLDS-Color-Background-Neutral-Tertiary: #e3e3e3;
  --FLDS-Color-Background-Neutral-Tertiary-Hover: #cdcdcd;
  --FLDS-Color-Background-Neutral-Secondary-2: #cdcdcd;
  --FLDS-Color-Background-Bold-Default: #ffffff;
  --FLDS-Color-Background-Bold-Default-Hover: #f5f5f5;
  --FLDS-Color-Background-Bold-Secondary: #f5f5f5;
  --FLDS-Color-Background-Bold-Secondary-Hover: #e6e6e6;
  --FLDS-Color-Background-Bold-Tertiary: #d9d9d9;
  --FLDS-Color-Background-Bold-Tertiary-Hover: #b3b3b3;
  --FLDS-Color-Background-Accent-Default: #0d9488;
  --FLDS-Color-Background-Accent-Hover: #0f766e;
  --FLDS-Color-Background-Accent-Secondary: #5eead4;
  --FLDS-Color-Background-Accent-Secondary-Hover: #2dd4bf;
  --FLDS-Color-Background-Accent-Tertiary: #99f6e4;
  --FLDS-Color-Background-Accent-Tertiary-Hover: #5eead4;
  --FLDS-Color-Background-Invert-Default: #17171f;
  --FLDS-Color-Background-Invert-Default-Hover: #1e1f2a;
  --FLDS-Color-Background-Invert-Secondary: #1e1f2a;
  --FLDS-Color-Background-Invert-Secondary-Hover: #2f303e;
  --FLDS-Color-Background-Invert-Tertiary: #3e4051;
  --FLDS-Color-Background-Invert-Tertiary-Hover: #5a5c71;
  --FLDS-Color-Text-Default-Default: #1e1e1e;
  --FLDS-Color-Text-Default-Secondary: #757575;
  --FLDS-Color-Text-Default-Tertiary: #b3b3b3;
  --FLDS-Color-Text-Brand-Default: #161e69;
  --FLDS-Color-Text-Brand-Secondary: #253bac;
  --FLDS-Color-Text-Brand-Tertiary: #1f3ccd;
  --FLDS-Color-Text-Brand-On-Brand: #d0deff;
  --FLDS-Color-Text-Brand-On-Brand-Secondary: #161e69;
  --FLDS-Color-Text-Brand-On-Brand-Tertiary: #213496;
  --FLDS-Color-Text-Positive-Default: #02542d;
  --FLDS-Color-Text-Positive-Secondary: #009951;
  --FLDS-Color-Text-Positive-Tertiary: #14ae5c;
  --FLDS-Color-Text-Positive-On-Positive: #ebffee;
  --FLDS-Color-Text-Positive-On-Positive-Secondary: #02542d;
  --FLDS-Color-Text-Positive-On-Positive-Tertiary: #02542d;
  --FLDS-Color-Text-Warning-Default: #522504;
  --FLDS-Color-Text-Warning-Secondary: #975102;
  --FLDS-Color-Text-Warning-Tertiary: #bf6a02;
  --FLDS-Color-Text-Warning-On-Warning: #401b01;
  --FLDS-Color-Text-Warning-On-Warning-Secondary: #682d03;
  --FLDS-Color-Text-Warning-On-Warning-Tertiary: #522504;
  --FLDS-Color-Text-Danger-Default: #9c120f;
  --FLDS-Color-Text-Danger-Secondary: #d21e1e;
  --FLDS-Color-Text-Danger-Tertiary: #f03330;
  --FLDS-Color-Text-Danger-On-Danger: #fee9e7;
  --FLDS-Color-Text-Danger-On-Danger-Secondary: #9c120f;
  --FLDS-Color-Text-Danger-On-Danger-Tertiary: #9c120f;
  --FLDS-Color-Text-Disabled-Default: #e6e6e6;
  --FLDS-Color-Text-Disabled-On-Disabled: #d9d9d9;
  --FLDS-Color-Text-Utilities-Text-On-Overlay: #0c0c0d;
  --FLDS-Color-Text-Utilities-Text-On-Measurement: #9d174d;
  --FLDS-Color-Text-Neutral-Default: #303030;
  --FLDS-Color-Text-Neutral-Secondary: #5a5a5a;
  --FLDS-Color-Text-Neutral-Tertiary: #767676;
  --FLDS-Color-Text-Neutral-On-Neutral: #f3f3f3;
  --FLDS-Color-Text-Neutral-On-Neutral-Secondary: #303030;
  --FLDS-Color-Text-Neutral-On-Neutral-Tertiary: #434343;
  --FLDS-Color-Text-Invert-Default: #ffffff;
  --FLDS-Color-Text-Invert-Secondary: rgba(255, 255, 255, 0.7);
  --FLDS-Color-Text-Invert-Tertiary: rgba(255, 255, 255, 0.4);
  --FLDS-Color-Icon-Default-Default: #1e1e1e;
  --FLDS-Color-Icon-Default-Secondary: #757575;
  --FLDS-Color-Icon-Default-Tertiary: #b3b3b3;
  --FLDS-Color-Icon-Brand-Default: #161e69;
  --FLDS-Color-Icon-Brand-Secondary: #253bac;
  --FLDS-Color-Icon-Brand-Tertiary: #1f3ccd;
  --FLDS-Color-Icon-Brand-On-Brand: #d0deff;
  --FLDS-Color-Icon-Brand-On-Brand-Secondary: #0e0f43;
  --FLDS-Color-Icon-Brand-On-Brand-Tertiary: #161e69;
  --FLDS-Color-Icon-Positive-Default: #02542d;
  --FLDS-Color-Icon-Positive-Secondary: #009951;
  --FLDS-Color-Icon-Positive-Tertiary: #14ae5c;
  --FLDS-Color-Icon-Positive-On-Positive: #ebffee;
  --FLDS-Color-Icon-Positive-On-Positive-Secondary: #02542d;
  --FLDS-Color-Icon-Positive-On-Positive-Tertiary: #024023;
  --FLDS-Color-Icon-Warning-Default: #522504;
  --FLDS-Color-Icon-Warning-Secondary: #975102;
  --FLDS-Color-Icon-Warning-Tertiary: #bf6a02;
  --FLDS-Color-Icon-Warning-On-Warning: #401b01;
  --FLDS-Color-Icon-Warning-On-Warning-Secondary: #682d03;
  --FLDS-Color-Icon-Warning-On-Warning-Tertiary: #522504;
  --FLDS-Color-Icon-Danger-Default: #9c120f;
  --FLDS-Color-Icon-Danger-Secondary: #d21e1e;
  --FLDS-Color-Icon-Danger-Tertiary: #f03330;
  --FLDS-Color-Icon-Danger-On-Danger: #fee9e7;
  --FLDS-Color-Icon-Danger-On-Danger-Secondary: #9c120f;
  --FLDS-Color-Icon-Danger-On-Danger-Tertiary: #9c120f;
  --FLDS-Color-Icon-Disabled-Default: #e6e6e6;
  --FLDS-Color-Icon-Disabled-On-Disabled: #d9d9d9;
  --FLDS-Color-Icon-Neutral-Default: #303030;
  --FLDS-Color-Icon-Neutral-Secondary: #5a5a5a;
  --FLDS-Color-Icon-Neutral-Tertiary: #767676;
  --FLDS-Color-Icon-Neutral-On-Neutral: #f3f3f3;
  --FLDS-Color-Icon-Neutral-On-Neutral-Secondary: #303030;
  --FLDS-Color-Icon-Neutral-On-Neutral-Tertiary: #434343;
  --FLDS-Color-Icon-Utilities-Icon-On-Measurement: #9d174d;
  --FLDS-Color-Icon-Utilities-Icon: #db2777;
  --FLDS-Color-Border-Default-Default: #d9d9d9;
  --FLDS-Color-Border-Default-Secondary: #757575;
  --FLDS-Color-Border-Default-Tertiary: #383838;
  --FLDS-Color-Border-Brand-Default: #161e69;
  --FLDS-Color-Border-Brand-Secondary: #253bac;
  --FLDS-Color-Border-Brand-Tertiary: #1f3ccd;
  --FLDS-Color-Border-Positive-Default: #02542d;
  --FLDS-Color-Border-Positive-Secondary: #009951;
  --FLDS-Color-Border-Positive-Tertiary: #14ae5c;
  --FLDS-Color-Border-Warning-Default: #522504;
  --FLDS-Color-Border-Warning-Secondary: #975102;
  --FLDS-Color-Border-Warning-Tertiary: #bf6a02;
  --FLDS-Color-Border-Danger-Default: #9c120f;
  --FLDS-Color-Border-Danger-Secondary: #d21e1e;
  --FLDS-Color-Border-Danger-Tertiary: #f03330;
  --FLDS-Color-Border-Disabled-Default: #d9d9d9;
  --FLDS-Color-Border-Utilities-Measurement: #f472b6;
  --FLDS-Color-Border-Utilities-Swatch: rgba(0, 0, 0, 0.24);
  --FLDS-Color-Border-Neutral-Default: #303030;
  --FLDS-Color-Border-Neutral-Secondary: #767676;
  --FLDS-Color-Border-Neutral-Tertiary: #b2b2b2;
  --FLDS-Color-Overlay-White-White4: rgba(255, 255, 255, 0.06);
  --FLDS-Color-Radius-200: 10px;
  --FLDS-Color-Space-200: 8px;
}
