.Tablet {
  $wds-size-space-0: 0px;
  $wds-size-space-100: 4px;
  $wds-size-space-150: 6px;
  $wds-size-space-200: 8px;
  $wds-size-space-300: 12px;
  $wds-size-space-400: 16px;
  $wds-size-space-600: 24px;
  $wds-size-space-800: 32px;
  $wds-size-space-1200: 48px;
  $wds-size-space-1600: 64px;
  $wds-size-space-2400: 96px;
  $wds-size-space-3000: 128px;
  $wds-size-space-4000: 160px;
  $wds-size-space-negative-100: -4px;
  $wds-size-space-negative-200: -8px;
  $wds-size-space-negative-300: -12px;
  $wds-size-space-negative-400: -16px;
  $wds-size-space-negative-600: -24px;
  $wds-size-space-050: 2px;
  $wds-size-radius-100: 4px;
  $wds-size-radius-200: 10px;
  $wds-size-radius-300: 16px;
  $wds-size-radius-400: 20px;
  $wds-size-radius-480: 48px;
  $wds-size-radius-500: 50px;
  $wds-size-radius-600: 60px;
  $wds-size-radius-full: 9999px;
  $wds-size-depth-0: 0px;
  $wds-size-depth-100: 4px;
  $wds-size-depth-200: 8px;
  $wds-size-depth-400: 16px;
  $wds-size-depth-800: 32px;
  $wds-size-depth-1200: 48px;
  $wds-size-depth-025: 1px;
  $wds-size-depth-negative-025: -1px;
  $wds-size-depth-negative-100: -4px;
  $wds-size-depth-negative-200: -8px;
  $wds-size-depth-negative-400: -16px;
  $wds-size-depth-negative-800: -32px;
  $wds-size-depth-negative-1200: -48px;
  $wds-size-border-100: 1px;
  $wds-size-border-200: 2px;
  $wds-size-border-250: 2.5px;
  $wds-size-border-300: 3px;
  $wds-size-border-400: 4px;
  $wds-size-border-500: 5px;
  $wds-size-ring-100: 2px;
  $wds-size-ring-200: 2px;
  $wds-size-ring-300: 2px;
  $wds-size-ring-400: 2px;
  $wds-size-ring-500: 2px;
  $wds-size-blur-100: 4px;
  $wds-size-icon-small: 24px;
  $wds-size-icon-medium: 32px;
  $wds-size-icon-large: 40px;
  $wds-size-icon-2-x-large: 80px;
  $wds-size-icon-x-large: 60px;
  $wds-size-icon-3-x-large: 100px;
  $wds-size-padding-desktop: 24px;
  $wds-typography-font-family-primary: Inter;
  $wds-typography-font-family-secondary: Noto Serif;
  $wds-typography-font-family-tertiary: Roboto Mono;
  $wds-typography-font-line-0: 100%;
  $wds-typography-font-line-1: 105%;
  $wds-typography-font-line-2: 105%;
  $wds-typography-font-line-3: 115%;
  $wds-typography-font-line-4: 120%;
  $wds-typography-font-line-5: 175%;
  $wds-typography-font-line-negative-1: 90%;
  $wds-typography-font-spread-0: 100%;
  $wds-typography-font-spread-1: 105%;
  $wds-typography-font-spread-2: 105%;
  $wds-typography-font-spread-3: 115%;
  $wds-typography-font-spread-4: 120%;
  $wds-typography-font-spread-5: 175%;
  $wds-typography-font-spread-negative-1: 90%;
  $wds-typography-font-size-2xl: 24px;
  $wds-typography-font-size-xs: 10px;
  $wds-typography-font-size-base: 14px;
  $wds-typography-font-size-8xl: 48px;
  $wds-typography-font-size-10xl: 48px;
  $wds-typography-font-size-5xl: 36px;
  $wds-typography-font-size-11xl: 72px;
  $wds-typography-font-size-7xl: 44px;
  $wds-typography-font-size-sm: 12px;
  $wds-typography-font-size-9xl: 48px;
  $wds-typography-font-size-3xl: 28px;
  $wds-typography-font-size-xl: 20px;
  $wds-typography-font-size-6xl: 40px;
  $wds-typography-font-size-md: 16px;
  $wds-typography-font-size-lg: 18px;
  $wds-typography-font-size-4xl: 32px;

  --wds-size-space-0: 0px;
  --wds-size-space-100: 4px;
  --wds-size-space-150: 6px;
  --wds-size-space-200: 8px;
  --wds-size-space-300: 12px;
  --wds-size-space-400: 16px;
  --wds-size-space-600: 24px;
  --wds-size-space-800: 32px;
  --wds-size-space-1200: 48px;
  --wds-size-space-1600: 64px;
  --wds-size-space-2400: 96px;
  --wds-size-space-3000: 128px;
  --wds-size-space-4000: 160px;
  --wds-size-space-negative-100: -4px;
  --wds-size-space-negative-200: -8px;
  --wds-size-space-negative-300: -12px;
  --wds-size-space-negative-400: -16px;
  --wds-size-space-negative-600: -24px;
  --wds-size-space-050: 2px;
  --wds-size-radius-100: 4px;
  --wds-size-radius-200: 10px;
  --wds-size-radius-300: 16px;
  --wds-size-radius-400: 20px;
  --wds-size-radius-480: 48px;
  --wds-size-radius-500: 50px;
  --wds-size-radius-600: 60px;
  --wds-size-radius-full: 9999px;
  --wds-size-depth-0: 0px;
  --wds-size-depth-100: 4px;
  --wds-size-depth-200: 8px;
  --wds-size-depth-400: 16px;
  --wds-size-depth-800: 32px;
  --wds-size-depth-1200: 48px;
  --wds-size-depth-025: 1px;
  --wds-size-depth-negative-025: -1px;
  --wds-size-depth-negative-100: -4px;
  --wds-size-depth-negative-200: -8px;
  --wds-size-depth-negative-400: -16px;
  --wds-size-depth-negative-800: -32px;
  --wds-size-depth-negative-1200: -48px;
  --wds-size-border-100: 1px;
  --wds-size-border-200: 2px;
  --wds-size-border-250: 2.5px;
  --wds-size-border-300: 3px;
  --wds-size-border-400: 4px;
  --wds-size-border-500: 5px;
  --wds-size-ring-100: 2px;
  --wds-size-ring-200: 2px;
  --wds-size-ring-300: 2px;
  --wds-size-ring-400: 2px;
  --wds-size-ring-500: 2px;
  --wds-size-blur-100: 4px;
  --wds-size-icon-small: 24px;
  --wds-size-icon-medium: 32px;
  --wds-size-icon-large: 40px;
  --wds-size-icon-2-x-large: 80px;
  --wds-size-icon-x-large: 60px;
  --wds-size-icon-3-x-large: 100px;
  --wds-size-padding-desktop: 24px;
  --wds-typography-font-family-primary: Inter;
  --wds-typography-font-family-secondary: Noto Serif;
  --wds-typography-font-family-tertiary: Roboto Mono;
  --wds-typography-font-line-0: 100%;
  --wds-typography-font-line-1: 105%;
  --wds-typography-font-line-2: 105%;
  --wds-typography-font-line-3: 115%;
  --wds-typography-font-line-4: 120%;
  --wds-typography-font-line-5: 175%;
  --wds-typography-font-line-negative-1: 90%;
  --wds-typography-font-spread-0: 100%;
  --wds-typography-font-spread-1: 105%;
  --wds-typography-font-spread-2: 105%;
  --wds-typography-font-spread-3: 115%;
  --wds-typography-font-spread-4: 120%;
  --wds-typography-font-spread-5: 175%;
  --wds-typography-font-spread-negative-1: 90%;
  --wds-typography-font-size-2xl: 24px;
  --wds-typography-font-size-xs: 10px;
  --wds-typography-font-size-base: 14px;
  --wds-typography-font-size-8xl: 48px;
  --wds-typography-font-size-10xl: 48px;
  --wds-typography-font-size-5xl: 36px;
  --wds-typography-font-size-11xl: 72px;
  --wds-typography-font-size-7xl: 44px;
  --wds-typography-font-size-sm: 12px;
  --wds-typography-font-size-9xl: 48px;
  --wds-typography-font-size-3xl: 28px;
  --wds-typography-font-size-xl: 20px;
  --wds-typography-font-size-6xl: 40px;
  --wds-typography-font-size-md: 16px;
  --wds-typography-font-size-lg: 18px;
  --wds-typography-font-size-4xl: 32px;
}
