@layer base {
  [data-theme='Dark'] {
    --wds-theme-red-red1: #1f1315;
    --wds-theme-red-red2: #291415;
    --wds-theme-red-red3: #3c181a;
    --wds-theme-red-red4: #481a1d;
    --wds-theme-red-red5: #541b1f;
    --wds-theme-red-red6: #671e22;
    --wds-theme-red-red7: #822025;
    --wds-theme-red-red8: #aa2429;
    --wds-theme-red-red9: #e5484d;
    --wds-theme-red-red10: #f2555a;
    --wds-theme-red-red11: #ff6369;
    --wds-theme-red-red12: #feecee;
    --wds-theme-gray-gray1: #161616;
    --wds-theme-gray-gray2: #1c1c1c;
    --wds-theme-gray-gray3: #232323;
    --wds-theme-gray-gray4: #282828;
    --wds-theme-gray-gray5: #2e2e2e;
    --wds-theme-gray-gray6: #343434;
    --wds-theme-gray-gray7: #3e3e3e;
    --wds-theme-gray-gray8: #505050;
    --wds-theme-gray-gray9: #707070;
    --wds-theme-gray-gray10: #7e7e7e;
    --wds-theme-gray-gray11: #a0a0a0;
    --wds-theme-gray-gray12: #ededed;
    --wds-theme-blue-blue1: #0f1720;
    --wds-theme-blue-blue2: #0f1b2d;
    --wds-theme-blue-blue3: #10243e;
    --wds-theme-blue-blue4: #102a4c;
    --wds-theme-blue-blue5: #0f3058;
    --wds-theme-blue-blue6: #0d3868;
    --wds-theme-blue-blue7: #0a4481;
    --wds-theme-blue-blue8: #0954a5;
    --wds-theme-blue-blue9: #0091ff;
    --wds-theme-blue-blue10: #369eff;
    --wds-theme-blue-blue11: #52a9ff;
    --wds-theme-blue-blue12: #eaf6ff;
    --wds-theme-green-green1: #0d1912;
    --wds-theme-green-green2: #0c1f17;
    --wds-theme-green-green3: #0f291e;
    --wds-theme-green-green4: #113123;
    --wds-theme-green-green5: #133929;
    --wds-theme-green-green6: #164430;
    --wds-theme-green-green7: #1b543a;
    --wds-theme-green-green8: #236e4a;
    --wds-theme-green-green9: #30a46c;
    --wds-theme-green-green10: #3cb179;
    --wds-theme-green-green11: #4cc38a;
    --wds-theme-green-green12: #e5fbeb;
    --wds-theme-background-background: #000000;
    --wds-theme-tomato-tomato1: #1d1412;
    --wds-theme-tomato-tomato2: #2a1410;
    --wds-theme-tomato-tomato3: #3b1813;
    --wds-theme-tomato-tomato4: #481a14;
    --wds-theme-tomato-tomato5: #541c15;
    --wds-theme-tomato-tomato6: #652016;
    --wds-theme-tomato-tomato7: #7f2315;
    --wds-theme-tomato-tomato8: #a42a12;
    --wds-theme-tomato-tomato9: #e54d2e;
    --wds-theme-tomato-tomato10: #ec5e41;
    --wds-theme-tomato-tomato11: #f16a50;
    --wds-theme-tomato-tomato12: #feefec;
    --wds-theme-crimson-crimson1: #1d1418;
    --wds-theme-crimson-crimson2: #27141c;
    --wds-theme-crimson-crimson3: #3c1827;
    --wds-theme-crimson-crimson4: #481a2d;
    --wds-theme-crimson-crimson5: #541b33;
    --wds-theme-crimson-crimson6: #641d3b;
    --wds-theme-crimson-crimson7: #801d45;
    --wds-theme-crimson-crimson8: #ae1955;
    --wds-theme-crimson-crimson9: #e93d82;
    --wds-theme-crimson-crimson10: #f04f88;
    --wds-theme-crimson-crimson11: #f76190;
    --wds-theme-crimson-crimson12: #feecf4;
    --wds-theme-pink-pink1: #1f121b;
    --wds-theme-pink-pink2: #271421;
    --wds-theme-pink-pink3: #3a182f;
    --wds-theme-pink-pink4: #451a37;
    --wds-theme-pink-pink5: #501b3f;
    --wds-theme-pink-pink6: #601d48;
    --wds-theme-pink-pink7: #7a1d5a;
    --wds-theme-pink-pink8: #a71873;
    --wds-theme-pink-pink9: #d6409f;
    --wds-theme-pink-pink10: #e34ba9;
    --wds-theme-pink-pink11: #f65cb6;
    --wds-theme-pink-pink12: #feebf7;
    --wds-theme-mint-mint1: #081917;
    --wds-theme-mint-mint2: #05201e;
    --wds-theme-mint-mint3: #052926;
    --wds-theme-mint-mint4: #04312c;
    --wds-theme-mint-mint5: #033a34;
    --wds-theme-mint-mint6: #01453d;
    --wds-theme-mint-mint7: #00564a;
    --wds-theme-mint-mint8: #006d5b;
    --wds-theme-mint-mint9: #70e1c8;
    --wds-theme-mint-mint10: #95f3d9;
    --wds-theme-mint-mint11: #25d0ab;
    --wds-theme-mint-mint12: #e7fcf7;
    --wds-theme-plum-plum1: #1d131d;
    --wds-theme-plum-plum2: #251425;
    --wds-theme-plum-plum3: #341a34;
    --wds-theme-plum-plum4: #3e1d40;
    --wds-theme-plum-plum5: #48214b;
    --wds-theme-plum-plum6: #542658;
    --wds-theme-plum-plum7: #692d6f;
    --wds-theme-plum-plum8: #883894;
    --wds-theme-plum-plum9: #ab4aba;
    --wds-theme-plum-plum10: #bd54c6;
    --wds-theme-plum-plum11: #d864d8;
    --wds-theme-plum-plum12: #fbecfc;
    --wds-theme-sky-sky1: #0c1820;
    --wds-theme-sky-sky2: #071d2a;
    --wds-theme-sky-sky3: #082636;
    --wds-theme-sky-sky4: #082d41;
    --wds-theme-sky-sky5: #08354c;
    --wds-theme-sky-sky6: #083e59;
    --wds-theme-sky-sky7: #064b6b;
    --wds-theme-sky-sky8: #005d85;
    --wds-theme-sky-sky9: #68ddfd;
    --wds-theme-sky-sky10: #8ae8ff;
    --wds-theme-sky-sky11: #2ec8ee;
    --wds-theme-sky-sky12: #eaf8ff;
    --wds-theme-brown-brown1: #191513;
    --wds-theme-brown-brown2: #221813;
    --wds-theme-brown-brown3: #2e201a;
    --wds-theme-brown-brown4: #36261e;
    --wds-theme-brown-brown5: #3e2c22;
    --wds-theme-brown-brown6: #493528;
    --wds-theme-brown-brown7: #5c4332;
    --wds-theme-brown-brown8: #775940;
    --wds-theme-brown-brown9: #ad7f58;
    --wds-theme-brown-brown10: #bd8b60;
    --wds-theme-brown-brown11: #dba16e;
    --wds-theme-brown-brown12: #faf0e5;
    --wds-theme-orange-orange1: #1f1206;
    --wds-theme-orange-orange2: #2b1400;
    --wds-theme-orange-orange3: #391a03;
    --wds-theme-orange-orange4: #441f04;
    --wds-theme-orange-orange5: #4f2305;
    --wds-theme-orange-orange6: #5f2a06;
    --wds-theme-orange-orange7: #763205;
    --wds-theme-orange-orange8: #f76808;
    --wds-theme-orange-orange9: #f17d2f;
    --wds-theme-orange-orange10: #ff893b;
    --wds-theme-orange-orange11: #ff934b;
    --wds-theme-orange-orange12: #feeadd;
    --wds-theme-grass-grass1: #0d1912;
    --wds-theme-grass-grass2: #0f1e13;
    --wds-theme-grass-grass3: #132819;
    --wds-theme-grass-grass4: #16301d;
    --wds-theme-grass-grass5: #193921;
    --wds-theme-grass-grass6: #1d4427;
    --wds-theme-grass-grass7: #245530;
    --wds-theme-grass-grass8: #2f6e3b;
    --wds-theme-grass-grass9: #46a758;
    --wds-theme-grass-grass10: #55b467;
    --wds-theme-grass-grass11: #63c174;
    --wds-theme-grass-grass12: #e5fbeb;
    --wds-theme-teal-12: #e1faf4;
    --wds-theme-teal-teal1: #091915;
    --wds-theme-teal-teal2: #04201b;
    --wds-theme-teal-teal3: #062923;
    --wds-theme-teal-teal4: #07312b;
    --wds-theme-teal-teal5: #083932;
    --wds-theme-teal-teal6: #09443c;
    --wds-theme-teal-teal7: #0b544a;
    --wds-theme-teal-teal8: #0c6d62;
    --wds-theme-teal-teal9: #12a594;
    --wds-theme-teal-teal10: #10b3a3;
    --wds-theme-teal-teal11: #0ac5b3;
    --wds-theme-cyan-cyan1: #07191d;
    --wds-theme-cyan-cyan2: #061e24;
    --wds-theme-cyan-cyan3: #072830;
    --wds-theme-cyan-cyan4: #07303b;
    --wds-theme-cyan-cyan5: #073844;
    --wds-theme-cyan-cyan6: #064150;
    --wds-theme-cyan-cyan7: #045063;
    --wds-theme-cyan-cyan8: #00647d;
    --wds-theme-cyan-cyan9: #05a2c2;
    --wds-theme-cyan-cyan10: #00b1cc;
    --wds-theme-cyan-cyan11: #00c2d7;
    --wds-theme-cyan-cyan12: #e1f8fa;
    --wds-theme-indigo-indigo1: #131620;
    --wds-theme-indigo-indigo2: #15192d;
    --wds-theme-indigo-indigo3: #192140;
    --wds-theme-indigo-indigo4: #1c274f;
    --wds-theme-indigo-indigo5: #1f2c5c;
    --wds-theme-indigo-indigo6: #22346e;
    --wds-theme-indigo-indigo7: #273e89;
    --wds-theme-indigo-indigo8: #2f4eb2;
    --wds-theme-indigo-indigo9: #3e63dd;
    --wds-theme-indigo-indigo10: #5373e7;
    --wds-theme-indigo-indigo11: #849dff;
    --wds-theme-indigo-indigo12: #ffffff;
    --wds-theme-violet-violet1: #17151f;
    --wds-theme-violet-violet2: #1c172b;
    --wds-theme-violet-violet3: #251e40;
    --wds-theme-violet-violet4: #2c2250;
    --wds-theme-violet-violet5: #32275f;
    --wds-theme-violet-violet6: #392c72;
    --wds-theme-violet-violet7: #443592;
    --wds-theme-violet-violet8: #5842c3;
    --wds-theme-violet-violet9: #6e56cf;
    --wds-theme-violet-violet10: #7c66dc;
    --wds-theme-violet-violet11: #9e8cfc;
    --wds-theme-violet-violet12: #f1eefe;
    --wds-theme-purple-purple1: #1b141d;
    --wds-theme-purple-purple2: #221527;
    --wds-theme-purple-purple3: #301a3a;
    --wds-theme-purple-purple4: #3a1e48;
    --wds-theme-purple-purple5: #432155;
    --wds-theme-purple-purple6: #4e2667;
    --wds-theme-purple-purple7: #5f2d84;
    --wds-theme-purple-purple8: #7938b2;
    --wds-theme-purple-purple9: #8e4ec6;
    --wds-theme-purple-purple10: #9d5bd2;
    --wds-theme-purple-purple11: #bf7af0;
    --wds-theme-purple-purple12: #f7ecfc;
    --wds-theme-lime-lime1: #141807;
    --wds-theme-lime-lime2: #181d08;
    --wds-theme-lime-lime3: #1e260d;
    --wds-theme-lime-lime4: #252e0f;
    --wds-theme-lime-lime5: #2b3711;
    --wds-theme-lime-lime6: #344213;
    --wds-theme-lime-lime7: #415215;
    --wds-theme-lime-lime8: #536716;
    --wds-theme-lime-lime9: #99d52a;
    --wds-theme-lime-lime10: #c4f042;
    --wds-theme-lime-lime11: #87be22;
    --wds-theme-lime-lime12: #effbdd;
    --wds-theme-yellow-yellow1: #1c1500;
    --wds-theme-yellow-yellow2: #221a00;
    --wds-theme-yellow-yellow3: #2c2100;
    --wds-theme-yellow-yellow4: #352800;
    --wds-theme-yellow-yellow5: #3e3000;
    --wds-theme-yellow-yellow6: #493c00;
    --wds-theme-yellow-yellow7: #594a05;
    --wds-theme-yellow-yellow8: #705e00;
    --wds-theme-yellow-yellow9: #f5d90a;
    --wds-theme-yellow-yellow10: #ffef5c;
    --wds-theme-yellow-yellow11: #f0c000;
    --wds-theme-yellow-yellow12: #fffad1;
    --wds-theme-amber-amber1: #1f1300;
    --wds-theme-amber-amber2: #271700;
    --wds-theme-amber-amber3: #341c00;
    --wds-theme-amber-amber4: #3f2200;
    --wds-theme-amber-amber5: #4a2900;
    --wds-theme-amber-amber6: #573300;
    --wds-theme-amber-amber7: #693f05;
    --wds-theme-amber-amber8: #824e00;
    --wds-theme-amber-amber9: #ffb224;
    --wds-theme-amber-amber10: #ffcb47;
    --wds-theme-amber-amber11: #f1a10d;
    --wds-theme-amber-amber12: #fef3dd;
    --wds-theme-slate-slate1: #151718;
    --wds-theme-slate-slate2: #1a1d1e;
    --wds-theme-slate-slate3: #202425;
    --wds-theme-slate-slate4: #26292b;
    --wds-theme-slate-slate5: #2b2f31;
    --wds-theme-slate-slate6: #313538;
    --wds-theme-slate-slate7: #3a3f42;
    --wds-theme-slate-slate8: #4c5155;
    --wds-theme-slate-slate9: #697177;
    --wds-theme-slate-slate10: #787f85;
    --wds-theme-slate-slate11: #9ba1a6;
    --wds-theme-slate-slate12: #ecedee;
    --wds-theme-sage-sage1: #141716;
    --wds-theme-sage-sage2: #191d1b;
    --wds-theme-sage-sage3: #1f2421;
    --wds-theme-sage-sage4: #252a27;
    --wds-theme-sage-sage5: #2a2f2c;
    --wds-theme-sage-sage6: #303633;
    --wds-theme-sage-sage7: #393f3c;
    --wds-theme-sage-sage8: #4a524e;
    --wds-theme-sage-sage9: #66736d;
    --wds-theme-sage-sage10: #75817b;
    --wds-theme-sage-sage11: #99a29e;
    --wds-theme-sage-sage12: #eceeed;
    --wds-theme-olive-olive1: #151715;
    --wds-theme-olive-olive2: #1a1d19;
    --wds-theme-olive-olive3: #20241f;
    --wds-theme-olive-olive4: #262925;
    --wds-theme-olive-olive5: #2b2f2a;
    --wds-theme-olive-olive6: #313530;
    --wds-theme-olive-olive7: #3b3f3a;
    --wds-theme-olive-olive8: #4c514b;
    --wds-theme-olive-olive9: #687366;
    --wds-theme-olive-olive10: #778175;
    --wds-theme-olive-olive11: #9aa299;
    --wds-theme-olive-olive12: #eceeec;
    --wds-theme-sand-sand1: #161615;
    --wds-theme-sand-sand2: #1c1c1a;
    --wds-theme-sand-sand3: #232320;
    --wds-theme-sand-sand4: #282826;
    --wds-theme-sand-sand5: #2e2e2b;
    --wds-theme-sand-sand6: #353431;
    --wds-theme-sand-sand7: #3e3e3a;
    --wds-theme-sand-sand8: #51504b;
    --wds-theme-sand-sand9: #717069;
    --wds-theme-sand-sand10: #7f7e77;
    --wds-theme-sand-sand11: #a1a09a;
    --wds-theme-sand-sand12: #ededec;
    --wds-theme-gold-gold1: #171613;
    --wds-theme-gold-gold2: #1c1a15;
    --wds-theme-gold-gold3: #26231c;
    --wds-theme-gold-gold4: #2e2a21;
    --wds-theme-gold-gold5: #353026;
    --wds-theme-gold-gold6: #3e382c;
    --wds-theme-gold-gold7: #504737;
    --wds-theme-gold-gold8: #6b5d48;
    --wds-theme-gold-gold9: #978365;
    --wds-theme-gold-gold10: #a59071;
    --wds-theme-gold-gold11: #bfa888;
    --wds-theme-gold-gold12: #ffffff;
    --wds-theme-bronze-bronze1: #191514;
    --wds-theme-bronze-bronze2: #1f1917;
    --wds-theme-bronze-bronze3: #2a211f;
    --wds-theme-bronze-bronze4: #332824;
    --wds-theme-bronze-bronze5: #3b2e29;
    --wds-theme-bronze-bronze6: #453530;
    --wds-theme-bronze-bronze7: #57433c;
    --wds-theme-bronze-bronze8: #74594e;
    --wds-theme-bronze-bronze9: #a18072;
    --wds-theme-bronze-bronze10: #b08c7d;
    --wds-theme-bronze-bronze11: #cba393;
    --wds-theme-bronze-bronze12: #f9ede7;
    --wds-theme-mauve-mauve1: #171720;
    --wds-theme-mauve-mauve2: #1e1e27;
    --wds-theme-mauve-mauve3: #25252f;
    --wds-theme-mauve-mauve4: #292b33;
    --wds-theme-mauve-mauve5: #32333b;
    --wds-theme-mauve-mauve6: #35353c;
    --wds-theme-mauve-mauve7: #4d4d5a;
    --wds-theme-mauve-mauve8: #696775;
    --wds-theme-mauve-mauve9: #757480;
    --wds-theme-mauve-mauve10: #868593;
    --wds-theme-mauve-mauve11: #aeabbe;
    --wds-theme-mauve-mauve12: #ededef;
    --wds-theme-mauve-mauve0: rgba(23, 23, 32, 0);
    --wds-theme-mauve-mauve0-5: rgba(23, 23, 32, 0.85);
    --wds-theme-overlay-white-white1: rgba(255, 255, 255, 0);
    --wds-theme-overlay-white-white2: rgba(255, 255, 255, 0.01);
    --wds-theme-overlay-white-white3: rgba(255, 255, 255, 0.03);
    --wds-theme-overlay-white-white4: rgba(255, 255, 255, 0.06);
    --wds-theme-overlay-white-white5: rgba(255, 255, 255, 0.09);
    --wds-theme-overlay-white-white6: rgba(255, 255, 255, 0.12);
    --wds-theme-overlay-white-white7: rgba(255, 255, 255, 0.18);
    --wds-theme-overlay-white-white8: rgba(255, 255, 255, 0.25);
    --wds-theme-overlay-white-white9: rgba(255, 255, 255, 0.39);
    --wds-theme-overlay-white-white10: rgba(255, 255, 255, 0.45);
    --wds-theme-overlay-white-white11: rgba(255, 255, 255, 0.59);
    --wds-theme-overlay-white-white12: rgba(255, 255, 255, 0.92);
    --wds-theme-overlay-black-black1: rgba(0, 0, 0, 0.01);
    --wds-theme-overlay-black-black2: rgba(0, 0, 0, 0.03);
    --wds-theme-overlay-black-black3: rgba(0, 0, 0, 0.05);
    --wds-theme-overlay-black-black4: rgba(0, 0, 0, 0.07);
    --wds-theme-overlay-black-black5: rgba(0, 0, 0, 0.09);
    --wds-theme-overlay-black-black6: rgba(0, 0, 0, 0.11);
    --wds-theme-overlay-black-black7: rgba(0, 0, 0, 0.14);
    --wds-theme-overlay-black-black8: rgba(0, 0, 0, 0.22);
    --wds-theme-overlay-black-black9: rgba(0, 0, 0, 0.44);
    --wds-theme-overlay-black-black10: rgba(0, 0, 0, 0.48);
    --wds-theme-overlay-black-black11: rgba(0, 0, 0, 0.56);
    --wds-theme-overlay-black-black12: rgba(0, 0, 0, 0.91);
    --wds-theme-overlay-highlight-highlight1: rgba(255, 255, 255, 0);
    --wds-theme-overlay-highlight-highlight2: rgba(255, 255, 255, 0.01);
    --wds-theme-overlay-highlight-highlight3: rgba(255, 255, 255, 0.03);
    --wds-theme-overlay-highlight-highlight4: rgba(255, 255, 255, 0.06);
    --wds-theme-overlay-highlight-highlight5: rgba(255, 255, 255, 0.09);
    --wds-theme-overlay-highlight-highlight6: rgba(255, 255, 255, 0.12);
    --wds-theme-overlay-highlight-highlight7: rgba(255, 255, 255, 0.18);
    --wds-theme-overlay-highlight-highlight8: rgba(255, 255, 255, 0.25);
    --wds-theme-overlay-highlight-highlight9: rgba(255, 255, 255, 0.39);
    --wds-theme-overlay-highlight-highlight10: rgba(255, 255, 255, 0.45);
    --wds-theme-overlay-highlight-highlight11: rgba(255, 255, 255, 0.59);
    --wds-theme-overlay-highlight-highlight12: rgba(255, 255, 255, 0.92);
    --wds-theme-overlay-highlight-highlight1-neg: rgba(0, 0, 0, 0.01);
    --wds-theme-overlay-highlight-highlight2-neg: rgba(0, 0, 0, 0.03);
    --wds-theme-overlay-highlight-highlight3-neg: rgba(0, 0, 0, 0.05);
    --wds-theme-overlay-highlight-highlight4-neg: rgba(0, 0, 0, 0.07);
    --wds-theme-overlay-highlight-highlight5-neg: rgba(0, 0, 0, 0.09);
    --wds-theme-overlay-highlight-highlight6-neg: rgba(0, 0, 0, 0.11);
    --wds-theme-overlay-highlight-highlight7-neg: rgba(0, 0, 0, 0.14);
    --wds-theme-overlay-highlight-highlight8-neg: rgba(0, 0, 0, 0.22);
    --wds-theme-overlay-highlight-highlight9-neg: rgba(0, 0, 0, 0.44);
    --wds-theme-overlay-highlight-highlight10-neg: rgba(0, 0, 0, 0.48);
    --wds-theme-overlay-highlight-highlight11-neg: rgba(0, 0, 0, 0.56);
    --wds-theme-overlay-highlight-highlight12-neg: rgba(0, 0, 0, 0.91);

    [data-variant='Default'] {
      --wds-color-color1: #171720;
      --wds-color-color2: #1e1e27;
      --wds-color-color3: #25252f;
      --wds-color-color4: #292b33;
      --wds-color-color5: #32333b;
      --wds-color-color6: #35353c;
      --wds-color-color7: #4d4d5a;
      --wds-color-color8: #696775;
      --wds-color-color9: #757480;
      --wds-color-color10: #868593;
      --wds-color-color11: #aeabbe;
      --wds-color-color12: #ededef;
      --wds-color-color0: rgba(23, 23, 32, 0);
      --wds-color-color0-5: rgba(23, 23, 32, 0.85);
    }

    [data-variant='Accent'] {
      --wds-color-color1: #1f1206;
      --wds-color-color2: #2b1400;
      --wds-color-color3: #391a03;
      --wds-color-color4: #441f04;
      --wds-color-color5: #4f2305;
      --wds-color-color6: #5f2a06;
      --wds-color-color7: #763205;
      --wds-color-color8: #f76808;
      --wds-color-color9: #f17d2f;
      --wds-color-color10: #ff893b;
      --wds-color-color11: #ff934b;
      --wds-color-color12: #feeadd;
      --wds-color-color0: #ffffff;
      --wds-color-color0-5: #ffffff;
    }

    [data-variant='Red'] {
      --wds-color-color1: #1f1315;
      --wds-color-color2: #291415;
      --wds-color-color3: #3c181a;
      --wds-color-color4: #481a1d;
      --wds-color-color5: #541b1f;
      --wds-color-color6: #671e22;
      --wds-color-color7: #822025;
      --wds-color-color8: #aa2429;
      --wds-color-color9: #e5484d;
      --wds-color-color10: #f2555a;
      --wds-color-color11: #ff6369;
      --wds-color-color12: #feecee;
      --wds-color-color0: #ffffff;
      --wds-color-color0-5: #ffffff;
    }

    [data-variant='Green'] {
      --wds-color-color1: #0d1912;
      --wds-color-color2: #0c1f17;
      --wds-color-color3: #0f291e;
      --wds-color-color4: #113123;
      --wds-color-color5: #133929;
      --wds-color-color6: #164430;
      --wds-color-color7: #1b543a;
      --wds-color-color8: #236e4a;
      --wds-color-color9: #30a46c;
      --wds-color-color10: #3cb179;
      --wds-color-color11: #4cc38a;
      --wds-color-color12: #e5fbeb;
      --wds-color-color0: #ffffff;
      --wds-color-color0-5: #ffffff;
    }
  }
}
