.Globals {
  // Local Variables
  $FLDS-Typography-Primitives-Weight-Thin: 100;
  $FLDS-Typography-Primitives-Weight-Extra-Light: 200;
  $FLDS-Typography-Primitives-Weight-Light: 300;
  $FLDS-Typography-Primitives-Weight-Regular: 400;
  $FLDS-Typography-Primitives-Weight-Medium: 500;
  $FLDS-Typography-Primitives-Weight-Semibold: 600;
  $FLDS-Typography-Primitives-Weight-Bold: 700;
  $FLDS-Typography-Primitives-Weight-Extra-Bold: 800;
  $FLDS-Typography-Primitives-Weight-Black: 900;
  $FLDS-Typography-Primitives-Scale-10: 72px;
  $FLDS-Typography-Primitives-Scale-09: 64px;
  $FLDS-Typography-Primitives-Scale-08: 48px;
  $FLDS-Typography-Primitives-Scale-07: 40px;
  $FLDS-Typography-Primitives-Scale-06: 32px;
  $FLDS-Typography-Primitives-Scale-05: 24px;
  $FLDS-Typography-Primitives-Scale-04: 20px;
  $FLDS-Typography-Primitives-Scale-03: 16px;
  $FLDS-Typography-Primitives-Scale-02: 14px;
  $FLDS-Typography-Primitives-Scale-01: 12px;
  $FLDS-Typography-Primitives-Family-Sans: Inter;
  $FLDS-Typography-Primitives-Family-Serif: Noto Serif;
  $FLDS-Typography-Primitives-Family-Mono: Roboto Mono;
  $FLDS-Typography-Primitives-Weight-Light-Italic: Light Italic;
  $FLDS-Typography-Primitives-Weight-Regular-Italic: Italic;
  $FLDS-Typography-Primitives-Weight-Bold-Italic: Bold Italic;
  $FLDS-Typography-Primitives-Weight-Thin-Italic: Thin Italic;
  $FLDS-Typography-Primitives-Weight-Extralight-Italic: Extra Light Italic;
  $FLDS-Typography-Primitives-Weight-Medium-Italic: Medium Italic;
  $FLDS-Typography-Primitives-Weight-Semibold-Italic: Semi Bold Italic;
  $FLDS-Typography-Primitives-Weight-Extra-Bold-Italic: Extra Bold Italic;
  $FLDS-Typography-Primitives-Weight-Black-Italic: Black Italic;
  $FLDS-Typography-Primitives-Weight-Extrabold: 800;
  $FLDS-Typography-Primitives-Weight-Medium: 500;
  $FLDS-Typography-Primitives-Weight-Regular: 400;
  $FLDS-Typography-Primitives-Weight-Black: 900;
  $FLDS-Typography-Primitives-Weight-Bold: 700;
  $FLDS-Typography-Primitives-Weight-Semibold: 600;
  $FLDS-Typography-Primitives-Weight-Light: 300;
  $FLDS-Typography-Primitives-Weight-Extralight: 200;
  $FLDS-Typography-Primitives-Weight-Thin: 100;
  $FLDS-Typography-Primitives-Size-Xl: 20px;
  $FLDS-Typography-Primitives-Size-Base: 14px;
  $FLDS-Typography-Primitives-Size-Lg: 18px;
  $FLDS-Typography-Primitives-Size-8xl: 52px;
  $FLDS-Typography-Primitives-Size-Sm: 12px;
  $FLDS-Typography-Primitives-Size-Xs: 10px;
  $FLDS-Typography-Primitives-Size-4xl: 32px;
  $FLDS-Typography-Primitives-Size-Md: 16px;
  $FLDS-Typography-Primitives-Size-3xl: 28px;
  $FLDS-Typography-Primitives-Size-7xl: 44px;
  $FLDS-Typography-Primitives-Size-2xl: 24px;
  $FLDS-Typography-Primitives-Size-6xl: 40px;
  $FLDS-Typography-Primitives-Size-5xl: 36px;
  $FLDS-Typography-Primitives-Size-Xxs: 8px;
  $FLDS-Typography-Primitives-Family-Inter: Inter;
  $FLDS-Typography-Primitives-Family-Mono: Roboto Mono;
  $FLDS-Typography-Primitives-Family-Serif: Noto Serif;
  $FLDS-Typography-Primitives-Italic-Black: Black Italic;
  $FLDS-Typography-Primitives-Italic-Extra-Bold: Extra Bold Italic;
  $FLDS-Typography-Primitives-Italic-Bold: Bold Italic;
  $FLDS-Typography-Primitives-Italic-Semibold: Semi Bold Italic;
  $FLDS-Typography-Primitives-Italic-Medium: Medium Italic;
  $FLDS-Typography-Primitives-Italic-Thin: Thin Italic;
  $FLDS-Typography-Primitives-Italic-Regular: Italic;
  $FLDS-Typography-Primitives-Italic-Light: Light Italic;
  $FLDS-Typography-Primitives-Italic-Extralight: Extra Light Italic;

  // Global Variables
  --FLDS-Typography-Primitives-Weight-Thin: 100;
  --FLDS-Typography-Primitives-Weight-Extra-Light: 200;
  --FLDS-Typography-Primitives-Weight-Light: 300;
  --FLDS-Typography-Primitives-Weight-Regular: 400;
  --FLDS-Typography-Primitives-Weight-Medium: 500;
  --FLDS-Typography-Primitives-Weight-Semibold: 600;
  --FLDS-Typography-Primitives-Weight-Bold: 700;
  --FLDS-Typography-Primitives-Weight-Extra-Bold: 800;
  --FLDS-Typography-Primitives-Weight-Black: 900;
  --FLDS-Typography-Primitives-Scale-10: 72px;
  --FLDS-Typography-Primitives-Scale-09: 64px;
  --FLDS-Typography-Primitives-Scale-08: 48px;
  --FLDS-Typography-Primitives-Scale-07: 40px;
  --FLDS-Typography-Primitives-Scale-06: 32px;
  --FLDS-Typography-Primitives-Scale-05: 24px;
  --FLDS-Typography-Primitives-Scale-04: 20px;
  --FLDS-Typography-Primitives-Scale-03: 16px;
  --FLDS-Typography-Primitives-Scale-02: 14px;
  --FLDS-Typography-Primitives-Scale-01: 12px;
  --FLDS-Typography-Primitives-Family-Sans: Inter;
  --FLDS-Typography-Primitives-Family-Serif: Noto Serif;
  --FLDS-Typography-Primitives-Family-Mono: Roboto Mono;
  --FLDS-Typography-Primitives-Weight-Light-Italic: Light Italic;
  --FLDS-Typography-Primitives-Weight-Regular-Italic: Italic;
  --FLDS-Typography-Primitives-Weight-Bold-Italic: Bold Italic;
  --FLDS-Typography-Primitives-Weight-Thin-Italic: Thin Italic;
  --FLDS-Typography-Primitives-Weight-Extralight-Italic: Extra Light Italic;
  --FLDS-Typography-Primitives-Weight-Medium-Italic: Medium Italic;
  --FLDS-Typography-Primitives-Weight-Semibold-Italic: Semi Bold Italic;
  --FLDS-Typography-Primitives-Weight-Extra-Bold-Italic: Extra Bold Italic;
  --FLDS-Typography-Primitives-Weight-Black-Italic: Black Italic;
  --FLDS-Typography-Primitives-Weight-Extrabold: 800;
  --FLDS-Typography-Primitives-Weight-Medium: 500;
  --FLDS-Typography-Primitives-Weight-Regular: 400;
  --FLDS-Typography-Primitives-Weight-Black: 900;
  --FLDS-Typography-Primitives-Weight-Bold: 700;
  --FLDS-Typography-Primitives-Weight-Semibold: 600;
  --FLDS-Typography-Primitives-Weight-Light: 300;
  --FLDS-Typography-Primitives-Weight-Extralight: 200;
  --FLDS-Typography-Primitives-Weight-Thin: 100;
  --FLDS-Typography-Primitives-Size-Xl: 20px;
  --FLDS-Typography-Primitives-Size-Base: 14px;
  --FLDS-Typography-Primitives-Size-Lg: 18px;
  --FLDS-Typography-Primitives-Size-8xl: 52px;
  --FLDS-Typography-Primitives-Size-Sm: 12px;
  --FLDS-Typography-Primitives-Size-Xs: 10px;
  --FLDS-Typography-Primitives-Size-4xl: 32px;
  --FLDS-Typography-Primitives-Size-Md: 16px;
  --FLDS-Typography-Primitives-Size-3xl: 28px;
  --FLDS-Typography-Primitives-Size-7xl: 44px;
  --FLDS-Typography-Primitives-Size-2xl: 24px;
  --FLDS-Typography-Primitives-Size-6xl: 40px;
  --FLDS-Typography-Primitives-Size-5xl: 36px;
  --FLDS-Typography-Primitives-Size-Xxs: 8px;
  --FLDS-Typography-Primitives-Family-Inter: Inter;
  --FLDS-Typography-Primitives-Family-Mono: Roboto Mono;
  --FLDS-Typography-Primitives-Family-Serif: Noto Serif;
  --FLDS-Typography-Primitives-Italic-Black: Black Italic;
  --FLDS-Typography-Primitives-Italic-Extra-Bold: Extra Bold Italic;
  --FLDS-Typography-Primitives-Italic-Bold: Bold Italic;
  --FLDS-Typography-Primitives-Italic-Semibold: Semi Bold Italic;
  --FLDS-Typography-Primitives-Italic-Medium: Medium Italic;
  --FLDS-Typography-Primitives-Italic-Thin: Thin Italic;
  --FLDS-Typography-Primitives-Italic-Regular: Italic;
  --FLDS-Typography-Primitives-Italic-Light: Light Italic;
  --FLDS-Typography-Primitives-Italic-Extralight: Extra Light Italic;
}
