.Dark {
  --flds-color-background-default-default: #17171f;
  --flds-color-background-default-secondary: #1e1f2a;
  --flds-color-background-default-tertiary: #2f303e;
  --flds-color-background-default-default-hover: #1e1f2a;
  --flds-color-background-default-secondary-hover: #2f303e;
  --flds-color-background-default-tertiary-hover: #3e4051;
  --flds-color-background-brand-default: #456eeb;
  --flds-color-background-brand-secondary: #253bac;
  --flds-color-background-brand-hover: #1f3ccd;
  --flds-color-background-brand-secondary-hover: #213496;
  --flds-color-background-brand-tertiary: #213496;
  --flds-color-background-brand-tertiary-hover: #161e69;
  --flds-color-background-positive-default: #008043;
  --flds-color-background-positive-secondary: #02542d;
  --flds-color-background-positive-hover: #02542d;
  --flds-color-background-positive-secondary-hover: #024023;
  --flds-color-background-positive-tertiary: #024023;
  --flds-color-background-positive-tertiary-hover: #062d1b;
  --flds-color-background-warning-default: #e8b931;
  --flds-color-background-warning-secondary: #682d03;
  --flds-color-background-warning-hover: #e5a000;
  --flds-color-background-warning-secondary-hover: #522504;
  --flds-color-background-warning-tertiary: #522504;
  --flds-color-background-warning-tertiary-hover: #401b01;
  --flds-color-background-danger-default: #f03330;
  --flds-color-background-danger-secondary: #9c120f;
  --flds-color-background-danger-hover: #d21e1e;
  --flds-color-background-danger-secondary-hover: #690807;
  --flds-color-background-danger-tertiary: #4d0b0a;
  --flds-color-background-danger-tertiary-hover: #300603;
  --flds-color-background-disabled-default: #757575;
  --flds-color-background-utilities-scrim: rgba(0, 0, 0, 0.8);
  --flds-color-background-utilities-overlay: rgba(0, 0, 0, 0.5);
  --flds-color-background-utilities-blanket: rgba(0, 0, 0, 0.7);
  --flds-color-background-utilities-measurement: #9d174d;
  --flds-color-background-utilities-highlight: rgba(255, 255, 255, 0.02);
  --flds-color-background-utilities-highlight-2: rgba(255, 255, 255, 0.05);
  --flds-color-background-utilities-highlight-brand: rgba(135, 165, 255, 0.05);
  --flds-color-background-utilities-highlight-brand-2: rgba(69, 110, 235, 0.1);
  --flds-color-background-utilities-highlight-brand-3: rgba(69, 110, 235, 0.15);
  --flds-color-background-utilities-highlight-brand-4: rgba(69, 110, 235, 0.2);
  --flds-color-background-neutral-default: #b2b2b2;
  --flds-color-background-neutral-hover: #949494;
  --flds-color-background-neutral-secondary: #767676;
  --flds-color-background-neutral-secondary-hover: #5a5a5a;
  --flds-color-background-neutral-tertiary: #434343;
  --flds-color-background-neutral-tertiary-hover: #303030;
  --flds-color-background-neutral-secondary-2: #767676;
  --flds-color-background-bold-default: #0c0c0d;
  --flds-color-background-bold-default-hover: #1e1e1e;
  --flds-color-background-bold-secondary: #1e1e1e;
  --flds-color-background-bold-secondary-hover: #111111;
  --flds-color-background-bold-tertiary: #383838;
  --flds-color-background-bold-tertiary-hover: #2c2c2c;
  --flds-color-background-accent-default: #14b8a6;
  --flds-color-background-accent-hover: #0d9488;
  --flds-color-background-accent-secondary: #0d9488;
  --flds-color-background-accent-secondary-hover: #0f766e;
  --flds-color-background-accent-tertiary: #115e59;
  --flds-color-background-accent-tertiary-hover: #134e4a;
  --flds-color-background-invert-default: #eeeff6;
  --flds-color-background-invert-default-hover: #aeb2cc;
  --flds-color-background-invert-secondary: #aeb2cc;
  --flds-color-background-invert-secondary-hover: #989cb7;
  --flds-color-background-invert-tertiary: #989cb7;
  --flds-color-background-invert-tertiary-hover: #7d819b;
  --flds-color-text-default-default: #ffffff;
  --flds-color-text-default-secondary: rgba(255, 255, 255, 0.7);
  --flds-color-text-default-tertiary: rgba(255, 255, 255, 0.4);
  --flds-color-text-brand-default: #d0deff;
  --flds-color-text-brand-secondary: #6f93fe;
  --flds-color-text-brand-tertiary: #456eeb;
  --flds-color-text-brand-on-brand: #0e0f43;
  --flds-color-text-brand-on-brand-secondary: #d0deff;
  --flds-color-text-brand-on-brand-tertiary: #9fb7ff;
  --flds-color-text-positive-default: #aff4c6;
  --flds-color-text-positive-secondary: #85e0a3;
  --flds-color-text-positive-tertiary: #009951;
  --flds-color-text-positive-on-positive: #ebffee;
  --flds-color-text-positive-on-positive-secondary: #ebffee;
  --flds-color-text-positive-on-positive-tertiary: #ebffee;
  --flds-color-text-warning-default: #fff1c2;
  --flds-color-text-warning-secondary: #e8b931;
  --flds-color-text-warning-tertiary: #bf6a02;
  --flds-color-text-warning-on-warning: #401b01;
  --flds-color-text-warning-on-warning-secondary: #fffbeb;
  --flds-color-text-warning-on-warning-tertiary: #fffbeb;
  --flds-color-text-danger-default: #fcb3ad;
  --flds-color-text-danger-secondary: #ff7d6f;
  --flds-color-text-danger-tertiary: #f03330;
  --flds-color-text-danger-on-danger: #fee9e7;
  --flds-color-text-danger-on-danger-secondary: #fee9e7;
  --flds-color-text-danger-on-danger-tertiary: #fee9e7;
  --flds-color-text-disabled-default: #d9d9d9;
  --flds-color-text-disabled-on-disabled: #b3b3b3;
  --flds-color-text-utilities-text-on-overlay: #ffffff;
  --flds-color-text-utilities-text-on-measurement: #fbcfe8;
  --flds-color-text-neutral-default: #e3e3e3;
  --flds-color-text-neutral-secondary: #cdcdcd;
  --flds-color-text-neutral-tertiary: #b2b2b2;
  --flds-color-text-neutral-on-neutral: #303030;
  --flds-color-text-neutral-on-neutral-secondary: #f3f3f3;
  --flds-color-text-neutral-on-neutral-tertiary: #f3f3f3;
  --flds-color-text-invert-default: #1e1e1e;
  --flds-color-text-invert-secondary: #757575;
  --flds-color-text-invert-tertiary: #b3b3b3;
  --flds-color-icon-default-default: #ffffff;
  --flds-color-icon-default-secondary: rgba(255, 255, 255, 0.7);
  --flds-color-icon-default-tertiary: rgba(255, 255, 255, 0.4);
  --flds-color-icon-brand-default: #d0deff;
  --flds-color-icon-brand-secondary: #6f93fe;
  --flds-color-icon-brand-tertiary: #456eeb;
  --flds-color-icon-brand-on-brand: #0e0f43;
  --flds-color-icon-brand-on-brand-secondary: #d0deff;
  --flds-color-icon-brand-on-brand-tertiary: #9fb7ff;
  --flds-color-icon-positive-default: #aff4c6;
  --flds-color-icon-positive-secondary: #85e0a3;
  --flds-color-icon-positive-tertiary: #009951;
  --flds-color-icon-positive-on-positive: #ebffee;
  --flds-color-icon-positive-on-positive-secondary: #ebffee;
  --flds-color-icon-positive-on-positive-tertiary: #ebffee;
  --flds-color-icon-warning-default: #fff1c2;
  --flds-color-icon-warning-secondary: #e8b931;
  --flds-color-icon-warning-tertiary: #bf6a02;
  --flds-color-icon-warning-on-warning: #401b01;
  --flds-color-icon-warning-on-warning-secondary: #fffbeb;
  --flds-color-icon-warning-on-warning-tertiary: #fffbeb;
  --flds-color-icon-danger-default: #fcb3ad;
  --flds-color-icon-danger-secondary: #ff7d6f;
  --flds-color-icon-danger-tertiary: #f03330;
  --flds-color-icon-danger-on-danger: #fee9e7;
  --flds-color-icon-danger-on-danger-secondary: #fee9e7;
  --flds-color-icon-danger-on-danger-tertiary: #fee9e7;
  --flds-color-icon-disabled-default: #d9d9d9;
  --flds-color-icon-disabled-on-disabled: #b3b3b3;
  --flds-color-icon-neutral-default: #e3e3e3;
  --flds-color-icon-neutral-secondary: #cdcdcd;
  --flds-color-icon-neutral-tertiary: #b2b2b2;
  --flds-color-icon-neutral-on-neutral: #303030;
  --flds-color-icon-neutral-on-neutral-secondary: #f3f3f3;
  --flds-color-icon-neutral-on-neutral-tertiary: #f3f3f3;
  --flds-color-icon-utilities-icon-on-measurement: #fbcfe8;
  --flds-color-icon-utilities-icon: #f472b6;
  --flds-color-border-default-default: #444444;
  --flds-color-border-default-secondary: #757575;
  --flds-color-border-default-tertiary: #b3b3b3;
  --flds-color-border-brand-default: #d0deff;
  --flds-color-border-brand-secondary: #6f93fe;
  --flds-color-border-brand-tertiary: #456eeb;
  --flds-color-border-positive-default: #aff4c6;
  --flds-color-border-positive-secondary: #85e0a3;
  --flds-color-border-positive-tertiary: #009951;
  --flds-color-border-warning-default: #fff1c2;
  --flds-color-border-warning-secondary: #e8b931;
  --flds-color-border-warning-tertiary: #bf6a02;
  --flds-color-border-danger-default: #fcb3ad;
  --flds-color-border-danger-secondary: #ff7d6f;
  --flds-color-border-danger-tertiary: #f03330;
  --flds-color-border-disabled-default: #b3b3b3;
  --flds-color-border-utilities-measurement: #db2777;
  --flds-color-border-utilities-swatch: rgba(255, 255, 255, 0.24);
  --flds-color-border-neutral-default: #f3f3f3;
  --flds-color-border-neutral-secondary: #949494;
  --flds-color-border-neutral-tertiary: #767676;
  --flds-color-overlay-white-white4: rgba(255, 255, 255, 0.06);
  --flds-color-radius-200: 10px;
  --flds-color-space-200: 8px;
}
