.Globals {
  // Local Variables
  $wds-color-primitives-white-50: rgba(255, 255, 255, 0.02);
  $wds-color-primitives-white-100: rgba(255, 255, 255, 0.05);
  $wds-color-primitives-white-200: rgba(255, 255, 255, 0.1);
  $wds-color-primitives-white-300: rgba(255, 255, 255, 0.2);
  $wds-color-primitives-white-400: rgba(255, 255, 255, 0.4);
  $wds-color-primitives-white-500: rgba(255, 255, 255, 0.7);
  $wds-color-primitives-white-600: rgba(255, 255, 255, 0.8);
  $wds-color-primitives-white-700: rgba(255, 255, 255, 0.85);
  $wds-color-primitives-white-800: rgba(255, 255, 255, 0.9);
  $wds-color-primitives-white-900: rgba(255, 255, 255, 0.95);
  $wds-color-primitives-white-1000: #ffffff;
  $wds-color-primitives-brand-100: #cffafe;
  $wds-color-primitives-brand-200: #a5f3fc;
  $wds-color-primitives-brand-300: #67e8f9;
  $wds-color-primitives-brand-400: #06b6d4;
  $wds-color-primitives-brand-500: #06b6d4;
  $wds-color-primitives-brand-600: #0891b2;
  $wds-color-primitives-brand-700: #0e7490;
  $wds-color-primitives-brand-800: #155e75;
  $wds-color-primitives-brand-900: #164e63;
  $wds-color-primitives-brand-1000: #164e63;
  $wds-color-primitives-red-100: #fee9e7;
  $wds-color-primitives-red-200: #fdd3d0;
  $wds-color-primitives-red-300: #fcb3ad;
  $wds-color-primitives-red-400: #ff7d6f;
  $wds-color-primitives-red-500: #f03330;
  $wds-color-primitives-red-600: #d21e1e;
  $wds-color-primitives-red-700: #9c120f;
  $wds-color-primitives-red-800: #690807;
  $wds-color-primitives-red-900: #4d0b0a;
  $wds-color-primitives-red-1000: #300603;
  $wds-color-primitives-yellow-100: #fffbeb;
  $wds-color-primitives-yellow-200: #fff1c2;
  $wds-color-primitives-yellow-300: #ffe8a3;
  $wds-color-primitives-yellow-400: #e8b931;
  $wds-color-primitives-yellow-500: #e5a000;
  $wds-color-primitives-yellow-600: #bf6a02;
  $wds-color-primitives-yellow-700: #975102;
  $wds-color-primitives-yellow-800: #682d03;
  $wds-color-primitives-yellow-900: #522504;
  $wds-color-primitives-yellow-1000: #401b01;
  $wds-color-primitives-green-100: #ebffee;
  $wds-color-primitives-green-200: #cff7d3;
  $wds-color-primitives-green-300: #aff4c6;
  $wds-color-primitives-green-400: #85e0a3;
  $wds-color-primitives-green-500: #14ae5c;
  $wds-color-primitives-green-600: #009951;
  $wds-color-primitives-green-700: #008043;
  $wds-color-primitives-green-800: #02542d;
  $wds-color-primitives-green-900: #024023;
  $wds-color-primitives-green-1000: #062d1b;
  $wds-color-primitives-black-50: rgba(12, 12, 13, 0.05);
  $wds-color-primitives-black-100: rgba(12, 12, 13, 0.05);
  $wds-color-primitives-black-200: rgba(12, 12, 13, 0.1);
  $wds-color-primitives-black-300: rgba(12, 12, 13, 0.2);
  $wds-color-primitives-black-400: rgba(12, 12, 13, 0.4);
  $wds-color-primitives-black-500: rgba(12, 12, 13, 0.7);
  $wds-color-primitives-black-600: rgba(12, 12, 13, 0.8);
  $wds-color-primitives-black-700: rgba(12, 12, 13, 0.85);
  $wds-color-primitives-black-800: rgba(12, 12, 13, 0.9);
  $wds-color-primitives-black-900: rgba(12, 12, 13, 0.95);
  $wds-color-primitives-black-1000: #0c0c0d;
  $wds-color-primitives-gray-100: #f5f5f5;
  $wds-color-primitives-gray-200: #e6e6e6;
  $wds-color-primitives-gray-300: #d9d9d9;
  $wds-color-primitives-gray-400: #b3b3b3;
  $wds-color-primitives-gray-500: #757575;
  $wds-color-primitives-gray-600: #444444;
  $wds-color-primitives-gray-700: #383838;
  $wds-color-primitives-gray-800: #2c2c2c;
  $wds-color-primitives-gray-900: #1e1e1e;
  $wds-color-primitives-gray-1000: #111111;
  $wds-color-primitives-brand-overlay-100: rgba(135, 165, 255, 0.05);
  $wds-color-primitives-brand-overlay-200: rgba(69, 110, 235, 0.1);
  $wds-color-primitives-brand-overlay-300: rgba(69, 110, 235, 0.15);
  $wds-color-primitives-brand-overlay-400: rgba(69, 110, 235, 0.2);
  $wds-color-primitives-slate-100: #f3f3f3;
  $wds-color-primitives-slate-200: #e3e3e3;
  $wds-color-primitives-slate-300: #cdcdcd;
  $wds-color-primitives-slate-400: #b2b2b2;
  $wds-color-primitives-slate-500: #949494;
  $wds-color-primitives-slate-600: #767676;
  $wds-color-primitives-slate-700: #5a5a5a;
  $wds-color-primitives-slate-800: #434343;
  $wds-color-primitives-slate-900: #303030;
  $wds-color-primitives-slate-1000: #242424;
  $wds-color-primitives-teal-50: #f0fdfa;
  $wds-color-primitives-teal-100: #ccfbf1;
  $wds-color-primitives-teal-200: #99f6e4;
  $wds-color-primitives-teal-300: #5eead4;
  $wds-color-primitives-teal-400: #2dd4bf;
  $wds-color-primitives-teal-500: #14b8a6;
  $wds-color-primitives-teal-600: #0d9488;
  $wds-color-primitives-teal-700: #0f766e;
  $wds-color-primitives-teal-800: #115e59;
  $wds-color-primitives-teal-900: #134e4a;
  $wds-color-primitives-emerald-50: #ecfdf5;
  $wds-color-primitives-emerald-100: #d1fae5;
  $wds-color-primitives-emerald-200: #a7f3d0;
  $wds-color-primitives-emerald-300: #6ee7b7;
  $wds-color-primitives-emerald-400: #34d399;
  $wds-color-primitives-emerald-500: #10b981;
  $wds-color-primitives-emerald-600: #059669;
  $wds-color-primitives-emerald-700: #047857;
  $wds-color-primitives-emerald-800: #065f46;
  $wds-color-primitives-emerald-900: #064e3b;
  $wds-color-primitives-lime-50: #f7fee7;
  $wds-color-primitives-lime-100: #ecfccb;
  $wds-color-primitives-lime-200: #d9f99d;
  $wds-color-primitives-lime-300: #bef264;
  $wds-color-primitives-lime-400: #a3e635;
  $wds-color-primitives-lime-500: #84cc16;
  $wds-color-primitives-lime-600: #65a30d;
  $wds-color-primitives-lime-700: #4d7c0f;
  $wds-color-primitives-lime-800: #3f6212;
  $wds-color-primitives-lime-900: #365314;
  $wds-color-primitives-honey-50: #fffdea;
  $wds-color-primitives-honey-100: #fff6c5;
  $wds-color-primitives-honey-200: #ffed85;
  $wds-color-primitives-honey-300: #ffdd46;
  $wds-color-primitives-honey-400: #ffca1b;
  $wds-color-primitives-honey-500: #ffa800;
  $wds-color-primitives-honey-600: #e27f00;
  $wds-color-primitives-honey-700: #bb5802;
  $wds-color-primitives-honey-800: #984308;
  $wds-color-primitives-honey-900: #7c370b;
  $wds-color-primitives-sky-50: #f0f9ff;
  $wds-color-primitives-sky-100: #e0f2fe;
  $wds-color-primitives-sky-200: #bae6fd;
  $wds-color-primitives-sky-300: #7dd3fc;
  $wds-color-primitives-sky-400: #38bdf8;
  $wds-color-primitives-sky-500: #0ea5e9;
  $wds-color-primitives-sky-600: #0284c7;
  $wds-color-primitives-sky-700: #0369a1;
  $wds-color-primitives-sky-800: #075985;
  $wds-color-primitives-sky-900: #0c4a6e;
  $wds-color-primitives-lavendar-50: #eef2ff;
  $wds-color-primitives-lavendar-100: #e0e7ff;
  $wds-color-primitives-lavendar-200: #c7d2fe;
  $wds-color-primitives-lavendar-300: #a5b4fc;
  $wds-color-primitives-lavendar-400: #818cf8;
  $wds-color-primitives-lavendar-500: #4d50dc;
  $wds-color-primitives-lavendar-600: #4f46e5;
  $wds-color-primitives-lavendar-700: #4338ca;
  $wds-color-primitives-lavendar-800: #3730a3;
  $wds-color-primitives-lavendar-900: #312e81;
  $wds-color-primitives-pink-100: #fce7f3;
  $wds-color-primitives-pink-200: #fbcfe8;
  $wds-color-primitives-pink-300: #f9a8d4;
  $wds-color-primitives-pink-400: #f472b6;
  $wds-color-primitives-pink-500: #ec4899;
  $wds-color-primitives-pink-600: #db2777;
  $wds-color-primitives-pink-700: #be185d;
  $wds-color-primitives-pink-800: #9d174d;
  $wds-color-primitives-pink-900: #831843;
  $wds-color-primitives-rose-50: #fff1f2;
  $wds-color-primitives-rose-100: #ffe4e6;
  $wds-color-primitives-rose-200: #fecdd3;
  $wds-color-primitives-rose-300: #fda4af;
  $wds-color-primitives-rose-400: #fb7185;
  $wds-color-primitives-rose-500: #f43f5e;
  $wds-color-primitives-rose-600: #e11d48;
  $wds-color-primitives-rose-700: #be123c;
  $wds-color-primitives-rose-800: #9f1239;
  $wds-color-primitives-rose-900: #881337;
  $wds-color-primitives-cyan-50: #ecfeff;
  $wds-color-primitives-cyan-100: #cffafe;
  $wds-color-primitives-cyan-200: #a5f3fc;
  $wds-color-primitives-cyan-300: #67e8f9;
  $wds-color-primitives-cyan-400: #22d3ee;
  $wds-color-primitives-cyan-500: #06b6d4;
  $wds-color-primitives-cyan-600: #0891b2;
  $wds-color-primitives-cyan-700: #0e7490;
  $wds-color-primitives-cyan-800: #155e75;
  $wds-color-primitives-cyan-900: #164e63;
  $wds-color-primitives-tangerine-50: #ffede5;
  $wds-color-primitives-tangerine-100: #ffdccc;
  $wds-color-primitives-tangerine-200: #ffcab3;
  $wds-color-primitives-tangerine-300: #feb89a;
  $wds-color-primitives-tangerine-400: #fba782;
  $wds-color-primitives-tangerine-500: #f7956b;
  $wds-color-primitives-tangerine-600: #f28253;
  $wds-color-primitives-tangerine-700: #ec703c;
  $wds-color-primitives-tangerine-800: #e55c23;
  $wds-color-primitives-tangerine-900: #de4600;
  $wds-color-primitives-brand-muted-50: #ecfeff;
  $wds-color-primitives-brand-muted-100: #cffafe;
  $wds-color-primitives-brand-muted-200: #a5f3fc;
  $wds-color-primitives-brand-muted-300: #67e8f9;
  $wds-color-primitives-brand-muted-400: #06b6d4;
  $wds-color-primitives-brand-muted-500: #06b6d4;
  $wds-color-primitives-brand-muted-600: #0891b2;
  $wds-color-primitives-brand-muted-700: #0e7490;
  $wds-color-primitives-brand-muted-800: #155e75;
  $wds-color-primitives-brand-muted-900: #164e63;
  $wds-color-primitives-brand-muted-1000: #164e63;
  $wds-typography-primitives-scale-scale-10: 72px;
  $wds-typography-primitives-scale-scale-09: 64px;
  $wds-typography-primitives-scale-scale-08: 48px;
  $wds-typography-primitives-scale-scale-07: 40px;
  $wds-typography-primitives-scale-scale-06: 32px;
  $wds-typography-primitives-scale-scale-05: 24px;
  $wds-typography-primitives-scale-scale-04: 20px;
  $wds-typography-primitives-scale-scale-03: 16px;
  $wds-typography-primitives-scale-scale-02: 14px;
  $wds-typography-primitives-scale-scale-01: 12px;
  $wds-typography-primitives-weight-extrabold: 800;
  $wds-typography-primitives-weight-medium: 500;
  $wds-typography-primitives-weight-regular: 400;
  $wds-typography-primitives-weight-black: 900;
  $wds-typography-primitives-weight-bold: 700;
  $wds-typography-primitives-weight-semibold: 600;
  $wds-typography-primitives-weight-light: 300;
  $wds-typography-primitives-weight-extralight: 200;
  $wds-typography-primitives-weight-thin: 100;
  $wds-typography-primitives-size-10: 32px;
  $wds-typography-primitives-size-11: 36px;
  $wds-typography-primitives-size-12: 40px;
  $wds-typography-primitives-size-13: 44px;
  $wds-typography-primitives-size-14: 48px;
  $wds-typography-primitives-size-15: 52px;
  $wds-typography-primitives-size-16: 64px;
  $wds-typography-primitives-size-17: 72px;
  $wds-typography-primitives-size-07: 20px;
  $wds-typography-primitives-size-04: 14px;
  $wds-typography-primitives-size-06: 18px;
  $wds-typography-primitives-size-03: 12px;
  $wds-typography-primitives-size-02: 10px;
  $wds-typography-primitives-size-05: 16px;
  $wds-typography-primitives-size-09: 28px;
  $wds-typography-primitives-size-08: 24px;
  $wds-typography-primitives-size-01: 8px;
  $wds-typography-primitives-family-inter: Inter;
  $wds-typography-primitives-family-mono: Roboto Mono;
  $wds-typography-primitives-family-serif: Noto Serif;
  $wds-typography-primitives-italic-black: Black Italic;
  $wds-typography-primitives-italic-extrabold: Extra Bold Italic;
  $wds-typography-primitives-italic-bold: Bold Italic;
  $wds-typography-primitives-italic-semibold: Semi Bold Italic;
  $wds-typography-primitives-italic-medium: Medium Italic;
  $wds-typography-primitives-italic-thin: Thin Italic;
  $wds-typography-primitives-italic-regular: Italic;
  $wds-typography-primitives-italic-light: Light Italic;
  $wds-typography-primitives-italic-extralight: Extra Light Italic;
  $wds-typography-primitives-percentage-100: 100%;
  $wds-typography-primitives-percentage-105: 105%;
  $wds-typography-primitives-percentage-110: 110%;
  $wds-typography-primitives-percentage-115: 115%;
  $wds-typography-primitives-percentage-120: 120%;
  $wds-typography-primitives-percentage-125: 125%;
  $wds-typography-primitives-percentage-150: 150%;
  $wds-typography-primitives-percentage-175: 175%;
  $wds-typography-primitives-percentage-200: 200%;
  $wds-typography-primitives-percentage-050: 50%;
  $wds-typography-primitives-percentage-090: 90%;

  // Global Variables
  --wds-color-primitives-white-50: rgba(255, 255, 255, 0.02);
  --wds-color-primitives-white-100: rgba(255, 255, 255, 0.05);
  --wds-color-primitives-white-200: rgba(255, 255, 255, 0.1);
  --wds-color-primitives-white-300: rgba(255, 255, 255, 0.2);
  --wds-color-primitives-white-400: rgba(255, 255, 255, 0.4);
  --wds-color-primitives-white-500: rgba(255, 255, 255, 0.7);
  --wds-color-primitives-white-600: rgba(255, 255, 255, 0.8);
  --wds-color-primitives-white-700: rgba(255, 255, 255, 0.85);
  --wds-color-primitives-white-800: rgba(255, 255, 255, 0.9);
  --wds-color-primitives-white-900: rgba(255, 255, 255, 0.95);
  --wds-color-primitives-white-1000: #ffffff;
  --wds-color-primitives-brand-100: #cffafe;
  --wds-color-primitives-brand-200: #a5f3fc;
  --wds-color-primitives-brand-300: #67e8f9;
  --wds-color-primitives-brand-400: #06b6d4;
  --wds-color-primitives-brand-500: #06b6d4;
  --wds-color-primitives-brand-600: #0891b2;
  --wds-color-primitives-brand-700: #0e7490;
  --wds-color-primitives-brand-800: #155e75;
  --wds-color-primitives-brand-900: #164e63;
  --wds-color-primitives-brand-1000: #164e63;
  --wds-color-primitives-red-100: #fee9e7;
  --wds-color-primitives-red-200: #fdd3d0;
  --wds-color-primitives-red-300: #fcb3ad;
  --wds-color-primitives-red-400: #ff7d6f;
  --wds-color-primitives-red-500: #f03330;
  --wds-color-primitives-red-600: #d21e1e;
  --wds-color-primitives-red-700: #9c120f;
  --wds-color-primitives-red-800: #690807;
  --wds-color-primitives-red-900: #4d0b0a;
  --wds-color-primitives-red-1000: #300603;
  --wds-color-primitives-yellow-100: #fffbeb;
  --wds-color-primitives-yellow-200: #fff1c2;
  --wds-color-primitives-yellow-300: #ffe8a3;
  --wds-color-primitives-yellow-400: #e8b931;
  --wds-color-primitives-yellow-500: #e5a000;
  --wds-color-primitives-yellow-600: #bf6a02;
  --wds-color-primitives-yellow-700: #975102;
  --wds-color-primitives-yellow-800: #682d03;
  --wds-color-primitives-yellow-900: #522504;
  --wds-color-primitives-yellow-1000: #401b01;
  --wds-color-primitives-green-100: #ebffee;
  --wds-color-primitives-green-200: #cff7d3;
  --wds-color-primitives-green-300: #aff4c6;
  --wds-color-primitives-green-400: #85e0a3;
  --wds-color-primitives-green-500: #14ae5c;
  --wds-color-primitives-green-600: #009951;
  --wds-color-primitives-green-700: #008043;
  --wds-color-primitives-green-800: #02542d;
  --wds-color-primitives-green-900: #024023;
  --wds-color-primitives-green-1000: #062d1b;
  --wds-color-primitives-black-50: rgba(12, 12, 13, 0.05);
  --wds-color-primitives-black-100: rgba(12, 12, 13, 0.05);
  --wds-color-primitives-black-200: rgba(12, 12, 13, 0.1);
  --wds-color-primitives-black-300: rgba(12, 12, 13, 0.2);
  --wds-color-primitives-black-400: rgba(12, 12, 13, 0.4);
  --wds-color-primitives-black-500: rgba(12, 12, 13, 0.7);
  --wds-color-primitives-black-600: rgba(12, 12, 13, 0.8);
  --wds-color-primitives-black-700: rgba(12, 12, 13, 0.85);
  --wds-color-primitives-black-800: rgba(12, 12, 13, 0.9);
  --wds-color-primitives-black-900: rgba(12, 12, 13, 0.95);
  --wds-color-primitives-black-1000: #0c0c0d;
  --wds-color-primitives-gray-100: #f5f5f5;
  --wds-color-primitives-gray-200: #e6e6e6;
  --wds-color-primitives-gray-300: #d9d9d9;
  --wds-color-primitives-gray-400: #b3b3b3;
  --wds-color-primitives-gray-500: #757575;
  --wds-color-primitives-gray-600: #444444;
  --wds-color-primitives-gray-700: #383838;
  --wds-color-primitives-gray-800: #2c2c2c;
  --wds-color-primitives-gray-900: #1e1e1e;
  --wds-color-primitives-gray-1000: #111111;
  --wds-color-primitives-brand-overlay-100: rgba(135, 165, 255, 0.05);
  --wds-color-primitives-brand-overlay-200: rgba(69, 110, 235, 0.1);
  --wds-color-primitives-brand-overlay-300: rgba(69, 110, 235, 0.15);
  --wds-color-primitives-brand-overlay-400: rgba(69, 110, 235, 0.2);
  --wds-color-primitives-slate-100: #f3f3f3;
  --wds-color-primitives-slate-200: #e3e3e3;
  --wds-color-primitives-slate-300: #cdcdcd;
  --wds-color-primitives-slate-400: #b2b2b2;
  --wds-color-primitives-slate-500: #949494;
  --wds-color-primitives-slate-600: #767676;
  --wds-color-primitives-slate-700: #5a5a5a;
  --wds-color-primitives-slate-800: #434343;
  --wds-color-primitives-slate-900: #303030;
  --wds-color-primitives-slate-1000: #242424;
  --wds-color-primitives-teal-50: #f0fdfa;
  --wds-color-primitives-teal-100: #ccfbf1;
  --wds-color-primitives-teal-200: #99f6e4;
  --wds-color-primitives-teal-300: #5eead4;
  --wds-color-primitives-teal-400: #2dd4bf;
  --wds-color-primitives-teal-500: #14b8a6;
  --wds-color-primitives-teal-600: #0d9488;
  --wds-color-primitives-teal-700: #0f766e;
  --wds-color-primitives-teal-800: #115e59;
  --wds-color-primitives-teal-900: #134e4a;
  --wds-color-primitives-emerald-50: #ecfdf5;
  --wds-color-primitives-emerald-100: #d1fae5;
  --wds-color-primitives-emerald-200: #a7f3d0;
  --wds-color-primitives-emerald-300: #6ee7b7;
  --wds-color-primitives-emerald-400: #34d399;
  --wds-color-primitives-emerald-500: #10b981;
  --wds-color-primitives-emerald-600: #059669;
  --wds-color-primitives-emerald-700: #047857;
  --wds-color-primitives-emerald-800: #065f46;
  --wds-color-primitives-emerald-900: #064e3b;
  --wds-color-primitives-lime-50: #f7fee7;
  --wds-color-primitives-lime-100: #ecfccb;
  --wds-color-primitives-lime-200: #d9f99d;
  --wds-color-primitives-lime-300: #bef264;
  --wds-color-primitives-lime-400: #a3e635;
  --wds-color-primitives-lime-500: #84cc16;
  --wds-color-primitives-lime-600: #65a30d;
  --wds-color-primitives-lime-700: #4d7c0f;
  --wds-color-primitives-lime-800: #3f6212;
  --wds-color-primitives-lime-900: #365314;
  --wds-color-primitives-honey-50: #fffdea;
  --wds-color-primitives-honey-100: #fff6c5;
  --wds-color-primitives-honey-200: #ffed85;
  --wds-color-primitives-honey-300: #ffdd46;
  --wds-color-primitives-honey-400: #ffca1b;
  --wds-color-primitives-honey-500: #ffa800;
  --wds-color-primitives-honey-600: #e27f00;
  --wds-color-primitives-honey-700: #bb5802;
  --wds-color-primitives-honey-800: #984308;
  --wds-color-primitives-honey-900: #7c370b;
  --wds-color-primitives-sky-50: #f0f9ff;
  --wds-color-primitives-sky-100: #e0f2fe;
  --wds-color-primitives-sky-200: #bae6fd;
  --wds-color-primitives-sky-300: #7dd3fc;
  --wds-color-primitives-sky-400: #38bdf8;
  --wds-color-primitives-sky-500: #0ea5e9;
  --wds-color-primitives-sky-600: #0284c7;
  --wds-color-primitives-sky-700: #0369a1;
  --wds-color-primitives-sky-800: #075985;
  --wds-color-primitives-sky-900: #0c4a6e;
  --wds-color-primitives-lavendar-50: #eef2ff;
  --wds-color-primitives-lavendar-100: #e0e7ff;
  --wds-color-primitives-lavendar-200: #c7d2fe;
  --wds-color-primitives-lavendar-300: #a5b4fc;
  --wds-color-primitives-lavendar-400: #818cf8;
  --wds-color-primitives-lavendar-500: #4d50dc;
  --wds-color-primitives-lavendar-600: #4f46e5;
  --wds-color-primitives-lavendar-700: #4338ca;
  --wds-color-primitives-lavendar-800: #3730a3;
  --wds-color-primitives-lavendar-900: #312e81;
  --wds-color-primitives-pink-100: #fce7f3;
  --wds-color-primitives-pink-200: #fbcfe8;
  --wds-color-primitives-pink-300: #f9a8d4;
  --wds-color-primitives-pink-400: #f472b6;
  --wds-color-primitives-pink-500: #ec4899;
  --wds-color-primitives-pink-600: #db2777;
  --wds-color-primitives-pink-700: #be185d;
  --wds-color-primitives-pink-800: #9d174d;
  --wds-color-primitives-pink-900: #831843;
  --wds-color-primitives-rose-50: #fff1f2;
  --wds-color-primitives-rose-100: #ffe4e6;
  --wds-color-primitives-rose-200: #fecdd3;
  --wds-color-primitives-rose-300: #fda4af;
  --wds-color-primitives-rose-400: #fb7185;
  --wds-color-primitives-rose-500: #f43f5e;
  --wds-color-primitives-rose-600: #e11d48;
  --wds-color-primitives-rose-700: #be123c;
  --wds-color-primitives-rose-800: #9f1239;
  --wds-color-primitives-rose-900: #881337;
  --wds-color-primitives-cyan-50: #ecfeff;
  --wds-color-primitives-cyan-100: #cffafe;
  --wds-color-primitives-cyan-200: #a5f3fc;
  --wds-color-primitives-cyan-300: #67e8f9;
  --wds-color-primitives-cyan-400: #22d3ee;
  --wds-color-primitives-cyan-500: #06b6d4;
  --wds-color-primitives-cyan-600: #0891b2;
  --wds-color-primitives-cyan-700: #0e7490;
  --wds-color-primitives-cyan-800: #155e75;
  --wds-color-primitives-cyan-900: #164e63;
  --wds-color-primitives-tangerine-50: #ffede5;
  --wds-color-primitives-tangerine-100: #ffdccc;
  --wds-color-primitives-tangerine-200: #ffcab3;
  --wds-color-primitives-tangerine-300: #feb89a;
  --wds-color-primitives-tangerine-400: #fba782;
  --wds-color-primitives-tangerine-500: #f7956b;
  --wds-color-primitives-tangerine-600: #f28253;
  --wds-color-primitives-tangerine-700: #ec703c;
  --wds-color-primitives-tangerine-800: #e55c23;
  --wds-color-primitives-tangerine-900: #de4600;
  --wds-color-primitives-brand-muted-50: #ecfeff;
  --wds-color-primitives-brand-muted-100: #cffafe;
  --wds-color-primitives-brand-muted-200: #a5f3fc;
  --wds-color-primitives-brand-muted-300: #67e8f9;
  --wds-color-primitives-brand-muted-400: #06b6d4;
  --wds-color-primitives-brand-muted-500: #06b6d4;
  --wds-color-primitives-brand-muted-600: #0891b2;
  --wds-color-primitives-brand-muted-700: #0e7490;
  --wds-color-primitives-brand-muted-800: #155e75;
  --wds-color-primitives-brand-muted-900: #164e63;
  --wds-color-primitives-brand-muted-1000: #164e63;
  --wds-typography-primitives-scale-scale-10: 72px;
  --wds-typography-primitives-scale-scale-09: 64px;
  --wds-typography-primitives-scale-scale-08: 48px;
  --wds-typography-primitives-scale-scale-07: 40px;
  --wds-typography-primitives-scale-scale-06: 32px;
  --wds-typography-primitives-scale-scale-05: 24px;
  --wds-typography-primitives-scale-scale-04: 20px;
  --wds-typography-primitives-scale-scale-03: 16px;
  --wds-typography-primitives-scale-scale-02: 14px;
  --wds-typography-primitives-scale-scale-01: 12px;
  --wds-typography-primitives-weight-extrabold: 800;
  --wds-typography-primitives-weight-medium: 500;
  --wds-typography-primitives-weight-regular: 400;
  --wds-typography-primitives-weight-black: 900;
  --wds-typography-primitives-weight-bold: 700;
  --wds-typography-primitives-weight-semibold: 600;
  --wds-typography-primitives-weight-light: 300;
  --wds-typography-primitives-weight-extralight: 200;
  --wds-typography-primitives-weight-thin: 100;
  --wds-typography-primitives-size-10: 32px;
  --wds-typography-primitives-size-11: 36px;
  --wds-typography-primitives-size-12: 40px;
  --wds-typography-primitives-size-13: 44px;
  --wds-typography-primitives-size-14: 48px;
  --wds-typography-primitives-size-15: 52px;
  --wds-typography-primitives-size-16: 64px;
  --wds-typography-primitives-size-17: 72px;
  --wds-typography-primitives-size-07: 20px;
  --wds-typography-primitives-size-04: 14px;
  --wds-typography-primitives-size-06: 18px;
  --wds-typography-primitives-size-03: 12px;
  --wds-typography-primitives-size-02: 10px;
  --wds-typography-primitives-size-05: 16px;
  --wds-typography-primitives-size-09: 28px;
  --wds-typography-primitives-size-08: 24px;
  --wds-typography-primitives-size-01: 8px;
  --wds-typography-primitives-family-inter: Inter;
  --wds-typography-primitives-family-mono: Roboto Mono;
  --wds-typography-primitives-family-serif: Noto Serif;
  --wds-typography-primitives-italic-black: Black Italic;
  --wds-typography-primitives-italic-extrabold: Extra Bold Italic;
  --wds-typography-primitives-italic-bold: Bold Italic;
  --wds-typography-primitives-italic-semibold: Semi Bold Italic;
  --wds-typography-primitives-italic-medium: Medium Italic;
  --wds-typography-primitives-italic-thin: Thin Italic;
  --wds-typography-primitives-italic-regular: Italic;
  --wds-typography-primitives-italic-light: Light Italic;
  --wds-typography-primitives-italic-extralight: Extra Light Italic;
  --wds-typography-primitives-percentage-100: 100%;
  --wds-typography-primitives-percentage-105: 105%;
  --wds-typography-primitives-percentage-110: 110%;
  --wds-typography-primitives-percentage-115: 115%;
  --wds-typography-primitives-percentage-120: 120%;
  --wds-typography-primitives-percentage-125: 125%;
  --wds-typography-primitives-percentage-150: 150%;
  --wds-typography-primitives-percentage-175: 175%;
  --wds-typography-primitives-percentage-200: 200%;
  --wds-typography-primitives-percentage-050: 50%;
  --wds-typography-primitives-percentage-090: 90%;
}
