.Globals {
  --wds-typography-primitives-scale-scale-10: 72px;
  --wds-typography-primitives-scale-scale-09: 64px;
  --wds-typography-primitives-scale-scale-08: 48px;
  --wds-typography-primitives-scale-scale-07: 40px;
  --wds-typography-primitives-scale-scale-06: 32px;
  --wds-typography-primitives-scale-scale-05: 24px;
  --wds-typography-primitives-scale-scale-04: 20px;
  --wds-typography-primitives-scale-scale-03: 16px;
  --wds-typography-primitives-scale-scale-02: 14px;
  --wds-typography-primitives-scale-scale-01: 12px;
  --wds-typography-primitives-weight-extrabold: 800;
  --wds-typography-primitives-weight-medium: 500;
  --wds-typography-primitives-weight-regular: 400;
  --wds-typography-primitives-weight-black: 900;
  --wds-typography-primitives-weight-bold: 700;
  --wds-typography-primitives-weight-semibold: 600;
  --wds-typography-primitives-weight-light: 300;
  --wds-typography-primitives-weight-extralight: 200;
  --wds-typography-primitives-weight-thin: 100;
  --wds-typography-primitives-size-10: 32px;
  --wds-typography-primitives-size-11: 36px;
  --wds-typography-primitives-size-12: 40px;
  --wds-typography-primitives-size-13: 44px;
  --wds-typography-primitives-size-14: 48px;
  --wds-typography-primitives-size-15: 52px;
  --wds-typography-primitives-size-16: 64px;
  --wds-typography-primitives-size-17: 72px;
  --wds-typography-primitives-size-07: 20px;
  --wds-typography-primitives-size-04: 14px;
  --wds-typography-primitives-size-06: 18px;
  --wds-typography-primitives-size-03: 12px;
  --wds-typography-primitives-size-02: 10px;
  --wds-typography-primitives-size-05: 16px;
  --wds-typography-primitives-size-09: 28px;
  --wds-typography-primitives-size-08: 24px;
  --wds-typography-primitives-size-01: 8px;
  --wds-typography-primitives-family-inter: Inter;
  --wds-typography-primitives-family-mono: Roboto Mono;
  --wds-typography-primitives-family-serif: Noto Serif;
  --wds-typography-primitives-italic-black: Black Italic;
  --wds-typography-primitives-italic-extrabold: Extra Bold Italic;
  --wds-typography-primitives-italic-bold: Bold Italic;
  --wds-typography-primitives-italic-semibold: Semi Bold Italic;
  --wds-typography-primitives-italic-medium: Medium Italic;
  --wds-typography-primitives-italic-thin: Thin Italic;
  --wds-typography-primitives-italic-regular: Italic;
  --wds-typography-primitives-italic-light: Light Italic;
  --wds-typography-primitives-italic-extralight: Extra Light Italic;
  --wds-typography-primitives-percentage-100: 100%;
  --wds-typography-primitives-percentage-105: 105%;
  --wds-typography-primitives-percentage-110: 110%;
  --wds-typography-primitives-percentage-115: 115%;
  --wds-typography-primitives-percentage-120: 120%;
  --wds-typography-primitives-percentage-125: 125%;
  --wds-typography-primitives-percentage-150: 150%;
  --wds-typography-primitives-percentage-175: 175%;
  --wds-typography-primitives-percentage-200: 200%;
  --wds-typography-primitives-percentage-050: 50%;
  --wds-typography-primitives-percentage-090: 90%;
}
