@layer base {
  [data-theme='Light'] {
    --wds-theme-red-red1: #fffcfc;
    --wds-theme-red-red2: #fff8f8;
    --wds-theme-red-red3: #ffefef;
    --wds-theme-red-red4: #ffe5e5;
    --wds-theme-red-red5: #fdd8d8;
    --wds-theme-red-red6: #f9c6c6;
    --wds-theme-red-red7: #f3aeaf;
    --wds-theme-red-red8: #eb9091;
    --wds-theme-red-red9: #e5484d;
    --wds-theme-red-red10: #dc3d43;
    --wds-theme-red-red11: #cd2b31;
    --wds-theme-red-red12: #381316;
    --wds-theme-gray-gray1: #fcfcfc;
    --wds-theme-gray-gray2: #f8f8f8;
    --wds-theme-gray-gray3: #f3f3f3;
    --wds-theme-gray-gray4: #ededed;
    --wds-theme-gray-gray5: #e8e8e8;
    --wds-theme-gray-gray6: #e2e2e2;
    --wds-theme-gray-gray7: #dbdbdb;
    --wds-theme-gray-gray8: #c7c7c7;
    --wds-theme-gray-gray9: #8f8f8f;
    --wds-theme-gray-gray10: #858585;
    --wds-theme-gray-gray11: #6f6f6f;
    --wds-theme-gray-gray12: #171717;
    --wds-theme-blue-blue1: #fbfdff;
    --wds-theme-blue-blue2: #f5faff;
    --wds-theme-blue-blue3: #edf6ff;
    --wds-theme-blue-blue4: #e1f0ff;
    --wds-theme-blue-blue5: #cee7fe;
    --wds-theme-blue-blue6: #b7d9f8;
    --wds-theme-blue-blue7: #96c7f2;
    --wds-theme-blue-blue8: #5eb0ef;
    --wds-theme-blue-blue9: #0091ff;
    --wds-theme-blue-blue10: #0081f1;
    --wds-theme-blue-blue11: #006adc;
    --wds-theme-blue-blue12: #00254d;
    --wds-theme-green-green1: #fbfefc;
    --wds-theme-green-green2: #f2fcf5;
    --wds-theme-green-green3: #e9f9ee;
    --wds-theme-green-green4: #ddf3e4;
    --wds-theme-green-green5: #ccebd7;
    --wds-theme-green-green6: #b4dfc4;
    --wds-theme-green-green7: #92ceac;
    --wds-theme-green-green8: #5bb98c;
    --wds-theme-green-green9: #30a46c;
    --wds-theme-green-green10: #299764;
    --wds-theme-green-green11: #18794e;
    --wds-theme-green-green12: #153226;
    --wds-theme-background-background: #fefefe;
    --wds-theme-tomato-tomato1: #fffcfc;
    --wds-theme-tomato-tomato2: #fff8f7;
    --wds-theme-tomato-tomato3: #fff0ee;
    --wds-theme-tomato-tomato4: #ffe6e2;
    --wds-theme-tomato-tomato5: #fdd8d3;
    --wds-theme-tomato-tomato6: #fac7be;
    --wds-theme-tomato-tomato7: #f3b0a2;
    --wds-theme-tomato-tomato8: #ea9280;
    --wds-theme-tomato-tomato9: #e54d2e;
    --wds-theme-tomato-tomato10: #db4324;
    --wds-theme-tomato-tomato11: #ca3214;
    --wds-theme-tomato-tomato12: #341711;
    --wds-theme-crimson-crimson1: #fffcfd;
    --wds-theme-crimson-crimson2: #fff7fb;
    --wds-theme-crimson-crimson3: #feeff6;
    --wds-theme-crimson-crimson4: #fce5f0;
    --wds-theme-crimson-crimson5: #f9d8e7;
    --wds-theme-crimson-crimson6: #f4c6db;
    --wds-theme-crimson-crimson7: #edadc8;
    --wds-theme-crimson-crimson8: #e58fb1;
    --wds-theme-crimson-crimson9: #e93d82;
    --wds-theme-crimson-crimson10: #e03177;
    --wds-theme-crimson-crimson11: #d31e66;
    --wds-theme-crimson-crimson12: #3d0d1d;
    --wds-theme-pink-pink1: #fffcfe;
    --wds-theme-pink-pink2: #fff7fc;
    --wds-theme-pink-pink3: #feeef8;
    --wds-theme-pink-pink4: #fce5f3;
    --wds-theme-pink-pink5: #f9d8ec;
    --wds-theme-pink-pink6: #f3c6e2;
    --wds-theme-pink-pink7: #ecadd4;
    --wds-theme-pink-pink8: #e38ec3;
    --wds-theme-pink-pink9: #d6409f;
    --wds-theme-pink-pink10: #d23197;
    --wds-theme-pink-pink11: #cd1d8d;
    --wds-theme-pink-pink12: #3b0a2a;
    --wds-theme-mint-mint1: #f9fefd;
    --wds-theme-mint-mint2: #effefa;
    --wds-theme-mint-mint3: #e1fbf4;
    --wds-theme-mint-mint4: #d2f7ed;
    --wds-theme-mint-mint5: #c0efe3;
    --wds-theme-mint-mint6: #a5e4d4;
    --wds-theme-mint-mint7: #7dd4c0;
    --wds-theme-mint-mint8: #40c4aa;
    --wds-theme-mint-mint9: #70e1c8;
    --wds-theme-mint-mint10: #69d9c1;
    --wds-theme-mint-mint11: #147d6f;
    --wds-theme-mint-mint12: #09342e;
    --wds-theme-plum-plum1: #fefcff;
    --wds-theme-plum-plum2: #fff8ff;
    --wds-theme-plum-plum3: #fceffc;
    --wds-theme-plum-plum4: #f9e5f9;
    --wds-theme-plum-plum5: #f3d9f4;
    --wds-theme-plum-plum6: #ebc8ed;
    --wds-theme-plum-plum7: #dfafe3;
    --wds-theme-plum-plum8: #cf91d8;
    --wds-theme-plum-plum9: #ab4aba;
    --wds-theme-plum-plum10: #a43cb4;
    --wds-theme-plum-plum11: #9c2bad;
    --wds-theme-plum-plum12: #340c3b;
    --wds-theme-sky-sky1: #f9feff;
    --wds-theme-sky-sky2: #f1fcff;
    --wds-theme-sky-sky3: #e4f9ff;
    --wds-theme-sky-sky4: #d5f4fd;
    --wds-theme-sky-sky5: #c1ecf9;
    --wds-theme-sky-sky6: #a4dff1;
    --wds-theme-sky-sky7: #79cfea;
    --wds-theme-sky-sky8: #2ebde5;
    --wds-theme-sky-sky9: #68ddfd;
    --wds-theme-sky-sky10: #5fd4f4;
    --wds-theme-sky-sky11: #0078a1;
    --wds-theme-sky-sky12: #003242;
    --wds-theme-brown-brown1: #fefdfc;
    --wds-theme-brown-brown2: #fcf9f6;
    --wds-theme-brown-brown3: #f8f1ea;
    --wds-theme-brown-brown4: #f4e9dd;
    --wds-theme-brown-brown5: #efddcc;
    --wds-theme-brown-brown6: #e8cdb5;
    --wds-theme-brown-brown7: #ddb896;
    --wds-theme-brown-brown8: #d09e72;
    --wds-theme-brown-brown9: #ad7f58;
    --wds-theme-brown-brown10: #a07653;
    --wds-theme-brown-brown11: #886349;
    --wds-theme-brown-brown12: #3f2c22;
    --wds-theme-orange-orange1: #fefcfb;
    --wds-theme-orange-orange2: #fef8f4;
    --wds-theme-orange-orange3: #fff1e7;
    --wds-theme-orange-orange4: #ffe8d7;
    --wds-theme-orange-orange5: #ffdcc3;
    --wds-theme-orange-orange6: #ffcca7;
    --wds-theme-orange-orange7: #ffb381;
    --wds-theme-orange-orange8: #f87f2e;
    --wds-theme-orange-orange9: #f76808;
    --wds-theme-orange-orange10: #ed5f00;
    --wds-theme-orange-orange11: #bd4b00;
    --wds-theme-orange-orange12: #451e11;
    --wds-theme-grass-grass1: #fbfefb;
    --wds-theme-grass-grass2: #f3fcf3;
    --wds-theme-grass-grass3: #ebf9eb;
    --wds-theme-grass-grass4: #dff3df;
    --wds-theme-grass-grass5: #ceebcf;
    --wds-theme-grass-grass6: #b7dfba;
    --wds-theme-grass-grass7: #97cf9c;
    --wds-theme-grass-grass8: #65ba75;
    --wds-theme-grass-grass9: #46a758;
    --wds-theme-grass-grass10: #3d9a50;
    --wds-theme-grass-grass11: #297c3b;
    --wds-theme-grass-grass12: #1b311e;
    --wds-theme-teal-12: #10302b;
    --wds-theme-teal-teal1: #fafefd;
    --wds-theme-teal-teal2: #f1fcfa;
    --wds-theme-teal-teal3: #e7f9f5;
    --wds-theme-teal-teal4: #d9f3ee;
    --wds-theme-teal-teal5: #c7ebe5;
    --wds-theme-teal-teal6: #afdfd7;
    --wds-theme-teal-teal7: #8dcec3;
    --wds-theme-teal-teal8: #53b9ab;
    --wds-theme-teal-teal9: #12a594;
    --wds-theme-teal-teal10: #0e9888;
    --wds-theme-teal-teal11: #067a6f;
    --wds-theme-cyan-cyan1: #fafdfe;
    --wds-theme-cyan-cyan2: #f2fcfd;
    --wds-theme-cyan-cyan3: #e7f9fb;
    --wds-theme-cyan-cyan4: #d8f3f6;
    --wds-theme-cyan-cyan5: #c4eaef;
    --wds-theme-cyan-cyan6: #aadee6;
    --wds-theme-cyan-cyan7: #84cdda;
    --wds-theme-cyan-cyan8: #3db9cf;
    --wds-theme-cyan-cyan9: #05a2c2;
    --wds-theme-cyan-cyan10: #0894b3;
    --wds-theme-cyan-cyan11: #0c7792;
    --wds-theme-cyan-cyan12: #04313c;
    --wds-theme-indigo-indigo1: #fdfdfe;
    --wds-theme-indigo-indigo2: #f8faff;
    --wds-theme-indigo-indigo3: #f0f4ff;
    --wds-theme-indigo-indigo4: #e6edfe;
    --wds-theme-indigo-indigo5: #d9e2fc;
    --wds-theme-indigo-indigo6: #c6d4f9;
    --wds-theme-indigo-indigo7: #aec0f5;
    --wds-theme-indigo-indigo8: #8da4ef;
    --wds-theme-indigo-indigo9: #3e63dd;
    --wds-theme-indigo-indigo10: #3a5ccc;
    --wds-theme-indigo-indigo11: #3451b2;
    --wds-theme-indigo-indigo12: #101d46;
    --wds-theme-violet-violet1: #fdfcfe;
    --wds-theme-violet-violet2: #fbfaff;
    --wds-theme-violet-violet3: #f5f2ff;
    --wds-theme-violet-violet4: #ede9fe;
    --wds-theme-violet-violet5: #e4defc;
    --wds-theme-violet-violet6: #d7cff9;
    --wds-theme-violet-violet7: #c4b8f3;
    --wds-theme-violet-violet8: #aa99ec;
    --wds-theme-violet-violet9: #6e56cf;
    --wds-theme-violet-violet10: #644fc1;
    --wds-theme-violet-violet11: #5746af;
    --wds-theme-violet-violet12: #20134b;
    --wds-theme-purple-purple1: #fefcfe;
    --wds-theme-purple-purple2: #fdfaff;
    --wds-theme-purple-purple3: #f9f1fe;
    --wds-theme-purple-purple4: #f3e7fc;
    --wds-theme-purple-purple5: #eddbf9;
    --wds-theme-purple-purple6: #e3ccf4;
    --wds-theme-purple-purple7: #d3b4ed;
    --wds-theme-purple-purple8: #be93e4;
    --wds-theme-purple-purple9: #8e4ec6;
    --wds-theme-purple-purple10: #8445bc;
    --wds-theme-purple-purple11: #793aaf;
    --wds-theme-purple-purple12: #2b0e44;
    --wds-theme-lime-lime1: #fcfdfa;
    --wds-theme-lime-lime2: #f7fcf0;
    --wds-theme-lime-lime3: #eefadc;
    --wds-theme-lime-lime4: #e4f7c7;
    --wds-theme-lime-lime5: #d7f2b0;
    --wds-theme-lime-lime6: #c9e894;
    --wds-theme-lime-lime7: #b1d16a;
    --wds-theme-lime-lime8: #94ba2c;
    --wds-theme-lime-lime9: #99d52a;
    --wds-theme-lime-lime10: #93c926;
    --wds-theme-lime-lime11: #5d770d;
    --wds-theme-lime-lime12: #263209;
    --wds-theme-yellow-yellow1: #fdfdf9;
    --wds-theme-yellow-yellow2: #fffce8;
    --wds-theme-yellow-yellow3: #fffbd1;
    --wds-theme-yellow-yellow4: #fff8bb;
    --wds-theme-yellow-yellow5: #fef2a4;
    --wds-theme-yellow-yellow6: #f9e68c;
    --wds-theme-yellow-yellow7: #efd36c;
    --wds-theme-yellow-yellow8: #ebbc00;
    --wds-theme-yellow-yellow9: #f5d90a;
    --wds-theme-yellow-yellow10: #f7ce00;
    --wds-theme-yellow-yellow11: #946800;
    --wds-theme-yellow-yellow12: #35290f;
    --wds-theme-amber-amber1: #fefdfb;
    --wds-theme-amber-amber2: #fff9ed;
    --wds-theme-amber-amber3: #fff4d5;
    --wds-theme-amber-amber4: #ffecbc;
    --wds-theme-amber-amber5: #ffe3a2;
    --wds-theme-amber-amber6: #ffd386;
    --wds-theme-amber-amber7: #f3ba63;
    --wds-theme-amber-amber8: #ee9d2b;
    --wds-theme-amber-amber9: #ffb224;
    --wds-theme-amber-amber10: #ffa01c;
    --wds-theme-amber-amber11: #ad5700;
    --wds-theme-amber-amber12: #4e2009;
    --wds-theme-slate-slate1: #fbfcfd;
    --wds-theme-slate-slate2: #f8f9fa;
    --wds-theme-slate-slate3: #f1f3f5;
    --wds-theme-slate-slate4: #eceef0;
    --wds-theme-slate-slate5: #e6e8eb;
    --wds-theme-slate-slate6: #dfe3e6;
    --wds-theme-slate-slate7: #d7dbdf;
    --wds-theme-slate-slate8: #c1c8cd;
    --wds-theme-slate-slate9: #889096;
    --wds-theme-slate-slate10: #7e868c;
    --wds-theme-slate-slate11: #687076;
    --wds-theme-slate-slate12: #11181c;
    --wds-theme-sage-sage1: #fbfdfc;
    --wds-theme-sage-sage2: #f8faf9;
    --wds-theme-sage-sage3: #f1f4f3;
    --wds-theme-sage-sage4: #ecefed;
    --wds-theme-sage-sage5: #e6e9e8;
    --wds-theme-sage-sage6: #dfe4e2;
    --wds-theme-sage-sage7: #d7dcda;
    --wds-theme-sage-sage8: #c2c9c6;
    --wds-theme-sage-sage9: #8a918e;
    --wds-theme-sage-sage10: #808784;
    --wds-theme-sage-sage11: #6a716e;
    --wds-theme-sage-sage12: #111c18;
    --wds-theme-olive-olive1: #fcfdfc;
    --wds-theme-olive-olive2: #f8faf8;
    --wds-theme-olive-olive3: #f2f4f2;
    --wds-theme-olive-olive4: #ecefec;
    --wds-theme-olive-olive5: #e6e9e6;
    --wds-theme-olive-olive6: #e0e4e0;
    --wds-theme-olive-olive7: #d8dcd8;
    --wds-theme-olive-olive8: #c3c8c2;
    --wds-theme-olive-olive9: #8b918a;
    --wds-theme-olive-olive10: #818780;
    --wds-theme-olive-olive11: #6b716a;
    --wds-theme-olive-olive12: #141e12;
    --wds-theme-sand-sand1: #fdfdfc;
    --wds-theme-sand-sand2: #f9f9f8;
    --wds-theme-sand-sand3: #f3f3f2;
    --wds-theme-sand-sand4: #eeeeec;
    --wds-theme-sand-sand5: #e9e9e6;
    --wds-theme-sand-sand6: #e3e3e0;
    --wds-theme-sand-sand7: #dbdbd7;
    --wds-theme-sand-sand8: #c8c7c1;
    --wds-theme-sand-sand9: #90908c;
    --wds-theme-sand-sand10: #868682;
    --wds-theme-sand-sand11: #706f6c;
    --wds-theme-sand-sand12: #1b1b18;
    --wds-theme-gold-gold1: #fdfdfc;
    --wds-theme-gold-gold2: #fbf9f2;
    --wds-theme-gold-gold3: #f5f2e9;
    --wds-theme-gold-gold4: #eeeadd;
    --wds-theme-gold-gold5: #e5dfd0;
    --wds-theme-gold-gold6: #dad1bd;
    --wds-theme-gold-gold7: #cbbda4;
    --wds-theme-gold-gold8: #b8a383;
    --wds-theme-gold-gold9: #978365;
    --wds-theme-gold-gold10: #8c795d;
    --wds-theme-gold-gold11: #776750;
    --wds-theme-gold-gold12: #3b352b;
    --wds-theme-bronze-bronze1: #fdfcfc;
    --wds-theme-bronze-bronze2: #fdf8f6;
    --wds-theme-bronze-bronze3: #f8f1ee;
    --wds-theme-bronze-bronze4: #f2e8e4;
    --wds-theme-bronze-bronze5: #eaddd7;
    --wds-theme-bronze-bronze6: #e0cec7;
    --wds-theme-bronze-bronze7: #d1b9b0;
    --wds-theme-bronze-bronze8: #bfa094;
    --wds-theme-bronze-bronze9: #a18072;
    --wds-theme-bronze-bronze10: #977669;
    --wds-theme-bronze-bronze11: #846358;
    --wds-theme-bronze-bronze12: #43302b;
    --wds-theme-mauve-mauve1: #fdfcfd;
    --wds-theme-mauve-mauve2: #f0eff5;
    --wds-theme-mauve-mauve3: #eae8f0;
    --wds-theme-mauve-mauve4: #e5e3ed;
    --wds-theme-mauve-mauve5: #e1dde8;
    --wds-theme-mauve-mauve6: #dad5df;
    --wds-theme-mauve-mauve7: #dcdbdd;
    --wds-theme-mauve-mauve8: #c8c7cb;
    --wds-theme-mauve-mauve9: #908e96;
    --wds-theme-mauve-mauve10: #86848d;
    --wds-theme-mauve-mauve11: #6f6e77;
    --wds-theme-mauve-mauve12: #1a1523;
    --wds-theme-mauve-mauve0: rgba(253, 252, 253, 0);
    --wds-theme-mauve-mauve0-5: rgba(253, 252, 253, 0.7);
    --wds-theme-overlay-white-white1: rgba(255, 255, 255, 0);
    --wds-theme-overlay-white-white2: rgba(255, 255, 255, 0.01);
    --wds-theme-overlay-white-white3: rgba(255, 255, 255, 0.03);
    --wds-theme-overlay-white-white4: rgba(255, 255, 255, 0.06);
    --wds-theme-overlay-white-white5: rgba(255, 255, 255, 0.09);
    --wds-theme-overlay-white-white6: rgba(255, 255, 255, 0.12);
    --wds-theme-overlay-white-white7: rgba(255, 255, 255, 0.18);
    --wds-theme-overlay-white-white8: rgba(255, 255, 255, 0.25);
    --wds-theme-overlay-white-white9: rgba(255, 255, 255, 0.39);
    --wds-theme-overlay-white-white10: rgba(255, 255, 255, 0.45);
    --wds-theme-overlay-white-white11: rgba(255, 255, 255, 0.53);
    --wds-theme-overlay-white-white12: rgba(255, 255, 255, 0.92);
    --wds-theme-overlay-black-black1: rgba(0, 0, 0, 0.01);
    --wds-theme-overlay-black-black2: rgba(0, 0, 0, 0.03);
    --wds-theme-overlay-black-black3: rgba(0, 0, 0, 0.05);
    --wds-theme-overlay-black-black4: rgba(0, 0, 0, 0.07);
    --wds-theme-overlay-black-black5: rgba(0, 0, 0, 0.09);
    --wds-theme-overlay-black-black6: rgba(0, 0, 0, 0.11);
    --wds-theme-overlay-black-black7: rgba(0, 0, 0, 0.14);
    --wds-theme-overlay-black-black8: rgba(0, 0, 0, 0.22);
    --wds-theme-overlay-black-black9: rgba(0, 0, 0, 0.44);
    --wds-theme-overlay-black-black10: rgba(0, 0, 0, 0.48);
    --wds-theme-overlay-black-black11: rgba(0, 0, 0, 0.56);
    --wds-theme-overlay-black-black12: rgba(0, 0, 0, 0.91);
    --wds-theme-overlay-highlight-highlight1: rgba(0, 0, 0, 0.01);
    --wds-theme-overlay-highlight-highlight2: rgba(0, 0, 0, 0.03);
    --wds-theme-overlay-highlight-highlight3: rgba(0, 0, 0, 0.05);
    --wds-theme-overlay-highlight-highlight4: rgba(0, 0, 0, 0.07);
    --wds-theme-overlay-highlight-highlight5: rgba(0, 0, 0, 0.09);
    --wds-theme-overlay-highlight-highlight6: rgba(0, 0, 0, 0.11);
    --wds-theme-overlay-highlight-highlight7: rgba(0, 0, 0, 0.14);
    --wds-theme-overlay-highlight-highlight8: rgba(0, 0, 0, 0.22);
    --wds-theme-overlay-highlight-highlight9: rgba(0, 0, 0, 0.44);
    --wds-theme-overlay-highlight-highlight10: rgba(0, 0, 0, 0.48);
    --wds-theme-overlay-highlight-highlight11: rgba(0, 0, 0, 0.56);
    --wds-theme-overlay-highlight-highlight12: rgba(0, 0, 0, 0.91);
    --wds-theme-overlay-highlight-highlight1-neg: rgba(255, 255, 255, 0);
    --wds-theme-overlay-highlight-highlight2-neg: rgba(255, 255, 255, 0.01);
    --wds-theme-overlay-highlight-highlight3-neg: rgba(255, 255, 255, 0.03);
    --wds-theme-overlay-highlight-highlight4-neg: rgba(255, 255, 255, 0.06);
    --wds-theme-overlay-highlight-highlight5-neg: rgba(255, 255, 255, 0.09);
    --wds-theme-overlay-highlight-highlight6-neg: rgba(255, 255, 255, 0.12);
    --wds-theme-overlay-highlight-highlight7-neg: rgba(255, 255, 255, 0.18);
    --wds-theme-overlay-highlight-highlight8-neg: rgba(255, 255, 255, 0.39);
    --wds-theme-overlay-highlight-highlight9-neg: rgba(255, 255, 255, 0.39);
    --wds-theme-overlay-highlight-highlight10-neg: rgba(255, 255, 255, 0.45);
    --wds-theme-overlay-highlight-highlight11-neg: rgba(255, 255, 255, 0.53);
    --wds-theme-overlay-highlight-highlight12-neg: rgba(255, 255, 255, 0.92);

    [data-variant='Default'] {
      --wds-color-color1: #fdfcfd;
      --wds-color-color2: #f0eff5;
      --wds-color-color3: #eae8f0;
      --wds-color-color4: #e5e3ed;
      --wds-color-color5: #e1dde8;
      --wds-color-color6: #dad5df;
      --wds-color-color7: #dcdbdd;
      --wds-color-color8: #c8c7cb;
      --wds-color-color9: #908e96;
      --wds-color-color10: #86848d;
      --wds-color-color11: #6f6e77;
      --wds-color-color12: #1a1523;
      --wds-color-color0: rgba(253, 252, 253, 0);
      --wds-color-color0-5: rgba(253, 252, 253, 0.7);
    }

    [data-variant='Accent'] {
      --wds-color-color1: #fefcfb;
      --wds-color-color2: #fef8f4;
      --wds-color-color3: #fff1e7;
      --wds-color-color4: #ffe8d7;
      --wds-color-color5: #ffdcc3;
      --wds-color-color6: #ffcca7;
      --wds-color-color7: #ffb381;
      --wds-color-color8: #f87f2e;
      --wds-color-color9: #f76808;
      --wds-color-color10: #ed5f00;
      --wds-color-color11: #bd4b00;
      --wds-color-color12: #451e11;
      --wds-color-color0: #ffffff;
      --wds-color-color0-5: #ffffff;
    }

    [data-variant='Red'] {
      --wds-color-color1: #fffcfc;
      --wds-color-color2: #fff8f8;
      --wds-color-color3: #ffefef;
      --wds-color-color4: #ffe5e5;
      --wds-color-color5: #fdd8d8;
      --wds-color-color6: #f9c6c6;
      --wds-color-color7: #f3aeaf;
      --wds-color-color8: #eb9091;
      --wds-color-color9: #e5484d;
      --wds-color-color10: #dc3d43;
      --wds-color-color11: #cd2b31;
      --wds-color-color12: #381316;
      --wds-color-color0: #ffffff;
      --wds-color-color0-5: #ffffff;
    }

    [data-variant='Green'] {
      --wds-color-color1: #fbfefc;
      --wds-color-color2: #f2fcf5;
      --wds-color-color3: #e9f9ee;
      --wds-color-color4: #ddf3e4;
      --wds-color-color5: #ccebd7;
      --wds-color-color6: #b4dfc4;
      --wds-color-color7: #92ceac;
      --wds-color-color8: #5bb98c;
      --wds-color-color9: #30a46c;
      --wds-color-color10: #299764;
      --wds-color-color11: #18794e;
      --wds-color-color12: #153226;
      --wds-color-color0: #ffffff;
      --wds-color-color0-5: #ffffff;
    }
  }
}
