.Light {
  $wds-colors-defaults-tomato-tomato10: #db4324;
  $wds-colors-defaults-tomato-tomato7: #f3b0a2;
  $wds-colors-defaults-tomato-tomato5: #fdd8d3;
  $wds-colors-defaults-tomato-tomato12: #341711;
  $wds-colors-defaults-tomato-tomato11: #ca3214;
  $wds-colors-defaults-tomato-tomato9: #e54d2e;
  $wds-colors-defaults-tomato-tomato3: #fff0ee;
  $wds-colors-defaults-tomato-tomato8: #ea9280;
  $wds-colors-defaults-tomato-tomato2: #fff8f7;
  $wds-colors-defaults-tomato-tomato4: #ffe6e2;
  $wds-colors-defaults-tomato-tomato1: #fffcfc;
  $wds-colors-defaults-red-tomato6: #fac7be;
  $wds-colors-defaults-red-red4: #ffe5e5;
  $wds-colors-defaults-red-red5: #fdd8d8;
  $wds-colors-defaults-red-red9: #e5484d;
  $wds-colors-defaults-red-red8: #eb9091;
  $wds-colors-defaults-red-red12: #381316;
  $wds-colors-defaults-red-red6: #f9c6c6;
  $wds-colors-defaults-red-red3: #ffefef;
  $wds-colors-defaults-red-red1: #fffcfc;
  $wds-colors-defaults-red-red2: #fff8f8;
  $wds-colors-defaults-red-red7: #f3aeaf;
  $wds-colors-defaults-red-red10: #dc3d43;
  $wds-colors-defaults-red-red11: #cd2b31;
  $wds-colors-defaults-violet-violet10: #644fc1;
  $wds-colors-defaults-violet-violet12: #20134b;
  $wds-colors-defaults-violet-violet9: #6e56cf;
  $wds-colors-defaults-violet-violet3: #f5f2ff;
  $wds-colors-defaults-violet-violet4: #ede9fe;
  $wds-colors-defaults-violet-violet8: #aa99ec;
  $wds-colors-defaults-violet-violet1: #fdfcfe;
  $wds-colors-defaults-violet-violet7: #c4b8f3;
  $wds-colors-defaults-violet-violet6: #d7cff9;
  $wds-colors-defaults-violet-violet5: #e4defc;
  $wds-colors-defaults-violet-violet11: #5746af;
  $wds-colors-defaults-violet-violet2: #fbfaff;
  $wds-colors-defaults-indigo-indigo10: #3a5ccc;
  $wds-colors-defaults-indigo-indigo8: #8da4ef;
  $wds-colors-defaults-indigo-indigo7: #aec0f5;
  $wds-colors-defaults-indigo-indigo2: #f8faff;
  $wds-colors-defaults-indigo-indigo9: #3e63dd;
  $wds-colors-defaults-indigo-indigo3: #f0f4ff;
  $wds-colors-defaults-indigo-indigo6: #c6d4f9;
  $wds-colors-defaults-indigo-indigo5: #d9e2fc;
  $wds-colors-defaults-indigo-indigo12: #101d46;
  $wds-colors-defaults-indigo-indigo4: #e6edfe;
  $wds-colors-defaults-indigo-indigo11: #3451b2;
  $wds-colors-defaults-indigo-indigo1: #fdfdfe;
  $wds-colors-defaults-blue-blue7: #96c7f2;
  $wds-colors-defaults-blue-blue9: #0091ff;
  $wds-colors-defaults-blue-blue6: #b7d9f8;
  $wds-colors-defaults-blue-blue5: #cee7fe;
  $wds-colors-defaults-blue-blue4: #e1f0ff;
  $wds-colors-defaults-blue-blue10: #0081f1;
  $wds-colors-defaults-blue-blue8: #5eb0ef;
  $wds-colors-defaults-blue-blue2: #f5faff;
  $wds-colors-defaults-blue-blue3: #edf6ff;
  $wds-colors-defaults-blue-blue11: #006adc;
  $wds-colors-defaults-blue-blue12: #00254d;
  $wds-colors-defaults-blue-blue1: #fbfdff;
  $wds-colors-defaults-cyan-cyan10: #0894b3;
  $wds-colors-defaults-cyan-cyan8: #3db9cf;
  $wds-colors-defaults-cyan-cyan7: #84cdda;
  $wds-colors-defaults-cyan-cyan2: #f2fcfd;
  $wds-colors-defaults-cyan-cyan4: #d8f3f6;
  $wds-colors-defaults-cyan-cyan5: #c4eaef;
  $wds-colors-defaults-cyan-cyan12: #04313c;
  $wds-colors-defaults-cyan-cyan9: #05a2c2;
  $wds-colors-defaults-cyan-cyan3: #e7f9fb;
  $wds-colors-defaults-cyan-cyan6: #aadee6;
  $wds-colors-defaults-cyan-cyan11: #0c7792;
  $wds-colors-defaults-cyan-cyan1: #fafdfe;
  $wds-colors-defaults-teal-teal9: #12a594;
  $wds-colors-defaults-teal-teal7: #8dcec3;
  $wds-colors-defaults-teal-teal5: #c7ebe5;
  $wds-colors-defaults-teal-teal4: #d9f3ee;
  $wds-colors-defaults-teal-teal10: #0e9888;
  $wds-colors-defaults-teal-teal3: #e7f9f5;
  $wds-colors-defaults-teal-teal8: #53b9ab;
  $wds-colors-defaults-teal-teal6: #afdfd7;
  $wds-colors-defaults-teal-teal1: #fafefd;
  $wds-colors-defaults-teal-teal12: #10302b;
  $wds-colors-defaults-teal-teal11: #067a6f;
  $wds-colors-defaults-teal-teal2: #f1fcfa;
  $wds-colors-defaults-green-green9: #30a46c;
  $wds-colors-defaults-green-green10: #299764;
  $wds-colors-defaults-green-green7: #92ceac;
  $wds-colors-defaults-green-green12: #153226;
  $wds-colors-defaults-green-green6: #b4dfc4;
  $wds-colors-defaults-green-green5: #ccebd7;
  $wds-colors-defaults-green-green11: #18794e;
  $wds-colors-defaults-green-green4: #ddf3e4;
  $wds-colors-defaults-green-green3: #e9f9ee;
  $wds-colors-defaults-green-green8: #5bb98c;
  $wds-colors-defaults-green-green2: #f2fcf5;
  $wds-colors-defaults-green-green1: #fbfefc;
  $wds-colors-defaults-grass-grass10: #3d9a50;
  $wds-colors-defaults-grass-grass6: #b7dfba;
  $wds-colors-defaults-grass-grass9: #46a758;
  $wds-colors-defaults-grass-grass8: #65ba75;
  $wds-colors-defaults-grass-grass12: #1b311e;
  $wds-colors-defaults-grass-grass5: #ceebcf;
  $wds-colors-defaults-grass-grass7: #97cf9c;
  $wds-colors-defaults-grass-grass4: #dff3df;
  $wds-colors-defaults-grass-grass3: #ebf9eb;
  $wds-colors-defaults-grass-grass2: #f3fcf3;
  $wds-colors-defaults-grass-grass1: #fbfefb;
  $wds-colors-defaults-grass-grass11: #297c3b;
  $wds-colors-defaults-orange-orange10: #ed5f00;
  $wds-colors-defaults-orange-orange9: #f76808;
  $wds-colors-defaults-orange-orange11: #bd4b00;
  $wds-colors-defaults-orange-orange8: #fa934e;
  $wds-colors-defaults-orange-orange2: #fef8f4;
  $wds-colors-defaults-orange-orange7: #ffb381;
  $wds-colors-defaults-orange-orange4: #ffe8d7;
  $wds-colors-defaults-orange-orange12: #451e11;
  $wds-colors-defaults-orange-orange5: #ffdcc3;
  $wds-colors-defaults-orange-orange3: #fff1e7;
  $wds-colors-defaults-orange-orange6: #ffcca7;
  $wds-colors-defaults-orange-orange1: #fefcfb;
  $wds-colors-defaults-brown-brown10: #a07653;
  $wds-colors-defaults-brown-brown9: #ad7f58;
  $wds-colors-defaults-brown-brown7: #ddb896;
  $wds-colors-defaults-brown-brown6: #e8cdb5;
  $wds-colors-defaults-brown-brown5: #efddcc;
  $wds-colors-defaults-brown-brown1: #fefdfc;
  $wds-colors-defaults-brown-brown12: #3f2c22;
  $wds-colors-defaults-brown-brown2: #fcf9f6;
  $wds-colors-defaults-brown-brown3: #f8f1ea;
  $wds-colors-defaults-brown-brown8: #d09e72;
  $wds-colors-defaults-brown-brown4: #f4e9dd;
  $wds-colors-defaults-brown-brown11: #886349;
  $wds-colors-defaults-sky-sky10: #5fd4f4;
  $wds-colors-defaults-sky-sky8: #2ebde5;
  $wds-colors-defaults-sky-sky12: #003242;
  $wds-colors-defaults-sky-sky7: #79cfea;
  $wds-colors-defaults-sky-sky6: #a4dff1;
  $wds-colors-defaults-sky-sky11: #0078a1;
  $wds-colors-defaults-sky-sky5: #c1ecf9;
  $wds-colors-defaults-sky-sky3: #e4f9ff;
  $wds-colors-defaults-sky-sky9: #68ddfd;
  $wds-colors-defaults-sky-sky1: #f9feff;
  $wds-colors-defaults-sky-sky2: #f1fcff;
  $wds-colors-defaults-sky-sky4: #d5f4fd;
  $wds-colors-defaults-mint-mint10: #69d9c1;
  $wds-colors-defaults-mint-mint12: #09342e;
  $wds-colors-defaults-mint-mint3: #e1fbf4;
  $wds-colors-defaults-mint-mint8: #40c4aa;
  $wds-colors-defaults-mint-mint7: #7dd4c0;
  $wds-colors-defaults-mint-mint6: #a5e4d4;
  $wds-colors-defaults-mint-mint4: #d2f7ed;
  $wds-colors-defaults-mint-mint11: #147d6f;
  $wds-colors-defaults-mint-mint9: #70e1c8;
  $wds-colors-defaults-mint-mint5: #c0efe3;
  $wds-colors-defaults-mint-mint2: #effefa;
  $wds-colors-defaults-mint-mint1: #f9fefd;
  $wds-colors-defaults-lime-lime9: #99d52a;
  $wds-colors-defaults-lime-lime4: #e4f7c7;
  $wds-colors-defaults-lime-lime8: #94ba2c;
  $wds-colors-defaults-lime-lime10: #93c926;
  $wds-colors-defaults-lime-lime11: #5d770d;
  $wds-colors-defaults-lime-lime7: #b1d16a;
  $wds-colors-defaults-lime-lime6: #c9e894;
  $wds-colors-defaults-lime-lime5: #d7f2b0;
  $wds-colors-defaults-lime-lime12: #263209;
  $wds-colors-defaults-lime-lime2: #f7fcf0;
  $wds-colors-defaults-lime-lime3: #eefadc;
  $wds-colors-defaults-lime-lime1: #fcfdfa;
  $wds-colors-defaults-yellow-yellow10: #f7ce00;
  $wds-colors-defaults-yellow-yellow4: #fff8bb;
  $wds-colors-defaults-yellow-yellow9: #f5d90a;
  $wds-colors-defaults-yellow-yellow2: #fffce8;
  $wds-colors-defaults-yellow-yellow8: #ebbc00;
  $wds-colors-defaults-yellow-yellow7: #efd36c;
  $wds-colors-defaults-yellow-yellow5: #fef2a4;
  $wds-colors-defaults-yellow-yellow1: #fdfdf9;
  $wds-colors-defaults-yellow-yellow3: #fffbd1;
  $wds-colors-defaults-yellow-yellow12: #35290f;
  $wds-colors-defaults-yellow-yellow6: #f9e68c;
  $wds-colors-defaults-yellow-yellow11: #946800;
  $wds-colors-defaults-amber-amber10: #ffa01c;
  $wds-colors-defaults-amber-amber9: #ffb224;
  $wds-colors-defaults-amber-amber6: #ffd386;
  $wds-colors-defaults-amber-amber11: #ad5700;
  $wds-colors-defaults-amber-amber7: #f3ba63;
  $wds-colors-defaults-amber-amber4: #ffecbc;
  $wds-colors-defaults-amber-amber5: #ffe3a2;
  $wds-colors-defaults-amber-amber1: #fefdfb;
  $wds-colors-defaults-amber-amber12: #4e2009;
  $wds-colors-defaults-amber-amber8: #ee9d2b;
  $wds-colors-defaults-amber-amber2: #fff9ed;
  $wds-colors-defaults-amber-amber3: #fff4d5;
  $wds-colors-defaults-gray-gray10: #858585;
  $wds-colors-defaults-gray-gray9: #8f8f8f;
  $wds-colors-defaults-gray-gray8: #c7c7c7;
  $wds-colors-defaults-gray-gray7: #dbdbdb;
  $wds-colors-defaults-gray-gray5: #e8e8e8;
  $wds-colors-defaults-gray-gray3: #f3f3f3;
  $wds-colors-defaults-gray-gray1: #fcfcfc;
  $wds-colors-defaults-gray-gray12: #171717;
  $wds-colors-defaults-gray-gray11: #6f6f6f;
  $wds-colors-defaults-gray-gray6: #e2e2e2;
  $wds-colors-defaults-gray-gray4: #ededed;
  $wds-colors-defaults-gray-gray2: #f8f8f8;
  $wds-colors-defaults-mauve-mauve10: #86848d;
  $wds-colors-defaults-mauve-mauve7: #dcdbdd;
  $wds-colors-defaults-mauve-mauve5: #e9e8ea;
  $wds-colors-defaults-mauve-mauve8: #c8c7cb;
  $wds-colors-defaults-mauve-mauve6: #e4e2e4;
  $wds-colors-defaults-mauve-mauve4: #eeedef;
  $wds-colors-defaults-mauve-mauve1: #fdfcfd;
  $wds-colors-defaults-mauve-mauve12: #1a1523;
  $wds-colors-defaults-mauve-mauve11: #6f6e77;
  $wds-colors-defaults-mauve-mauve2: #f9f8f9;
  $wds-colors-defaults-mauve-mauve9: #908e96;
  $wds-colors-defaults-mauve-mauve3: #f4f2f4;
  $wds-colors-defaults-slate-slate6: #dfe3e6;
  $wds-colors-defaults-slate-slate9: #889096;
  $wds-colors-defaults-slate-slate4: #eceef0;
  $wds-colors-defaults-slate-slate7: #d7dbdf;
  $wds-colors-defaults-slate-slate8: #c1c8cd;
  $wds-colors-defaults-slate-slate5: #e6e8eb;
  $wds-colors-defaults-slate-slate10: #7e868c;
  $wds-colors-defaults-slate-slate1: #fbfcfd;
  $wds-colors-defaults-slate-slate11: #687076;
  $wds-colors-defaults-slate-slate2: #f8f9fa;
  $wds-colors-defaults-slate-slate3: #f1f3f5;
  $wds-colors-defaults-slate-slate12: #11181c;
  $wds-colors-defaults-slate-transparent1: rgba(251, 252, 253, 0);
  $wds-colors-defaults-slate-muted10: rgba(126, 134, 140, 0.3);
  $wds-colors-defaults-slate-muted7: rgba(215, 219, 223, 0.3);
  $wds-colors-defaults-slate-muted8: rgba(193, 200, 205, 0.3);
  $wds-colors-defaults-slate-muted3: rgba(241, 243, 245, 0.3);
  $wds-colors-defaults-slate-muted5: rgba(230, 232, 235, 0.3);
  $wds-colors-defaults-slate-muted4: rgba(236, 238, 240, 0.3);
  $wds-colors-defaults-slate-muted12: rgba(17, 24, 28, 0.3);
  $wds-colors-defaults-slate-muted6: rgba(223, 227, 230, 0.3);
  $wds-colors-defaults-slate-muted11: rgba(104, 112, 118, 0.3);
  $wds-colors-defaults-slate-muted9: rgba(136, 144, 150, 0.3);
  $wds-colors-defaults-slate-muted2: rgba(248, 249, 250, 0.3);
  $wds-colors-defaults-slate-muted1: rgba(251, 252, 253, 0.3);
  $wds-colors-defaults-sage-sage7: #d7dcda;
  $wds-colors-defaults-sage-sage6: #dfe4e2;
  $wds-colors-defaults-sage-sage3: #f1f4f3;
  $wds-colors-defaults-sage-sage11: #6a716e;
  $wds-colors-defaults-sage-sage9: #8a918e;
  $wds-colors-defaults-sage-sage5: #e6e9e8;
  $wds-colors-defaults-sage-sage10: #808784;
  $wds-colors-defaults-sage-sage4: #ecefed;
  $wds-colors-defaults-sage-sage1: #fbfdfc;
  $wds-colors-defaults-sage-sage12: #111c18;
  $wds-colors-defaults-sage-sage8: #c2c9c6;
  $wds-colors-defaults-sage-sage2: #f8faf9;
  $wds-colors-defaults-olive-olive10: #818780;
  $wds-colors-defaults-olive-olive8: #c3c8c2;
  $wds-colors-defaults-olive-olive6: #e0e4e0;
  $wds-colors-defaults-olive-olive1: #fcfdfc;
  $wds-colors-defaults-olive-olive9: #8b918a;
  $wds-colors-defaults-olive-olive5: #e6e9e6;
  $wds-colors-defaults-olive-olive4: #ecefec;
  $wds-colors-defaults-olive-olive3: #f2f4f2;
  $wds-colors-defaults-olive-olive12: #141e12;
  $wds-colors-defaults-olive-olive11: #6b716a;
  $wds-colors-defaults-olive-olive7: #d8dcd8;
  $wds-colors-defaults-olive-olive2: #f8faf8;
  $wds-colors-defaults-sand-sand10: #868682;
  $wds-colors-defaults-sand-sand6: #e3e3e0;
  $wds-colors-defaults-sand-sand4: #eeeeec;
  $wds-colors-defaults-sand-sand9: #90908c;
  $wds-colors-defaults-sand-sand7: #dbdbd7;
  $wds-colors-defaults-sand-sand5: #e9e9e6;
  $wds-colors-defaults-sand-sand12: #1b1b18;
  $wds-colors-defaults-sand-sand2: #f9f9f8;
  $wds-colors-defaults-sand-sand11: #706f6c;
  $wds-colors-defaults-sand-sand3: #f3f3f2;
  $wds-colors-defaults-sand-sand8: #c8c7c1;
  $wds-colors-defaults-sand-sand1: #fdfdfc;
  $wds-colors-defaults-gold-gold7: #cbbda4;
  $wds-colors-defaults-gold-gold8: #b8a383;
  $wds-colors-defaults-gold-gold6: #dad1bd;
  $wds-colors-defaults-gold-gold5: #e5dfd0;
  $wds-colors-defaults-gold-gold4: #eeeadd;
  $wds-colors-defaults-gold-gold10: #8c795d;
  $wds-colors-defaults-gold-gold1: #fdfdfc;
  $wds-colors-defaults-gold-gold9: #978365;
  $wds-colors-defaults-gold-gold3: #f5f2e9;
  $wds-colors-defaults-gold-gold12: #3b352b;
  $wds-colors-defaults-gold-gold11: #776750;
  $wds-colors-defaults-gold-gold2: #fbf9f2;
  $wds-colors-defaults-bronze-bronze10: #977669;
  $wds-colors-defaults-bronze-bronze1: #fdfcfc;
  $wds-colors-defaults-bronze-bronze9: #a18072;
  $wds-colors-defaults-bronze-bronze8: #bfa094;
  $wds-colors-defaults-bronze-bronze11: #846358;
  $wds-colors-defaults-bronze-bronze5: #eaddd7;
  $wds-colors-defaults-bronze-bronze4: #f2e8e4;
  $wds-colors-defaults-bronze-bronze2: #fdf8f6;
  $wds-colors-defaults-bronze-bronze3: #f8f1ee;
  $wds-colors-defaults-bronze-bronze12: #43302b;
  $wds-colors-defaults-bronze-bronze7: #d1b9b0;
  $wds-colors-defaults-bronze-bronze6: #e0cec7;
  $wds-colors-defaults-crimson-crimson10: #e03177;
  $wds-colors-defaults-crimson-crimson6: #f4c6db;
  $wds-colors-defaults-crimson-crimson9: #e93d82;
  $wds-colors-defaults-crimson-crimson4: #fce5f0;
  $wds-colors-defaults-crimson-crimson7: #edadc8;
  $wds-colors-defaults-crimson-crimson5: #f9d8e7;
  $wds-colors-defaults-crimson-crimson11: #d31e66;
  $wds-colors-defaults-crimson-crimson12: #3d0d1d;
  $wds-colors-defaults-crimson-crimson2: #fff7fb;
  $wds-colors-defaults-crimson-crimson3: #feeff6;
  $wds-colors-defaults-crimson-crimson8: #e58fb1;
  $wds-colors-defaults-crimson-crimson1: #fffcfd;
  $wds-colors-defaults-pink-pink10: #d23197;
  $wds-colors-defaults-pink-pink9: #d6409f;
  $wds-colors-defaults-pink-pink7: #ecadd4;
  $wds-colors-defaults-pink-pink1: #fffcfe;
  $wds-colors-defaults-pink-pink11: #cd1d8d;
  $wds-colors-defaults-pink-pink6: #f3c6e2;
  $wds-colors-defaults-pink-pink8: #e38ec3;
  $wds-colors-defaults-pink-pink5: #f9d8ec;
  $wds-colors-defaults-pink-pink4: #fce5f3;
  $wds-colors-defaults-pink-pink3: #feeef8;
  $wds-colors-defaults-pink-pink12: #3b0a2a;
  $wds-colors-defaults-pink-pink2: #fff7fc;
  $wds-colors-defaults-plum-plum10: #a43cb4;
  $wds-colors-defaults-plum-plum9: #ab4aba;
  $wds-colors-defaults-plum-plum12: #340c3b;
  $wds-colors-defaults-plum-plum8: #cf91d8;
  $wds-colors-defaults-plum-plum6: #ebc8ed;
  $wds-colors-defaults-plum-plum2: #fff8ff;
  $wds-colors-defaults-plum-plum5: #f3d9f4;
  $wds-colors-defaults-plum-plum11: #9c2bad;
  $wds-colors-defaults-plum-plum4: #f9e5f9;
  $wds-colors-defaults-plum-plum7: #dfafe3;
  $wds-colors-defaults-plum-plum3: #fceffc;
  $wds-colors-defaults-plum-plum1: #fefcff;
  $wds-colors-defaults-purple-purple10: #8445bc;
  $wds-colors-defaults-purple-purple3: #f9f1fe;
  $wds-colors-defaults-purple-purple8: #be93e4;
  $wds-colors-defaults-purple-purple7: #d3b4ed;
  $wds-colors-defaults-purple-purple4: #f3e7fc;
  $wds-colors-defaults-purple-purple1: #fefcfe;
  $wds-colors-defaults-purple-purple6: #e3ccf4;
  $wds-colors-defaults-purple-purple2: #fdfaff;
  $wds-colors-defaults-purple-purple12: #2b0e44;
  $wds-colors-defaults-purple-purple11: #793aaf;
  $wds-colors-defaults-purple-purple9: #8e4ec6;
  $wds-colors-defaults-purple-purple5: #eddbf9;
  $wds-colors-defaults-overlay-white-white10: rgba(255, 255, 255, 0.45);
  $wds-colors-defaults-overlay-white-white8: rgba(255, 255, 255, 0.25);
  $wds-colors-defaults-overlay-white-white7: rgba(255, 255, 255, 0.18);
  $wds-colors-defaults-overlay-white-white5: rgba(255, 255, 255, 0.09);
  $wds-colors-defaults-overlay-white-white4: rgba(255, 255, 255, 0.06);
  $wds-colors-defaults-overlay-white-white2: rgba(255, 255, 255, 0.03);
  $wds-colors-defaults-overlay-white-white3: rgba(255, 255, 255, 0.03);
  $wds-colors-defaults-overlay-white-white12: rgba(255, 255, 255, 0.92);
  $wds-colors-defaults-overlay-white-white9: rgba(255, 255, 255, 0.39);
  $wds-colors-defaults-overlay-white-white11: rgba(255, 255, 255, 0.53);
  $wds-colors-defaults-overlay-white-white6: rgba(255, 255, 255, 0.12);
  $wds-colors-defaults-overlay-white-white0: rgba(255, 255, 255, 0);
  $wds-colors-defaults-overlay-white-white1: rgba(255, 255, 255, 0.01);
  $wds-colors-defaults-overlay-black-black9: rgba(0, 0, 0, 0.44);
  $wds-colors-defaults-overlay-black-black8: rgba(0, 0, 0, 0.22);
  $wds-colors-defaults-overlay-black-black6: rgba(0, 0, 0, 0.11);
  $wds-colors-defaults-overlay-black-black5: rgba(0, 0, 0, 0.09);
  $wds-colors-defaults-overlay-black-black4: rgba(0, 0, 0, 0.07);
  $wds-colors-defaults-overlay-black-black3: rgba(0, 0, 0, 0.05);
  $wds-colors-defaults-overlay-black-black7: rgba(0, 0, 0, 0.14);
  $wds-colors-defaults-overlay-black-black12: rgba(0, 0, 0, 0.91);
  $wds-colors-defaults-overlay-black-black11: rgba(0, 0, 0, 0.56);
  $wds-colors-defaults-overlay-black-black10: rgba(0, 0, 0, 0.48);
  $wds-colors-defaults-overlay-black-black2: rgba(0, 0, 0, 0.03);
  $wds-colors-defaults-overlay-black-black1: rgba(0, 0, 0, 0.01);
  $wds-colors-defaults-overlay-black-black0: rgba(0, 0, 0, 0.01);
  $wds-colors-base-color9: #8a8e8f;
  $wds-colors-base-color8: #999e9f;
  $wds-colors-base-color3: #dde3e4;
  $wds-colors-base-color5: #c0c8c9;
  $wds-colors-base-color7: #a4acad;
  $wds-colors-base-color4: #cfd7d8;
  $wds-colors-base-color1: #fcfdfd;
  $wds-colors-base-color11: #1f1f2e;
  $wds-colors-base-color12: #181827;
  $wds-colors-base-color6: #b3bcbd;
  $wds-colors-base-color2: #eef1f2;
  $wds-colors-base-color10: #808080;
  $wds-colors-base-transparent1: rgba(252, 253, 253, 0);
  $wds-colors-base-transparent2: rgba(238, 241, 242, 0);
  $wds-colors-shadow-color12: rgba(0, 0, 0, 0.91);
  $wds-colors-shadow-color11: rgba(0, 0, 0, 0.56);
  $wds-colors-shadow-color9: rgba(0, 0, 0, 0.44);
  $wds-colors-shadow-color8: rgba(0, 0, 0, 0.22);
  $wds-colors-shadow-color6: rgba(0, 0, 0, 0.11);
  $wds-colors-shadow-color4: rgba(0, 0, 0, 0.07);
  $wds-colors-shadow-color3: rgba(0, 0, 0, 0.05);
  $wds-colors-shadow-color0: rgba(0, 0, 0, 0.01);
  $wds-colors-shadow-color2: rgba(0, 0, 0, 0.03);
  $wds-colors-shadow-color7: rgba(0, 0, 0, 0.14);
  $wds-colors-shadow-color1: rgba(0, 0, 0, 0.01);
  $wds-colors-shadow-color5: rgba(0, 0, 0, 0.09);
  $wds-colors-shadow-color10: rgba(0, 0, 0, 0.48);
  $wds-colors-ghost-color6: rgba(235, 99, 13, 0.3);
  $wds-colors-ghost-color5: rgba(244, 104, 16, 0.3);
  $wds-colors-ghost-color3: rgba(255, 129, 50, 0.3);
  $wds-colors-ghost-color12: rgba(238, 236, 249, 0.3);
  $wds-colors-ghost-color11: rgba(238, 236, 249, 0.3);
  $wds-colors-ghost-color10: rgba(202, 45, 6, 0.3);
  $wds-colors-ghost-color9: rgba(211, 74, 11, 0.3);
  $wds-colors-ghost-color7: rgba(228, 96, 12, 0.3);
  $wds-colors-ghost-color1: rgba(255, 166, 110, 0.3);
  $wds-colors-ghost-color8: rgba(219, 84, 12, 0.3);
  $wds-colors-ghost-color4: rgba(246, 110, 25, 0.3);
  $wds-colors-ghost-color2: rgba(255, 145, 76, 0.3);
  $wds-colors-accent-color9: #d34a0b;
  $wds-colors-accent-color2: #ff914c;
  $wds-colors-accent-color7: #e4600c;
  $wds-colors-accent-color3: #ff8132;
  $wds-colors-accent-color4: #f66e19;
  $wds-colors-accent-color12: #eeecf9;
  $wds-colors-accent-color11: #eeecf9;
  $wds-colors-accent-color10: #ca2d06;
  $wds-colors-accent-color6: #eb630d;
  $wds-colors-accent-color5: #f46810;
  $wds-colors-accent-color8: #db540c;
  $wds-colors-accent-color1: #ffa66e;
  $wds-colors-accent-transparent1: rgba(235, 99, 13, 0);
  $wds-colors-muted-color1: rgba(252, 253, 253, 0.3);
  $wds-colors-muted-color2: rgba(238, 241, 242, 0.3);
  $wds-colors-muted-color3: rgba(221, 227, 228, 0.3);
  $wds-colors-muted-color4: rgba(207, 215, 216, 0.3);
  $wds-colors-muted-color5: rgba(192, 200, 201, 0.3);
  $wds-colors-muted-color9: rgba(138, 142, 143, 0.3);
  $wds-colors-muted-color6: rgba(179, 188, 189, 0.3);
  $wds-colors-muted-color10: rgba(128, 128, 128, 0.3);
  $wds-colors-muted-color7: rgba(164, 172, 173, 0.3);
  $wds-colors-muted-color11: rgba(31, 31, 46, 0.3);
  $wds-colors-muted-color8: rgba(153, 158, 159, 0.3);
  $wds-colors-muted-color12: rgba(24, 24, 39, 0.3);

  --wds-colors-defaults-tomato-tomato10: #db4324;
  --wds-colors-defaults-tomato-tomato7: #f3b0a2;
  --wds-colors-defaults-tomato-tomato5: #fdd8d3;
  --wds-colors-defaults-tomato-tomato12: #341711;
  --wds-colors-defaults-tomato-tomato11: #ca3214;
  --wds-colors-defaults-tomato-tomato9: #e54d2e;
  --wds-colors-defaults-tomato-tomato3: #fff0ee;
  --wds-colors-defaults-tomato-tomato8: #ea9280;
  --wds-colors-defaults-tomato-tomato2: #fff8f7;
  --wds-colors-defaults-tomato-tomato4: #ffe6e2;
  --wds-colors-defaults-tomato-tomato1: #fffcfc;
  --wds-colors-defaults-red-tomato6: #fac7be;
  --wds-colors-defaults-red-red4: #ffe5e5;
  --wds-colors-defaults-red-red5: #fdd8d8;
  --wds-colors-defaults-red-red9: #e5484d;
  --wds-colors-defaults-red-red8: #eb9091;
  --wds-colors-defaults-red-red12: #381316;
  --wds-colors-defaults-red-red6: #f9c6c6;
  --wds-colors-defaults-red-red3: #ffefef;
  --wds-colors-defaults-red-red1: #fffcfc;
  --wds-colors-defaults-red-red2: #fff8f8;
  --wds-colors-defaults-red-red7: #f3aeaf;
  --wds-colors-defaults-red-red10: #dc3d43;
  --wds-colors-defaults-red-red11: #cd2b31;
  --wds-colors-defaults-violet-violet10: #644fc1;
  --wds-colors-defaults-violet-violet12: #20134b;
  --wds-colors-defaults-violet-violet9: #6e56cf;
  --wds-colors-defaults-violet-violet3: #f5f2ff;
  --wds-colors-defaults-violet-violet4: #ede9fe;
  --wds-colors-defaults-violet-violet8: #aa99ec;
  --wds-colors-defaults-violet-violet1: #fdfcfe;
  --wds-colors-defaults-violet-violet7: #c4b8f3;
  --wds-colors-defaults-violet-violet6: #d7cff9;
  --wds-colors-defaults-violet-violet5: #e4defc;
  --wds-colors-defaults-violet-violet11: #5746af;
  --wds-colors-defaults-violet-violet2: #fbfaff;
  --wds-colors-defaults-indigo-indigo10: #3a5ccc;
  --wds-colors-defaults-indigo-indigo8: #8da4ef;
  --wds-colors-defaults-indigo-indigo7: #aec0f5;
  --wds-colors-defaults-indigo-indigo2: #f8faff;
  --wds-colors-defaults-indigo-indigo9: #3e63dd;
  --wds-colors-defaults-indigo-indigo3: #f0f4ff;
  --wds-colors-defaults-indigo-indigo6: #c6d4f9;
  --wds-colors-defaults-indigo-indigo5: #d9e2fc;
  --wds-colors-defaults-indigo-indigo12: #101d46;
  --wds-colors-defaults-indigo-indigo4: #e6edfe;
  --wds-colors-defaults-indigo-indigo11: #3451b2;
  --wds-colors-defaults-indigo-indigo1: #fdfdfe;
  --wds-colors-defaults-blue-blue7: #96c7f2;
  --wds-colors-defaults-blue-blue9: #0091ff;
  --wds-colors-defaults-blue-blue6: #b7d9f8;
  --wds-colors-defaults-blue-blue5: #cee7fe;
  --wds-colors-defaults-blue-blue4: #e1f0ff;
  --wds-colors-defaults-blue-blue10: #0081f1;
  --wds-colors-defaults-blue-blue8: #5eb0ef;
  --wds-colors-defaults-blue-blue2: #f5faff;
  --wds-colors-defaults-blue-blue3: #edf6ff;
  --wds-colors-defaults-blue-blue11: #006adc;
  --wds-colors-defaults-blue-blue12: #00254d;
  --wds-colors-defaults-blue-blue1: #fbfdff;
  --wds-colors-defaults-cyan-cyan10: #0894b3;
  --wds-colors-defaults-cyan-cyan8: #3db9cf;
  --wds-colors-defaults-cyan-cyan7: #84cdda;
  --wds-colors-defaults-cyan-cyan2: #f2fcfd;
  --wds-colors-defaults-cyan-cyan4: #d8f3f6;
  --wds-colors-defaults-cyan-cyan5: #c4eaef;
  --wds-colors-defaults-cyan-cyan12: #04313c;
  --wds-colors-defaults-cyan-cyan9: #05a2c2;
  --wds-colors-defaults-cyan-cyan3: #e7f9fb;
  --wds-colors-defaults-cyan-cyan6: #aadee6;
  --wds-colors-defaults-cyan-cyan11: #0c7792;
  --wds-colors-defaults-cyan-cyan1: #fafdfe;
  --wds-colors-defaults-teal-teal9: #12a594;
  --wds-colors-defaults-teal-teal7: #8dcec3;
  --wds-colors-defaults-teal-teal5: #c7ebe5;
  --wds-colors-defaults-teal-teal4: #d9f3ee;
  --wds-colors-defaults-teal-teal10: #0e9888;
  --wds-colors-defaults-teal-teal3: #e7f9f5;
  --wds-colors-defaults-teal-teal8: #53b9ab;
  --wds-colors-defaults-teal-teal6: #afdfd7;
  --wds-colors-defaults-teal-teal1: #fafefd;
  --wds-colors-defaults-teal-teal12: #10302b;
  --wds-colors-defaults-teal-teal11: #067a6f;
  --wds-colors-defaults-teal-teal2: #f1fcfa;
  --wds-colors-defaults-green-green9: #30a46c;
  --wds-colors-defaults-green-green10: #299764;
  --wds-colors-defaults-green-green7: #92ceac;
  --wds-colors-defaults-green-green12: #153226;
  --wds-colors-defaults-green-green6: #b4dfc4;
  --wds-colors-defaults-green-green5: #ccebd7;
  --wds-colors-defaults-green-green11: #18794e;
  --wds-colors-defaults-green-green4: #ddf3e4;
  --wds-colors-defaults-green-green3: #e9f9ee;
  --wds-colors-defaults-green-green8: #5bb98c;
  --wds-colors-defaults-green-green2: #f2fcf5;
  --wds-colors-defaults-green-green1: #fbfefc;
  --wds-colors-defaults-grass-grass10: #3d9a50;
  --wds-colors-defaults-grass-grass6: #b7dfba;
  --wds-colors-defaults-grass-grass9: #46a758;
  --wds-colors-defaults-grass-grass8: #65ba75;
  --wds-colors-defaults-grass-grass12: #1b311e;
  --wds-colors-defaults-grass-grass5: #ceebcf;
  --wds-colors-defaults-grass-grass7: #97cf9c;
  --wds-colors-defaults-grass-grass4: #dff3df;
  --wds-colors-defaults-grass-grass3: #ebf9eb;
  --wds-colors-defaults-grass-grass2: #f3fcf3;
  --wds-colors-defaults-grass-grass1: #fbfefb;
  --wds-colors-defaults-grass-grass11: #297c3b;
  --wds-colors-defaults-orange-orange10: #ed5f00;
  --wds-colors-defaults-orange-orange9: #f76808;
  --wds-colors-defaults-orange-orange11: #bd4b00;
  --wds-colors-defaults-orange-orange8: #fa934e;
  --wds-colors-defaults-orange-orange2: #fef8f4;
  --wds-colors-defaults-orange-orange7: #ffb381;
  --wds-colors-defaults-orange-orange4: #ffe8d7;
  --wds-colors-defaults-orange-orange12: #451e11;
  --wds-colors-defaults-orange-orange5: #ffdcc3;
  --wds-colors-defaults-orange-orange3: #fff1e7;
  --wds-colors-defaults-orange-orange6: #ffcca7;
  --wds-colors-defaults-orange-orange1: #fefcfb;
  --wds-colors-defaults-brown-brown10: #a07653;
  --wds-colors-defaults-brown-brown9: #ad7f58;
  --wds-colors-defaults-brown-brown7: #ddb896;
  --wds-colors-defaults-brown-brown6: #e8cdb5;
  --wds-colors-defaults-brown-brown5: #efddcc;
  --wds-colors-defaults-brown-brown1: #fefdfc;
  --wds-colors-defaults-brown-brown12: #3f2c22;
  --wds-colors-defaults-brown-brown2: #fcf9f6;
  --wds-colors-defaults-brown-brown3: #f8f1ea;
  --wds-colors-defaults-brown-brown8: #d09e72;
  --wds-colors-defaults-brown-brown4: #f4e9dd;
  --wds-colors-defaults-brown-brown11: #886349;
  --wds-colors-defaults-sky-sky10: #5fd4f4;
  --wds-colors-defaults-sky-sky8: #2ebde5;
  --wds-colors-defaults-sky-sky12: #003242;
  --wds-colors-defaults-sky-sky7: #79cfea;
  --wds-colors-defaults-sky-sky6: #a4dff1;
  --wds-colors-defaults-sky-sky11: #0078a1;
  --wds-colors-defaults-sky-sky5: #c1ecf9;
  --wds-colors-defaults-sky-sky3: #e4f9ff;
  --wds-colors-defaults-sky-sky9: #68ddfd;
  --wds-colors-defaults-sky-sky1: #f9feff;
  --wds-colors-defaults-sky-sky2: #f1fcff;
  --wds-colors-defaults-sky-sky4: #d5f4fd;
  --wds-colors-defaults-mint-mint10: #69d9c1;
  --wds-colors-defaults-mint-mint12: #09342e;
  --wds-colors-defaults-mint-mint3: #e1fbf4;
  --wds-colors-defaults-mint-mint8: #40c4aa;
  --wds-colors-defaults-mint-mint7: #7dd4c0;
  --wds-colors-defaults-mint-mint6: #a5e4d4;
  --wds-colors-defaults-mint-mint4: #d2f7ed;
  --wds-colors-defaults-mint-mint11: #147d6f;
  --wds-colors-defaults-mint-mint9: #70e1c8;
  --wds-colors-defaults-mint-mint5: #c0efe3;
  --wds-colors-defaults-mint-mint2: #effefa;
  --wds-colors-defaults-mint-mint1: #f9fefd;
  --wds-colors-defaults-lime-lime9: #99d52a;
  --wds-colors-defaults-lime-lime4: #e4f7c7;
  --wds-colors-defaults-lime-lime8: #94ba2c;
  --wds-colors-defaults-lime-lime10: #93c926;
  --wds-colors-defaults-lime-lime11: #5d770d;
  --wds-colors-defaults-lime-lime7: #b1d16a;
  --wds-colors-defaults-lime-lime6: #c9e894;
  --wds-colors-defaults-lime-lime5: #d7f2b0;
  --wds-colors-defaults-lime-lime12: #263209;
  --wds-colors-defaults-lime-lime2: #f7fcf0;
  --wds-colors-defaults-lime-lime3: #eefadc;
  --wds-colors-defaults-lime-lime1: #fcfdfa;
  --wds-colors-defaults-yellow-yellow10: #f7ce00;
  --wds-colors-defaults-yellow-yellow4: #fff8bb;
  --wds-colors-defaults-yellow-yellow9: #f5d90a;
  --wds-colors-defaults-yellow-yellow2: #fffce8;
  --wds-colors-defaults-yellow-yellow8: #ebbc00;
  --wds-colors-defaults-yellow-yellow7: #efd36c;
  --wds-colors-defaults-yellow-yellow5: #fef2a4;
  --wds-colors-defaults-yellow-yellow1: #fdfdf9;
  --wds-colors-defaults-yellow-yellow3: #fffbd1;
  --wds-colors-defaults-yellow-yellow12: #35290f;
  --wds-colors-defaults-yellow-yellow6: #f9e68c;
  --wds-colors-defaults-yellow-yellow11: #946800;
  --wds-colors-defaults-amber-amber10: #ffa01c;
  --wds-colors-defaults-amber-amber9: #ffb224;
  --wds-colors-defaults-amber-amber6: #ffd386;
  --wds-colors-defaults-amber-amber11: #ad5700;
  --wds-colors-defaults-amber-amber7: #f3ba63;
  --wds-colors-defaults-amber-amber4: #ffecbc;
  --wds-colors-defaults-amber-amber5: #ffe3a2;
  --wds-colors-defaults-amber-amber1: #fefdfb;
  --wds-colors-defaults-amber-amber12: #4e2009;
  --wds-colors-defaults-amber-amber8: #ee9d2b;
  --wds-colors-defaults-amber-amber2: #fff9ed;
  --wds-colors-defaults-amber-amber3: #fff4d5;
  --wds-colors-defaults-gray-gray10: #858585;
  --wds-colors-defaults-gray-gray9: #8f8f8f;
  --wds-colors-defaults-gray-gray8: #c7c7c7;
  --wds-colors-defaults-gray-gray7: #dbdbdb;
  --wds-colors-defaults-gray-gray5: #e8e8e8;
  --wds-colors-defaults-gray-gray3: #f3f3f3;
  --wds-colors-defaults-gray-gray1: #fcfcfc;
  --wds-colors-defaults-gray-gray12: #171717;
  --wds-colors-defaults-gray-gray11: #6f6f6f;
  --wds-colors-defaults-gray-gray6: #e2e2e2;
  --wds-colors-defaults-gray-gray4: #ededed;
  --wds-colors-defaults-gray-gray2: #f8f8f8;
  --wds-colors-defaults-mauve-mauve10: #86848d;
  --wds-colors-defaults-mauve-mauve7: #dcdbdd;
  --wds-colors-defaults-mauve-mauve5: #e9e8ea;
  --wds-colors-defaults-mauve-mauve8: #c8c7cb;
  --wds-colors-defaults-mauve-mauve6: #e4e2e4;
  --wds-colors-defaults-mauve-mauve4: #eeedef;
  --wds-colors-defaults-mauve-mauve1: #fdfcfd;
  --wds-colors-defaults-mauve-mauve12: #1a1523;
  --wds-colors-defaults-mauve-mauve11: #6f6e77;
  --wds-colors-defaults-mauve-mauve2: #f9f8f9;
  --wds-colors-defaults-mauve-mauve9: #908e96;
  --wds-colors-defaults-mauve-mauve3: #f4f2f4;
  --wds-colors-defaults-slate-slate6: #dfe3e6;
  --wds-colors-defaults-slate-slate9: #889096;
  --wds-colors-defaults-slate-slate4: #eceef0;
  --wds-colors-defaults-slate-slate7: #d7dbdf;
  --wds-colors-defaults-slate-slate8: #c1c8cd;
  --wds-colors-defaults-slate-slate5: #e6e8eb;
  --wds-colors-defaults-slate-slate10: #7e868c;
  --wds-colors-defaults-slate-slate1: #fbfcfd;
  --wds-colors-defaults-slate-slate11: #687076;
  --wds-colors-defaults-slate-slate2: #f8f9fa;
  --wds-colors-defaults-slate-slate3: #f1f3f5;
  --wds-colors-defaults-slate-slate12: #11181c;
  --wds-colors-defaults-slate-transparent1: rgba(251, 252, 253, 0);
  --wds-colors-defaults-slate-muted10: rgba(126, 134, 140, 0.3);
  --wds-colors-defaults-slate-muted7: rgba(215, 219, 223, 0.3);
  --wds-colors-defaults-slate-muted8: rgba(193, 200, 205, 0.3);
  --wds-colors-defaults-slate-muted3: rgba(241, 243, 245, 0.3);
  --wds-colors-defaults-slate-muted5: rgba(230, 232, 235, 0.3);
  --wds-colors-defaults-slate-muted4: rgba(236, 238, 240, 0.3);
  --wds-colors-defaults-slate-muted12: rgba(17, 24, 28, 0.3);
  --wds-colors-defaults-slate-muted6: rgba(223, 227, 230, 0.3);
  --wds-colors-defaults-slate-muted11: rgba(104, 112, 118, 0.3);
  --wds-colors-defaults-slate-muted9: rgba(136, 144, 150, 0.3);
  --wds-colors-defaults-slate-muted2: rgba(248, 249, 250, 0.3);
  --wds-colors-defaults-slate-muted1: rgba(251, 252, 253, 0.3);
  --wds-colors-defaults-sage-sage7: #d7dcda;
  --wds-colors-defaults-sage-sage6: #dfe4e2;
  --wds-colors-defaults-sage-sage3: #f1f4f3;
  --wds-colors-defaults-sage-sage11: #6a716e;
  --wds-colors-defaults-sage-sage9: #8a918e;
  --wds-colors-defaults-sage-sage5: #e6e9e8;
  --wds-colors-defaults-sage-sage10: #808784;
  --wds-colors-defaults-sage-sage4: #ecefed;
  --wds-colors-defaults-sage-sage1: #fbfdfc;
  --wds-colors-defaults-sage-sage12: #111c18;
  --wds-colors-defaults-sage-sage8: #c2c9c6;
  --wds-colors-defaults-sage-sage2: #f8faf9;
  --wds-colors-defaults-olive-olive10: #818780;
  --wds-colors-defaults-olive-olive8: #c3c8c2;
  --wds-colors-defaults-olive-olive6: #e0e4e0;
  --wds-colors-defaults-olive-olive1: #fcfdfc;
  --wds-colors-defaults-olive-olive9: #8b918a;
  --wds-colors-defaults-olive-olive5: #e6e9e6;
  --wds-colors-defaults-olive-olive4: #ecefec;
  --wds-colors-defaults-olive-olive3: #f2f4f2;
  --wds-colors-defaults-olive-olive12: #141e12;
  --wds-colors-defaults-olive-olive11: #6b716a;
  --wds-colors-defaults-olive-olive7: #d8dcd8;
  --wds-colors-defaults-olive-olive2: #f8faf8;
  --wds-colors-defaults-sand-sand10: #868682;
  --wds-colors-defaults-sand-sand6: #e3e3e0;
  --wds-colors-defaults-sand-sand4: #eeeeec;
  --wds-colors-defaults-sand-sand9: #90908c;
  --wds-colors-defaults-sand-sand7: #dbdbd7;
  --wds-colors-defaults-sand-sand5: #e9e9e6;
  --wds-colors-defaults-sand-sand12: #1b1b18;
  --wds-colors-defaults-sand-sand2: #f9f9f8;
  --wds-colors-defaults-sand-sand11: #706f6c;
  --wds-colors-defaults-sand-sand3: #f3f3f2;
  --wds-colors-defaults-sand-sand8: #c8c7c1;
  --wds-colors-defaults-sand-sand1: #fdfdfc;
  --wds-colors-defaults-gold-gold7: #cbbda4;
  --wds-colors-defaults-gold-gold8: #b8a383;
  --wds-colors-defaults-gold-gold6: #dad1bd;
  --wds-colors-defaults-gold-gold5: #e5dfd0;
  --wds-colors-defaults-gold-gold4: #eeeadd;
  --wds-colors-defaults-gold-gold10: #8c795d;
  --wds-colors-defaults-gold-gold1: #fdfdfc;
  --wds-colors-defaults-gold-gold9: #978365;
  --wds-colors-defaults-gold-gold3: #f5f2e9;
  --wds-colors-defaults-gold-gold12: #3b352b;
  --wds-colors-defaults-gold-gold11: #776750;
  --wds-colors-defaults-gold-gold2: #fbf9f2;
  --wds-colors-defaults-bronze-bronze10: #977669;
  --wds-colors-defaults-bronze-bronze1: #fdfcfc;
  --wds-colors-defaults-bronze-bronze9: #a18072;
  --wds-colors-defaults-bronze-bronze8: #bfa094;
  --wds-colors-defaults-bronze-bronze11: #846358;
  --wds-colors-defaults-bronze-bronze5: #eaddd7;
  --wds-colors-defaults-bronze-bronze4: #f2e8e4;
  --wds-colors-defaults-bronze-bronze2: #fdf8f6;
  --wds-colors-defaults-bronze-bronze3: #f8f1ee;
  --wds-colors-defaults-bronze-bronze12: #43302b;
  --wds-colors-defaults-bronze-bronze7: #d1b9b0;
  --wds-colors-defaults-bronze-bronze6: #e0cec7;
  --wds-colors-defaults-crimson-crimson10: #e03177;
  --wds-colors-defaults-crimson-crimson6: #f4c6db;
  --wds-colors-defaults-crimson-crimson9: #e93d82;
  --wds-colors-defaults-crimson-crimson4: #fce5f0;
  --wds-colors-defaults-crimson-crimson7: #edadc8;
  --wds-colors-defaults-crimson-crimson5: #f9d8e7;
  --wds-colors-defaults-crimson-crimson11: #d31e66;
  --wds-colors-defaults-crimson-crimson12: #3d0d1d;
  --wds-colors-defaults-crimson-crimson2: #fff7fb;
  --wds-colors-defaults-crimson-crimson3: #feeff6;
  --wds-colors-defaults-crimson-crimson8: #e58fb1;
  --wds-colors-defaults-crimson-crimson1: #fffcfd;
  --wds-colors-defaults-pink-pink10: #d23197;
  --wds-colors-defaults-pink-pink9: #d6409f;
  --wds-colors-defaults-pink-pink7: #ecadd4;
  --wds-colors-defaults-pink-pink1: #fffcfe;
  --wds-colors-defaults-pink-pink11: #cd1d8d;
  --wds-colors-defaults-pink-pink6: #f3c6e2;
  --wds-colors-defaults-pink-pink8: #e38ec3;
  --wds-colors-defaults-pink-pink5: #f9d8ec;
  --wds-colors-defaults-pink-pink4: #fce5f3;
  --wds-colors-defaults-pink-pink3: #feeef8;
  --wds-colors-defaults-pink-pink12: #3b0a2a;
  --wds-colors-defaults-pink-pink2: #fff7fc;
  --wds-colors-defaults-plum-plum10: #a43cb4;
  --wds-colors-defaults-plum-plum9: #ab4aba;
  --wds-colors-defaults-plum-plum12: #340c3b;
  --wds-colors-defaults-plum-plum8: #cf91d8;
  --wds-colors-defaults-plum-plum6: #ebc8ed;
  --wds-colors-defaults-plum-plum2: #fff8ff;
  --wds-colors-defaults-plum-plum5: #f3d9f4;
  --wds-colors-defaults-plum-plum11: #9c2bad;
  --wds-colors-defaults-plum-plum4: #f9e5f9;
  --wds-colors-defaults-plum-plum7: #dfafe3;
  --wds-colors-defaults-plum-plum3: #fceffc;
  --wds-colors-defaults-plum-plum1: #fefcff;
  --wds-colors-defaults-purple-purple10: #8445bc;
  --wds-colors-defaults-purple-purple3: #f9f1fe;
  --wds-colors-defaults-purple-purple8: #be93e4;
  --wds-colors-defaults-purple-purple7: #d3b4ed;
  --wds-colors-defaults-purple-purple4: #f3e7fc;
  --wds-colors-defaults-purple-purple1: #fefcfe;
  --wds-colors-defaults-purple-purple6: #e3ccf4;
  --wds-colors-defaults-purple-purple2: #fdfaff;
  --wds-colors-defaults-purple-purple12: #2b0e44;
  --wds-colors-defaults-purple-purple11: #793aaf;
  --wds-colors-defaults-purple-purple9: #8e4ec6;
  --wds-colors-defaults-purple-purple5: #eddbf9;
  --wds-colors-defaults-overlay-white-white10: rgba(255, 255, 255, 0.45);
  --wds-colors-defaults-overlay-white-white8: rgba(255, 255, 255, 0.25);
  --wds-colors-defaults-overlay-white-white7: rgba(255, 255, 255, 0.18);
  --wds-colors-defaults-overlay-white-white5: rgba(255, 255, 255, 0.09);
  --wds-colors-defaults-overlay-white-white4: rgba(255, 255, 255, 0.06);
  --wds-colors-defaults-overlay-white-white2: rgba(255, 255, 255, 0.03);
  --wds-colors-defaults-overlay-white-white3: rgba(255, 255, 255, 0.03);
  --wds-colors-defaults-overlay-white-white12: rgba(255, 255, 255, 0.92);
  --wds-colors-defaults-overlay-white-white9: rgba(255, 255, 255, 0.39);
  --wds-colors-defaults-overlay-white-white11: rgba(255, 255, 255, 0.53);
  --wds-colors-defaults-overlay-white-white6: rgba(255, 255, 255, 0.12);
  --wds-colors-defaults-overlay-white-white0: rgba(255, 255, 255, 0);
  --wds-colors-defaults-overlay-white-white1: rgba(255, 255, 255, 0.01);
  --wds-colors-defaults-overlay-black-black9: rgba(0, 0, 0, 0.44);
  --wds-colors-defaults-overlay-black-black8: rgba(0, 0, 0, 0.22);
  --wds-colors-defaults-overlay-black-black6: rgba(0, 0, 0, 0.11);
  --wds-colors-defaults-overlay-black-black5: rgba(0, 0, 0, 0.09);
  --wds-colors-defaults-overlay-black-black4: rgba(0, 0, 0, 0.07);
  --wds-colors-defaults-overlay-black-black3: rgba(0, 0, 0, 0.05);
  --wds-colors-defaults-overlay-black-black7: rgba(0, 0, 0, 0.14);
  --wds-colors-defaults-overlay-black-black12: rgba(0, 0, 0, 0.91);
  --wds-colors-defaults-overlay-black-black11: rgba(0, 0, 0, 0.56);
  --wds-colors-defaults-overlay-black-black10: rgba(0, 0, 0, 0.48);
  --wds-colors-defaults-overlay-black-black2: rgba(0, 0, 0, 0.03);
  --wds-colors-defaults-overlay-black-black1: rgba(0, 0, 0, 0.01);
  --wds-colors-defaults-overlay-black-black0: rgba(0, 0, 0, 0.01);
  --wds-colors-base-color9: #8a8e8f;
  --wds-colors-base-color8: #999e9f;
  --wds-colors-base-color3: #dde3e4;
  --wds-colors-base-color5: #c0c8c9;
  --wds-colors-base-color7: #a4acad;
  --wds-colors-base-color4: #cfd7d8;
  --wds-colors-base-color1: #fcfdfd;
  --wds-colors-base-color11: #1f1f2e;
  --wds-colors-base-color12: #181827;
  --wds-colors-base-color6: #b3bcbd;
  --wds-colors-base-color2: #eef1f2;
  --wds-colors-base-color10: #808080;
  --wds-colors-base-transparent1: rgba(252, 253, 253, 0);
  --wds-colors-base-transparent2: rgba(238, 241, 242, 0);
  --wds-colors-shadow-color12: rgba(0, 0, 0, 0.91);
  --wds-colors-shadow-color11: rgba(0, 0, 0, 0.56);
  --wds-colors-shadow-color9: rgba(0, 0, 0, 0.44);
  --wds-colors-shadow-color8: rgba(0, 0, 0, 0.22);
  --wds-colors-shadow-color6: rgba(0, 0, 0, 0.11);
  --wds-colors-shadow-color4: rgba(0, 0, 0, 0.07);
  --wds-colors-shadow-color3: rgba(0, 0, 0, 0.05);
  --wds-colors-shadow-color0: rgba(0, 0, 0, 0.01);
  --wds-colors-shadow-color2: rgba(0, 0, 0, 0.03);
  --wds-colors-shadow-color7: rgba(0, 0, 0, 0.14);
  --wds-colors-shadow-color1: rgba(0, 0, 0, 0.01);
  --wds-colors-shadow-color5: rgba(0, 0, 0, 0.09);
  --wds-colors-shadow-color10: rgba(0, 0, 0, 0.48);
  --wds-colors-ghost-color6: rgba(235, 99, 13, 0.3);
  --wds-colors-ghost-color5: rgba(244, 104, 16, 0.3);
  --wds-colors-ghost-color3: rgba(255, 129, 50, 0.3);
  --wds-colors-ghost-color12: rgba(238, 236, 249, 0.3);
  --wds-colors-ghost-color11: rgba(238, 236, 249, 0.3);
  --wds-colors-ghost-color10: rgba(202, 45, 6, 0.3);
  --wds-colors-ghost-color9: rgba(211, 74, 11, 0.3);
  --wds-colors-ghost-color7: rgba(228, 96, 12, 0.3);
  --wds-colors-ghost-color1: rgba(255, 166, 110, 0.3);
  --wds-colors-ghost-color8: rgba(219, 84, 12, 0.3);
  --wds-colors-ghost-color4: rgba(246, 110, 25, 0.3);
  --wds-colors-ghost-color2: rgba(255, 145, 76, 0.3);
  --wds-colors-accent-color9: #d34a0b;
  --wds-colors-accent-color2: #ff914c;
  --wds-colors-accent-color7: #e4600c;
  --wds-colors-accent-color3: #ff8132;
  --wds-colors-accent-color4: #f66e19;
  --wds-colors-accent-color12: #eeecf9;
  --wds-colors-accent-color11: #eeecf9;
  --wds-colors-accent-color10: #ca2d06;
  --wds-colors-accent-color6: #eb630d;
  --wds-colors-accent-color5: #f46810;
  --wds-colors-accent-color8: #db540c;
  --wds-colors-accent-color1: #ffa66e;
  --wds-colors-accent-transparent1: rgba(235, 99, 13, 0);
  --wds-colors-muted-color1: rgba(252, 253, 253, 0.3);
  --wds-colors-muted-color2: rgba(238, 241, 242, 0.3);
  --wds-colors-muted-color3: rgba(221, 227, 228, 0.3);
  --wds-colors-muted-color4: rgba(207, 215, 216, 0.3);
  --wds-colors-muted-color5: rgba(192, 200, 201, 0.3);
  --wds-colors-muted-color9: rgba(138, 142, 143, 0.3);
  --wds-colors-muted-color6: rgba(179, 188, 189, 0.3);
  --wds-colors-muted-color10: rgba(128, 128, 128, 0.3);
  --wds-colors-muted-color7: rgba(164, 172, 173, 0.3);
  --wds-colors-muted-color11: rgba(31, 31, 46, 0.3);
  --wds-colors-muted-color8: rgba(153, 158, 159, 0.3);
  --wds-colors-muted-color12: rgba(24, 24, 39, 0.3);
}
