.Light {
  // Local Variables
  $wds-color-background-default-primary: #ecfeff;
  $wds-color-background-default-secondary: #cffafe;
  $wds-color-background-default-tertiary: #a5f3fc;
  $wds-color-background-default-primary-hover: #cffafe;
  $wds-color-background-default-secondary-hover: #a5f3fc;
  $wds-color-background-default-tertiary-hover: #67e8f9;
  $wds-color-background-brand-default: #67e8f9;
  $wds-color-background-brand-secondary: #a5f3fc;
  $wds-color-background-brand-hover: #06b6d4;
  $wds-color-background-brand-secondary-hover: #67e8f9;
  $wds-color-background-brand-tertiary: #cffafe;
  $wds-color-background-brand-tertiary-hover: #a5f3fc;
  $wds-color-background-positive-default: #14ae5c;
  $wds-color-background-positive-secondary: #cff7d3;
  $wds-color-background-positive-hover: #009951;
  $wds-color-background-positive-secondary-hover: #aff4c6;
  $wds-color-background-positive-tertiary: #ebffee;
  $wds-color-background-positive-tertiary-hover: #cff7d3;
  $wds-color-background-warning-default: #e8b931;
  $wds-color-background-warning-secondary: #ffe8a3;
  $wds-color-background-warning-hover: #e5a000;
  $wds-color-background-warning-secondary-hover: #e8b931;
  $wds-color-background-warning-tertiary: #fff1c2;
  $wds-color-background-warning-tertiary-hover: #ffe8a3;
  $wds-color-background-danger-default: #f03330;
  $wds-color-background-danger-secondary: #fdd3d0;
  $wds-color-background-danger-hover: #d21e1e;
  $wds-color-background-danger-secondary-hover: #fcb3ad;
  $wds-color-background-danger-tertiary: #fee9e7;
  $wds-color-background-danger-tertiary-hover: #fdd3d0;
  $wds-color-background-disabled-default: #b3b3b3;
  $wds-color-background-utilities-scrim: rgba(255, 255, 255, 0.8);
  $wds-color-background-utilities-overlay: rgba(0, 0, 0, 0.5);
  $wds-color-background-utilities-blanket: rgba(0, 0, 0, 0.7);
  $wds-color-background-utilities-measurement: #fbcfe8;
  $wds-color-background-utilities-highlight: rgba(12, 12, 13, 0.05);
  $wds-color-background-utilities-highlight-2: rgba(12, 12, 13, 0.05);
  $wds-color-background-utilities-highlight-brand: rgba(135, 165, 255, 0.05);
  $wds-color-background-utilities-highlight-brand-2: rgba(69, 110, 235, 0.1);
  $wds-color-background-utilities-highlight-brand-3: rgba(69, 110, 235, 0.15);
  $wds-color-background-utilities-highlight-brand-4: rgba(69, 110, 235, 0.2);
  $wds-color-background-neutral-default: #5a5a5a;
  $wds-color-background-neutral-hover: #434343;
  $wds-color-background-neutral-secondary: #cdcdcd;
  $wds-color-background-neutral-secondary-hover: #b2b2b2;
  $wds-color-background-neutral-tertiary: #e3e3e3;
  $wds-color-background-neutral-tertiary-hover: #cdcdcd;
  $wds-color-background-neutral-secondary-2: #cdcdcd;
  $wds-color-background-bold-default: #ffffff;
  $wds-color-background-bold-default-hover: #f5f5f5;
  $wds-color-background-bold-secondary: #f5f5f5;
  $wds-color-background-bold-secondary-hover: #e6e6e6;
  $wds-color-background-bold-tertiary: #d9d9d9;
  $wds-color-background-bold-tertiary-hover: #b3b3b3;
  $wds-color-background-bold-transparent: rgba(255, 255, 255, 0.02);
  $wds-color-background-accent-default: #0d9488;
  $wds-color-background-accent-hover: #0f766e;
  $wds-color-background-accent-secondary: #5eead4;
  $wds-color-background-accent-secondary-hover: #2dd4bf;
  $wds-color-background-accent-tertiary: #99f6e4;
  $wds-color-background-accent-tertiary-hover: #5eead4;
  $wds-color-background-invert-default: #164e63;
  $wds-color-background-invert-default-hover: #164e63;
  $wds-color-background-invert-secondary: #164e63;
  $wds-color-background-invert-secondary-hover: #155e75;
  $wds-color-background-invert-tertiary: #0e7490;
  $wds-color-background-invert-tertiary-hover: #0891b2;
  $wds-color-text-default-primary: #1e1e1e;
  $wds-color-text-default-secondary: #757575;
  $wds-color-text-default-tertiary: #b3b3b3;
  $wds-color-text-brand-default: #155e75;
  $wds-color-text-brand-secondary: #0891b2;
  $wds-color-text-brand-tertiary: #06b6d4;
  $wds-color-text-brand-on-brand: #cffafe;
  $wds-color-text-brand-on-brand-secondary: #155e75;
  $wds-color-text-brand-on-brand-tertiary: #0e7490;
  $wds-color-text-positive-default: #02542d;
  $wds-color-text-positive-secondary: #009951;
  $wds-color-text-positive-tertiary: #14ae5c;
  $wds-color-text-positive-on-positive: #ebffee;
  $wds-color-text-positive-on-positive-secondary: #02542d;
  $wds-color-text-positive-on-positive-tertiary: #02542d;
  $wds-color-text-warning-default: #975102;
  $wds-color-text-warning-secondary: #bf6a02;
  $wds-color-text-warning-tertiary: #e5a000;
  $wds-color-text-warning-on-warning: #401b01;
  $wds-color-text-warning-on-warning-secondary: #682d03;
  $wds-color-text-warning-on-warning-tertiary: #401b01;
  $wds-color-text-danger-default: #9c120f;
  $wds-color-text-danger-secondary: #d21e1e;
  $wds-color-text-danger-tertiary: #f03330;
  $wds-color-text-danger-on-danger: #fee9e7;
  $wds-color-text-danger-on-danger-secondary: #9c120f;
  $wds-color-text-danger-on-danger-tertiary: #9c120f;
  $wds-color-text-disabled-default: #e6e6e6;
  $wds-color-text-disabled-on-disabled: #d9d9d9;
  $wds-color-text-utilities-text-on-overlay: #0c0c0d;
  $wds-color-text-utilities-text-on-measurement: #9d174d;
  $wds-color-text-neutral-default: #303030;
  $wds-color-text-neutral-secondary: #434343;
  $wds-color-text-neutral-tertiary: #5a5a5a;
  $wds-color-text-neutral-on-neutral: #f3f3f3;
  $wds-color-text-neutral-on-neutral-secondary: #303030;
  $wds-color-text-neutral-on-neutral-tertiary: #434343;
  $wds-color-text-invert-default: #ffffff;
  $wds-color-text-invert-secondary: rgba(255, 255, 255, 0.7);
  $wds-color-text-invert-tertiary: rgba(255, 255, 255, 0.4);
  $wds-color-icon-default-primary: #1e1e1e;
  $wds-color-icon-default-secondary: #757575;
  $wds-color-icon-default-tertiary: #b3b3b3;
  $wds-color-icon-brand-default: #155e75;
  $wds-color-icon-brand-secondary: #0891b2;
  $wds-color-icon-brand-tertiary: #06b6d4;
  $wds-color-icon-brand-on-brand: #cffafe;
  $wds-color-icon-brand-on-brand-secondary: #164e63;
  $wds-color-icon-brand-on-brand-tertiary: #155e75;
  $wds-color-icon-positive-default: #02542d;
  $wds-color-icon-positive-secondary: #009951;
  $wds-color-icon-positive-tertiary: #14ae5c;
  $wds-color-icon-positive-on-positive: #ebffee;
  $wds-color-icon-positive-on-positive-secondary: #02542d;
  $wds-color-icon-positive-on-positive-tertiary: #024023;
  $wds-color-icon-warning-default: #975102;
  $wds-color-icon-warning-secondary: #bf6a02;
  $wds-color-icon-warning-tertiary: #e5a000;
  $wds-color-icon-warning-on-warning: #401b01;
  $wds-color-icon-warning-on-warning-secondary: #682d03;
  $wds-color-icon-warning-on-warning-tertiary: #522504;
  $wds-color-icon-danger-default: #9c120f;
  $wds-color-icon-danger-secondary: #d21e1e;
  $wds-color-icon-danger-tertiary: #f03330;
  $wds-color-icon-danger-on-danger: #fee9e7;
  $wds-color-icon-danger-on-danger-secondary: #9c120f;
  $wds-color-icon-danger-on-danger-tertiary: #9c120f;
  $wds-color-icon-disabled-default: #e6e6e6;
  $wds-color-icon-disabled-on-disabled: #d9d9d9;
  $wds-color-icon-neutral-default: #303030;
  $wds-color-icon-neutral-secondary: #5a5a5a;
  $wds-color-icon-neutral-tertiary: #767676;
  $wds-color-icon-neutral-on-neutral: #f3f3f3;
  $wds-color-icon-neutral-on-neutral-secondary: #303030;
  $wds-color-icon-neutral-on-neutral-tertiary: #434343;
  $wds-color-icon-utilities-icon-on-measurement: #9d174d;
  $wds-color-icon-utilities-icon: #db2777;
  $wds-color-border-default-primary: #67e8f9;
  $wds-color-border-default-secondary: #06b6d4;
  $wds-color-border-default-tertiary: #06b6d4;
  $wds-color-border-brand-default: #06b6d4;
  $wds-color-border-brand-secondary: #06b6d4;
  $wds-color-border-brand-tertiary: #67e8f9;
  $wds-color-border-positive-default: #02542d;
  $wds-color-border-positive-secondary: #009951;
  $wds-color-border-positive-tertiary: #14ae5c;
  $wds-color-border-warning-default: #975102;
  $wds-color-border-warning-secondary: #bf6a02;
  $wds-color-border-warning-tertiary: #e5a000;
  $wds-color-border-danger-default: #9c120f;
  $wds-color-border-danger-secondary: #d21e1e;
  $wds-color-border-danger-tertiary: #f03330;
  $wds-color-border-disabled-default: #d9d9d9;
  $wds-color-border-utilities-measurement: #f472b6;
  $wds-color-border-utilities-swatch: rgba(0, 0, 0, 0.24);
  $wds-color-border-neutral-default: #303030;
  $wds-color-border-neutral-secondary: #767676;
  $wds-color-border-neutral-tertiary: #b2b2b2;
  $wds-color-overlay-white-white4: rgba(255, 255, 255, 0.06);
  $wds-modals-tomato-tomato10: #db4324;
  $wds-modals-tomato-tomato7: #f3b0a2;
  $wds-modals-tomato-tomato6: #fac7be;
  $wds-modals-tomato-tomato5: #fdd8d3;
  $wds-modals-tomato-tomato12: #341711;
  $wds-modals-tomato-tomato11: #ca3214;
  $wds-modals-tomato-tomato9: #e54d2e;
  $wds-modals-tomato-tomato3: #fff0ee;
  $wds-modals-tomato-tomato8: #ea9280;
  $wds-modals-tomato-tomato2: #fff8f7;
  $wds-modals-tomato-tomato4: #ffe6e2;
  $wds-modals-tomato-tomato1: #fffcfc;
  $wds-modals-red-red4: #ffe5e5;
  $wds-modals-red-red5: #fdd8d8;
  $wds-modals-red-red9: #e5484d;
  $wds-modals-red-red8: #eb9091;
  $wds-modals-red-red12: #381316;
  $wds-modals-red-red6: #f9c6c6;
  $wds-modals-red-red3: #ffefef;
  $wds-modals-red-red1: #fffcfc;
  $wds-modals-red-red2: #fff8f8;
  $wds-modals-red-red7: #f3aeaf;
  $wds-modals-red-red10: #dc3d43;
  $wds-modals-red-red11: #cd2b31;
  $wds-modals-violet-violet10: #644fc1;
  $wds-modals-violet-violet12: #20134b;
  $wds-modals-violet-violet9: #6e56cf;
  $wds-modals-violet-violet3: #f5f2ff;
  $wds-modals-violet-violet4: #ede9fe;
  $wds-modals-violet-violet8: #aa99ec;
  $wds-modals-violet-violet1: #fdfcfe;
  $wds-modals-violet-violet7: #c4b8f3;
  $wds-modals-violet-violet6: #d7cff9;
  $wds-modals-violet-violet5: #e4defc;
  $wds-modals-violet-violet11: #5746af;
  $wds-modals-violet-violet2: #fbfaff;
  $wds-modals-indigo-indigo10: #3a5ccc;
  $wds-modals-indigo-indigo8: #8da4ef;
  $wds-modals-indigo-indigo7: #aec0f5;
  $wds-modals-indigo-indigo2: #f8faff;
  $wds-modals-indigo-indigo9: #3e63dd;
  $wds-modals-indigo-indigo3: #f0f4ff;
  $wds-modals-indigo-indigo6: #c6d4f9;
  $wds-modals-indigo-indigo5: #d9e2fc;
  $wds-modals-indigo-indigo12: #101d46;
  $wds-modals-indigo-indigo4: #e6edfe;
  $wds-modals-indigo-indigo11: #3451b2;
  $wds-modals-indigo-indigo1: #fdfdfe;
  $wds-modals-blue-blue7: #96c7f2;
  $wds-modals-blue-blue9: #0091ff;
  $wds-modals-blue-blue6: #b7d9f8;
  $wds-modals-blue-blue5: #cee7fe;
  $wds-modals-blue-blue4: #e1f0ff;
  $wds-modals-blue-blue10: #0081f1;
  $wds-modals-blue-blue8: #5eb0ef;
  $wds-modals-blue-blue2: #f5faff;
  $wds-modals-blue-blue3: #edf6ff;
  $wds-modals-blue-blue11: #006adc;
  $wds-modals-blue-blue12: #00254d;
  $wds-modals-blue-blue1: #fbfdff;
  $wds-modals-cyan-cyan10: #0894b3;
  $wds-modals-cyan-cyan8: #3db9cf;
  $wds-modals-cyan-cyan7: #84cdda;
  $wds-modals-cyan-cyan2: #f2fcfd;
  $wds-modals-cyan-cyan4: #d8f3f6;
  $wds-modals-cyan-cyan5: #c4eaef;
  $wds-modals-cyan-cyan12: #04313c;
  $wds-modals-cyan-cyan9: #05a2c2;
  $wds-modals-cyan-cyan3: #e7f9fb;
  $wds-modals-cyan-cyan6: #aadee6;
  $wds-modals-cyan-cyan11: #0c7792;
  $wds-modals-cyan-cyan1: #fafdfe;
  $wds-modals-teal-teal9: #12a594;
  $wds-modals-teal-teal7: #8dcec3;
  $wds-modals-teal-teal5: #c7ebe5;
  $wds-modals-teal-teal4: #d9f3ee;
  $wds-modals-teal-teal10: #0e9888;
  $wds-modals-teal-teal3: #e7f9f5;
  $wds-modals-teal-teal8: #53b9ab;
  $wds-modals-teal-teal6: #afdfd7;
  $wds-modals-teal-teal1: #fafefd;
  $wds-modals-teal-teal12: #10302b;
  $wds-modals-teal-teal11: #067a6f;
  $wds-modals-teal-teal2: #f1fcfa;
  $wds-modals-green-green9: #30a46c;
  $wds-modals-green-green10: #299764;
  $wds-modals-green-green7: #92ceac;
  $wds-modals-green-green12: #153226;
  $wds-modals-green-green6: #b4dfc4;
  $wds-modals-green-green5: #ccebd7;
  $wds-modals-green-green11: #18794e;
  $wds-modals-green-green4: #ddf3e4;
  $wds-modals-green-green3: #e9f9ee;
  $wds-modals-green-green8: #5bb98c;
  $wds-modals-green-green2: #f2fcf5;
  $wds-modals-green-green1: #fbfefc;
  $wds-modals-grass-grass10: #3d9a50;
  $wds-modals-grass-grass6: #b7dfba;
  $wds-modals-grass-grass9: #46a758;
  $wds-modals-grass-grass8: #65ba75;
  $wds-modals-grass-grass12: #1b311e;
  $wds-modals-grass-grass5: #ceebcf;
  $wds-modals-grass-grass7: #97cf9c;
  $wds-modals-grass-grass4: #dff3df;
  $wds-modals-grass-grass3: #ebf9eb;
  $wds-modals-grass-grass2: #f3fcf3;
  $wds-modals-grass-grass1: #fbfefb;
  $wds-modals-grass-grass11: #297c3b;
  $wds-modals-orange-orange10: #ed5f00;
  $wds-modals-orange-orange9: #f76808;
  $wds-modals-orange-orange11: #bd4b00;
  $wds-modals-orange-orange8: #fa934e;
  $wds-modals-orange-orange2: #fef8f4;
  $wds-modals-orange-orange7: #ffb381;
  $wds-modals-orange-orange4: #ffe8d7;
  $wds-modals-orange-orange12: #451e11;
  $wds-modals-orange-orange5: #ffdcc3;
  $wds-modals-orange-orange3: #fff1e7;
  $wds-modals-orange-orange6: #ffcca7;
  $wds-modals-orange-orange1: #fefcfb;
  $wds-modals-brown-brown10: #a07653;
  $wds-modals-brown-brown9: #ad7f58;
  $wds-modals-brown-brown7: #ddb896;
  $wds-modals-brown-brown6: #e8cdb5;
  $wds-modals-brown-brown5: #efddcc;
  $wds-modals-brown-brown1: #fefdfc;
  $wds-modals-brown-brown12: #3f2c22;
  $wds-modals-brown-brown2: #fcf9f6;
  $wds-modals-brown-brown3: #f8f1ea;
  $wds-modals-brown-brown8: #d09e72;
  $wds-modals-brown-brown4: #f4e9dd;
  $wds-modals-brown-brown11: #886349;
  $wds-modals-sky-sky10: #5fd4f4;
  $wds-modals-sky-sky8: #2ebde5;
  $wds-modals-sky-sky12: #003242;
  $wds-modals-sky-sky7: #79cfea;
  $wds-modals-sky-sky6: #a4dff1;
  $wds-modals-sky-sky11: #0078a1;
  $wds-modals-sky-sky5: #c1ecf9;
  $wds-modals-sky-sky3: #e4f9ff;
  $wds-modals-sky-sky9: #68ddfd;
  $wds-modals-sky-sky1: #f9feff;
  $wds-modals-sky-sky2: #f1fcff;
  $wds-modals-sky-sky4: #d5f4fd;
  $wds-modals-mint-mint10: #69d9c1;
  $wds-modals-mint-mint12: #09342e;
  $wds-modals-mint-mint3: #e1fbf4;
  $wds-modals-mint-mint8: #40c4aa;
  $wds-modals-mint-mint7: #7dd4c0;
  $wds-modals-mint-mint6: #a5e4d4;
  $wds-modals-mint-mint4: #d2f7ed;
  $wds-modals-mint-mint11: #147d6f;
  $wds-modals-mint-mint9: #70e1c8;
  $wds-modals-mint-mint5: #c0efe3;
  $wds-modals-mint-mint2: #effefa;
  $wds-modals-mint-mint1: #f9fefd;
  $wds-modals-lime-lime9: #99d52a;
  $wds-modals-lime-lime4: #e4f7c7;
  $wds-modals-lime-lime8: #94ba2c;
  $wds-modals-lime-lime10: #93c926;
  $wds-modals-lime-lime11: #5d770d;
  $wds-modals-lime-lime7: #b1d16a;
  $wds-modals-lime-lime6: #c9e894;
  $wds-modals-lime-lime5: #d7f2b0;
  $wds-modals-lime-lime12: #263209;
  $wds-modals-lime-lime2: #f7fcf0;
  $wds-modals-lime-lime3: #eefadc;
  $wds-modals-lime-lime1: #fcfdfa;
  $wds-modals-yellow-yellow10: #f7ce00;
  $wds-modals-yellow-yellow4: #fff8bb;
  $wds-modals-yellow-yellow9: #f5d90a;
  $wds-modals-yellow-yellow2: #fffce8;
  $wds-modals-yellow-yellow8: #ebbc00;
  $wds-modals-yellow-yellow7: #efd36c;
  $wds-modals-yellow-yellow5: #fef2a4;
  $wds-modals-yellow-yellow1: #fdfdf9;
  $wds-modals-yellow-yellow3: #fffbd1;
  $wds-modals-yellow-yellow12: #35290f;
  $wds-modals-yellow-yellow6: #f9e68c;
  $wds-modals-yellow-yellow11: #946800;
  $wds-modals-amber-amber10: #ffa01c;
  $wds-modals-amber-amber9: #ffb224;
  $wds-modals-amber-amber6: #ffd386;
  $wds-modals-amber-amber11: #ad5700;
  $wds-modals-amber-amber7: #f3ba63;
  $wds-modals-amber-amber4: #ffecbc;
  $wds-modals-amber-amber5: #ffe3a2;
  $wds-modals-amber-amber1: #fefdfb;
  $wds-modals-amber-amber12: #4e2009;
  $wds-modals-amber-amber8: #ee9d2b;
  $wds-modals-amber-amber2: #fff9ed;
  $wds-modals-amber-amber3: #fff4d5;
  $wds-modals-gray-gray10: #858585;
  $wds-modals-gray-gray9: #8f8f8f;
  $wds-modals-gray-gray8: #c7c7c7;
  $wds-modals-gray-gray7: #dbdbdb;
  $wds-modals-gray-gray5: #e8e8e8;
  $wds-modals-gray-gray3: #f3f3f3;
  $wds-modals-gray-gray1: #fcfcfc;
  $wds-modals-gray-gray12: #171717;
  $wds-modals-gray-gray11: #6f6f6f;
  $wds-modals-gray-gray6: #e2e2e2;
  $wds-modals-gray-gray4: #ededed;
  $wds-modals-gray-gray2: #f8f8f8;
  $wds-modals-mauve-mauve10: #86848d;
  $wds-modals-mauve-mauve7: #dcdbdd;
  $wds-modals-mauve-mauve5: #e9e8ea;
  $wds-modals-mauve-mauve8: #c8c7cb;
  $wds-modals-mauve-mauve6: #e4e2e4;
  $wds-modals-mauve-mauve4: #eeedef;
  $wds-modals-mauve-mauve1: #fdfcfd;
  $wds-modals-mauve-mauve12: #1a1523;
  $wds-modals-mauve-mauve11: #6f6e77;
  $wds-modals-mauve-mauve2: #f9f8f9;
  $wds-modals-mauve-mauve9: #908e96;
  $wds-modals-mauve-mauve3: #f4f2f4;
  $wds-modals-slate-slate6: #dfe3e6;
  $wds-modals-slate-slate9: #889096;
  $wds-modals-slate-slate4: #eceef0;
  $wds-modals-slate-slate7: #d7dbdf;
  $wds-modals-slate-slate8: #c1c8cd;
  $wds-modals-slate-slate5: #e6e8eb;
  $wds-modals-slate-slate10: #7e868c;
  $wds-modals-slate-slate1: #fbfcfd;
  $wds-modals-slate-slate11: #687076;
  $wds-modals-slate-slate2: #f8f9fa;
  $wds-modals-slate-slate3: #f1f3f5;
  $wds-modals-slate-slate12: #11181c;
  $wds-modals-sage-sage7: #d7dcda;
  $wds-modals-sage-sage6: #dfe4e2;
  $wds-modals-sage-sage3: #f1f4f3;
  $wds-modals-sage-sage11: #6a716e;
  $wds-modals-sage-sage9: #8a918e;
  $wds-modals-sage-sage5: #e6e9e8;
  $wds-modals-sage-sage10: #808784;
  $wds-modals-sage-sage4: #ecefed;
  $wds-modals-sage-sage1: #fbfdfc;
  $wds-modals-sage-sage12: #111c18;
  $wds-modals-sage-sage8: #c2c9c6;
  $wds-modals-sage-sage2: #f8faf9;
  $wds-modals-olive-olive10: #818780;
  $wds-modals-olive-olive8: #c3c8c2;
  $wds-modals-olive-olive6: #e0e4e0;
  $wds-modals-olive-olive1: #fcfdfc;
  $wds-modals-olive-olive9: #8b918a;
  $wds-modals-olive-olive5: #e6e9e6;
  $wds-modals-olive-olive4: #ecefec;
  $wds-modals-olive-olive3: #f2f4f2;
  $wds-modals-olive-olive12: #141e12;
  $wds-modals-olive-olive11: #6b716a;
  $wds-modals-olive-olive7: #d8dcd8;
  $wds-modals-olive-olive2: #f8faf8;
  $wds-modals-sand-sand10: #868682;
  $wds-modals-sand-sand6: #e3e3e0;
  $wds-modals-sand-sand4: #eeeeec;
  $wds-modals-sand-sand9: #90908c;
  $wds-modals-sand-sand7: #dbdbd7;
  $wds-modals-sand-sand5: #e9e9e6;
  $wds-modals-sand-sand12: #1b1b18;
  $wds-modals-sand-sand2: #f9f9f8;
  $wds-modals-sand-sand11: #706f6c;
  $wds-modals-sand-sand3: #f3f3f2;
  $wds-modals-sand-sand8: #c8c7c1;
  $wds-modals-sand-sand1: #fdfdfc;
  $wds-modals-gold-gold7: #cbbda4;
  $wds-modals-gold-gold8: #b8a383;
  $wds-modals-gold-gold6: #dad1bd;
  $wds-modals-gold-gold5: #e5dfd0;
  $wds-modals-gold-gold4: #eeeadd;
  $wds-modals-gold-gold10: #8c795d;
  $wds-modals-gold-gold1: #fdfdfc;
  $wds-modals-gold-gold9: #978365;
  $wds-modals-gold-gold3: #f5f2e9;
  $wds-modals-gold-gold12: #3b352b;
  $wds-modals-gold-gold11: #776750;
  $wds-modals-gold-gold2: #fbf9f2;
  $wds-modals-bronze-bronze10: #977669;
  $wds-modals-bronze-bronze1: #fdfcfc;
  $wds-modals-bronze-bronze9: #a18072;
  $wds-modals-bronze-bronze8: #bfa094;
  $wds-modals-bronze-bronze11: #846358;
  $wds-modals-bronze-bronze5: #eaddd7;
  $wds-modals-bronze-bronze4: #f2e8e4;
  $wds-modals-bronze-bronze2: #fdf8f6;
  $wds-modals-bronze-bronze3: #f8f1ee;
  $wds-modals-bronze-bronze12: #43302b;
  $wds-modals-bronze-bronze7: #d1b9b0;
  $wds-modals-bronze-bronze6: #e0cec7;
  $wds-modals-crimson-crimson10: #e03177;
  $wds-modals-crimson-crimson6: #f4c6db;
  $wds-modals-crimson-crimson9: #e93d82;
  $wds-modals-crimson-crimson4: #fce5f0;
  $wds-modals-crimson-crimson7: #edadc8;
  $wds-modals-crimson-crimson5: #f9d8e7;
  $wds-modals-crimson-crimson11: #d31e66;
  $wds-modals-crimson-crimson12: #3d0d1d;
  $wds-modals-crimson-crimson2: #fff7fb;
  $wds-modals-crimson-crimson3: #feeff6;
  $wds-modals-crimson-crimson8: #e58fb1;
  $wds-modals-crimson-crimson1: #fffcfd;
  $wds-modals-pink-pink10: #d23197;
  $wds-modals-pink-pink9: #d6409f;
  $wds-modals-pink-pink7: #ecadd4;
  $wds-modals-pink-pink1: #fffcfe;
  $wds-modals-pink-pink11: #cd1d8d;
  $wds-modals-pink-pink6: #f3c6e2;
  $wds-modals-pink-pink8: #e38ec3;
  $wds-modals-pink-pink5: #f9d8ec;
  $wds-modals-pink-pink4: #fce5f3;
  $wds-modals-pink-pink3: #feeef8;
  $wds-modals-pink-pink12: #3b0a2a;
  $wds-modals-pink-pink2: #fff7fc;
  $wds-modals-plum-plum10: #a43cb4;
  $wds-modals-plum-plum9: #ab4aba;
  $wds-modals-plum-plum12: #340c3b;
  $wds-modals-plum-plum8: #cf91d8;
  $wds-modals-plum-plum6: #ebc8ed;
  $wds-modals-plum-plum2: #fff8ff;
  $wds-modals-plum-plum5: #f3d9f4;
  $wds-modals-plum-plum11: #9c2bad;
  $wds-modals-plum-plum4: #f9e5f9;
  $wds-modals-plum-plum7: #dfafe3;
  $wds-modals-plum-plum3: #fceffc;
  $wds-modals-plum-plum1: #fefcff;
  $wds-modals-purple-purple10: #8445bc;
  $wds-modals-purple-purple3: #f9f1fe;
  $wds-modals-purple-purple8: #be93e4;
  $wds-modals-purple-purple7: #d3b4ed;
  $wds-modals-purple-purple4: #f3e7fc;
  $wds-modals-purple-purple1: #fefcfe;
  $wds-modals-purple-purple6: #e3ccf4;
  $wds-modals-purple-purple2: #fdfaff;
  $wds-modals-purple-purple12: #2b0e44;
  $wds-modals-purple-purple11: #793aaf;
  $wds-modals-purple-purple9: #8e4ec6;
  $wds-modals-purple-purple5: #eddbf9;
  $wds-modals-overlay-white-white10: rgba(255, 255, 255, 0.45);
  $wds-modals-overlay-white-white8: rgba(255, 255, 255, 0.25);
  $wds-modals-overlay-white-white7: rgba(255, 255, 255, 0.18);
  $wds-modals-overlay-white-white5: rgba(255, 255, 255, 0.09);
  $wds-modals-overlay-white-white4: rgba(255, 255, 255, 0.06);
  $wds-modals-overlay-white-white2: rgba(255, 255, 255, 0.01);
  $wds-modals-overlay-white-white3: rgba(255, 255, 255, 0.03);
  $wds-modals-overlay-white-white12: rgba(255, 255, 255, 0.92);
  $wds-modals-overlay-white-white9: rgba(255, 255, 255, 0.39);
  $wds-modals-overlay-white-white11: rgba(255, 255, 255, 0.53);
  $wds-modals-overlay-white-white6: rgba(255, 255, 255, 0.12);
  $wds-modals-overlay-white-white1: rgba(255, 255, 255, 0);
  $wds-modals-overlay-black-black9: rgba(0, 0, 0, 0.44);
  $wds-modals-overlay-black-black8: rgba(0, 0, 0, 0.22);
  $wds-modals-overlay-black-black6: rgba(0, 0, 0, 0.11);
  $wds-modals-overlay-black-black5: rgba(0, 0, 0, 0.09);
  $wds-modals-overlay-black-black4: rgba(0, 0, 0, 0.07);
  $wds-modals-overlay-black-black3: rgba(0, 0, 0, 0.05);
  $wds-modals-overlay-black-black7: rgba(0, 0, 0, 0.14);
  $wds-modals-overlay-black-black12: rgba(0, 0, 0, 0.91);
  $wds-modals-overlay-black-black11: rgba(0, 0, 0, 0.56);
  $wds-modals-overlay-black-black10: rgba(0, 0, 0, 0.48);
  $wds-modals-overlay-black-black2: rgba(0, 0, 0, 0.03);
  $wds-modals-overlay-black-black1: rgba(0, 0, 0, 0.01);
  $wds-theme-accent-color1: #009ec2;
  $wds-theme-accent-color2: #00abd1;
  $wds-theme-accent-color3: #00b7e0;
  $wds-theme-accent-color4: #00c4f0;
  $wds-theme-accent-color5: #00d0ff;
  $wds-theme-accent-color6: #0fd3ff;
  $wds-theme-accent-color7: #1fd6ff;
  $wds-theme-accent-color8: #2ed9ff;
  $wds-theme-accent-color9: #3ddbff;
  $wds-theme-accent-color10: #4ddeff;
  $wds-theme-accent-color11: #eeecf9;
  $wds-theme-accent-color12: #eeecf9;
  $wds-theme-base-color10: #808080;
  $wds-theme-base-color6: #b3bcbd;
  $wds-theme-base-color5: #c0c8c9;
  $wds-theme-base-color8: #999e9f;
  $wds-theme-base-color12: #020303;
  $wds-theme-base-color3: #dde3e4;
  $wds-theme-base-color9: #8a8e8f;
  $wds-theme-base-color7: #a4acad;
  $wds-theme-base-color4: #cfd7d8;
  $wds-theme-base-color11: #cfd6d5;
  $wds-theme-base-color2: #eef1f2;
  $wds-theme-base-color1: #fcfdfd;
  $wds-theme-ghost-color1: rgba(252, 253, 253, 0);
  $wds-theme-ghost-color2: rgba(238, 241, 242, 0);
  $wds-theme-ghost-color3: rgba(228, 221, 221, 0);
  $wds-theme-ghost-color4: rgba(207, 215, 216, 0);
  $wds-theme-ghost-color5: rgba(192, 200, 201, 0);
  $wds-theme-ghost-color6: rgba(179, 188, 189, 0);
  $wds-theme-ghost-color7: rgba(164, 172, 173, 0);
  $wds-theme-ghost-color8: rgba(153, 158, 159, 0);
  $wds-theme-ghost-color9: rgba(138, 142, 143, 0);
  $wds-theme-ghost-color10: rgba(128, 128, 128, 0);
  $wds-theme-ghost-color11: rgba(207, 214, 213, 0);
  $wds-theme-ghost-color12: rgba(2, 3, 3, 0);
  $wds-theme-alias-surface-default: #fcfdfd;
  $wds-theme-alias-surface-subtle: #eef1f2;
  $wds-theme-alias-surface-ui: #dde3e4;
  $wds-theme-alias-color4: #cfd7d8;
  $wds-theme-alias-color5: #c0c8c9;
  $wds-theme-alias-color6: #b3bcbd;
  $wds-theme-alias-color7: #a4acad;
  $wds-theme-alias-color8: #999e9f;
  $wds-theme-alias-color9: #8a8e8f;
  $wds-theme-alias-color10: #808080;
  $wds-theme-alias-color11: #cfd6d5;
  $wds-theme-alias-color12: #020303;

  // Global Variables
  --wds-color-background-default-primary: #ecfeff;
  --wds-color-background-default-secondary: #cffafe;
  --wds-color-background-default-tertiary: #a5f3fc;
  --wds-color-background-default-primary-hover: #cffafe;
  --wds-color-background-default-secondary-hover: #a5f3fc;
  --wds-color-background-default-tertiary-hover: #67e8f9;
  --wds-color-background-brand-default: #67e8f9;
  --wds-color-background-brand-secondary: #a5f3fc;
  --wds-color-background-brand-hover: #06b6d4;
  --wds-color-background-brand-secondary-hover: #67e8f9;
  --wds-color-background-brand-tertiary: #cffafe;
  --wds-color-background-brand-tertiary-hover: #a5f3fc;
  --wds-color-background-positive-default: #14ae5c;
  --wds-color-background-positive-secondary: #cff7d3;
  --wds-color-background-positive-hover: #009951;
  --wds-color-background-positive-secondary-hover: #aff4c6;
  --wds-color-background-positive-tertiary: #ebffee;
  --wds-color-background-positive-tertiary-hover: #cff7d3;
  --wds-color-background-warning-default: #e8b931;
  --wds-color-background-warning-secondary: #ffe8a3;
  --wds-color-background-warning-hover: #e5a000;
  --wds-color-background-warning-secondary-hover: #e8b931;
  --wds-color-background-warning-tertiary: #fff1c2;
  --wds-color-background-warning-tertiary-hover: #ffe8a3;
  --wds-color-background-danger-default: #f03330;
  --wds-color-background-danger-secondary: #fdd3d0;
  --wds-color-background-danger-hover: #d21e1e;
  --wds-color-background-danger-secondary-hover: #fcb3ad;
  --wds-color-background-danger-tertiary: #fee9e7;
  --wds-color-background-danger-tertiary-hover: #fdd3d0;
  --wds-color-background-disabled-default: #b3b3b3;
  --wds-color-background-utilities-scrim: rgba(255, 255, 255, 0.8);
  --wds-color-background-utilities-overlay: rgba(0, 0, 0, 0.5);
  --wds-color-background-utilities-blanket: rgba(0, 0, 0, 0.7);
  --wds-color-background-utilities-measurement: #fbcfe8;
  --wds-color-background-utilities-highlight: rgba(12, 12, 13, 0.05);
  --wds-color-background-utilities-highlight-2: rgba(12, 12, 13, 0.05);
  --wds-color-background-utilities-highlight-brand: rgba(135, 165, 255, 0.05);
  --wds-color-background-utilities-highlight-brand-2: rgba(69, 110, 235, 0.1);
  --wds-color-background-utilities-highlight-brand-3: rgba(69, 110, 235, 0.15);
  --wds-color-background-utilities-highlight-brand-4: rgba(69, 110, 235, 0.2);
  --wds-color-background-neutral-default: #5a5a5a;
  --wds-color-background-neutral-hover: #434343;
  --wds-color-background-neutral-secondary: #cdcdcd;
  --wds-color-background-neutral-secondary-hover: #b2b2b2;
  --wds-color-background-neutral-tertiary: #e3e3e3;
  --wds-color-background-neutral-tertiary-hover: #cdcdcd;
  --wds-color-background-neutral-secondary-2: #cdcdcd;
  --wds-color-background-bold-default: #ffffff;
  --wds-color-background-bold-default-hover: #f5f5f5;
  --wds-color-background-bold-secondary: #f5f5f5;
  --wds-color-background-bold-secondary-hover: #e6e6e6;
  --wds-color-background-bold-tertiary: #d9d9d9;
  --wds-color-background-bold-tertiary-hover: #b3b3b3;
  --wds-color-background-bold-transparent: rgba(255, 255, 255, 0.02);
  --wds-color-background-accent-default: #0d9488;
  --wds-color-background-accent-hover: #0f766e;
  --wds-color-background-accent-secondary: #5eead4;
  --wds-color-background-accent-secondary-hover: #2dd4bf;
  --wds-color-background-accent-tertiary: #99f6e4;
  --wds-color-background-accent-tertiary-hover: #5eead4;
  --wds-color-background-invert-default: #164e63;
  --wds-color-background-invert-default-hover: #164e63;
  --wds-color-background-invert-secondary: #164e63;
  --wds-color-background-invert-secondary-hover: #155e75;
  --wds-color-background-invert-tertiary: #0e7490;
  --wds-color-background-invert-tertiary-hover: #0891b2;
  --wds-color-text-default-primary: #1e1e1e;
  --wds-color-text-default-secondary: #757575;
  --wds-color-text-default-tertiary: #b3b3b3;
  --wds-color-text-brand-default: #155e75;
  --wds-color-text-brand-secondary: #0891b2;
  --wds-color-text-brand-tertiary: #06b6d4;
  --wds-color-text-brand-on-brand: #cffafe;
  --wds-color-text-brand-on-brand-secondary: #155e75;
  --wds-color-text-brand-on-brand-tertiary: #0e7490;
  --wds-color-text-positive-default: #02542d;
  --wds-color-text-positive-secondary: #009951;
  --wds-color-text-positive-tertiary: #14ae5c;
  --wds-color-text-positive-on-positive: #ebffee;
  --wds-color-text-positive-on-positive-secondary: #02542d;
  --wds-color-text-positive-on-positive-tertiary: #02542d;
  --wds-color-text-warning-default: #975102;
  --wds-color-text-warning-secondary: #bf6a02;
  --wds-color-text-warning-tertiary: #e5a000;
  --wds-color-text-warning-on-warning: #401b01;
  --wds-color-text-warning-on-warning-secondary: #682d03;
  --wds-color-text-warning-on-warning-tertiary: #401b01;
  --wds-color-text-danger-default: #9c120f;
  --wds-color-text-danger-secondary: #d21e1e;
  --wds-color-text-danger-tertiary: #f03330;
  --wds-color-text-danger-on-danger: #fee9e7;
  --wds-color-text-danger-on-danger-secondary: #9c120f;
  --wds-color-text-danger-on-danger-tertiary: #9c120f;
  --wds-color-text-disabled-default: #e6e6e6;
  --wds-color-text-disabled-on-disabled: #d9d9d9;
  --wds-color-text-utilities-text-on-overlay: #0c0c0d;
  --wds-color-text-utilities-text-on-measurement: #9d174d;
  --wds-color-text-neutral-default: #303030;
  --wds-color-text-neutral-secondary: #434343;
  --wds-color-text-neutral-tertiary: #5a5a5a;
  --wds-color-text-neutral-on-neutral: #f3f3f3;
  --wds-color-text-neutral-on-neutral-secondary: #303030;
  --wds-color-text-neutral-on-neutral-tertiary: #434343;
  --wds-color-text-invert-default: #ffffff;
  --wds-color-text-invert-secondary: rgba(255, 255, 255, 0.7);
  --wds-color-text-invert-tertiary: rgba(255, 255, 255, 0.4);
  --wds-color-icon-default-primary: #1e1e1e;
  --wds-color-icon-default-secondary: #757575;
  --wds-color-icon-default-tertiary: #b3b3b3;
  --wds-color-icon-brand-default: #155e75;
  --wds-color-icon-brand-secondary: #0891b2;
  --wds-color-icon-brand-tertiary: #06b6d4;
  --wds-color-icon-brand-on-brand: #cffafe;
  --wds-color-icon-brand-on-brand-secondary: #164e63;
  --wds-color-icon-brand-on-brand-tertiary: #155e75;
  --wds-color-icon-positive-default: #02542d;
  --wds-color-icon-positive-secondary: #009951;
  --wds-color-icon-positive-tertiary: #14ae5c;
  --wds-color-icon-positive-on-positive: #ebffee;
  --wds-color-icon-positive-on-positive-secondary: #02542d;
  --wds-color-icon-positive-on-positive-tertiary: #024023;
  --wds-color-icon-warning-default: #975102;
  --wds-color-icon-warning-secondary: #bf6a02;
  --wds-color-icon-warning-tertiary: #e5a000;
  --wds-color-icon-warning-on-warning: #401b01;
  --wds-color-icon-warning-on-warning-secondary: #682d03;
  --wds-color-icon-warning-on-warning-tertiary: #522504;
  --wds-color-icon-danger-default: #9c120f;
  --wds-color-icon-danger-secondary: #d21e1e;
  --wds-color-icon-danger-tertiary: #f03330;
  --wds-color-icon-danger-on-danger: #fee9e7;
  --wds-color-icon-danger-on-danger-secondary: #9c120f;
  --wds-color-icon-danger-on-danger-tertiary: #9c120f;
  --wds-color-icon-disabled-default: #e6e6e6;
  --wds-color-icon-disabled-on-disabled: #d9d9d9;
  --wds-color-icon-neutral-default: #303030;
  --wds-color-icon-neutral-secondary: #5a5a5a;
  --wds-color-icon-neutral-tertiary: #767676;
  --wds-color-icon-neutral-on-neutral: #f3f3f3;
  --wds-color-icon-neutral-on-neutral-secondary: #303030;
  --wds-color-icon-neutral-on-neutral-tertiary: #434343;
  --wds-color-icon-utilities-icon-on-measurement: #9d174d;
  --wds-color-icon-utilities-icon: #db2777;
  --wds-color-border-default-primary: #67e8f9;
  --wds-color-border-default-secondary: #06b6d4;
  --wds-color-border-default-tertiary: #06b6d4;
  --wds-color-border-brand-default: #06b6d4;
  --wds-color-border-brand-secondary: #06b6d4;
  --wds-color-border-brand-tertiary: #67e8f9;
  --wds-color-border-positive-default: #02542d;
  --wds-color-border-positive-secondary: #009951;
  --wds-color-border-positive-tertiary: #14ae5c;
  --wds-color-border-warning-default: #975102;
  --wds-color-border-warning-secondary: #bf6a02;
  --wds-color-border-warning-tertiary: #e5a000;
  --wds-color-border-danger-default: #9c120f;
  --wds-color-border-danger-secondary: #d21e1e;
  --wds-color-border-danger-tertiary: #f03330;
  --wds-color-border-disabled-default: #d9d9d9;
  --wds-color-border-utilities-measurement: #f472b6;
  --wds-color-border-utilities-swatch: rgba(0, 0, 0, 0.24);
  --wds-color-border-neutral-default: #303030;
  --wds-color-border-neutral-secondary: #767676;
  --wds-color-border-neutral-tertiary: #b2b2b2;
  --wds-color-overlay-white-white4: rgba(255, 255, 255, 0.06);
  --wds-modals-tomato-tomato10: #db4324;
  --wds-modals-tomato-tomato7: #f3b0a2;
  --wds-modals-tomato-tomato6: #fac7be;
  --wds-modals-tomato-tomato5: #fdd8d3;
  --wds-modals-tomato-tomato12: #341711;
  --wds-modals-tomato-tomato11: #ca3214;
  --wds-modals-tomato-tomato9: #e54d2e;
  --wds-modals-tomato-tomato3: #fff0ee;
  --wds-modals-tomato-tomato8: #ea9280;
  --wds-modals-tomato-tomato2: #fff8f7;
  --wds-modals-tomato-tomato4: #ffe6e2;
  --wds-modals-tomato-tomato1: #fffcfc;
  --wds-modals-red-red4: #ffe5e5;
  --wds-modals-red-red5: #fdd8d8;
  --wds-modals-red-red9: #e5484d;
  --wds-modals-red-red8: #eb9091;
  --wds-modals-red-red12: #381316;
  --wds-modals-red-red6: #f9c6c6;
  --wds-modals-red-red3: #ffefef;
  --wds-modals-red-red1: #fffcfc;
  --wds-modals-red-red2: #fff8f8;
  --wds-modals-red-red7: #f3aeaf;
  --wds-modals-red-red10: #dc3d43;
  --wds-modals-red-red11: #cd2b31;
  --wds-modals-violet-violet10: #644fc1;
  --wds-modals-violet-violet12: #20134b;
  --wds-modals-violet-violet9: #6e56cf;
  --wds-modals-violet-violet3: #f5f2ff;
  --wds-modals-violet-violet4: #ede9fe;
  --wds-modals-violet-violet8: #aa99ec;
  --wds-modals-violet-violet1: #fdfcfe;
  --wds-modals-violet-violet7: #c4b8f3;
  --wds-modals-violet-violet6: #d7cff9;
  --wds-modals-violet-violet5: #e4defc;
  --wds-modals-violet-violet11: #5746af;
  --wds-modals-violet-violet2: #fbfaff;
  --wds-modals-indigo-indigo10: #3a5ccc;
  --wds-modals-indigo-indigo8: #8da4ef;
  --wds-modals-indigo-indigo7: #aec0f5;
  --wds-modals-indigo-indigo2: #f8faff;
  --wds-modals-indigo-indigo9: #3e63dd;
  --wds-modals-indigo-indigo3: #f0f4ff;
  --wds-modals-indigo-indigo6: #c6d4f9;
  --wds-modals-indigo-indigo5: #d9e2fc;
  --wds-modals-indigo-indigo12: #101d46;
  --wds-modals-indigo-indigo4: #e6edfe;
  --wds-modals-indigo-indigo11: #3451b2;
  --wds-modals-indigo-indigo1: #fdfdfe;
  --wds-modals-blue-blue7: #96c7f2;
  --wds-modals-blue-blue9: #0091ff;
  --wds-modals-blue-blue6: #b7d9f8;
  --wds-modals-blue-blue5: #cee7fe;
  --wds-modals-blue-blue4: #e1f0ff;
  --wds-modals-blue-blue10: #0081f1;
  --wds-modals-blue-blue8: #5eb0ef;
  --wds-modals-blue-blue2: #f5faff;
  --wds-modals-blue-blue3: #edf6ff;
  --wds-modals-blue-blue11: #006adc;
  --wds-modals-blue-blue12: #00254d;
  --wds-modals-blue-blue1: #fbfdff;
  --wds-modals-cyan-cyan10: #0894b3;
  --wds-modals-cyan-cyan8: #3db9cf;
  --wds-modals-cyan-cyan7: #84cdda;
  --wds-modals-cyan-cyan2: #f2fcfd;
  --wds-modals-cyan-cyan4: #d8f3f6;
  --wds-modals-cyan-cyan5: #c4eaef;
  --wds-modals-cyan-cyan12: #04313c;
  --wds-modals-cyan-cyan9: #05a2c2;
  --wds-modals-cyan-cyan3: #e7f9fb;
  --wds-modals-cyan-cyan6: #aadee6;
  --wds-modals-cyan-cyan11: #0c7792;
  --wds-modals-cyan-cyan1: #fafdfe;
  --wds-modals-teal-teal9: #12a594;
  --wds-modals-teal-teal7: #8dcec3;
  --wds-modals-teal-teal5: #c7ebe5;
  --wds-modals-teal-teal4: #d9f3ee;
  --wds-modals-teal-teal10: #0e9888;
  --wds-modals-teal-teal3: #e7f9f5;
  --wds-modals-teal-teal8: #53b9ab;
  --wds-modals-teal-teal6: #afdfd7;
  --wds-modals-teal-teal1: #fafefd;
  --wds-modals-teal-teal12: #10302b;
  --wds-modals-teal-teal11: #067a6f;
  --wds-modals-teal-teal2: #f1fcfa;
  --wds-modals-green-green9: #30a46c;
  --wds-modals-green-green10: #299764;
  --wds-modals-green-green7: #92ceac;
  --wds-modals-green-green12: #153226;
  --wds-modals-green-green6: #b4dfc4;
  --wds-modals-green-green5: #ccebd7;
  --wds-modals-green-green11: #18794e;
  --wds-modals-green-green4: #ddf3e4;
  --wds-modals-green-green3: #e9f9ee;
  --wds-modals-green-green8: #5bb98c;
  --wds-modals-green-green2: #f2fcf5;
  --wds-modals-green-green1: #fbfefc;
  --wds-modals-grass-grass10: #3d9a50;
  --wds-modals-grass-grass6: #b7dfba;
  --wds-modals-grass-grass9: #46a758;
  --wds-modals-grass-grass8: #65ba75;
  --wds-modals-grass-grass12: #1b311e;
  --wds-modals-grass-grass5: #ceebcf;
  --wds-modals-grass-grass7: #97cf9c;
  --wds-modals-grass-grass4: #dff3df;
  --wds-modals-grass-grass3: #ebf9eb;
  --wds-modals-grass-grass2: #f3fcf3;
  --wds-modals-grass-grass1: #fbfefb;
  --wds-modals-grass-grass11: #297c3b;
  --wds-modals-orange-orange10: #ed5f00;
  --wds-modals-orange-orange9: #f76808;
  --wds-modals-orange-orange11: #bd4b00;
  --wds-modals-orange-orange8: #fa934e;
  --wds-modals-orange-orange2: #fef8f4;
  --wds-modals-orange-orange7: #ffb381;
  --wds-modals-orange-orange4: #ffe8d7;
  --wds-modals-orange-orange12: #451e11;
  --wds-modals-orange-orange5: #ffdcc3;
  --wds-modals-orange-orange3: #fff1e7;
  --wds-modals-orange-orange6: #ffcca7;
  --wds-modals-orange-orange1: #fefcfb;
  --wds-modals-brown-brown10: #a07653;
  --wds-modals-brown-brown9: #ad7f58;
  --wds-modals-brown-brown7: #ddb896;
  --wds-modals-brown-brown6: #e8cdb5;
  --wds-modals-brown-brown5: #efddcc;
  --wds-modals-brown-brown1: #fefdfc;
  --wds-modals-brown-brown12: #3f2c22;
  --wds-modals-brown-brown2: #fcf9f6;
  --wds-modals-brown-brown3: #f8f1ea;
  --wds-modals-brown-brown8: #d09e72;
  --wds-modals-brown-brown4: #f4e9dd;
  --wds-modals-brown-brown11: #886349;
  --wds-modals-sky-sky10: #5fd4f4;
  --wds-modals-sky-sky8: #2ebde5;
  --wds-modals-sky-sky12: #003242;
  --wds-modals-sky-sky7: #79cfea;
  --wds-modals-sky-sky6: #a4dff1;
  --wds-modals-sky-sky11: #0078a1;
  --wds-modals-sky-sky5: #c1ecf9;
  --wds-modals-sky-sky3: #e4f9ff;
  --wds-modals-sky-sky9: #68ddfd;
  --wds-modals-sky-sky1: #f9feff;
  --wds-modals-sky-sky2: #f1fcff;
  --wds-modals-sky-sky4: #d5f4fd;
  --wds-modals-mint-mint10: #69d9c1;
  --wds-modals-mint-mint12: #09342e;
  --wds-modals-mint-mint3: #e1fbf4;
  --wds-modals-mint-mint8: #40c4aa;
  --wds-modals-mint-mint7: #7dd4c0;
  --wds-modals-mint-mint6: #a5e4d4;
  --wds-modals-mint-mint4: #d2f7ed;
  --wds-modals-mint-mint11: #147d6f;
  --wds-modals-mint-mint9: #70e1c8;
  --wds-modals-mint-mint5: #c0efe3;
  --wds-modals-mint-mint2: #effefa;
  --wds-modals-mint-mint1: #f9fefd;
  --wds-modals-lime-lime9: #99d52a;
  --wds-modals-lime-lime4: #e4f7c7;
  --wds-modals-lime-lime8: #94ba2c;
  --wds-modals-lime-lime10: #93c926;
  --wds-modals-lime-lime11: #5d770d;
  --wds-modals-lime-lime7: #b1d16a;
  --wds-modals-lime-lime6: #c9e894;
  --wds-modals-lime-lime5: #d7f2b0;
  --wds-modals-lime-lime12: #263209;
  --wds-modals-lime-lime2: #f7fcf0;
  --wds-modals-lime-lime3: #eefadc;
  --wds-modals-lime-lime1: #fcfdfa;
  --wds-modals-yellow-yellow10: #f7ce00;
  --wds-modals-yellow-yellow4: #fff8bb;
  --wds-modals-yellow-yellow9: #f5d90a;
  --wds-modals-yellow-yellow2: #fffce8;
  --wds-modals-yellow-yellow8: #ebbc00;
  --wds-modals-yellow-yellow7: #efd36c;
  --wds-modals-yellow-yellow5: #fef2a4;
  --wds-modals-yellow-yellow1: #fdfdf9;
  --wds-modals-yellow-yellow3: #fffbd1;
  --wds-modals-yellow-yellow12: #35290f;
  --wds-modals-yellow-yellow6: #f9e68c;
  --wds-modals-yellow-yellow11: #946800;
  --wds-modals-amber-amber10: #ffa01c;
  --wds-modals-amber-amber9: #ffb224;
  --wds-modals-amber-amber6: #ffd386;
  --wds-modals-amber-amber11: #ad5700;
  --wds-modals-amber-amber7: #f3ba63;
  --wds-modals-amber-amber4: #ffecbc;
  --wds-modals-amber-amber5: #ffe3a2;
  --wds-modals-amber-amber1: #fefdfb;
  --wds-modals-amber-amber12: #4e2009;
  --wds-modals-amber-amber8: #ee9d2b;
  --wds-modals-amber-amber2: #fff9ed;
  --wds-modals-amber-amber3: #fff4d5;
  --wds-modals-gray-gray10: #858585;
  --wds-modals-gray-gray9: #8f8f8f;
  --wds-modals-gray-gray8: #c7c7c7;
  --wds-modals-gray-gray7: #dbdbdb;
  --wds-modals-gray-gray5: #e8e8e8;
  --wds-modals-gray-gray3: #f3f3f3;
  --wds-modals-gray-gray1: #fcfcfc;
  --wds-modals-gray-gray12: #171717;
  --wds-modals-gray-gray11: #6f6f6f;
  --wds-modals-gray-gray6: #e2e2e2;
  --wds-modals-gray-gray4: #ededed;
  --wds-modals-gray-gray2: #f8f8f8;
  --wds-modals-mauve-mauve10: #86848d;
  --wds-modals-mauve-mauve7: #dcdbdd;
  --wds-modals-mauve-mauve5: #e9e8ea;
  --wds-modals-mauve-mauve8: #c8c7cb;
  --wds-modals-mauve-mauve6: #e4e2e4;
  --wds-modals-mauve-mauve4: #eeedef;
  --wds-modals-mauve-mauve1: #fdfcfd;
  --wds-modals-mauve-mauve12: #1a1523;
  --wds-modals-mauve-mauve11: #6f6e77;
  --wds-modals-mauve-mauve2: #f9f8f9;
  --wds-modals-mauve-mauve9: #908e96;
  --wds-modals-mauve-mauve3: #f4f2f4;
  --wds-modals-slate-slate6: #dfe3e6;
  --wds-modals-slate-slate9: #889096;
  --wds-modals-slate-slate4: #eceef0;
  --wds-modals-slate-slate7: #d7dbdf;
  --wds-modals-slate-slate8: #c1c8cd;
  --wds-modals-slate-slate5: #e6e8eb;
  --wds-modals-slate-slate10: #7e868c;
  --wds-modals-slate-slate1: #fbfcfd;
  --wds-modals-slate-slate11: #687076;
  --wds-modals-slate-slate2: #f8f9fa;
  --wds-modals-slate-slate3: #f1f3f5;
  --wds-modals-slate-slate12: #11181c;
  --wds-modals-sage-sage7: #d7dcda;
  --wds-modals-sage-sage6: #dfe4e2;
  --wds-modals-sage-sage3: #f1f4f3;
  --wds-modals-sage-sage11: #6a716e;
  --wds-modals-sage-sage9: #8a918e;
  --wds-modals-sage-sage5: #e6e9e8;
  --wds-modals-sage-sage10: #808784;
  --wds-modals-sage-sage4: #ecefed;
  --wds-modals-sage-sage1: #fbfdfc;
  --wds-modals-sage-sage12: #111c18;
  --wds-modals-sage-sage8: #c2c9c6;
  --wds-modals-sage-sage2: #f8faf9;
  --wds-modals-olive-olive10: #818780;
  --wds-modals-olive-olive8: #c3c8c2;
  --wds-modals-olive-olive6: #e0e4e0;
  --wds-modals-olive-olive1: #fcfdfc;
  --wds-modals-olive-olive9: #8b918a;
  --wds-modals-olive-olive5: #e6e9e6;
  --wds-modals-olive-olive4: #ecefec;
  --wds-modals-olive-olive3: #f2f4f2;
  --wds-modals-olive-olive12: #141e12;
  --wds-modals-olive-olive11: #6b716a;
  --wds-modals-olive-olive7: #d8dcd8;
  --wds-modals-olive-olive2: #f8faf8;
  --wds-modals-sand-sand10: #868682;
  --wds-modals-sand-sand6: #e3e3e0;
  --wds-modals-sand-sand4: #eeeeec;
  --wds-modals-sand-sand9: #90908c;
  --wds-modals-sand-sand7: #dbdbd7;
  --wds-modals-sand-sand5: #e9e9e6;
  --wds-modals-sand-sand12: #1b1b18;
  --wds-modals-sand-sand2: #f9f9f8;
  --wds-modals-sand-sand11: #706f6c;
  --wds-modals-sand-sand3: #f3f3f2;
  --wds-modals-sand-sand8: #c8c7c1;
  --wds-modals-sand-sand1: #fdfdfc;
  --wds-modals-gold-gold7: #cbbda4;
  --wds-modals-gold-gold8: #b8a383;
  --wds-modals-gold-gold6: #dad1bd;
  --wds-modals-gold-gold5: #e5dfd0;
  --wds-modals-gold-gold4: #eeeadd;
  --wds-modals-gold-gold10: #8c795d;
  --wds-modals-gold-gold1: #fdfdfc;
  --wds-modals-gold-gold9: #978365;
  --wds-modals-gold-gold3: #f5f2e9;
  --wds-modals-gold-gold12: #3b352b;
  --wds-modals-gold-gold11: #776750;
  --wds-modals-gold-gold2: #fbf9f2;
  --wds-modals-bronze-bronze10: #977669;
  --wds-modals-bronze-bronze1: #fdfcfc;
  --wds-modals-bronze-bronze9: #a18072;
  --wds-modals-bronze-bronze8: #bfa094;
  --wds-modals-bronze-bronze11: #846358;
  --wds-modals-bronze-bronze5: #eaddd7;
  --wds-modals-bronze-bronze4: #f2e8e4;
  --wds-modals-bronze-bronze2: #fdf8f6;
  --wds-modals-bronze-bronze3: #f8f1ee;
  --wds-modals-bronze-bronze12: #43302b;
  --wds-modals-bronze-bronze7: #d1b9b0;
  --wds-modals-bronze-bronze6: #e0cec7;
  --wds-modals-crimson-crimson10: #e03177;
  --wds-modals-crimson-crimson6: #f4c6db;
  --wds-modals-crimson-crimson9: #e93d82;
  --wds-modals-crimson-crimson4: #fce5f0;
  --wds-modals-crimson-crimson7: #edadc8;
  --wds-modals-crimson-crimson5: #f9d8e7;
  --wds-modals-crimson-crimson11: #d31e66;
  --wds-modals-crimson-crimson12: #3d0d1d;
  --wds-modals-crimson-crimson2: #fff7fb;
  --wds-modals-crimson-crimson3: #feeff6;
  --wds-modals-crimson-crimson8: #e58fb1;
  --wds-modals-crimson-crimson1: #fffcfd;
  --wds-modals-pink-pink10: #d23197;
  --wds-modals-pink-pink9: #d6409f;
  --wds-modals-pink-pink7: #ecadd4;
  --wds-modals-pink-pink1: #fffcfe;
  --wds-modals-pink-pink11: #cd1d8d;
  --wds-modals-pink-pink6: #f3c6e2;
  --wds-modals-pink-pink8: #e38ec3;
  --wds-modals-pink-pink5: #f9d8ec;
  --wds-modals-pink-pink4: #fce5f3;
  --wds-modals-pink-pink3: #feeef8;
  --wds-modals-pink-pink12: #3b0a2a;
  --wds-modals-pink-pink2: #fff7fc;
  --wds-modals-plum-plum10: #a43cb4;
  --wds-modals-plum-plum9: #ab4aba;
  --wds-modals-plum-plum12: #340c3b;
  --wds-modals-plum-plum8: #cf91d8;
  --wds-modals-plum-plum6: #ebc8ed;
  --wds-modals-plum-plum2: #fff8ff;
  --wds-modals-plum-plum5: #f3d9f4;
  --wds-modals-plum-plum11: #9c2bad;
  --wds-modals-plum-plum4: #f9e5f9;
  --wds-modals-plum-plum7: #dfafe3;
  --wds-modals-plum-plum3: #fceffc;
  --wds-modals-plum-plum1: #fefcff;
  --wds-modals-purple-purple10: #8445bc;
  --wds-modals-purple-purple3: #f9f1fe;
  --wds-modals-purple-purple8: #be93e4;
  --wds-modals-purple-purple7: #d3b4ed;
  --wds-modals-purple-purple4: #f3e7fc;
  --wds-modals-purple-purple1: #fefcfe;
  --wds-modals-purple-purple6: #e3ccf4;
  --wds-modals-purple-purple2: #fdfaff;
  --wds-modals-purple-purple12: #2b0e44;
  --wds-modals-purple-purple11: #793aaf;
  --wds-modals-purple-purple9: #8e4ec6;
  --wds-modals-purple-purple5: #eddbf9;
  --wds-modals-overlay-white-white10: rgba(255, 255, 255, 0.45);
  --wds-modals-overlay-white-white8: rgba(255, 255, 255, 0.25);
  --wds-modals-overlay-white-white7: rgba(255, 255, 255, 0.18);
  --wds-modals-overlay-white-white5: rgba(255, 255, 255, 0.09);
  --wds-modals-overlay-white-white4: rgba(255, 255, 255, 0.06);
  --wds-modals-overlay-white-white2: rgba(255, 255, 255, 0.01);
  --wds-modals-overlay-white-white3: rgba(255, 255, 255, 0.03);
  --wds-modals-overlay-white-white12: rgba(255, 255, 255, 0.92);
  --wds-modals-overlay-white-white9: rgba(255, 255, 255, 0.39);
  --wds-modals-overlay-white-white11: rgba(255, 255, 255, 0.53);
  --wds-modals-overlay-white-white6: rgba(255, 255, 255, 0.12);
  --wds-modals-overlay-white-white1: rgba(255, 255, 255, 0);
  --wds-modals-overlay-black-black9: rgba(0, 0, 0, 0.44);
  --wds-modals-overlay-black-black8: rgba(0, 0, 0, 0.22);
  --wds-modals-overlay-black-black6: rgba(0, 0, 0, 0.11);
  --wds-modals-overlay-black-black5: rgba(0, 0, 0, 0.09);
  --wds-modals-overlay-black-black4: rgba(0, 0, 0, 0.07);
  --wds-modals-overlay-black-black3: rgba(0, 0, 0, 0.05);
  --wds-modals-overlay-black-black7: rgba(0, 0, 0, 0.14);
  --wds-modals-overlay-black-black12: rgba(0, 0, 0, 0.91);
  --wds-modals-overlay-black-black11: rgba(0, 0, 0, 0.56);
  --wds-modals-overlay-black-black10: rgba(0, 0, 0, 0.48);
  --wds-modals-overlay-black-black2: rgba(0, 0, 0, 0.03);
  --wds-modals-overlay-black-black1: rgba(0, 0, 0, 0.01);
  --wds-theme-accent-color1: #009ec2;
  --wds-theme-accent-color2: #00abd1;
  --wds-theme-accent-color3: #00b7e0;
  --wds-theme-accent-color4: #00c4f0;
  --wds-theme-accent-color5: #00d0ff;
  --wds-theme-accent-color6: #0fd3ff;
  --wds-theme-accent-color7: #1fd6ff;
  --wds-theme-accent-color8: #2ed9ff;
  --wds-theme-accent-color9: #3ddbff;
  --wds-theme-accent-color10: #4ddeff;
  --wds-theme-accent-color11: #eeecf9;
  --wds-theme-accent-color12: #eeecf9;
  --wds-theme-base-color10: #808080;
  --wds-theme-base-color6: #b3bcbd;
  --wds-theme-base-color5: #c0c8c9;
  --wds-theme-base-color8: #999e9f;
  --wds-theme-base-color12: #020303;
  --wds-theme-base-color3: #dde3e4;
  --wds-theme-base-color9: #8a8e8f;
  --wds-theme-base-color7: #a4acad;
  --wds-theme-base-color4: #cfd7d8;
  --wds-theme-base-color11: #cfd6d5;
  --wds-theme-base-color2: #eef1f2;
  --wds-theme-base-color1: #fcfdfd;
  --wds-theme-ghost-color1: rgba(252, 253, 253, 0);
  --wds-theme-ghost-color2: rgba(238, 241, 242, 0);
  --wds-theme-ghost-color3: rgba(228, 221, 221, 0);
  --wds-theme-ghost-color4: rgba(207, 215, 216, 0);
  --wds-theme-ghost-color5: rgba(192, 200, 201, 0);
  --wds-theme-ghost-color6: rgba(179, 188, 189, 0);
  --wds-theme-ghost-color7: rgba(164, 172, 173, 0);
  --wds-theme-ghost-color8: rgba(153, 158, 159, 0);
  --wds-theme-ghost-color9: rgba(138, 142, 143, 0);
  --wds-theme-ghost-color10: rgba(128, 128, 128, 0);
  --wds-theme-ghost-color11: rgba(207, 214, 213, 0);
  --wds-theme-ghost-color12: rgba(2, 3, 3, 0);
  --wds-theme-alias-surface-default: #fcfdfd;
  --wds-theme-alias-surface-subtle: #eef1f2;
  --wds-theme-alias-surface-ui: #dde3e4;
  --wds-theme-alias-color4: #cfd7d8;
  --wds-theme-alias-color5: #c0c8c9;
  --wds-theme-alias-color6: #b3bcbd;
  --wds-theme-alias-color7: #a4acad;
  --wds-theme-alias-color8: #999e9f;
  --wds-theme-alias-color9: #8a8e8f;
  --wds-theme-alias-color10: #808080;
  --wds-theme-alias-color11: #cfd6d5;
  --wds-theme-alias-color12: #020303;
}
