.DIRE {
  $flds-color-primitives-white-50: rgba(255, 255, 255, 0.02);
  $flds-color-primitives-white-100: rgba(255, 255, 255, 0.05);
  $flds-color-primitives-white-200: rgba(255, 255, 255, 0.1);
  $flds-color-primitives-white-300: rgba(255, 255, 255, 0.2);
  $flds-color-primitives-white-400: rgba(255, 255, 255, 0.4);
  $flds-color-primitives-white-500: rgba(255, 255, 255, 0.7);
  $flds-color-primitives-white-600: rgba(255, 255, 255, 0.8);
  $flds-color-primitives-white-700: rgba(255, 255, 255, 0.85);
  $flds-color-primitives-white-800: rgba(255, 255, 255, 0.9);
  $flds-color-primitives-white-900: rgba(255, 255, 255, 0.95);
  $flds-color-primitives-white-1000: #ffffff;
  $flds-color-primitives-brand-100: #cffafe;
  $flds-color-primitives-brand-200: #a5f3fc;
  $flds-color-primitives-brand-300: #67e8f9;
  $flds-color-primitives-brand-400: #06b6d4;
  $flds-color-primitives-brand-500: #06b6d4;
  $flds-color-primitives-brand-600: #0891b2;
  $flds-color-primitives-brand-700: #0e7490;
  $flds-color-primitives-brand-800: #155e75;
  $flds-color-primitives-brand-900: #164e63;
  $flds-color-primitives-brand-1000: #164e63;
  $flds-color-primitives-red-100: #fee9e7;
  $flds-color-primitives-red-200: #fdd3d0;
  $flds-color-primitives-red-300: #fcb3ad;
  $flds-color-primitives-red-400: #ff7d6f;
  $flds-color-primitives-red-500: #f03330;
  $flds-color-primitives-red-600: #d21e1e;
  $flds-color-primitives-red-700: #9c120f;
  $flds-color-primitives-red-800: #690807;
  $flds-color-primitives-red-900: #4d0b0a;
  $flds-color-primitives-red-1000: #300603;
  $flds-color-primitives-yellow-100: #fffbeb;
  $flds-color-primitives-yellow-200: #fff1c2;
  $flds-color-primitives-yellow-300: #ffe8a3;
  $flds-color-primitives-yellow-400: #e8b931;
  $flds-color-primitives-yellow-500: #e5a000;
  $flds-color-primitives-yellow-600: #bf6a02;
  $flds-color-primitives-yellow-700: #975102;
  $flds-color-primitives-yellow-800: #682d03;
  $flds-color-primitives-yellow-900: #522504;
  $flds-color-primitives-yellow-1000: #401b01;
  $flds-color-primitives-green-100: #ebffee;
  $flds-color-primitives-green-200: #cff7d3;
  $flds-color-primitives-green-300: #aff4c6;
  $flds-color-primitives-green-400: #85e0a3;
  $flds-color-primitives-green-500: #14ae5c;
  $flds-color-primitives-green-600: #009951;
  $flds-color-primitives-green-700: #008043;
  $flds-color-primitives-green-800: #02542d;
  $flds-color-primitives-green-900: #024023;
  $flds-color-primitives-green-1000: #062d1b;
  $flds-color-primitives-black-50: rgba(12, 12, 13, 0.05);
  $flds-color-primitives-black-100: rgba(12, 12, 13, 0.05);
  $flds-color-primitives-black-200: rgba(12, 12, 13, 0.1);
  $flds-color-primitives-black-300: rgba(12, 12, 13, 0.2);
  $flds-color-primitives-black-400: rgba(12, 12, 13, 0.4);
  $flds-color-primitives-black-500: rgba(12, 12, 13, 0.7);
  $flds-color-primitives-black-600: rgba(12, 12, 13, 0.8);
  $flds-color-primitives-black-700: rgba(12, 12, 13, 0.85);
  $flds-color-primitives-black-800: rgba(12, 12, 13, 0.9);
  $flds-color-primitives-black-900: rgba(12, 12, 13, 0.95);
  $flds-color-primitives-black-1000: #0c0c0d;
  $flds-color-primitives-gray-100: #f5f5f5;
  $flds-color-primitives-gray-200: #e6e6e6;
  $flds-color-primitives-gray-300: #d9d9d9;
  $flds-color-primitives-gray-400: #b3b3b3;
  $flds-color-primitives-gray-500: #757575;
  $flds-color-primitives-gray-600: #444444;
  $flds-color-primitives-gray-700: #383838;
  $flds-color-primitives-gray-800: #2c2c2c;
  $flds-color-primitives-gray-900: #1e1e1e;
  $flds-color-primitives-gray-1000: #111111;
  $flds-color-primitives-brand-overlay-100: rgba(135, 165, 255, 0.05);
  $flds-color-primitives-brand-overlay-200: rgba(69, 110, 235, 0.1);
  $flds-color-primitives-brand-overlay-300: rgba(69, 110, 235, 0.15);
  $flds-color-primitives-brand-overlay-400: rgba(69, 110, 235, 0.2);
  $flds-color-primitives-slate-100: #f3f3f3;
  $flds-color-primitives-slate-200: #e3e3e3;
  $flds-color-primitives-slate-300: #cdcdcd;
  $flds-color-primitives-slate-400: #b2b2b2;
  $flds-color-primitives-slate-500: #949494;
  $flds-color-primitives-slate-600: #767676;
  $flds-color-primitives-slate-700: #5a5a5a;
  $flds-color-primitives-slate-800: #434343;
  $flds-color-primitives-slate-900: #303030;
  $flds-color-primitives-slate-1000: #242424;
  $flds-color-primitives-teal-50: #f0fdfa;
  $flds-color-primitives-teal-100: #ccfbf1;
  $flds-color-primitives-teal-200: #99f6e4;
  $flds-color-primitives-teal-300: #5eead4;
  $flds-color-primitives-teal-400: #2dd4bf;
  $flds-color-primitives-teal-500: #14b8a6;
  $flds-color-primitives-teal-600: #0d9488;
  $flds-color-primitives-teal-700: #0f766e;
  $flds-color-primitives-teal-800: #115e59;
  $flds-color-primitives-teal-900: #134e4a;
  $flds-color-primitives-emerald-50: #ecfdf5;
  $flds-color-primitives-emerald-100: #d1fae5;
  $flds-color-primitives-emerald-200: #a7f3d0;
  $flds-color-primitives-emerald-300: #6ee7b7;
  $flds-color-primitives-emerald-400: #34d399;
  $flds-color-primitives-emerald-500: #10b981;
  $flds-color-primitives-emerald-600: #059669;
  $flds-color-primitives-emerald-700: #047857;
  $flds-color-primitives-emerald-800: #065f46;
  $flds-color-primitives-emerald-900: #064e3b;
  $flds-color-primitives-lime-50: #f7fee7;
  $flds-color-primitives-lime-100: #ecfccb;
  $flds-color-primitives-lime-200: #d9f99d;
  $flds-color-primitives-lime-300: #bef264;
  $flds-color-primitives-lime-400: #a3e635;
  $flds-color-primitives-lime-500: #84cc16;
  $flds-color-primitives-lime-600: #65a30d;
  $flds-color-primitives-lime-700: #4d7c0f;
  $flds-color-primitives-lime-800: #3f6212;
  $flds-color-primitives-lime-900: #365314;
  $flds-color-primitives-honey-50: #fffdea;
  $flds-color-primitives-honey-100: #fff6c5;
  $flds-color-primitives-honey-200: #ffed85;
  $flds-color-primitives-honey-300: #ffdd46;
  $flds-color-primitives-honey-400: #ffca1b;
  $flds-color-primitives-honey-500: #ffa800;
  $flds-color-primitives-honey-600: #e27f00;
  $flds-color-primitives-honey-700: #bb5802;
  $flds-color-primitives-honey-800: #984308;
  $flds-color-primitives-honey-900: #7c370b;
  $flds-color-primitives-sky-50: #f0f9ff;
  $flds-color-primitives-sky-100: #e0f2fe;
  $flds-color-primitives-sky-200: #bae6fd;
  $flds-color-primitives-sky-300: #7dd3fc;
  $flds-color-primitives-sky-400: #38bdf8;
  $flds-color-primitives-sky-500: #0ea5e9;
  $flds-color-primitives-sky-600: #0284c7;
  $flds-color-primitives-sky-700: #0369a1;
  $flds-color-primitives-sky-800: #075985;
  $flds-color-primitives-sky-900: #0c4a6e;
  $flds-color-primitives-lavendar-50: #eef2ff;
  $flds-color-primitives-lavendar-100: #e0e7ff;
  $flds-color-primitives-lavendar-200: #c7d2fe;
  $flds-color-primitives-lavendar-300: #a5b4fc;
  $flds-color-primitives-lavendar-400: #818cf8;
  $flds-color-primitives-lavendar-500: #4d50dc;
  $flds-color-primitives-lavendar-600: #4f46e5;
  $flds-color-primitives-lavendar-700: #4338ca;
  $flds-color-primitives-lavendar-800: #3730a3;
  $flds-color-primitives-lavendar-900: #312e81;
  $flds-color-primitives-pink-100: #fce7f3;
  $flds-color-primitives-pink-200: #fbcfe8;
  $flds-color-primitives-pink-300: #f9a8d4;
  $flds-color-primitives-pink-400: #f472b6;
  $flds-color-primitives-pink-500: #ec4899;
  $flds-color-primitives-pink-600: #db2777;
  $flds-color-primitives-pink-700: #be185d;
  $flds-color-primitives-pink-800: #9d174d;
  $flds-color-primitives-pink-900: #831843;
  $flds-color-primitives-rose-50: #fff1f2;
  $flds-color-primitives-rose-100: #ffe4e6;
  $flds-color-primitives-rose-200: #fecdd3;
  $flds-color-primitives-rose-300: #fda4af;
  $flds-color-primitives-rose-400: #fb7185;
  $flds-color-primitives-rose-500: #f43f5e;
  $flds-color-primitives-rose-600: #e11d48;
  $flds-color-primitives-rose-700: #be123c;
  $flds-color-primitives-rose-800: #9f1239;
  $flds-color-primitives-rose-900: #881337;
  $flds-color-primitives-cyan-50: #ecfeff;
  $flds-color-primitives-cyan-100: #cffafe;
  $flds-color-primitives-cyan-200: #a5f3fc;
  $flds-color-primitives-cyan-300: #67e8f9;
  $flds-color-primitives-cyan-400: #22d3ee;
  $flds-color-primitives-cyan-500: #06b6d4;
  $flds-color-primitives-cyan-600: #0891b2;
  $flds-color-primitives-cyan-700: #0e7490;
  $flds-color-primitives-cyan-800: #155e75;
  $flds-color-primitives-cyan-900: #164e63;
  $flds-color-primitives-tangerine-50: #ffede5;
  $flds-color-primitives-tangerine-100: #ffdccc;
  $flds-color-primitives-tangerine-200: #ffcab3;
  $flds-color-primitives-tangerine-300: #feb89a;
  $flds-color-primitives-tangerine-400: #fba782;
  $flds-color-primitives-tangerine-500: #f7956b;
  $flds-color-primitives-tangerine-600: #f28253;
  $flds-color-primitives-tangerine-700: #ec703c;
  $flds-color-primitives-tangerine-800: #e55c23;
  $flds-color-primitives-tangerine-900: #de4600;
  $flds-color-primitives-brand-muted-50: #ecfeff;
  $flds-color-primitives-brand-muted-100: #cffafe;
  $flds-color-primitives-brand-muted-200: #a5f3fc;
  $flds-color-primitives-brand-muted-300: #67e8f9;
  $flds-color-primitives-brand-muted-400: #06b6d4;
  $flds-color-primitives-brand-muted-500: #06b6d4;
  $flds-color-primitives-brand-muted-600: #0891b2;
  $flds-color-primitives-brand-muted-700: #0e7490;
  $flds-color-primitives-brand-muted-800: #155e75;
  $flds-color-primitives-brand-muted-900: #164e63;
  $flds-color-primitives-brand-muted-1000: #164e63;

  --flds-color-primitives-white-50: rgba(255, 255, 255, 0.02);
  --flds-color-primitives-white-100: rgba(255, 255, 255, 0.05);
  --flds-color-primitives-white-200: rgba(255, 255, 255, 0.1);
  --flds-color-primitives-white-300: rgba(255, 255, 255, 0.2);
  --flds-color-primitives-white-400: rgba(255, 255, 255, 0.4);
  --flds-color-primitives-white-500: rgba(255, 255, 255, 0.7);
  --flds-color-primitives-white-600: rgba(255, 255, 255, 0.8);
  --flds-color-primitives-white-700: rgba(255, 255, 255, 0.85);
  --flds-color-primitives-white-800: rgba(255, 255, 255, 0.9);
  --flds-color-primitives-white-900: rgba(255, 255, 255, 0.95);
  --flds-color-primitives-white-1000: #ffffff;
  --flds-color-primitives-brand-100: #cffafe;
  --flds-color-primitives-brand-200: #a5f3fc;
  --flds-color-primitives-brand-300: #67e8f9;
  --flds-color-primitives-brand-400: #06b6d4;
  --flds-color-primitives-brand-500: #06b6d4;
  --flds-color-primitives-brand-600: #0891b2;
  --flds-color-primitives-brand-700: #0e7490;
  --flds-color-primitives-brand-800: #155e75;
  --flds-color-primitives-brand-900: #164e63;
  --flds-color-primitives-brand-1000: #164e63;
  --flds-color-primitives-red-100: #fee9e7;
  --flds-color-primitives-red-200: #fdd3d0;
  --flds-color-primitives-red-300: #fcb3ad;
  --flds-color-primitives-red-400: #ff7d6f;
  --flds-color-primitives-red-500: #f03330;
  --flds-color-primitives-red-600: #d21e1e;
  --flds-color-primitives-red-700: #9c120f;
  --flds-color-primitives-red-800: #690807;
  --flds-color-primitives-red-900: #4d0b0a;
  --flds-color-primitives-red-1000: #300603;
  --flds-color-primitives-yellow-100: #fffbeb;
  --flds-color-primitives-yellow-200: #fff1c2;
  --flds-color-primitives-yellow-300: #ffe8a3;
  --flds-color-primitives-yellow-400: #e8b931;
  --flds-color-primitives-yellow-500: #e5a000;
  --flds-color-primitives-yellow-600: #bf6a02;
  --flds-color-primitives-yellow-700: #975102;
  --flds-color-primitives-yellow-800: #682d03;
  --flds-color-primitives-yellow-900: #522504;
  --flds-color-primitives-yellow-1000: #401b01;
  --flds-color-primitives-green-100: #ebffee;
  --flds-color-primitives-green-200: #cff7d3;
  --flds-color-primitives-green-300: #aff4c6;
  --flds-color-primitives-green-400: #85e0a3;
  --flds-color-primitives-green-500: #14ae5c;
  --flds-color-primitives-green-600: #009951;
  --flds-color-primitives-green-700: #008043;
  --flds-color-primitives-green-800: #02542d;
  --flds-color-primitives-green-900: #024023;
  --flds-color-primitives-green-1000: #062d1b;
  --flds-color-primitives-black-50: rgba(12, 12, 13, 0.05);
  --flds-color-primitives-black-100: rgba(12, 12, 13, 0.05);
  --flds-color-primitives-black-200: rgba(12, 12, 13, 0.1);
  --flds-color-primitives-black-300: rgba(12, 12, 13, 0.2);
  --flds-color-primitives-black-400: rgba(12, 12, 13, 0.4);
  --flds-color-primitives-black-500: rgba(12, 12, 13, 0.7);
  --flds-color-primitives-black-600: rgba(12, 12, 13, 0.8);
  --flds-color-primitives-black-700: rgba(12, 12, 13, 0.85);
  --flds-color-primitives-black-800: rgba(12, 12, 13, 0.9);
  --flds-color-primitives-black-900: rgba(12, 12, 13, 0.95);
  --flds-color-primitives-black-1000: #0c0c0d;
  --flds-color-primitives-gray-100: #f5f5f5;
  --flds-color-primitives-gray-200: #e6e6e6;
  --flds-color-primitives-gray-300: #d9d9d9;
  --flds-color-primitives-gray-400: #b3b3b3;
  --flds-color-primitives-gray-500: #757575;
  --flds-color-primitives-gray-600: #444444;
  --flds-color-primitives-gray-700: #383838;
  --flds-color-primitives-gray-800: #2c2c2c;
  --flds-color-primitives-gray-900: #1e1e1e;
  --flds-color-primitives-gray-1000: #111111;
  --flds-color-primitives-brand-overlay-100: rgba(135, 165, 255, 0.05);
  --flds-color-primitives-brand-overlay-200: rgba(69, 110, 235, 0.1);
  --flds-color-primitives-brand-overlay-300: rgba(69, 110, 235, 0.15);
  --flds-color-primitives-brand-overlay-400: rgba(69, 110, 235, 0.2);
  --flds-color-primitives-slate-100: #f3f3f3;
  --flds-color-primitives-slate-200: #e3e3e3;
  --flds-color-primitives-slate-300: #cdcdcd;
  --flds-color-primitives-slate-400: #b2b2b2;
  --flds-color-primitives-slate-500: #949494;
  --flds-color-primitives-slate-600: #767676;
  --flds-color-primitives-slate-700: #5a5a5a;
  --flds-color-primitives-slate-800: #434343;
  --flds-color-primitives-slate-900: #303030;
  --flds-color-primitives-slate-1000: #242424;
  --flds-color-primitives-teal-50: #f0fdfa;
  --flds-color-primitives-teal-100: #ccfbf1;
  --flds-color-primitives-teal-200: #99f6e4;
  --flds-color-primitives-teal-300: #5eead4;
  --flds-color-primitives-teal-400: #2dd4bf;
  --flds-color-primitives-teal-500: #14b8a6;
  --flds-color-primitives-teal-600: #0d9488;
  --flds-color-primitives-teal-700: #0f766e;
  --flds-color-primitives-teal-800: #115e59;
  --flds-color-primitives-teal-900: #134e4a;
  --flds-color-primitives-emerald-50: #ecfdf5;
  --flds-color-primitives-emerald-100: #d1fae5;
  --flds-color-primitives-emerald-200: #a7f3d0;
  --flds-color-primitives-emerald-300: #6ee7b7;
  --flds-color-primitives-emerald-400: #34d399;
  --flds-color-primitives-emerald-500: #10b981;
  --flds-color-primitives-emerald-600: #059669;
  --flds-color-primitives-emerald-700: #047857;
  --flds-color-primitives-emerald-800: #065f46;
  --flds-color-primitives-emerald-900: #064e3b;
  --flds-color-primitives-lime-50: #f7fee7;
  --flds-color-primitives-lime-100: #ecfccb;
  --flds-color-primitives-lime-200: #d9f99d;
  --flds-color-primitives-lime-300: #bef264;
  --flds-color-primitives-lime-400: #a3e635;
  --flds-color-primitives-lime-500: #84cc16;
  --flds-color-primitives-lime-600: #65a30d;
  --flds-color-primitives-lime-700: #4d7c0f;
  --flds-color-primitives-lime-800: #3f6212;
  --flds-color-primitives-lime-900: #365314;
  --flds-color-primitives-honey-50: #fffdea;
  --flds-color-primitives-honey-100: #fff6c5;
  --flds-color-primitives-honey-200: #ffed85;
  --flds-color-primitives-honey-300: #ffdd46;
  --flds-color-primitives-honey-400: #ffca1b;
  --flds-color-primitives-honey-500: #ffa800;
  --flds-color-primitives-honey-600: #e27f00;
  --flds-color-primitives-honey-700: #bb5802;
  --flds-color-primitives-honey-800: #984308;
  --flds-color-primitives-honey-900: #7c370b;
  --flds-color-primitives-sky-50: #f0f9ff;
  --flds-color-primitives-sky-100: #e0f2fe;
  --flds-color-primitives-sky-200: #bae6fd;
  --flds-color-primitives-sky-300: #7dd3fc;
  --flds-color-primitives-sky-400: #38bdf8;
  --flds-color-primitives-sky-500: #0ea5e9;
  --flds-color-primitives-sky-600: #0284c7;
  --flds-color-primitives-sky-700: #0369a1;
  --flds-color-primitives-sky-800: #075985;
  --flds-color-primitives-sky-900: #0c4a6e;
  --flds-color-primitives-lavendar-50: #eef2ff;
  --flds-color-primitives-lavendar-100: #e0e7ff;
  --flds-color-primitives-lavendar-200: #c7d2fe;
  --flds-color-primitives-lavendar-300: #a5b4fc;
  --flds-color-primitives-lavendar-400: #818cf8;
  --flds-color-primitives-lavendar-500: #4d50dc;
  --flds-color-primitives-lavendar-600: #4f46e5;
  --flds-color-primitives-lavendar-700: #4338ca;
  --flds-color-primitives-lavendar-800: #3730a3;
  --flds-color-primitives-lavendar-900: #312e81;
  --flds-color-primitives-pink-100: #fce7f3;
  --flds-color-primitives-pink-200: #fbcfe8;
  --flds-color-primitives-pink-300: #f9a8d4;
  --flds-color-primitives-pink-400: #f472b6;
  --flds-color-primitives-pink-500: #ec4899;
  --flds-color-primitives-pink-600: #db2777;
  --flds-color-primitives-pink-700: #be185d;
  --flds-color-primitives-pink-800: #9d174d;
  --flds-color-primitives-pink-900: #831843;
  --flds-color-primitives-rose-50: #fff1f2;
  --flds-color-primitives-rose-100: #ffe4e6;
  --flds-color-primitives-rose-200: #fecdd3;
  --flds-color-primitives-rose-300: #fda4af;
  --flds-color-primitives-rose-400: #fb7185;
  --flds-color-primitives-rose-500: #f43f5e;
  --flds-color-primitives-rose-600: #e11d48;
  --flds-color-primitives-rose-700: #be123c;
  --flds-color-primitives-rose-800: #9f1239;
  --flds-color-primitives-rose-900: #881337;
  --flds-color-primitives-cyan-50: #ecfeff;
  --flds-color-primitives-cyan-100: #cffafe;
  --flds-color-primitives-cyan-200: #a5f3fc;
  --flds-color-primitives-cyan-300: #67e8f9;
  --flds-color-primitives-cyan-400: #22d3ee;
  --flds-color-primitives-cyan-500: #06b6d4;
  --flds-color-primitives-cyan-600: #0891b2;
  --flds-color-primitives-cyan-700: #0e7490;
  --flds-color-primitives-cyan-800: #155e75;
  --flds-color-primitives-cyan-900: #164e63;
  --flds-color-primitives-tangerine-50: #ffede5;
  --flds-color-primitives-tangerine-100: #ffdccc;
  --flds-color-primitives-tangerine-200: #ffcab3;
  --flds-color-primitives-tangerine-300: #feb89a;
  --flds-color-primitives-tangerine-400: #fba782;
  --flds-color-primitives-tangerine-500: #f7956b;
  --flds-color-primitives-tangerine-600: #f28253;
  --flds-color-primitives-tangerine-700: #ec703c;
  --flds-color-primitives-tangerine-800: #e55c23;
  --flds-color-primitives-tangerine-900: #de4600;
  --flds-color-primitives-brand-muted-50: #ecfeff;
  --flds-color-primitives-brand-muted-100: #cffafe;
  --flds-color-primitives-brand-muted-200: #a5f3fc;
  --flds-color-primitives-brand-muted-300: #67e8f9;
  --flds-color-primitives-brand-muted-400: #06b6d4;
  --flds-color-primitives-brand-muted-500: #06b6d4;
  --flds-color-primitives-brand-muted-600: #0891b2;
  --flds-color-primitives-brand-muted-700: #0e7490;
  --flds-color-primitives-brand-muted-800: #155e75;
  --flds-color-primitives-brand-muted-900: #164e63;
  --flds-color-primitives-brand-muted-1000: #164e63;
}
