.Dark {
  --wds-colors-defaults-tomato-tomato10: #ec5e41;
  --wds-colors-defaults-tomato-tomato7: #7f2315;
  --wds-colors-defaults-tomato-tomato5: #541c15;
  --wds-colors-defaults-tomato-tomato12: #feefec;
  --wds-colors-defaults-tomato-tomato11: #f16a50;
  --wds-colors-defaults-tomato-tomato9: #e54d2e;
  --wds-colors-defaults-tomato-tomato3: #3b1813;
  --wds-colors-defaults-tomato-tomato8: #a42a12;
  --wds-colors-defaults-tomato-tomato2: #2a1410;
  --wds-colors-defaults-tomato-tomato4: #481a14;
  --wds-colors-defaults-tomato-tomato1: #1d1412;
  --wds-colors-defaults-tomato-tomato6: #541c15;
  --wds-colors-defaults-red-red4: #481a1d;
  --wds-colors-defaults-red-red5: #541b1f;
  --wds-colors-defaults-red-red9: #e5484d;
  --wds-colors-defaults-red-red8: #aa2429;
  --wds-colors-defaults-red-red12: #feecee;
  --wds-colors-defaults-red-red6: #671e22;
  --wds-colors-defaults-red-red3: #3c181a;
  --wds-colors-defaults-red-red1: #1f1315;
  --wds-colors-defaults-red-red2: #291415;
  --wds-colors-defaults-red-red7: #822025;
  --wds-colors-defaults-red-red10: #f2555a;
  --wds-colors-defaults-red-red11: #ff6369;
  --wds-colors-defaults-violet-violet10: #7c66dc;
  --wds-colors-defaults-violet-violet12: #f1eefe;
  --wds-colors-defaults-violet-violet9: #6e56cf;
  --wds-colors-defaults-violet-violet3: #251e40;
  --wds-colors-defaults-violet-violet4: #2c2250;
  --wds-colors-defaults-violet-violet8: #5842c3;
  --wds-colors-defaults-violet-violet1: #17151f;
  --wds-colors-defaults-violet-violet7: #443592;
  --wds-colors-defaults-violet-violet6: #392c72;
  --wds-colors-defaults-violet-violet5: #32275f;
  --wds-colors-defaults-violet-violet11: #9e8cfc;
  --wds-colors-defaults-violet-violet2: #1c172b;
  --wds-colors-defaults-indigo-indigo10: #5373e7;
  --wds-colors-defaults-indigo-indigo8: #2f4eb2;
  --wds-colors-defaults-indigo-indigo7: #273e89;
  --wds-colors-defaults-indigo-indigo2: #15192d;
  --wds-colors-defaults-indigo-indigo9: #3e63dd;
  --wds-colors-defaults-indigo-indigo3: #192140;
  --wds-colors-defaults-indigo-indigo6: #22346e;
  --wds-colors-defaults-indigo-indigo5: #1f2c5c;
  --wds-colors-defaults-indigo-indigo12: #ffffff;
  --wds-colors-defaults-indigo-indigo4: #1c274f;
  --wds-colors-defaults-indigo-indigo11: #849dff;
  --wds-colors-defaults-indigo-indigo1: #131620;
  --wds-colors-defaults-blue-blue7: #0a4481;
  --wds-colors-defaults-blue-blue9: #0091ff;
  --wds-colors-defaults-blue-blue6: #0d3868;
  --wds-colors-defaults-blue-blue5: #0f3058;
  --wds-colors-defaults-blue-blue4: #102a4c;
  --wds-colors-defaults-blue-blue10: #369eff;
  --wds-colors-defaults-blue-blue8: #0954a5;
  --wds-colors-defaults-blue-blue2: #0f1b2d;
  --wds-colors-defaults-blue-blue3: #10243e;
  --wds-colors-defaults-blue-blue11: #52a9ff;
  --wds-colors-defaults-blue-blue12: #eaf6ff;
  --wds-colors-defaults-blue-blue1: #0f1720;
  --wds-colors-defaults-cyan-cyan10: #00b1cc;
  --wds-colors-defaults-cyan-cyan8: #00647d;
  --wds-colors-defaults-cyan-cyan7: #045063;
  --wds-colors-defaults-cyan-cyan2: #061e24;
  --wds-colors-defaults-cyan-cyan4: #07303b;
  --wds-colors-defaults-cyan-cyan5: #073844;
  --wds-colors-defaults-cyan-cyan12: #e1f8fa;
  --wds-colors-defaults-cyan-cyan9: #05a2c2;
  --wds-colors-defaults-cyan-cyan3: #072830;
  --wds-colors-defaults-cyan-cyan6: #064150;
  --wds-colors-defaults-cyan-cyan11: #00c2d7;
  --wds-colors-defaults-cyan-cyan1: #07191d;
  --wds-colors-defaults-teal-teal9: #12a594;
  --wds-colors-defaults-teal-teal7: #0b544a;
  --wds-colors-defaults-teal-teal5: #083932;
  --wds-colors-defaults-teal-teal4: #07312b;
  --wds-colors-defaults-teal-teal10: #10b3a3;
  --wds-colors-defaults-teal-teal3: #062923;
  --wds-colors-defaults-teal-teal8: #0c6d62;
  --wds-colors-defaults-teal-teal6: #09443c;
  --wds-colors-defaults-teal-teal1: #091915;
  --wds-colors-defaults-teal-teal12: #e1faf4;
  --wds-colors-defaults-teal-teal11: #0ac5b3;
  --wds-colors-defaults-teal-teal2: #04201b;
  --wds-colors-defaults-green-green9: #30a46c;
  --wds-colors-defaults-green-green10: #3cb179;
  --wds-colors-defaults-green-green7: #1b543a;
  --wds-colors-defaults-green-green12: #e5fbeb;
  --wds-colors-defaults-green-green6: #164430;
  --wds-colors-defaults-green-green5: #133929;
  --wds-colors-defaults-green-green11: #4cc38a;
  --wds-colors-defaults-green-green4: #113123;
  --wds-colors-defaults-green-green3: #0f291e;
  --wds-colors-defaults-green-green8: #236e4a;
  --wds-colors-defaults-green-green2: #0c1f17;
  --wds-colors-defaults-green-green1: #0d1912;
  --wds-colors-defaults-grass-grass10: #55b467;
  --wds-colors-defaults-grass-grass6: #1d4427;
  --wds-colors-defaults-grass-grass9: #46a758;
  --wds-colors-defaults-grass-grass8: #2f6e3b;
  --wds-colors-defaults-grass-grass12: #e5fbeb;
  --wds-colors-defaults-grass-grass5: #193921;
  --wds-colors-defaults-grass-grass7: #245530;
  --wds-colors-defaults-grass-grass4: #16301d;
  --wds-colors-defaults-grass-grass3: #132819;
  --wds-colors-defaults-grass-grass2: #0f1e13;
  --wds-colors-defaults-grass-grass1: #0d1912;
  --wds-colors-defaults-grass-grass11: #63c174;
  --wds-colors-defaults-orange-orange10: #ff802b;
  --wds-colors-defaults-orange-orange9: #f76808;
  --wds-colors-defaults-orange-orange11: #ff8b3e;
  --wds-colors-defaults-orange-orange8: #943e00;
  --wds-colors-defaults-orange-orange2: #2b1400;
  --wds-colors-defaults-orange-orange7: #763205;
  --wds-colors-defaults-orange-orange4: #441f04;
  --wds-colors-defaults-orange-orange12: #feeadd;
  --wds-colors-defaults-orange-orange5: #4f2305;
  --wds-colors-defaults-orange-orange3: #391a03;
  --wds-colors-defaults-orange-orange6: #5f2a06;
  --wds-colors-defaults-orange-orange1: #1f1206;
  --wds-colors-defaults-brown-brown10: #bd8b60;
  --wds-colors-defaults-brown-brown9: #ad7f58;
  --wds-colors-defaults-brown-brown7: #5c4332;
  --wds-colors-defaults-brown-brown6: #493528;
  --wds-colors-defaults-brown-brown5: #3e2c22;
  --wds-colors-defaults-brown-brown1: #191513;
  --wds-colors-defaults-brown-brown12: #faf0e5;
  --wds-colors-defaults-brown-brown2: #221813;
  --wds-colors-defaults-brown-brown3: #2e201a;
  --wds-colors-defaults-brown-brown8: #775940;
  --wds-colors-defaults-brown-brown4: #36261e;
  --wds-colors-defaults-brown-brown11: #dba16e;
  --wds-colors-defaults-sky-sky10: #8ae8ff;
  --wds-colors-defaults-sky-sky8: #005d85;
  --wds-colors-defaults-sky-sky12: #eaf8ff;
  --wds-colors-defaults-sky-sky7: #064b6b;
  --wds-colors-defaults-sky-sky6: #083e59;
  --wds-colors-defaults-sky-sky11: #2ec8ee;
  --wds-colors-defaults-sky-sky5: #08354c;
  --wds-colors-defaults-sky-sky3: #082636;
  --wds-colors-defaults-sky-sky9: #68ddfd;
  --wds-colors-defaults-sky-sky1: #0c1820;
  --wds-colors-defaults-sky-sky2: #071d2a;
  --wds-colors-defaults-sky-sky4: #082d41;
  --wds-colors-defaults-mint-mint10: #95f3d9;
  --wds-colors-defaults-mint-mint12: #e7fcf7;
  --wds-colors-defaults-mint-mint3: #052926;
  --wds-colors-defaults-mint-mint8: #006d5b;
  --wds-colors-defaults-mint-mint7: #00564a;
  --wds-colors-defaults-mint-mint6: #01453d;
  --wds-colors-defaults-mint-mint4: #04312c;
  --wds-colors-defaults-mint-mint11: #25d0ab;
  --wds-colors-defaults-mint-mint9: #70e1c8;
  --wds-colors-defaults-mint-mint5: #033a34;
  --wds-colors-defaults-mint-mint2: #05201e;
  --wds-colors-defaults-mint-mint1: #081917;
  --wds-colors-defaults-lime-lime9: #99d52a;
  --wds-colors-defaults-lime-lime4: #252e0f;
  --wds-colors-defaults-lime-lime8: #536716;
  --wds-colors-defaults-lime-lime10: #c4f042;
  --wds-colors-defaults-lime-lime11: #87be22;
  --wds-colors-defaults-lime-lime7: #415215;
  --wds-colors-defaults-lime-lime6: #344213;
  --wds-colors-defaults-lime-lime5: #2b3711;
  --wds-colors-defaults-lime-lime12: #effbdd;
  --wds-colors-defaults-lime-lime2: #181d08;
  --wds-colors-defaults-lime-lime3: #1e260d;
  --wds-colors-defaults-lime-lime1: #141807;
  --wds-colors-defaults-yellow-yellow10: #958600;
  --wds-colors-defaults-yellow-yellow4: #352800;
  --wds-colors-defaults-yellow-yellow9: #938100;
  --wds-colors-defaults-yellow-yellow2: #221a00;
  --wds-colors-defaults-yellow-yellow8: #7f6b04;
  --wds-colors-defaults-yellow-yellow7: #675503;
  --wds-colors-defaults-yellow-yellow5: #524000;
  --wds-colors-defaults-yellow-yellow1: #1c1500;
  --wds-colors-defaults-yellow-yellow3: #2c2100;
  --wds-colors-defaults-yellow-yellow12: #fffad1;
  --wds-colors-defaults-yellow-yellow6: #594a00;
  --wds-colors-defaults-yellow-yellow11: #caa203;
  --wds-colors-defaults-amber-amber10: #ffcb47;
  --wds-colors-defaults-amber-amber9: #ffb224;
  --wds-colors-defaults-amber-amber6: #573300;
  --wds-colors-defaults-amber-amber11: #f1a10d;
  --wds-colors-defaults-amber-amber7: #693f05;
  --wds-colors-defaults-amber-amber4: #3f2200;
  --wds-colors-defaults-amber-amber5: #4a2900;
  --wds-colors-defaults-amber-amber1: #1f1300;
  --wds-colors-defaults-amber-amber12: #fef3dd;
  --wds-colors-defaults-amber-amber8: #824e00;
  --wds-colors-defaults-amber-amber2: #271700;
  --wds-colors-defaults-amber-amber3: #341c00;
  --wds-colors-defaults-gray-gray10: #7e7e7e;
  --wds-colors-defaults-gray-gray9: #707070;
  --wds-colors-defaults-gray-gray8: #505050;
  --wds-colors-defaults-gray-gray7: #3e3e3e;
  --wds-colors-defaults-gray-gray5: #2e2e2e;
  --wds-colors-defaults-gray-gray3: #232323;
  --wds-colors-defaults-gray-gray1: #161616;
  --wds-colors-defaults-gray-gray12: #ededed;
  --wds-colors-defaults-gray-gray11: #a0a0a0;
  --wds-colors-defaults-gray-gray6: #343434;
  --wds-colors-defaults-gray-gray4: #282828;
  --wds-colors-defaults-gray-gray2: #1c1c1c;
  --wds-colors-defaults-mauve-mauve10: #7e7d86;
  --wds-colors-defaults-mauve-mauve7: #3e3e44;
  --wds-colors-defaults-mauve-mauve5: #2e2e32;
  --wds-colors-defaults-mauve-mauve8: #504f57;
  --wds-colors-defaults-mauve-mauve6: #34343a;
  --wds-colors-defaults-mauve-mauve4: #28282c;
  --wds-colors-defaults-mauve-mauve1: #161618;
  --wds-colors-defaults-mauve-mauve12: #ededef;
  --wds-colors-defaults-mauve-mauve11: #a09fa6;
  --wds-colors-defaults-mauve-mauve2: #1c1c1f;
  --wds-colors-defaults-mauve-mauve9: #706f78;
  --wds-colors-defaults-mauve-mauve3: #232326;
  --wds-colors-defaults-slate-slate6: #313538;
  --wds-colors-defaults-slate-slate9: #697177;
  --wds-colors-defaults-slate-slate4: #26292b;
  --wds-colors-defaults-slate-slate7: #3a3f42;
  --wds-colors-defaults-slate-slate8: #4c5155;
  --wds-colors-defaults-slate-slate5: #2b2f31;
  --wds-colors-defaults-slate-slate10: #787f85;
  --wds-colors-defaults-slate-slate1: #151718;
  --wds-colors-defaults-slate-slate11: #9ba1a6;
  --wds-colors-defaults-slate-slate2: #1a1d1e;
  --wds-colors-defaults-slate-slate3: #202425;
  --wds-colors-defaults-slate-slate12: #ecedee;
  --wds-colors-defaults-slate-transparent1: rgba(21, 23, 24, 0);
  --wds-colors-defaults-slate-muted10: rgba(120, 127, 133, 0.3);
  --wds-colors-defaults-slate-muted7: rgba(58, 63, 66, 0.3);
  --wds-colors-defaults-slate-muted8: rgba(76, 81, 85, 0.3);
  --wds-colors-defaults-slate-muted3: rgba(32, 36, 37, 0.3);
  --wds-colors-defaults-slate-muted5: rgba(43, 47, 49, 0.3);
  --wds-colors-defaults-slate-muted4: rgba(38, 41, 43, 0.3);
  --wds-colors-defaults-slate-muted12: rgba(236, 237, 238, 0.3);
  --wds-colors-defaults-slate-muted6: rgba(49, 53, 56, 0.3);
  --wds-colors-defaults-slate-muted11: rgba(155, 161, 166, 0.3);
  --wds-colors-defaults-slate-muted9: rgba(105, 113, 119, 0.3);
  --wds-colors-defaults-slate-muted2: rgba(26, 29, 30, 0.3);
  --wds-colors-defaults-slate-muted1: rgba(21, 23, 24, 0.3);
  --wds-colors-defaults-sage-sage7: #393f3c;
  --wds-colors-defaults-sage-sage6: #303633;
  --wds-colors-defaults-sage-sage3: #1f2421;
  --wds-colors-defaults-sage-sage11: #99a29e;
  --wds-colors-defaults-sage-sage9: #66736d;
  --wds-colors-defaults-sage-sage5: #2a2f2c;
  --wds-colors-defaults-sage-sage10: #75817b;
  --wds-colors-defaults-sage-sage4: #252a27;
  --wds-colors-defaults-sage-sage1: #141716;
  --wds-colors-defaults-sage-sage12: #eceeed;
  --wds-colors-defaults-sage-sage8: #4a524e;
  --wds-colors-defaults-sage-sage2: #191d1b;
  --wds-colors-defaults-olive-olive10: #778175;
  --wds-colors-defaults-olive-olive8: #4c514b;
  --wds-colors-defaults-olive-olive6: #313530;
  --wds-colors-defaults-olive-olive1: #151715;
  --wds-colors-defaults-olive-olive9: #687366;
  --wds-colors-defaults-olive-olive5: #2b2f2a;
  --wds-colors-defaults-olive-olive4: #262925;
  --wds-colors-defaults-olive-olive3: #20241f;
  --wds-colors-defaults-olive-olive12: #eceeec;
  --wds-colors-defaults-olive-olive11: #9aa299;
  --wds-colors-defaults-olive-olive7: #3b3f3a;
  --wds-colors-defaults-olive-olive2: #1a1d19;
  --wds-colors-defaults-sand-sand10: #7f7e77;
  --wds-colors-defaults-sand-sand6: #353431;
  --wds-colors-defaults-sand-sand4: #282826;
  --wds-colors-defaults-sand-sand9: #717069;
  --wds-colors-defaults-sand-sand7: #3e3e3a;
  --wds-colors-defaults-sand-sand5: #2e2e2b;
  --wds-colors-defaults-sand-sand12: #ededec;
  --wds-colors-defaults-sand-sand2: #1c1c1a;
  --wds-colors-defaults-sand-sand11: #a1a09a;
  --wds-colors-defaults-sand-sand3: #232320;
  --wds-colors-defaults-sand-sand8: #51504b;
  --wds-colors-defaults-sand-sand1: #161615;
  --wds-colors-defaults-gold-gold7: #504737;
  --wds-colors-defaults-gold-gold8: #6b5d48;
  --wds-colors-defaults-gold-gold6: #3e382c;
  --wds-colors-defaults-gold-gold5: #353026;
  --wds-colors-defaults-gold-gold4: #2e2a21;
  --wds-colors-defaults-gold-gold10: #a59071;
  --wds-colors-defaults-gold-gold1: #171613;
  --wds-colors-defaults-gold-gold9: #978365;
  --wds-colors-defaults-gold-gold3: #26231c;
  --wds-colors-defaults-gold-gold12: #ffffff;
  --wds-colors-defaults-gold-gold11: #bfa888;
  --wds-colors-defaults-gold-gold2: #1c1a15;
  --wds-colors-defaults-bronze-bronze10: #b08c7d;
  --wds-colors-defaults-bronze-bronze1: #191514;
  --wds-colors-defaults-bronze-bronze9: #a18072;
  --wds-colors-defaults-bronze-bronze8: #74594e;
  --wds-colors-defaults-bronze-bronze11: #cba393;
  --wds-colors-defaults-bronze-bronze5: #3b2e29;
  --wds-colors-defaults-bronze-bronze4: #332824;
  --wds-colors-defaults-bronze-bronze2: #1f1917;
  --wds-colors-defaults-bronze-bronze3: #2a211f;
  --wds-colors-defaults-bronze-bronze12: #f9ede7;
  --wds-colors-defaults-bronze-bronze7: #57433c;
  --wds-colors-defaults-bronze-bronze6: #453530;
  --wds-colors-defaults-crimson-crimson10: #f04f88;
  --wds-colors-defaults-crimson-crimson6: #641d3b;
  --wds-colors-defaults-crimson-crimson9: #e93d82;
  --wds-colors-defaults-crimson-crimson4: #481a2d;
  --wds-colors-defaults-crimson-crimson7: #801d45;
  --wds-colors-defaults-crimson-crimson5: #541b33;
  --wds-colors-defaults-crimson-crimson11: #f76190;
  --wds-colors-defaults-crimson-crimson12: #feecf4;
  --wds-colors-defaults-crimson-crimson2: #27141c;
  --wds-colors-defaults-crimson-crimson3: #3c1827;
  --wds-colors-defaults-crimson-crimson8: #ae1955;
  --wds-colors-defaults-crimson-crimson1: #1d1418;
  --wds-colors-defaults-pink-pink10: #e34ba9;
  --wds-colors-defaults-pink-pink9: #d6409f;
  --wds-colors-defaults-pink-pink7: #7a1d5a;
  --wds-colors-defaults-pink-pink1: #1f121b;
  --wds-colors-defaults-pink-pink11: #f65cb6;
  --wds-colors-defaults-pink-pink6: #601d48;
  --wds-colors-defaults-pink-pink8: #a71873;
  --wds-colors-defaults-pink-pink5: #501b3f;
  --wds-colors-defaults-pink-pink4: #451a37;
  --wds-colors-defaults-pink-pink3: #3a182f;
  --wds-colors-defaults-pink-pink12: #feebf7;
  --wds-colors-defaults-pink-pink2: #271421;
  --wds-colors-defaults-plum-plum10: #bd54c6;
  --wds-colors-defaults-plum-plum9: #ab4aba;
  --wds-colors-defaults-plum-plum12: #fbecfc;
  --wds-colors-defaults-plum-plum8: #883894;
  --wds-colors-defaults-plum-plum6: #542658;
  --wds-colors-defaults-plum-plum2: #251425;
  --wds-colors-defaults-plum-plum5: #48214b;
  --wds-colors-defaults-plum-plum11: #d864d8;
  --wds-colors-defaults-plum-plum4: #3e1d40;
  --wds-colors-defaults-plum-plum7: #692d6f;
  --wds-colors-defaults-plum-plum3: #341a34;
  --wds-colors-defaults-plum-plum1: #1d131d;
  --wds-colors-defaults-purple-purple10: #9d5bd2;
  --wds-colors-defaults-purple-purple3: #301a3a;
  --wds-colors-defaults-purple-purple8: #7938b2;
  --wds-colors-defaults-purple-purple7: #5f2d84;
  --wds-colors-defaults-purple-purple4: #3a1e48;
  --wds-colors-defaults-purple-purple1: #1b141d;
  --wds-colors-defaults-purple-purple6: #4e2667;
  --wds-colors-defaults-purple-purple2: #221527;
  --wds-colors-defaults-purple-purple12: #f7ecfc;
  --wds-colors-defaults-purple-purple11: #bf7af0;
  --wds-colors-defaults-purple-purple9: #8e4ec6;
  --wds-colors-defaults-purple-purple5: #432155;
  --wds-colors-defaults-overlay-white-white10: rgba(255, 255, 255, 0.45);
  --wds-colors-defaults-overlay-white-white8: rgba(255, 255, 255, 0.25);
  --wds-colors-defaults-overlay-white-white7: rgba(255, 255, 255, 0.18);
  --wds-colors-defaults-overlay-white-white5: rgba(255, 255, 255, 0.09);
  --wds-colors-defaults-overlay-white-white4: rgba(255, 255, 255, 0.06);
  --wds-colors-defaults-overlay-white-white2: rgba(255, 255, 255, 0.03);
  --wds-colors-defaults-overlay-white-white3: rgba(255, 255, 255, 0.03);
  --wds-colors-defaults-overlay-white-white12: rgba(255, 255, 255, 0.92);
  --wds-colors-defaults-overlay-white-white9: rgba(255, 255, 255, 0.39);
  --wds-colors-defaults-overlay-white-white11: rgba(255, 255, 255, 0.59);
  --wds-colors-defaults-overlay-white-white6: rgba(255, 255, 255, 0.12);
  --wds-colors-defaults-overlay-white-white0: rgba(255, 255, 255, 0);
  --wds-colors-defaults-overlay-white-white1: rgba(255, 255, 255, 0.01);
  --wds-colors-defaults-overlay-black-black9: rgba(0, 0, 0, 0.44);
  --wds-colors-defaults-overlay-black-black8: rgba(0, 0, 0, 0.22);
  --wds-colors-defaults-overlay-black-black6: rgba(0, 0, 0, 0.11);
  --wds-colors-defaults-overlay-black-black5: rgba(0, 0, 0, 0.09);
  --wds-colors-defaults-overlay-black-black4: rgba(0, 0, 0, 0.07);
  --wds-colors-defaults-overlay-black-black3: rgba(0, 0, 0, 0.05);
  --wds-colors-defaults-overlay-black-black7: rgba(0, 0, 0, 0.14);
  --wds-colors-defaults-overlay-black-black12: rgba(0, 0, 0, 0.91);
  --wds-colors-defaults-overlay-black-black11: rgba(0, 0, 0, 0.56);
  --wds-colors-defaults-overlay-black-black10: rgba(0, 0, 0, 0.48);
  --wds-colors-defaults-overlay-black-black2: rgba(0, 0, 0, 0.03);
  --wds-colors-defaults-overlay-black-black1: rgba(0, 0, 0, 0.01);
  --wds-colors-defaults-overlay-black-black0: rgba(0, 0, 0, 0);
  --wds-colors-base-color9: #5c5e76;
  --wds-colors-base-color8: #5d6573;
  --wds-colors-base-color3: #262638;
  --wds-colors-base-color5: #363c44;
  --wds-colors-base-color7: #585e64;
  --wds-colors-base-color4: #2a2f39;
  --wds-colors-base-color1: #181827;
  --wds-colors-base-color11: #9aa4ad;
  --wds-colors-base-color12: #fdfcfc;
  --wds-colors-base-color6: #414754;
  --wds-colors-base-color2: #1f1f2e;
  --wds-colors-base-color10: #686e7b;
  --wds-colors-base-color13: rgba(24, 24, 39, 0);
  --wds-colors-base-color14: rgba(31, 31, 46, 0);
  --wds-colors-shadow-color13: rgba(255, 255, 255, 0.92);
  --wds-colors-shadow-color12: rgba(255, 255, 255, 0.59);
  --wds-colors-shadow-color10: rgba(255, 255, 255, 0.39);
  --wds-colors-shadow-color9: rgba(255, 255, 255, 0.25);
  --wds-colors-shadow-color7: rgba(255, 255, 255, 0.12);
  --wds-colors-shadow-color5: rgba(255, 255, 255, 0.06);
  --wds-colors-shadow-color4: rgba(255, 255, 255, 0.03);
  --wds-colors-shadow-color1: rgba(255, 255, 255, 0);
  --wds-colors-shadow-color3: rgba(255, 255, 255, 0.03);
  --wds-colors-shadow-color8: rgba(255, 255, 255, 0.18);
  --wds-colors-shadow-color2: rgba(255, 255, 255, 0.01);
  --wds-colors-shadow-color6: rgba(255, 255, 255, 0.09);
  --wds-colors-shadow-color11: rgba(255, 255, 255, 0.45);
  --wds-colors-ghost-color6: rgba(244, 104, 16, 0.3);
  --wds-colors-ghost-color5: rgba(235, 99, 13, 0.3);
  --wds-colors-ghost-color3: rgba(219, 84, 12, 0.3);
  --wds-colors-ghost-color12: rgba(238, 236, 249, 0.3);
  --wds-colors-ghost-color11: rgba(238, 236, 249, 0.3);
  --wds-colors-ghost-color10: rgba(255, 166, 99, 0.3);
  --wds-colors-ghost-color9: rgba(255, 145, 76, 0.3);
  --wds-colors-ghost-color7: rgba(246, 110, 25, 0.3);
  --wds-colors-ghost-color1: rgba(202, 45, 6, 0.3);
  --wds-colors-ghost-color8: rgba(255, 129, 50, 0.3);
  --wds-colors-ghost-color4: rgba(228, 96, 12, 0.3);
  --wds-colors-ghost-color2: rgba(211, 74, 11, 0.3);
  --wds-colors-accent-color9: #ff914c;
  --wds-colors-accent-color2: #d34a0b;
  --wds-colors-accent-color7: #f66e19;
  --wds-colors-accent-color3: #db540c;
  --wds-colors-accent-color4: #e4600c;
  --wds-colors-accent-color12: #eeecf9;
  --wds-colors-accent-color11: #eeecf9;
  --wds-colors-accent-color10: #ffa663;
  --wds-colors-accent-color6: #f46810;
  --wds-colors-accent-color5: #eb630d;
  --wds-colors-accent-color8: #ff8132;
  --wds-colors-accent-color1: #ca2d06;
  --wds-colors-accent-color13: rgba(244, 104, 16, 0);
  --wds-colors-muted-color1: rgba(24, 24, 39, 0.3);
  --wds-colors-muted-color2: rgba(31, 31, 46, 0.3);
  --wds-colors-muted-color3: rgba(38, 38, 56, 0.3);
  --wds-colors-muted-color4: rgba(42, 47, 57, 0.3);
  --wds-colors-muted-color5: rgba(54, 60, 68, 0.3);
  --wds-colors-muted-color9: rgba(92, 94, 118, 0.3);
  --wds-colors-muted-color6: rgba(65, 71, 84, 0.3);
  --wds-colors-muted-color10: rgba(104, 110, 123, 0.3);
  --wds-colors-muted-color7: rgba(88, 94, 100, 0.3);
  --wds-colors-muted-color11: rgba(230, 244, 242, 0.3);
  --wds-colors-muted-color8: rgba(93, 101, 115, 0.3);
  --wds-colors-muted-color12: rgba(253, 252, 252, 0.3);
}
