.Tablet {
  // Local Variables
  $flds-size-space-0: 0px;
  $flds-size-space-100: 4px;
  $flds-size-space-150: 6px;
  $flds-size-space-200: 8px;
  $flds-size-space-300: 12px;
  $flds-size-space-400: 16px;
  $flds-size-space-600: 24px;
  $flds-size-space-800: 32px;
  $flds-size-space-1200: 48px;
  $flds-size-space-1600: 64px;
  $flds-size-space-2400: 96px;
  $flds-size-space-3000: 128px;
  $flds-size-space-4000: 160px;
  $flds-size-space-negative-100: -4px;
  $flds-size-space-negative-200: -8px;
  $flds-size-space-negative-300: -12px;
  $flds-size-space-negative-400: -16px;
  $flds-size-space-negative-600: -24px;
  $flds-size-space-050: 2px;
  $flds-size-radius-100: 4px;
  $flds-size-radius-200: 10px;
  $flds-size-radius-300: 16px;
  $flds-size-radius-400: 20px;
  $flds-size-radius-full: 9999px;
  $flds-size-depth-0: 0px;
  $flds-size-depth-100: 4px;
  $flds-size-depth-200: 8px;
  $flds-size-depth-400: 16px;
  $flds-size-depth-800: 32px;
  $flds-size-depth-1200: 48px;
  $flds-size-depth-025: 1px;
  $flds-size-depth-negative-025: -1px;
  $flds-size-depth-negative-100: -4px;
  $flds-size-depth-negative-200: -8px;
  $flds-size-depth-negative-400: -16px;
  $flds-size-depth-negative-800: -32px;
  $flds-size-depth-negative-1200: -48px;
  $flds-size-stroke-border: 1px;
  $flds-size-stroke-focus-ring: 2px;
  $flds-size-blur-100: 4px;
  $flds-size-icon-small: 24px;
  $flds-size-icon-medium: 32px;
  $flds-size-icon-large: 40px;
  $flds-size-icon-2-x-large: 80px;
  $flds-size-icon-x-large: 60px;
  $flds-size-icon-3-x-large: 100px;
  $flds-size-padding-desktop: 24px;
  $flds-typography-font-family-primary: Inter;
  $flds-typography-font-family-secondary: Noto Serif;
  $flds-typography-font-family-tertiary: Roboto Mono;
  $flds-typography-font-line-0: 100%;
  $flds-typography-font-line-1: 105%;
  $flds-typography-font-line-2: 105%;
  $flds-typography-font-line-3: 115%;
  $flds-typography-font-line-4: 120%;
  $flds-typography-font-line-5: 175%;
  $flds-typography-font-line-negative-1: 90%;
  $flds-typography-font-spread-0: 100%;
  $flds-typography-font-spread-1: 105%;
  $flds-typography-font-spread-2: 105%;
  $flds-typography-font-spread-3: 115%;
  $flds-typography-font-spread-4: 120%;
  $flds-typography-font-spread-5: 175%;
  $flds-typography-font-spread-negative-1: 90%;
  $flds-typography-font-size-2xl: 24px;
  $flds-typography-font-size-xs: 10px;
  $flds-typography-font-size-base: 14px;
  $flds-typography-font-size-8xl: 48px;
  $flds-typography-font-size-10xl: 48px;
  $flds-typography-font-size-5xl: 36px;
  $flds-typography-font-size-11xl: 72px;
  $flds-typography-font-size-7xl: 44px;
  $flds-typography-font-size-sm: 12px;
  $flds-typography-font-size-9xl: 48px;
  $flds-typography-font-size-3xl: 28px;
  $flds-typography-font-size-xl: 20px;
  $flds-typography-font-size-6xl: 40px;
  $flds-typography-font-size-md: 16px;
  $flds-typography-font-size-lg: 18px;
  $flds-typography-font-size-4xl: 32px;

  // Global Variables
  --flds-size-space-0: 0px;
  --flds-size-space-100: 4px;
  --flds-size-space-150: 6px;
  --flds-size-space-200: 8px;
  --flds-size-space-300: 12px;
  --flds-size-space-400: 16px;
  --flds-size-space-600: 24px;
  --flds-size-space-800: 32px;
  --flds-size-space-1200: 48px;
  --flds-size-space-1600: 64px;
  --flds-size-space-2400: 96px;
  --flds-size-space-3000: 128px;
  --flds-size-space-4000: 160px;
  --flds-size-space-negative-100: -4px;
  --flds-size-space-negative-200: -8px;
  --flds-size-space-negative-300: -12px;
  --flds-size-space-negative-400: -16px;
  --flds-size-space-negative-600: -24px;
  --flds-size-space-050: 2px;
  --flds-size-radius-100: 4px;
  --flds-size-radius-200: 10px;
  --flds-size-radius-300: 16px;
  --flds-size-radius-400: 20px;
  --flds-size-radius-full: 9999px;
  --flds-size-depth-0: 0px;
  --flds-size-depth-100: 4px;
  --flds-size-depth-200: 8px;
  --flds-size-depth-400: 16px;
  --flds-size-depth-800: 32px;
  --flds-size-depth-1200: 48px;
  --flds-size-depth-025: 1px;
  --flds-size-depth-negative-025: -1px;
  --flds-size-depth-negative-100: -4px;
  --flds-size-depth-negative-200: -8px;
  --flds-size-depth-negative-400: -16px;
  --flds-size-depth-negative-800: -32px;
  --flds-size-depth-negative-1200: -48px;
  --flds-size-stroke-border: 1px;
  --flds-size-stroke-focus-ring: 2px;
  --flds-size-blur-100: 4px;
  --flds-size-icon-small: 24px;
  --flds-size-icon-medium: 32px;
  --flds-size-icon-large: 40px;
  --flds-size-icon-2-x-large: 80px;
  --flds-size-icon-x-large: 60px;
  --flds-size-icon-3-x-large: 100px;
  --flds-size-padding-desktop: 24px;
  --flds-typography-font-family-primary: Inter;
  --flds-typography-font-family-secondary: Noto Serif;
  --flds-typography-font-family-tertiary: Roboto Mono;
  --flds-typography-font-line-0: 100%;
  --flds-typography-font-line-1: 105%;
  --flds-typography-font-line-2: 105%;
  --flds-typography-font-line-3: 115%;
  --flds-typography-font-line-4: 120%;
  --flds-typography-font-line-5: 175%;
  --flds-typography-font-line-negative-1: 90%;
  --flds-typography-font-spread-0: 100%;
  --flds-typography-font-spread-1: 105%;
  --flds-typography-font-spread-2: 105%;
  --flds-typography-font-spread-3: 115%;
  --flds-typography-font-spread-4: 120%;
  --flds-typography-font-spread-5: 175%;
  --flds-typography-font-spread-negative-1: 90%;
  --flds-typography-font-size-2xl: 24px;
  --flds-typography-font-size-xs: 10px;
  --flds-typography-font-size-base: 14px;
  --flds-typography-font-size-8xl: 48px;
  --flds-typography-font-size-10xl: 48px;
  --flds-typography-font-size-5xl: 36px;
  --flds-typography-font-size-11xl: 72px;
  --flds-typography-font-size-7xl: 44px;
  --flds-typography-font-size-sm: 12px;
  --flds-typography-font-size-9xl: 48px;
  --flds-typography-font-size-3xl: 28px;
  --flds-typography-font-size-xl: 20px;
  --flds-typography-font-size-6xl: 40px;
  --flds-typography-font-size-md: 16px;
  --flds-typography-font-size-lg: 18px;
  --flds-typography-font-size-4xl: 32px;

  // Typography
  .flds-typography-typography-display-large-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-large-reguler {
    font-family: Inter;
    font-weight: 400;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-large-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-large-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-large-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-large-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-large-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-small-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 44px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-small-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 44px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-small-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 44px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-small-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 44px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-small-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 44px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-small-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 44px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-small-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 44px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h1-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 44px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h1-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 44px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h1-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 44px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h1-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 44px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h1-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 44px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h1-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 44px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h2-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 32px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h2-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 32px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h2-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h2-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h2-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 32px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h2-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 32px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h3-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h3-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h3-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h3-semilbold {
    font-family: Inter;
    font-weight: 700;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h3-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h3-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h4-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 24px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h4-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h4-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h4-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h4-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h4-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 24px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h5-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h5-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h5-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h5-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h5-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h5-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h6-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h6-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h6-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h6-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h6-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h6-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-page-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-page-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-page-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-page-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-page-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-page-extra-bold {
    font-family: Inter;
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-page-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-hero-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-hero-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-hero-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-hero-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-hero-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-hero-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-hero-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-subtitle-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-subtitle-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-subtitle-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-subtitle-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-subtitle-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-subtitle-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-subtitle-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-small-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-small-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-small-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-small-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-small-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-small-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-small-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-italic {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-code-light {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-code-regular {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-code-bold {
    font-family: Roboto Mono;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-link-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-link-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-link-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-2xs {
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-xs {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-sm {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-md {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-lg {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-2xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-3xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-4xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 36px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-5xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 48px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-6xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 48px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-7xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 48px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-8xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 72px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-2xs {
    font-family: Inter;
    font-weight: 600;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-xs {
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-sm {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-md {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-lg {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-xl {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-2xl {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-3xl {
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-4xl {
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-5xl {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-6xl {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-7xl {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-8xl {
    font-family: Inter;
    font-weight: 700;
    font-size: 72px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-small-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-small-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-small-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-small-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-small-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-small-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-small-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-medium-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-medium-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-medium-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-medium-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-medium-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-medium-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-medium-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-large-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-large-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-large-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-large-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-large-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-large-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-large-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-utilities-component-notes-regular {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-utilities-component-notes-bold {
    font-family: Roboto Mono;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
}
