.Tablet {
  .flds-typography-typography-display-large-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-large-reguler {
    font-family: Inter;
    font-weight: 400;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-large-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-large-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-large-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-large-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-large-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-small-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 44px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-small-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 44px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-small-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 44px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-small-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 44px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-small-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 44px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-small-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 44px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-display-small-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 44px;
    line-height: 105%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h1-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 44px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h1-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 44px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h1-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 44px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h1-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 44px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h1-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 44px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h1-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 44px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h2-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 32px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h2-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 32px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h2-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h2-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h2-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 32px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h2-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 32px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h3-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h3-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h3-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h3-semilbold {
    font-family: Inter;
    font-weight: 700;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h3-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h3-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0px;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h4-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 24px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h4-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h4-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h4-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h4-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h4-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 24px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h5-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h5-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h5-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h5-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h5-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h5-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h6-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h6-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h6-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h6-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h6-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-h6-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-page-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-page-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-page-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-page-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-page-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-page-extra-bold {
    font-family: Inter;
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-page-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-hero-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-hero-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-hero-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-hero-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-hero-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-hero-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-title-hero-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-subtitle-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-subtitle-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-subtitle-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-subtitle-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-subtitle-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-subtitle-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-heading-subtitle-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-small-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-small-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-small-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-small-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-small-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-small-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-small-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-body-large-italic {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-code-light {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-code-regular {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-code-bold {
    font-family: Roboto Mono;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-link-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-link-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-paragraph-link-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-2xs {
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-xs {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-sm {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-md {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-lg {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-2xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-3xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-4xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 36px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-5xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 48px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-6xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 48px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-7xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 48px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-regular-8xl {
    font-family: Inter;
    font-weight: 400;
    font-size: 72px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-2xs {
    font-family: Inter;
    font-weight: 600;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-xs {
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-sm {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-md {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-lg {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-xl {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-2xl {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-3xl {
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-4xl {
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-5xl {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-6xl {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-7xl {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-text-bold-8xl {
    font-family: Inter;
    font-weight: 700;
    font-size: 72px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-small-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-small-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-small-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-small-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-small-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-small-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-small-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-medium-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-medium-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-medium-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-medium-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-medium-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-medium-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-medium-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-large-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-large-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-large-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-large-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-large-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-large-extrabold {
    font-family: Inter;
    font-weight: 800;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-label-large-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-utilities-component-notes-regular {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-typography-typography-utilities-component-notes-bold {
    font-family: Roboto Mono;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
}
