.FL {
  // Local Variables
  $FLDS-Color-Primitives-White-50: rgba(255, 255, 255, 0.02);
  $FLDS-Color-Primitives-White-100: rgba(255, 255, 255, 0.05);
  $FLDS-Color-Primitives-White-200: rgba(255, 255, 255, 0.1);
  $FLDS-Color-Primitives-White-300: rgba(255, 255, 255, 0.2);
  $FLDS-Color-Primitives-White-400: rgba(255, 255, 255, 0.4);
  $FLDS-Color-Primitives-White-500: rgba(255, 255, 255, 0.7);
  $FLDS-Color-Primitives-White-600: rgba(255, 255, 255, 0.8);
  $FLDS-Color-Primitives-White-700: rgba(255, 255, 255, 0.85);
  $FLDS-Color-Primitives-White-800: rgba(255, 255, 255, 0.9);
  $FLDS-Color-Primitives-White-900: rgba(255, 255, 255, 0.95);
  $FLDS-Color-Primitives-White-1000: #ffffff;
  $FLDS-Color-Primitives-Brand-100: #d0deff;
  $FLDS-Color-Primitives-Brand-200: #9fb7ff;
  $FLDS-Color-Primitives-Brand-300: #6f93fe;
  $FLDS-Color-Primitives-Brand-400: #456eeb;
  $FLDS-Color-Primitives-Brand-500: #1f3ccd;
  $FLDS-Color-Primitives-Brand-600: #253bac;
  $FLDS-Color-Primitives-Brand-700: #213496;
  $FLDS-Color-Primitives-Brand-800: #161e69;
  $FLDS-Color-Primitives-Brand-900: #0e0f43;
  $FLDS-Color-Primitives-Brand-1000: #090736;
  $FLDS-Color-Primitives-Red-100: #fee9e7;
  $FLDS-Color-Primitives-Red-200: #fdd3d0;
  $FLDS-Color-Primitives-Red-300: #fcb3ad;
  $FLDS-Color-Primitives-Red-400: #ff7d6f;
  $FLDS-Color-Primitives-Red-500: #f03330;
  $FLDS-Color-Primitives-Red-600: #d21e1e;
  $FLDS-Color-Primitives-Red-700: #9c120f;
  $FLDS-Color-Primitives-Red-800: #690807;
  $FLDS-Color-Primitives-Red-900: #4d0b0a;
  $FLDS-Color-Primitives-Red-1000: #300603;
  $FLDS-Color-Primitives-Yellow-100: #fffbeb;
  $FLDS-Color-Primitives-Yellow-200: #fff1c2;
  $FLDS-Color-Primitives-Yellow-300: #ffe8a3;
  $FLDS-Color-Primitives-Yellow-400: #e8b931;
  $FLDS-Color-Primitives-Yellow-500: #e5a000;
  $FLDS-Color-Primitives-Yellow-600: #bf6a02;
  $FLDS-Color-Primitives-Yellow-700: #975102;
  $FLDS-Color-Primitives-Yellow-800: #682d03;
  $FLDS-Color-Primitives-Yellow-900: #522504;
  $FLDS-Color-Primitives-Yellow-1000: #401b01;
  $FLDS-Color-Primitives-Green-100: #ebffee;
  $FLDS-Color-Primitives-Green-200: #cff7d3;
  $FLDS-Color-Primitives-Green-300: #aff4c6;
  $FLDS-Color-Primitives-Green-400: #85e0a3;
  $FLDS-Color-Primitives-Green-500: #14ae5c;
  $FLDS-Color-Primitives-Green-600: #009951;
  $FLDS-Color-Primitives-Green-700: #008043;
  $FLDS-Color-Primitives-Green-800: #02542d;
  $FLDS-Color-Primitives-Green-900: #024023;
  $FLDS-Color-Primitives-Green-1000: #062d1b;
  $FLDS-Color-Primitives-Black-50: rgba(12, 12, 13, 0.03);
  $FLDS-Color-Primitives-Black-100: rgba(12, 12, 13, 0.05);
  $FLDS-Color-Primitives-Black-200: rgba(12, 12, 13, 0.1);
  $FLDS-Color-Primitives-Black-300: rgba(12, 12, 13, 0.2);
  $FLDS-Color-Primitives-Black-400: rgba(12, 12, 13, 0.4);
  $FLDS-Color-Primitives-Black-500: rgba(12, 12, 13, 0.7);
  $FLDS-Color-Primitives-Black-600: rgba(12, 12, 13, 0.8);
  $FLDS-Color-Primitives-Black-700: rgba(12, 12, 13, 0.85);
  $FLDS-Color-Primitives-Black-800: rgba(12, 12, 13, 0.9);
  $FLDS-Color-Primitives-Black-900: rgba(12, 12, 13, 0.95);
  $FLDS-Color-Primitives-Black-1000: #0c0c0d;
  $FLDS-Color-Primitives-Gray-100: #f5f5f5;
  $FLDS-Color-Primitives-Gray-200: #e6e6e6;
  $FLDS-Color-Primitives-Gray-300: #d9d9d9;
  $FLDS-Color-Primitives-Gray-400: #b3b3b3;
  $FLDS-Color-Primitives-Gray-500: #757575;
  $FLDS-Color-Primitives-Gray-600: #444444;
  $FLDS-Color-Primitives-Gray-700: #383838;
  $FLDS-Color-Primitives-Gray-800: #2c2c2c;
  $FLDS-Color-Primitives-Gray-900: #1e1e1e;
  $FLDS-Color-Primitives-Gray-1000: #111111;
  $FLDS-Color-Primitives-Brand-Overlay-100: rgba(135, 165, 255, 0.05);
  $FLDS-Color-Primitives-Brand-Overlay-200: rgba(69, 110, 235, 0.1);
  $FLDS-Color-Primitives-Brand-Overlay-300: rgba(69, 110, 235, 0.15);
  $FLDS-Color-Primitives-Brand-Overlay-400: rgba(69, 110, 235, 0.2);
  $FLDS-Color-Primitives-Slate-100: #f3f3f3;
  $FLDS-Color-Primitives-Slate-200: #e3e3e3;
  $FLDS-Color-Primitives-Slate-300: #cdcdcd;
  $FLDS-Color-Primitives-Slate-400: #b2b2b2;
  $FLDS-Color-Primitives-Slate-500: #949494;
  $FLDS-Color-Primitives-Slate-600: #767676;
  $FLDS-Color-Primitives-Slate-700: #5a5a5a;
  $FLDS-Color-Primitives-Slate-800: #434343;
  $FLDS-Color-Primitives-Slate-900: #303030;
  $FLDS-Color-Primitives-Slate-1000: #242424;
  $FLDS-Color-Primitives-Teal-50: #f0fdfa;
  $FLDS-Color-Primitives-Teal-100: #ccfbf1;
  $FLDS-Color-Primitives-Teal-200: #99f6e4;
  $FLDS-Color-Primitives-Teal-300: #5eead4;
  $FLDS-Color-Primitives-Teal-400: #2dd4bf;
  $FLDS-Color-Primitives-Teal-500: #14b8a6;
  $FLDS-Color-Primitives-Teal-600: #0d9488;
  $FLDS-Color-Primitives-Teal-700: #0f766e;
  $FLDS-Color-Primitives-Teal-800: #115e59;
  $FLDS-Color-Primitives-Teal-900: #134e4a;
  $FLDS-Color-Primitives-Emerald-50: #ecfdf5;
  $FLDS-Color-Primitives-Emerald-100: #d1fae5;
  $FLDS-Color-Primitives-Emerald-200: #a7f3d0;
  $FLDS-Color-Primitives-Emerald-300: #6ee7b7;
  $FLDS-Color-Primitives-Emerald-400: #34d399;
  $FLDS-Color-Primitives-Emerald-500: #10b981;
  $FLDS-Color-Primitives-Emerald-600: #059669;
  $FLDS-Color-Primitives-Emerald-700: #047857;
  $FLDS-Color-Primitives-Emerald-800: #065f46;
  $FLDS-Color-Primitives-Emerald-900: #064e3b;
  $FLDS-Color-Primitives-Lime-50: #f7fee7;
  $FLDS-Color-Primitives-Lime-100: #ecfccb;
  $FLDS-Color-Primitives-Lime-200: #d9f99d;
  $FLDS-Color-Primitives-Lime-300: #bef264;
  $FLDS-Color-Primitives-Lime-400: #a3e635;
  $FLDS-Color-Primitives-Lime-500: #84cc16;
  $FLDS-Color-Primitives-Lime-600: #65a30d;
  $FLDS-Color-Primitives-Lime-700: #4d7c0f;
  $FLDS-Color-Primitives-Lime-800: #3f6212;
  $FLDS-Color-Primitives-Lime-900: #365314;
  $FLDS-Color-Primitives-Honey-50: #fffdea;
  $FLDS-Color-Primitives-Honey-100: #fff6c5;
  $FLDS-Color-Primitives-Honey-200: #ffed85;
  $FLDS-Color-Primitives-Honey-300: #ffdd46;
  $FLDS-Color-Primitives-Honey-400: #ffca1b;
  $FLDS-Color-Primitives-Honey-500: #ffa800;
  $FLDS-Color-Primitives-Honey-600: #e27f00;
  $FLDS-Color-Primitives-Honey-700: #bb5802;
  $FLDS-Color-Primitives-Honey-800: #984308;
  $FLDS-Color-Primitives-Honey-900: #7c370b;
  $FLDS-Color-Primitives-Sky-50: #f0f9ff;
  $FLDS-Color-Primitives-Sky-100: #e0f2fe;
  $FLDS-Color-Primitives-Sky-200: #bae6fd;
  $FLDS-Color-Primitives-Sky-300: #7dd3fc;
  $FLDS-Color-Primitives-Sky-400: #38bdf8;
  $FLDS-Color-Primitives-Sky-500: #0ea5e9;
  $FLDS-Color-Primitives-Sky-600: #0284c7;
  $FLDS-Color-Primitives-Sky-700: #0369a1;
  $FLDS-Color-Primitives-Sky-800: #075985;
  $FLDS-Color-Primitives-Sky-900: #0c4a6e;
  $FLDS-Color-Primitives-Lavendar-50: #eef2ff;
  $FLDS-Color-Primitives-Lavendar-100: #e0e7ff;
  $FLDS-Color-Primitives-Lavendar-200: #c7d2fe;
  $FLDS-Color-Primitives-Lavendar-300: #a5b4fc;
  $FLDS-Color-Primitives-Lavendar-400: #818cf8;
  $FLDS-Color-Primitives-Lavendar-500: #4d50dc;
  $FLDS-Color-Primitives-Lavendar-600: #4f46e5;
  $FLDS-Color-Primitives-Lavendar-700: #4338ca;
  $FLDS-Color-Primitives-Lavendar-800: #3730a3;
  $FLDS-Color-Primitives-Lavendar-900: #312e81;
  $FLDS-Color-Primitives-Pink-100: #fce7f3;
  $FLDS-Color-Primitives-Pink-200: #fbcfe8;
  $FLDS-Color-Primitives-Pink-300: #f9a8d4;
  $FLDS-Color-Primitives-Pink-400: #f472b6;
  $FLDS-Color-Primitives-Pink-500: #ec4899;
  $FLDS-Color-Primitives-Pink-600: #db2777;
  $FLDS-Color-Primitives-Pink-700: #be185d;
  $FLDS-Color-Primitives-Pink-800: #9d174d;
  $FLDS-Color-Primitives-Pink-900: #831843;
  $FLDS-Color-Primitives-Rose-50: #fff1f2;
  $FLDS-Color-Primitives-Rose-100: #ffe4e6;
  $FLDS-Color-Primitives-Rose-200: #fecdd3;
  $FLDS-Color-Primitives-Rose-300: #fda4af;
  $FLDS-Color-Primitives-Rose-400: #fb7185;
  $FLDS-Color-Primitives-Rose-500: #f43f5e;
  $FLDS-Color-Primitives-Rose-600: #e11d48;
  $FLDS-Color-Primitives-Rose-700: #be123c;
  $FLDS-Color-Primitives-Rose-800: #9f1239;
  $FLDS-Color-Primitives-Rose-900: #881337;
  $FLDS-Color-Primitives-Cyan-50: #ecfeff;
  $FLDS-Color-Primitives-Cyan-100: #cffafe;
  $FLDS-Color-Primitives-Cyan-200: #a5f3fc;
  $FLDS-Color-Primitives-Cyan-300: #67e8f9;
  $FLDS-Color-Primitives-Cyan-400: #22d3ee;
  $FLDS-Color-Primitives-Cyan-500: #06b6d4;
  $FLDS-Color-Primitives-Cyan-600: #0891b2;
  $FLDS-Color-Primitives-Cyan-700: #0e7490;
  $FLDS-Color-Primitives-Cyan-800: #155e75;
  $FLDS-Color-Primitives-Cyan-900: #164e63;
  $FLDS-Color-Primitives-Tangerine-50: #ffede5;
  $FLDS-Color-Primitives-Tangerine-100: #ffdccc;
  $FLDS-Color-Primitives-Tangerine-200: #ffcab3;
  $FLDS-Color-Primitives-Tangerine-300: #feb89a;
  $FLDS-Color-Primitives-Tangerine-400: #fba782;
  $FLDS-Color-Primitives-Tangerine-500: #f7956b;
  $FLDS-Color-Primitives-Tangerine-600: #f28253;
  $FLDS-Color-Primitives-Tangerine-700: #ec703c;
  $FLDS-Color-Primitives-Tangerine-800: #e55c23;
  $FLDS-Color-Primitives-Tangerine-900: #de4600;
  $FLDS-Color-Primitives-Brand-Muted-50: #eeeff6;
  $FLDS-Color-Primitives-Brand-Muted-100: #d2d5ea;
  $FLDS-Color-Primitives-Brand-Muted-200: #aeb2cc;
  $FLDS-Color-Primitives-Brand-Muted-300: #989cb7;
  $FLDS-Color-Primitives-Brand-Muted-400: #7d819b;
  $FLDS-Color-Primitives-Brand-Muted-500: #6d7187;
  $FLDS-Color-Primitives-Brand-Muted-600: #5a5c71;
  $FLDS-Color-Primitives-Brand-Muted-700: #3e4051;
  $FLDS-Color-Primitives-Brand-Muted-800: #2f303e;
  $FLDS-Color-Primitives-Brand-Muted-900: #1e1f2a;
  $FLDS-Color-Primitives-Brand-Muted-1000: #17171f;

  // Global Variables
  --FLDS-Color-Primitives-White-50: rgba(255, 255, 255, 0.02);
  --FLDS-Color-Primitives-White-100: rgba(255, 255, 255, 0.05);
  --FLDS-Color-Primitives-White-200: rgba(255, 255, 255, 0.1);
  --FLDS-Color-Primitives-White-300: rgba(255, 255, 255, 0.2);
  --FLDS-Color-Primitives-White-400: rgba(255, 255, 255, 0.4);
  --FLDS-Color-Primitives-White-500: rgba(255, 255, 255, 0.7);
  --FLDS-Color-Primitives-White-600: rgba(255, 255, 255, 0.8);
  --FLDS-Color-Primitives-White-700: rgba(255, 255, 255, 0.85);
  --FLDS-Color-Primitives-White-800: rgba(255, 255, 255, 0.9);
  --FLDS-Color-Primitives-White-900: rgba(255, 255, 255, 0.95);
  --FLDS-Color-Primitives-White-1000: #ffffff;
  --FLDS-Color-Primitives-Brand-100: #d0deff;
  --FLDS-Color-Primitives-Brand-200: #9fb7ff;
  --FLDS-Color-Primitives-Brand-300: #6f93fe;
  --FLDS-Color-Primitives-Brand-400: #456eeb;
  --FLDS-Color-Primitives-Brand-500: #1f3ccd;
  --FLDS-Color-Primitives-Brand-600: #253bac;
  --FLDS-Color-Primitives-Brand-700: #213496;
  --FLDS-Color-Primitives-Brand-800: #161e69;
  --FLDS-Color-Primitives-Brand-900: #0e0f43;
  --FLDS-Color-Primitives-Brand-1000: #090736;
  --FLDS-Color-Primitives-Red-100: #fee9e7;
  --FLDS-Color-Primitives-Red-200: #fdd3d0;
  --FLDS-Color-Primitives-Red-300: #fcb3ad;
  --FLDS-Color-Primitives-Red-400: #ff7d6f;
  --FLDS-Color-Primitives-Red-500: #f03330;
  --FLDS-Color-Primitives-Red-600: #d21e1e;
  --FLDS-Color-Primitives-Red-700: #9c120f;
  --FLDS-Color-Primitives-Red-800: #690807;
  --FLDS-Color-Primitives-Red-900: #4d0b0a;
  --FLDS-Color-Primitives-Red-1000: #300603;
  --FLDS-Color-Primitives-Yellow-100: #fffbeb;
  --FLDS-Color-Primitives-Yellow-200: #fff1c2;
  --FLDS-Color-Primitives-Yellow-300: #ffe8a3;
  --FLDS-Color-Primitives-Yellow-400: #e8b931;
  --FLDS-Color-Primitives-Yellow-500: #e5a000;
  --FLDS-Color-Primitives-Yellow-600: #bf6a02;
  --FLDS-Color-Primitives-Yellow-700: #975102;
  --FLDS-Color-Primitives-Yellow-800: #682d03;
  --FLDS-Color-Primitives-Yellow-900: #522504;
  --FLDS-Color-Primitives-Yellow-1000: #401b01;
  --FLDS-Color-Primitives-Green-100: #ebffee;
  --FLDS-Color-Primitives-Green-200: #cff7d3;
  --FLDS-Color-Primitives-Green-300: #aff4c6;
  --FLDS-Color-Primitives-Green-400: #85e0a3;
  --FLDS-Color-Primitives-Green-500: #14ae5c;
  --FLDS-Color-Primitives-Green-600: #009951;
  --FLDS-Color-Primitives-Green-700: #008043;
  --FLDS-Color-Primitives-Green-800: #02542d;
  --FLDS-Color-Primitives-Green-900: #024023;
  --FLDS-Color-Primitives-Green-1000: #062d1b;
  --FLDS-Color-Primitives-Black-50: rgba(12, 12, 13, 0.03);
  --FLDS-Color-Primitives-Black-100: rgba(12, 12, 13, 0.05);
  --FLDS-Color-Primitives-Black-200: rgba(12, 12, 13, 0.1);
  --FLDS-Color-Primitives-Black-300: rgba(12, 12, 13, 0.2);
  --FLDS-Color-Primitives-Black-400: rgba(12, 12, 13, 0.4);
  --FLDS-Color-Primitives-Black-500: rgba(12, 12, 13, 0.7);
  --FLDS-Color-Primitives-Black-600: rgba(12, 12, 13, 0.8);
  --FLDS-Color-Primitives-Black-700: rgba(12, 12, 13, 0.85);
  --FLDS-Color-Primitives-Black-800: rgba(12, 12, 13, 0.9);
  --FLDS-Color-Primitives-Black-900: rgba(12, 12, 13, 0.95);
  --FLDS-Color-Primitives-Black-1000: #0c0c0d;
  --FLDS-Color-Primitives-Gray-100: #f5f5f5;
  --FLDS-Color-Primitives-Gray-200: #e6e6e6;
  --FLDS-Color-Primitives-Gray-300: #d9d9d9;
  --FLDS-Color-Primitives-Gray-400: #b3b3b3;
  --FLDS-Color-Primitives-Gray-500: #757575;
  --FLDS-Color-Primitives-Gray-600: #444444;
  --FLDS-Color-Primitives-Gray-700: #383838;
  --FLDS-Color-Primitives-Gray-800: #2c2c2c;
  --FLDS-Color-Primitives-Gray-900: #1e1e1e;
  --FLDS-Color-Primitives-Gray-1000: #111111;
  --FLDS-Color-Primitives-Brand-Overlay-100: rgba(135, 165, 255, 0.05);
  --FLDS-Color-Primitives-Brand-Overlay-200: rgba(69, 110, 235, 0.1);
  --FLDS-Color-Primitives-Brand-Overlay-300: rgba(69, 110, 235, 0.15);
  --FLDS-Color-Primitives-Brand-Overlay-400: rgba(69, 110, 235, 0.2);
  --FLDS-Color-Primitives-Slate-100: #f3f3f3;
  --FLDS-Color-Primitives-Slate-200: #e3e3e3;
  --FLDS-Color-Primitives-Slate-300: #cdcdcd;
  --FLDS-Color-Primitives-Slate-400: #b2b2b2;
  --FLDS-Color-Primitives-Slate-500: #949494;
  --FLDS-Color-Primitives-Slate-600: #767676;
  --FLDS-Color-Primitives-Slate-700: #5a5a5a;
  --FLDS-Color-Primitives-Slate-800: #434343;
  --FLDS-Color-Primitives-Slate-900: #303030;
  --FLDS-Color-Primitives-Slate-1000: #242424;
  --FLDS-Color-Primitives-Teal-50: #f0fdfa;
  --FLDS-Color-Primitives-Teal-100: #ccfbf1;
  --FLDS-Color-Primitives-Teal-200: #99f6e4;
  --FLDS-Color-Primitives-Teal-300: #5eead4;
  --FLDS-Color-Primitives-Teal-400: #2dd4bf;
  --FLDS-Color-Primitives-Teal-500: #14b8a6;
  --FLDS-Color-Primitives-Teal-600: #0d9488;
  --FLDS-Color-Primitives-Teal-700: #0f766e;
  --FLDS-Color-Primitives-Teal-800: #115e59;
  --FLDS-Color-Primitives-Teal-900: #134e4a;
  --FLDS-Color-Primitives-Emerald-50: #ecfdf5;
  --FLDS-Color-Primitives-Emerald-100: #d1fae5;
  --FLDS-Color-Primitives-Emerald-200: #a7f3d0;
  --FLDS-Color-Primitives-Emerald-300: #6ee7b7;
  --FLDS-Color-Primitives-Emerald-400: #34d399;
  --FLDS-Color-Primitives-Emerald-500: #10b981;
  --FLDS-Color-Primitives-Emerald-600: #059669;
  --FLDS-Color-Primitives-Emerald-700: #047857;
  --FLDS-Color-Primitives-Emerald-800: #065f46;
  --FLDS-Color-Primitives-Emerald-900: #064e3b;
  --FLDS-Color-Primitives-Lime-50: #f7fee7;
  --FLDS-Color-Primitives-Lime-100: #ecfccb;
  --FLDS-Color-Primitives-Lime-200: #d9f99d;
  --FLDS-Color-Primitives-Lime-300: #bef264;
  --FLDS-Color-Primitives-Lime-400: #a3e635;
  --FLDS-Color-Primitives-Lime-500: #84cc16;
  --FLDS-Color-Primitives-Lime-600: #65a30d;
  --FLDS-Color-Primitives-Lime-700: #4d7c0f;
  --FLDS-Color-Primitives-Lime-800: #3f6212;
  --FLDS-Color-Primitives-Lime-900: #365314;
  --FLDS-Color-Primitives-Honey-50: #fffdea;
  --FLDS-Color-Primitives-Honey-100: #fff6c5;
  --FLDS-Color-Primitives-Honey-200: #ffed85;
  --FLDS-Color-Primitives-Honey-300: #ffdd46;
  --FLDS-Color-Primitives-Honey-400: #ffca1b;
  --FLDS-Color-Primitives-Honey-500: #ffa800;
  --FLDS-Color-Primitives-Honey-600: #e27f00;
  --FLDS-Color-Primitives-Honey-700: #bb5802;
  --FLDS-Color-Primitives-Honey-800: #984308;
  --FLDS-Color-Primitives-Honey-900: #7c370b;
  --FLDS-Color-Primitives-Sky-50: #f0f9ff;
  --FLDS-Color-Primitives-Sky-100: #e0f2fe;
  --FLDS-Color-Primitives-Sky-200: #bae6fd;
  --FLDS-Color-Primitives-Sky-300: #7dd3fc;
  --FLDS-Color-Primitives-Sky-400: #38bdf8;
  --FLDS-Color-Primitives-Sky-500: #0ea5e9;
  --FLDS-Color-Primitives-Sky-600: #0284c7;
  --FLDS-Color-Primitives-Sky-700: #0369a1;
  --FLDS-Color-Primitives-Sky-800: #075985;
  --FLDS-Color-Primitives-Sky-900: #0c4a6e;
  --FLDS-Color-Primitives-Lavendar-50: #eef2ff;
  --FLDS-Color-Primitives-Lavendar-100: #e0e7ff;
  --FLDS-Color-Primitives-Lavendar-200: #c7d2fe;
  --FLDS-Color-Primitives-Lavendar-300: #a5b4fc;
  --FLDS-Color-Primitives-Lavendar-400: #818cf8;
  --FLDS-Color-Primitives-Lavendar-500: #4d50dc;
  --FLDS-Color-Primitives-Lavendar-600: #4f46e5;
  --FLDS-Color-Primitives-Lavendar-700: #4338ca;
  --FLDS-Color-Primitives-Lavendar-800: #3730a3;
  --FLDS-Color-Primitives-Lavendar-900: #312e81;
  --FLDS-Color-Primitives-Pink-100: #fce7f3;
  --FLDS-Color-Primitives-Pink-200: #fbcfe8;
  --FLDS-Color-Primitives-Pink-300: #f9a8d4;
  --FLDS-Color-Primitives-Pink-400: #f472b6;
  --FLDS-Color-Primitives-Pink-500: #ec4899;
  --FLDS-Color-Primitives-Pink-600: #db2777;
  --FLDS-Color-Primitives-Pink-700: #be185d;
  --FLDS-Color-Primitives-Pink-800: #9d174d;
  --FLDS-Color-Primitives-Pink-900: #831843;
  --FLDS-Color-Primitives-Rose-50: #fff1f2;
  --FLDS-Color-Primitives-Rose-100: #ffe4e6;
  --FLDS-Color-Primitives-Rose-200: #fecdd3;
  --FLDS-Color-Primitives-Rose-300: #fda4af;
  --FLDS-Color-Primitives-Rose-400: #fb7185;
  --FLDS-Color-Primitives-Rose-500: #f43f5e;
  --FLDS-Color-Primitives-Rose-600: #e11d48;
  --FLDS-Color-Primitives-Rose-700: #be123c;
  --FLDS-Color-Primitives-Rose-800: #9f1239;
  --FLDS-Color-Primitives-Rose-900: #881337;
  --FLDS-Color-Primitives-Cyan-50: #ecfeff;
  --FLDS-Color-Primitives-Cyan-100: #cffafe;
  --FLDS-Color-Primitives-Cyan-200: #a5f3fc;
  --FLDS-Color-Primitives-Cyan-300: #67e8f9;
  --FLDS-Color-Primitives-Cyan-400: #22d3ee;
  --FLDS-Color-Primitives-Cyan-500: #06b6d4;
  --FLDS-Color-Primitives-Cyan-600: #0891b2;
  --FLDS-Color-Primitives-Cyan-700: #0e7490;
  --FLDS-Color-Primitives-Cyan-800: #155e75;
  --FLDS-Color-Primitives-Cyan-900: #164e63;
  --FLDS-Color-Primitives-Tangerine-50: #ffede5;
  --FLDS-Color-Primitives-Tangerine-100: #ffdccc;
  --FLDS-Color-Primitives-Tangerine-200: #ffcab3;
  --FLDS-Color-Primitives-Tangerine-300: #feb89a;
  --FLDS-Color-Primitives-Tangerine-400: #fba782;
  --FLDS-Color-Primitives-Tangerine-500: #f7956b;
  --FLDS-Color-Primitives-Tangerine-600: #f28253;
  --FLDS-Color-Primitives-Tangerine-700: #ec703c;
  --FLDS-Color-Primitives-Tangerine-800: #e55c23;
  --FLDS-Color-Primitives-Tangerine-900: #de4600;
  --FLDS-Color-Primitives-Brand-Muted-50: #eeeff6;
  --FLDS-Color-Primitives-Brand-Muted-100: #d2d5ea;
  --FLDS-Color-Primitives-Brand-Muted-200: #aeb2cc;
  --FLDS-Color-Primitives-Brand-Muted-300: #989cb7;
  --FLDS-Color-Primitives-Brand-Muted-400: #7d819b;
  --FLDS-Color-Primitives-Brand-Muted-500: #6d7187;
  --FLDS-Color-Primitives-Brand-Muted-600: #5a5c71;
  --FLDS-Color-Primitives-Brand-Muted-700: #3e4051;
  --FLDS-Color-Primitives-Brand-Muted-800: #2f303e;
  --FLDS-Color-Primitives-Brand-Muted-900: #1e1f2a;
  --FLDS-Color-Primitives-Brand-Muted-1000: #17171f;
}
