@import 'tailwindcss';

@import './Light/tokens.css';
@import './Dark/tokens.css';
@import './Globals/tokens.css';

@theme inline {
  --size-0: var(--wds-size-0);
  --size-1: var(--wds-size-1);
  --size-2: var(--wds-size-2);
  --size-3: var(--wds-size-3);
  --size-4: var(--wds-size-4);
  --size-5: var(--wds-size-5);
  --size-6: var(--wds-size-6);
  --size-7: var(--wds-size-7);
  --size-8: var(--wds-size-8);
  --size-9: var(--wds-size-9);
  --size-10: var(--wds-size-10);
  --size-11: var(--wds-size-11);
  --size-12: var(--wds-size-12);
  --size-13: var(--wds-size-13);
  --size-14: var(--wds-size-14);
  --size-15: var(--wds-size-15);
  --size-16: var(--wds-size-16);
  --size-17: var(--wds-size-17);
  --size-18: var(--wds-size-18);
  --size-19: var(--wds-size-19);
  --size-20: var(--wds-size-20);
  --size-0-25: var(--wds-size-0-25);
  --size-0-5: var(--wds-size-0-5);
  --size-0-75: var(--wds-size-0-75);
  --size-1-5: var(--wds-size-1-5);
  --size-4-5: var(--wds-size-4-5);
  --size-3-5: var(--wds-size-3-5);
  --size-2-5: var(--wds-size-2-5);
  --size-_10: var(--wds-size-10);
  --size-_12: var(--wds-size-12);
  --size-_14: var(--wds-size-14);
  --size-_18: var(--wds-size-18);
  --size-_16: var(--wds-size-16);
  --space-0: var(--wds-space-0);
  --space-1: var(--wds-space-1);
  --space-2: var(--wds-space-2);
  --space-3: var(--wds-space-3);
  --space-4: var(--wds-space-4);
  --space-5: var(--wds-space-5);
  --space-6: var(--wds-space-6);
  --space-7: var(--wds-space-7);
  --space-8: var(--wds-space-8);
  --space-9: var(--wds-space-9);
  --space-10: var(--wds-space-10);
  --space-11: var(--wds-space-11);
  --space-12: var(--wds-space-12);
  --space-13: var(--wds-space-13);
  --space-14: var(--wds-space-14);
  --space-15: var(--wds-space-15);
  --space-16: var(--wds-space-16);
  --space-17: var(--wds-space-17);
  --space-18: var(--wds-space-18);
  --space-19: var(--wds-space-19);
  --space-20: var(--wds-space-20);
  --space-0-25: var(--wds-space-0-25);
  --space-0-5: var(--wds-space-0-5);
  --space-0-75: var(--wds-space-0-75);
  --space-1-5: var(--wds-space-1-5);
  --space-2-5: var(--wds-space-2-5);
  --space-3-5: var(--wds-space-3-5);
  --space-4-5: var(--wds-space-4-5);
  --space-1-neg: var(--wds-space-1-neg);
  --space-2-neg: var(--wds-space-2-neg);
  --space-3-neg: var(--wds-space-3-neg);
  --space-0-25-neg: var(--wds-space-0-25-neg);
  --space-0-5-neg: var(--wds-space-0-5-neg);
  --space-0-75-neg: var(--wds-space-0-75-neg);
  --space-1-5-neg: var(--wds-space-1-5-neg);
  --space-2-5-neg: var(--wds-space-2-5-neg);
  --space-3-5-neg: var(--wds-space-3-5-neg);
  --space-4-neg: var(--wds-space-4-neg);
  --space-4-5-neg: var(--wds-space-4-5-neg);
  --space-5-neg: var(--wds-space-5-neg);
  --space-6-neg: var(--wds-space-6-neg);
  --space-7-neg: var(--wds-space-7-neg);
  --space-8-neg: var(--wds-space-8-neg);
  --space-9-neg: var(--wds-space-9-neg);
  --space-10-neg: var(--wds-space-10-neg);
  --space-11-neg: var(--wds-space-11-neg);
  --space-12-neg: var(--wds-space-12-neg);
  --space-13-neg: var(--wds-space-13-neg);
  --space-14-neg: var(--wds-space-14-neg);
  --space-15-neg: var(--wds-space-15-neg);
  --space-16-neg: var(--wds-space-16-neg);
  --space-17-neg: var(--wds-space-17-neg);
  --space-18-neg: var(--wds-space-18-neg);
  --space-19-neg: var(--wds-space-19-neg);
  --space-20-neg: var(--wds-space-20-neg);
  --radius-0: var(--wds-radius-0);
  --radius-1: var(--wds-radius-1);
  --radius-2: var(--wds-radius-2);
  --radius-3: var(--wds-radius-3);
  --radius-4: var(--wds-radius-4);
  --radius-5: var(--wds-radius-5);
  --radius-6: var(--wds-radius-6);
  --radius-7: var(--wds-radius-7);
  --radius-8: var(--wds-radius-8);
  --radius-9: var(--wds-radius-9);
  --radius-10: var(--wds-radius-10);
  --radius-11: var(--wds-radius-11);
  --radius-12: var(--wds-radius-12);
  --radius-round: var(--wds-radius-round);
  --color-red1: var(--wds-theme-red-red1);
  --color-red2: var(--wds-theme-red-red2);
  --color-red3: var(--wds-theme-red-red3);
  --color-red4: var(--wds-theme-red-red4);
  --color-red5: var(--wds-theme-red-red5);
  --color-red6: var(--wds-theme-red-red6);
  --color-red7: var(--wds-theme-red-red7);
  --color-red8: var(--wds-theme-red-red8);
  --color-red9: var(--wds-theme-red-red9);
  --color-red10: var(--wds-theme-red-red10);
  --color-red11: var(--wds-theme-red-red11);
  --color-red12: var(--wds-theme-red-red12);
  --color-gray1: var(--wds-theme-gray-gray1);
  --color-gray2: var(--wds-theme-gray-gray2);
  --color-gray3: var(--wds-theme-gray-gray3);
  --color-gray4: var(--wds-theme-gray-gray4);
  --color-gray5: var(--wds-theme-gray-gray5);
  --color-gray6: var(--wds-theme-gray-gray6);
  --color-gray7: var(--wds-theme-gray-gray7);
  --color-gray8: var(--wds-theme-gray-gray8);
  --color-gray9: var(--wds-theme-gray-gray9);
  --color-gray10: var(--wds-theme-gray-gray10);
  --color-gray11: var(--wds-theme-gray-gray11);
  --color-gray12: var(--wds-theme-gray-gray12);
  --color-blue1: var(--wds-theme-blue-blue1);
  --color-blue2: var(--wds-theme-blue-blue2);
  --color-blue3: var(--wds-theme-blue-blue3);
  --color-blue4: var(--wds-theme-blue-blue4);
  --color-blue5: var(--wds-theme-blue-blue5);
  --color-blue6: var(--wds-theme-blue-blue6);
  --color-blue7: var(--wds-theme-blue-blue7);
  --color-blue8: var(--wds-theme-blue-blue8);
  --color-blue9: var(--wds-theme-blue-blue9);
  --color-blue10: var(--wds-theme-blue-blue10);
  --color-blue11: var(--wds-theme-blue-blue11);
  --color-blue12: var(--wds-theme-blue-blue12);
  --color-green1: var(--wds-theme-green-green1);
  --color-green2: var(--wds-theme-green-green2);
  --color-green3: var(--wds-theme-green-green3);
  --color-green4: var(--wds-theme-green-green4);
  --color-green5: var(--wds-theme-green-green5);
  --color-green6: var(--wds-theme-green-green6);
  --color-green7: var(--wds-theme-green-green7);
  --color-green8: var(--wds-theme-green-green8);
  --color-green9: var(--wds-theme-green-green9);
  --color-green10: var(--wds-theme-green-green10);
  --color-green11: var(--wds-theme-green-green11);
  --color-green12: var(--wds-theme-green-green12);
  --color-background: var(--wds-theme-background-background);
  --color-tomato1: var(--wds-theme-tomato-tomato1);
  --color-tomato2: var(--wds-theme-tomato-tomato2);
  --color-tomato3: var(--wds-theme-tomato-tomato3);
  --color-tomato4: var(--wds-theme-tomato-tomato4);
  --color-tomato5: var(--wds-theme-tomato-tomato5);
  --color-tomato6: var(--wds-theme-tomato-tomato6);
  --color-tomato7: var(--wds-theme-tomato-tomato7);
  --color-tomato8: var(--wds-theme-tomato-tomato8);
  --color-tomato9: var(--wds-theme-tomato-tomato9);
  --color-tomato10: var(--wds-theme-tomato-tomato10);
  --color-tomato11: var(--wds-theme-tomato-tomato11);
  --color-tomato12: var(--wds-theme-tomato-tomato12);
  --color-crimson1: var(--wds-theme-crimson-crimson1);
  --color-crimson2: var(--wds-theme-crimson-crimson2);
  --color-crimson3: var(--wds-theme-crimson-crimson3);
  --color-crimson4: var(--wds-theme-crimson-crimson4);
  --color-crimson5: var(--wds-theme-crimson-crimson5);
  --color-crimson6: var(--wds-theme-crimson-crimson6);
  --color-crimson7: var(--wds-theme-crimson-crimson7);
  --color-crimson8: var(--wds-theme-crimson-crimson8);
  --color-crimson9: var(--wds-theme-crimson-crimson9);
  --color-crimson10: var(--wds-theme-crimson-crimson10);
  --color-crimson11: var(--wds-theme-crimson-crimson11);
  --color-crimson12: var(--wds-theme-crimson-crimson12);
  --color-pink1: var(--wds-theme-pink-pink1);
  --color-pink2: var(--wds-theme-pink-pink2);
  --color-pink3: var(--wds-theme-pink-pink3);
  --color-pink4: var(--wds-theme-pink-pink4);
  --color-pink5: var(--wds-theme-pink-pink5);
  --color-pink6: var(--wds-theme-pink-pink6);
  --color-pink7: var(--wds-theme-pink-pink7);
  --color-pink8: var(--wds-theme-pink-pink8);
  --color-pink9: var(--wds-theme-pink-pink9);
  --color-pink10: var(--wds-theme-pink-pink10);
  --color-pink11: var(--wds-theme-pink-pink11);
  --color-pink12: var(--wds-theme-pink-pink12);
  --color-mint1: var(--wds-theme-mint-mint1);
  --color-mint2: var(--wds-theme-mint-mint2);
  --color-mint3: var(--wds-theme-mint-mint3);
  --color-mint4: var(--wds-theme-mint-mint4);
  --color-mint5: var(--wds-theme-mint-mint5);
  --color-mint6: var(--wds-theme-mint-mint6);
  --color-mint7: var(--wds-theme-mint-mint7);
  --color-mint8: var(--wds-theme-mint-mint8);
  --color-mint9: var(--wds-theme-mint-mint9);
  --color-mint10: var(--wds-theme-mint-mint10);
  --color-mint11: var(--wds-theme-mint-mint11);
  --color-mint12: var(--wds-theme-mint-mint12);
  --color-plum1: var(--wds-theme-plum-plum1);
  --color-plum2: var(--wds-theme-plum-plum2);
  --color-plum3: var(--wds-theme-plum-plum3);
  --color-plum4: var(--wds-theme-plum-plum4);
  --color-plum5: var(--wds-theme-plum-plum5);
  --color-plum6: var(--wds-theme-plum-plum6);
  --color-plum7: var(--wds-theme-plum-plum7);
  --color-plum8: var(--wds-theme-plum-plum8);
  --color-plum9: var(--wds-theme-plum-plum9);
  --color-plum10: var(--wds-theme-plum-plum10);
  --color-plum11: var(--wds-theme-plum-plum11);
  --color-plum12: var(--wds-theme-plum-plum12);
  --color-sky1: var(--wds-theme-sky-sky1);
  --color-sky2: var(--wds-theme-sky-sky2);
  --color-sky3: var(--wds-theme-sky-sky3);
  --color-sky4: var(--wds-theme-sky-sky4);
  --color-sky5: var(--wds-theme-sky-sky5);
  --color-sky6: var(--wds-theme-sky-sky6);
  --color-sky7: var(--wds-theme-sky-sky7);
  --color-sky8: var(--wds-theme-sky-sky8);
  --color-sky9: var(--wds-theme-sky-sky9);
  --color-sky10: var(--wds-theme-sky-sky10);
  --color-sky11: var(--wds-theme-sky-sky11);
  --color-sky12: var(--wds-theme-sky-sky12);
  --color-brown1: var(--wds-theme-brown-brown1);
  --color-brown2: var(--wds-theme-brown-brown2);
  --color-brown3: var(--wds-theme-brown-brown3);
  --color-brown4: var(--wds-theme-brown-brown4);
  --color-brown5: var(--wds-theme-brown-brown5);
  --color-brown6: var(--wds-theme-brown-brown6);
  --color-brown7: var(--wds-theme-brown-brown7);
  --color-brown8: var(--wds-theme-brown-brown8);
  --color-brown9: var(--wds-theme-brown-brown9);
  --color-brown10: var(--wds-theme-brown-brown10);
  --color-brown11: var(--wds-theme-brown-brown11);
  --color-brown12: var(--wds-theme-brown-brown12);
  --color-orange1: var(--wds-theme-orange-orange1);
  --color-orange2: var(--wds-theme-orange-orange2);
  --color-orange3: var(--wds-theme-orange-orange3);
  --color-orange4: var(--wds-theme-orange-orange4);
  --color-orange5: var(--wds-theme-orange-orange5);
  --color-orange6: var(--wds-theme-orange-orange6);
  --color-orange7: var(--wds-theme-orange-orange7);
  --color-orange8: var(--wds-theme-orange-orange8);
  --color-orange9: var(--wds-theme-orange-orange9);
  --color-orange10: var(--wds-theme-orange-orange10);
  --color-orange11: var(--wds-theme-orange-orange11);
  --color-orange12: var(--wds-theme-orange-orange12);
  --color-grass1: var(--wds-theme-grass-grass1);
  --color-grass2: var(--wds-theme-grass-grass2);
  --color-grass3: var(--wds-theme-grass-grass3);
  --color-grass4: var(--wds-theme-grass-grass4);
  --color-grass5: var(--wds-theme-grass-grass5);
  --color-grass6: var(--wds-theme-grass-grass6);
  --color-grass7: var(--wds-theme-grass-grass7);
  --color-grass8: var(--wds-theme-grass-grass8);
  --color-grass9: var(--wds-theme-grass-grass9);
  --color-grass10: var(--wds-theme-grass-grass10);
  --color-grass11: var(--wds-theme-grass-grass11);
  --color-grass12: var(--wds-theme-grass-grass12);
  --color-12: var(--wds-theme-teal-12);
  --color-teal1: var(--wds-theme-teal-teal1);
  --color-teal2: var(--wds-theme-teal-teal2);
  --color-teal3: var(--wds-theme-teal-teal3);
  --color-teal4: var(--wds-theme-teal-teal4);
  --color-teal5: var(--wds-theme-teal-teal5);
  --color-teal6: var(--wds-theme-teal-teal6);
  --color-teal7: var(--wds-theme-teal-teal7);
  --color-teal8: var(--wds-theme-teal-teal8);
  --color-teal9: var(--wds-theme-teal-teal9);
  --color-teal10: var(--wds-theme-teal-teal10);
  --color-teal11: var(--wds-theme-teal-teal11);
  --color-cyan1: var(--wds-theme-cyan-cyan1);
  --color-cyan2: var(--wds-theme-cyan-cyan2);
  --color-cyan3: var(--wds-theme-cyan-cyan3);
  --color-cyan4: var(--wds-theme-cyan-cyan4);
  --color-cyan5: var(--wds-theme-cyan-cyan5);
  --color-cyan6: var(--wds-theme-cyan-cyan6);
  --color-cyan7: var(--wds-theme-cyan-cyan7);
  --color-cyan8: var(--wds-theme-cyan-cyan8);
  --color-cyan9: var(--wds-theme-cyan-cyan9);
  --color-cyan10: var(--wds-theme-cyan-cyan10);
  --color-cyan11: var(--wds-theme-cyan-cyan11);
  --color-cyan12: var(--wds-theme-cyan-cyan12);
  --color-indigo1: var(--wds-theme-indigo-indigo1);
  --color-indigo2: var(--wds-theme-indigo-indigo2);
  --color-indigo3: var(--wds-theme-indigo-indigo3);
  --color-indigo4: var(--wds-theme-indigo-indigo4);
  --color-indigo5: var(--wds-theme-indigo-indigo5);
  --color-indigo6: var(--wds-theme-indigo-indigo6);
  --color-indigo7: var(--wds-theme-indigo-indigo7);
  --color-indigo8: var(--wds-theme-indigo-indigo8);
  --color-indigo9: var(--wds-theme-indigo-indigo9);
  --color-indigo10: var(--wds-theme-indigo-indigo10);
  --color-indigo11: var(--wds-theme-indigo-indigo11);
  --color-indigo12: var(--wds-theme-indigo-indigo12);
  --color-violet1: var(--wds-theme-violet-violet1);
  --color-violet2: var(--wds-theme-violet-violet2);
  --color-violet3: var(--wds-theme-violet-violet3);
  --color-violet4: var(--wds-theme-violet-violet4);
  --color-violet5: var(--wds-theme-violet-violet5);
  --color-violet6: var(--wds-theme-violet-violet6);
  --color-violet7: var(--wds-theme-violet-violet7);
  --color-violet8: var(--wds-theme-violet-violet8);
  --color-violet9: var(--wds-theme-violet-violet9);
  --color-violet10: var(--wds-theme-violet-violet10);
  --color-violet11: var(--wds-theme-violet-violet11);
  --color-violet12: var(--wds-theme-violet-violet12);
  --color-purple1: var(--wds-theme-purple-purple1);
  --color-purple2: var(--wds-theme-purple-purple2);
  --color-purple3: var(--wds-theme-purple-purple3);
  --color-purple4: var(--wds-theme-purple-purple4);
  --color-purple5: var(--wds-theme-purple-purple5);
  --color-purple6: var(--wds-theme-purple-purple6);
  --color-purple7: var(--wds-theme-purple-purple7);
  --color-purple8: var(--wds-theme-purple-purple8);
  --color-purple9: var(--wds-theme-purple-purple9);
  --color-purple10: var(--wds-theme-purple-purple10);
  --color-purple11: var(--wds-theme-purple-purple11);
  --color-purple12: var(--wds-theme-purple-purple12);
  --color-lime1: var(--wds-theme-lime-lime1);
  --color-lime2: var(--wds-theme-lime-lime2);
  --color-lime3: var(--wds-theme-lime-lime3);
  --color-lime4: var(--wds-theme-lime-lime4);
  --color-lime5: var(--wds-theme-lime-lime5);
  --color-lime6: var(--wds-theme-lime-lime6);
  --color-lime7: var(--wds-theme-lime-lime7);
  --color-lime8: var(--wds-theme-lime-lime8);
  --color-lime9: var(--wds-theme-lime-lime9);
  --color-lime10: var(--wds-theme-lime-lime10);
  --color-lime11: var(--wds-theme-lime-lime11);
  --color-lime12: var(--wds-theme-lime-lime12);
  --color-yellow1: var(--wds-theme-yellow-yellow1);
  --color-yellow2: var(--wds-theme-yellow-yellow2);
  --color-yellow3: var(--wds-theme-yellow-yellow3);
  --color-yellow4: var(--wds-theme-yellow-yellow4);
  --color-yellow5: var(--wds-theme-yellow-yellow5);
  --color-yellow6: var(--wds-theme-yellow-yellow6);
  --color-yellow7: var(--wds-theme-yellow-yellow7);
  --color-yellow8: var(--wds-theme-yellow-yellow8);
  --color-yellow9: var(--wds-theme-yellow-yellow9);
  --color-yellow10: var(--wds-theme-yellow-yellow10);
  --color-yellow11: var(--wds-theme-yellow-yellow11);
  --color-yellow12: var(--wds-theme-yellow-yellow12);
  --color-amber1: var(--wds-theme-amber-amber1);
  --color-amber2: var(--wds-theme-amber-amber2);
  --color-amber3: var(--wds-theme-amber-amber3);
  --color-amber4: var(--wds-theme-amber-amber4);
  --color-amber5: var(--wds-theme-amber-amber5);
  --color-amber6: var(--wds-theme-amber-amber6);
  --color-amber7: var(--wds-theme-amber-amber7);
  --color-amber8: var(--wds-theme-amber-amber8);
  --color-amber9: var(--wds-theme-amber-amber9);
  --color-amber10: var(--wds-theme-amber-amber10);
  --color-amber11: var(--wds-theme-amber-amber11);
  --color-amber12: var(--wds-theme-amber-amber12);
  --color-slate1: var(--wds-theme-slate-slate1);
  --color-slate2: var(--wds-theme-slate-slate2);
  --color-slate3: var(--wds-theme-slate-slate3);
  --color-slate4: var(--wds-theme-slate-slate4);
  --color-slate5: var(--wds-theme-slate-slate5);
  --color-slate6: var(--wds-theme-slate-slate6);
  --color-slate7: var(--wds-theme-slate-slate7);
  --color-slate8: var(--wds-theme-slate-slate8);
  --color-slate9: var(--wds-theme-slate-slate9);
  --color-slate10: var(--wds-theme-slate-slate10);
  --color-slate11: var(--wds-theme-slate-slate11);
  --color-slate12: var(--wds-theme-slate-slate12);
  --color-sage1: var(--wds-theme-sage-sage1);
  --color-sage2: var(--wds-theme-sage-sage2);
  --color-sage3: var(--wds-theme-sage-sage3);
  --color-sage4: var(--wds-theme-sage-sage4);
  --color-sage5: var(--wds-theme-sage-sage5);
  --color-sage6: var(--wds-theme-sage-sage6);
  --color-sage7: var(--wds-theme-sage-sage7);
  --color-sage8: var(--wds-theme-sage-sage8);
  --color-sage9: var(--wds-theme-sage-sage9);
  --color-sage10: var(--wds-theme-sage-sage10);
  --color-sage11: var(--wds-theme-sage-sage11);
  --color-sage12: var(--wds-theme-sage-sage12);
  --color-olive1: var(--wds-theme-olive-olive1);
  --color-olive2: var(--wds-theme-olive-olive2);
  --color-olive3: var(--wds-theme-olive-olive3);
  --color-olive4: var(--wds-theme-olive-olive4);
  --color-olive5: var(--wds-theme-olive-olive5);
  --color-olive6: var(--wds-theme-olive-olive6);
  --color-olive7: var(--wds-theme-olive-olive7);
  --color-olive8: var(--wds-theme-olive-olive8);
  --color-olive9: var(--wds-theme-olive-olive9);
  --color-olive10: var(--wds-theme-olive-olive10);
  --color-olive11: var(--wds-theme-olive-olive11);
  --color-olive12: var(--wds-theme-olive-olive12);
  --color-sand1: var(--wds-theme-sand-sand1);
  --color-sand2: var(--wds-theme-sand-sand2);
  --color-sand3: var(--wds-theme-sand-sand3);
  --color-sand4: var(--wds-theme-sand-sand4);
  --color-sand5: var(--wds-theme-sand-sand5);
  --color-sand6: var(--wds-theme-sand-sand6);
  --color-sand7: var(--wds-theme-sand-sand7);
  --color-sand8: var(--wds-theme-sand-sand8);
  --color-sand9: var(--wds-theme-sand-sand9);
  --color-sand10: var(--wds-theme-sand-sand10);
  --color-sand11: var(--wds-theme-sand-sand11);
  --color-sand12: var(--wds-theme-sand-sand12);
  --color-gold1: var(--wds-theme-gold-gold1);
  --color-gold2: var(--wds-theme-gold-gold2);
  --color-gold3: var(--wds-theme-gold-gold3);
  --color-gold4: var(--wds-theme-gold-gold4);
  --color-gold5: var(--wds-theme-gold-gold5);
  --color-gold6: var(--wds-theme-gold-gold6);
  --color-gold7: var(--wds-theme-gold-gold7);
  --color-gold8: var(--wds-theme-gold-gold8);
  --color-gold9: var(--wds-theme-gold-gold9);
  --color-gold10: var(--wds-theme-gold-gold10);
  --color-gold11: var(--wds-theme-gold-gold11);
  --color-gold12: var(--wds-theme-gold-gold12);
  --color-bronze1: var(--wds-theme-bronze-bronze1);
  --color-bronze2: var(--wds-theme-bronze-bronze2);
  --color-bronze3: var(--wds-theme-bronze-bronze3);
  --color-bronze4: var(--wds-theme-bronze-bronze4);
  --color-bronze5: var(--wds-theme-bronze-bronze5);
  --color-bronze6: var(--wds-theme-bronze-bronze6);
  --color-bronze7: var(--wds-theme-bronze-bronze7);
  --color-bronze8: var(--wds-theme-bronze-bronze8);
  --color-bronze9: var(--wds-theme-bronze-bronze9);
  --color-bronze10: var(--wds-theme-bronze-bronze10);
  --color-bronze11: var(--wds-theme-bronze-bronze11);
  --color-bronze12: var(--wds-theme-bronze-bronze12);
  --color-mauve1: var(--wds-theme-mauve-mauve1);
  --color-mauve2: var(--wds-theme-mauve-mauve2);
  --color-mauve3: var(--wds-theme-mauve-mauve3);
  --color-mauve4: var(--wds-theme-mauve-mauve4);
  --color-mauve5: var(--wds-theme-mauve-mauve5);
  --color-mauve6: var(--wds-theme-mauve-mauve6);
  --color-mauve7: var(--wds-theme-mauve-mauve7);
  --color-mauve8: var(--wds-theme-mauve-mauve8);
  --color-mauve9: var(--wds-theme-mauve-mauve9);
  --color-mauve10: var(--wds-theme-mauve-mauve10);
  --color-mauve11: var(--wds-theme-mauve-mauve11);
  --color-mauve12: var(--wds-theme-mauve-mauve12);
  --color-mauve0: var(--wds-theme-mauve-mauve0);
  --color-mauve0-5: var(--wds-theme-mauve-mauve0-5);
  --color-white1: var(--wds-theme-overlay-white-white1);
  --color-white2: var(--wds-theme-overlay-white-white2);
  --color-white3: var(--wds-theme-overlay-white-white3);
  --color-white4: var(--wds-theme-overlay-white-white4);
  --color-white5: var(--wds-theme-overlay-white-white5);
  --color-white6: var(--wds-theme-overlay-white-white6);
  --color-white7: var(--wds-theme-overlay-white-white7);
  --color-white8: var(--wds-theme-overlay-white-white8);
  --color-white9: var(--wds-theme-overlay-white-white9);
  --color-white10: var(--wds-theme-overlay-white-white10);
  --color-white11: var(--wds-theme-overlay-white-white11);
  --color-white12: var(--wds-theme-overlay-white-white12);
  --color-black1: var(--wds-theme-overlay-black-black1);
  --color-black2: var(--wds-theme-overlay-black-black2);
  --color-black3: var(--wds-theme-overlay-black-black3);
  --color-black4: var(--wds-theme-overlay-black-black4);
  --color-black5: var(--wds-theme-overlay-black-black5);
  --color-black6: var(--wds-theme-overlay-black-black6);
  --color-black7: var(--wds-theme-overlay-black-black7);
  --color-black8: var(--wds-theme-overlay-black-black8);
  --color-black9: var(--wds-theme-overlay-black-black9);
  --color-black10: var(--wds-theme-overlay-black-black10);
  --color-black11: var(--wds-theme-overlay-black-black11);
  --color-black12: var(--wds-theme-overlay-black-black12);
  --color-highlight1: var(--wds-theme-overlay-highlight-highlight1);
  --color-highlight2: var(--wds-theme-overlay-highlight-highlight2);
  --color-highlight3: var(--wds-theme-overlay-highlight-highlight3);
  --color-highlight4: var(--wds-theme-overlay-highlight-highlight4);
  --color-highlight5: var(--wds-theme-overlay-highlight-highlight5);
  --color-highlight6: var(--wds-theme-overlay-highlight-highlight6);
  --color-highlight7: var(--wds-theme-overlay-highlight-highlight7);
  --color-highlight8: var(--wds-theme-overlay-highlight-highlight8);
  --color-highlight9: var(--wds-theme-overlay-highlight-highlight9);
  --color-highlight10: var(--wds-theme-overlay-highlight-highlight10);
  --color-highlight11: var(--wds-theme-overlay-highlight-highlight11);
  --color-highlight12: var(--wds-theme-overlay-highlight-highlight12);
  --color-color1: var(--wds-color-color1);
  --color-color2: var(--wds-color-color2);
  --color-color3: var(--wds-color-color3);
  --color-color4: var(--wds-color-color4);
  --color-color5: var(--wds-color-color5);
  --color-color6: var(--wds-color-color6);
  --color-color7: var(--wds-color-color7);
  --color-color8: var(--wds-color-color8);
  --color-color9: var(--wds-color-color9);
  --color-color10: var(--wds-color-color10);
  --color-color11: var(--wds-color-color11);
  --color-color12: var(--wds-color-color12);
  --color-color0: var(--wds-color-color0);
  --color-color0-5: var(--wds-color-color0-5);
  --font-family-display-xl: var(--wds-typography-styles-heading-display-xl-font-family);
  --font-weight-display-xl: var(--wds-typography-styles-heading-display-xl-font-weight);
  --font-style-display-xl: var(--wds-typography-styles-heading-display-xl-font-style);
  --font-size-display-xl: var(--wds-typography-styles-heading-display-xl-font-size);
  --line-height-display-xl: var(--wds-typography-styles-heading-display-xl-line-height);
  --letter-spacing-display-xl: var(--wds-typography-styles-heading-display-xl-letter-spacing);
  --paragraph-spacing-display-xl: var(--wds-typography-styles-heading-display-xl-paragraph-spacing);
  --paragraph-indent-display-xl: var(--wds-typography-styles-heading-display-xl-paragraph-indent);
  --text-decoration-display-xl: var(--wds-typography-styles-heading-display-xl-text-decoration);
  --text-case-display-xl: var(--wds-typography-styles-heading-display-xl-text-case);
  --font-family-display-l: var(--wds-typography-styles-heading-display-l-font-family);
  --font-weight-display-l: var(--wds-typography-styles-heading-display-l-font-weight);
  --font-style-display-l: var(--wds-typography-styles-heading-display-l-font-style);
  --font-size-display-l: var(--wds-typography-styles-heading-display-l-font-size);
  --line-height-display-l: var(--wds-typography-styles-heading-display-l-line-height);
  --letter-spacing-display-l: var(--wds-typography-styles-heading-display-l-letter-spacing);
  --paragraph-spacing-display-l: var(--wds-typography-styles-heading-display-l-paragraph-spacing);
  --paragraph-indent-display-l: var(--wds-typography-styles-heading-display-l-paragraph-indent);
  --text-decoration-display-l: var(--wds-typography-styles-heading-display-l-text-decoration);
  --text-case-display-l: var(--wds-typography-styles-heading-display-l-text-case);
  --font-family-heading-l: var(--wds-typography-styles-heading-heading-l-font-family);
  --font-weight-heading-l: var(--wds-typography-styles-heading-heading-l-font-weight);
  --font-style-heading-l: var(--wds-typography-styles-heading-heading-l-font-style);
  --font-size-heading-l: var(--wds-typography-styles-heading-heading-l-font-size);
  --line-height-heading-l: var(--wds-typography-styles-heading-heading-l-line-height);
  --letter-spacing-heading-l: var(--wds-typography-styles-heading-heading-l-letter-spacing);
  --paragraph-spacing-heading-l: var(--wds-typography-styles-heading-heading-l-paragraph-spacing);
  --paragraph-indent-heading-l: var(--wds-typography-styles-heading-heading-l-paragraph-indent);
  --text-decoration-heading-l: var(--wds-typography-styles-heading-heading-l-text-decoration);
  --text-case-heading-l: var(--wds-typography-styles-heading-heading-l-text-case);
  --font-family-heading-m: var(--wds-typography-styles-heading-heading-m-font-family);
  --font-weight-heading-m: var(--wds-typography-styles-heading-heading-m-font-weight);
  --font-style-heading-m: var(--wds-typography-styles-heading-heading-m-font-style);
  --font-size-heading-m: var(--wds-typography-styles-heading-heading-m-font-size);
  --line-height-heading-m: var(--wds-typography-styles-heading-heading-m-line-height);
  --letter-spacing-heading-m: var(--wds-typography-styles-heading-heading-m-letter-spacing);
  --paragraph-spacing-heading-m: var(--wds-typography-styles-heading-heading-m-paragraph-spacing);
  --paragraph-indent-heading-m: var(--wds-typography-styles-heading-heading-m-paragraph-indent);
  --text-decoration-heading-m: var(--wds-typography-styles-heading-heading-m-text-decoration);
  --text-case-heading-m: var(--wds-typography-styles-heading-heading-m-text-case);
  --font-family-heading-s: var(--wds-typography-styles-heading-heading-s-font-family);
  --font-weight-heading-s: var(--wds-typography-styles-heading-heading-s-font-weight);
  --font-style-heading-s: var(--wds-typography-styles-heading-heading-s-font-style);
  --font-size-heading-s: var(--wds-typography-styles-heading-heading-s-font-size);
  --line-height-heading-s: var(--wds-typography-styles-heading-heading-s-line-height);
  --letter-spacing-heading-s: var(--wds-typography-styles-heading-heading-s-letter-spacing);
  --paragraph-spacing-heading-s: var(--wds-typography-styles-heading-heading-s-paragraph-spacing);
  --paragraph-indent-heading-s: var(--wds-typography-styles-heading-heading-s-paragraph-indent);
  --text-decoration-heading-s: var(--wds-typography-styles-heading-heading-s-text-decoration);
  --text-case-heading-s: var(--wds-typography-styles-heading-heading-s-text-case);
  --font-family-text-s: var(--wds-typography-styles-regular-text-s-font-family);
  --font-weight-text-s: var(--wds-typography-styles-regular-text-s-font-weight);
  --font-style-text-s: var(--wds-typography-styles-regular-text-s-font-style);
  --font-size-text-s: var(--wds-typography-styles-regular-text-s-font-size);
  --line-height-text-s: var(--wds-typography-styles-regular-text-s-line-height);
  --letter-spacing-text-s: var(--wds-typography-styles-regular-text-s-letter-spacing);
  --paragraph-spacing-text-s: var(--wds-typography-styles-regular-text-s-paragraph-spacing);
  --paragraph-indent-text-s: var(--wds-typography-styles-regular-text-s-paragraph-indent);
  --text-decoration-text-s: var(--wds-typography-styles-regular-text-s-text-decoration);
  --text-case-text-s: var(--wds-typography-styles-regular-text-s-text-case);
  --font-family-text-m: var(--wds-typography-styles-regular-text-m-font-family);
  --font-weight-text-m: var(--wds-typography-styles-regular-text-m-font-weight);
  --font-style-text-m: var(--wds-typography-styles-regular-text-m-font-style);
  --font-size-text-m: var(--wds-typography-styles-regular-text-m-font-size);
  --line-height-text-m: var(--wds-typography-styles-regular-text-m-line-height);
  --letter-spacing-text-m: var(--wds-typography-styles-regular-text-m-letter-spacing);
  --paragraph-spacing-text-m: var(--wds-typography-styles-regular-text-m-paragraph-spacing);
  --paragraph-indent-text-m: var(--wds-typography-styles-regular-text-m-paragraph-indent);
  --text-decoration-text-m: var(--wds-typography-styles-regular-text-m-text-decoration);
  --text-case-text-m: var(--wds-typography-styles-regular-text-m-text-case);
  --font-family-text-l: var(--wds-typography-styles-regular-text-l-font-family);
  --font-weight-text-l: var(--wds-typography-styles-regular-text-l-font-weight);
  --font-style-text-l: var(--wds-typography-styles-regular-text-l-font-style);
  --font-size-text-l: var(--wds-typography-styles-regular-text-l-font-size);
  --line-height-text-l: var(--wds-typography-styles-regular-text-l-line-height);
  --letter-spacing-text-l: var(--wds-typography-styles-regular-text-l-letter-spacing);
  --paragraph-spacing-text-l: var(--wds-typography-styles-regular-text-l-paragraph-spacing);
  --paragraph-indent-text-l: var(--wds-typography-styles-regular-text-l-paragraph-indent);
  --text-decoration-text-l: var(--wds-typography-styles-regular-text-l-text-decoration);
  --text-case-text-l: var(--wds-typography-styles-regular-text-l-text-case);
  --font-family-text-xl: var(--wds-typography-styles-regular-text-xl-font-family);
  --font-weight-text-xl: var(--wds-typography-styles-regular-text-xl-font-weight);
  --font-style-text-xl: var(--wds-typography-styles-regular-text-xl-font-style);
  --font-size-text-xl: var(--wds-typography-styles-regular-text-xl-font-size);
  --line-height-text-xl: var(--wds-typography-styles-regular-text-xl-line-height);
  --letter-spacing-text-xl: var(--wds-typography-styles-regular-text-xl-letter-spacing);
  --paragraph-spacing-text-xl: var(--wds-typography-styles-regular-text-xl-paragraph-spacing);
  --paragraph-indent-text-xl: var(--wds-typography-styles-regular-text-xl-paragraph-indent);
  --text-decoration-text-xl: var(--wds-typography-styles-regular-text-xl-text-decoration);
  --text-case-text-xl: var(--wds-typography-styles-regular-text-xl-text-case);
  --font-family-text-s-bold: var(--wds-typography-styles-bold-text-s-bold-font-family);
  --font-weight-text-s-bold: var(--wds-typography-styles-bold-text-s-bold-font-weight);
  --font-style-text-s-bold: var(--wds-typography-styles-bold-text-s-bold-font-style);
  --font-size-text-s-bold: var(--wds-typography-styles-bold-text-s-bold-font-size);
  --line-height-text-s-bold: var(--wds-typography-styles-bold-text-s-bold-line-height);
  --letter-spacing-text-s-bold: var(--wds-typography-styles-bold-text-s-bold-letter-spacing);
  --paragraph-spacing-text-s-bold: var(--wds-typography-styles-bold-text-s-bold-paragraph-spacing);
  --paragraph-indent-text-s-bold: var(--wds-typography-styles-bold-text-s-bold-paragraph-indent);
  --text-decoration-text-s-bold: var(--wds-typography-styles-bold-text-s-bold-text-decoration);
  --text-case-text-s-bold: var(--wds-typography-styles-bold-text-s-bold-text-case);
  --font-family-text-m-bold: var(--wds-typography-styles-bold-text-m-bold-font-family);
  --font-weight-text-m-bold: var(--wds-typography-styles-bold-text-m-bold-font-weight);
  --font-style-text-m-bold: var(--wds-typography-styles-bold-text-m-bold-font-style);
  --font-size-text-m-bold: var(--wds-typography-styles-bold-text-m-bold-font-size);
  --line-height-text-m-bold: var(--wds-typography-styles-bold-text-m-bold-line-height);
  --letter-spacing-text-m-bold: var(--wds-typography-styles-bold-text-m-bold-letter-spacing);
  --paragraph-spacing-text-m-bold: var(--wds-typography-styles-bold-text-m-bold-paragraph-spacing);
  --paragraph-indent-text-m-bold: var(--wds-typography-styles-bold-text-m-bold-paragraph-indent);
  --text-decoration-text-m-bold: var(--wds-typography-styles-bold-text-m-bold-text-decoration);
  --text-case-text-m-bold: var(--wds-typography-styles-bold-text-m-bold-text-case);
  --font-family-text-l-bold: var(--wds-typography-styles-bold-text-l-bold-font-family);
  --font-weight-text-l-bold: var(--wds-typography-styles-bold-text-l-bold-font-weight);
  --font-style-text-l-bold: var(--wds-typography-styles-bold-text-l-bold-font-style);
  --font-size-text-l-bold: var(--wds-typography-styles-bold-text-l-bold-font-size);
  --line-height-text-l-bold: var(--wds-typography-styles-bold-text-l-bold-line-height);
  --letter-spacing-text-l-bold: var(--wds-typography-styles-bold-text-l-bold-letter-spacing);
  --paragraph-spacing-text-l-bold: var(--wds-typography-styles-bold-text-l-bold-paragraph-spacing);
  --paragraph-indent-text-l-bold: var(--wds-typography-styles-bold-text-l-bold-paragraph-indent);
  --text-decoration-text-l-bold: var(--wds-typography-styles-bold-text-l-bold-text-decoration);
  --text-case-text-l-bold: var(--wds-typography-styles-bold-text-l-bold-text-case);
  --font-family-paragraph-s: var(--wds-typography-styles-paragraph-paragraph-s-font-family);
  --font-weight-paragraph-s: var(--wds-typography-styles-paragraph-paragraph-s-font-weight);
  --font-style-paragraph-s: var(--wds-typography-styles-paragraph-paragraph-s-font-style);
  --font-size-paragraph-s: var(--wds-typography-styles-paragraph-paragraph-s-font-size);
  --line-height-paragraph-s: var(--wds-typography-styles-paragraph-paragraph-s-line-height);
  --letter-spacing-paragraph-s: var(--wds-typography-styles-paragraph-paragraph-s-letter-spacing);
  --paragraph-spacing-paragraph-s: var(
    --wds-typography-styles-paragraph-paragraph-s-paragraph-spacing
  );
  --paragraph-indent-paragraph-s: var(
    --wds-typography-styles-paragraph-paragraph-s-paragraph-indent
  );
  --text-decoration-paragraph-s: var(--wds-typography-styles-paragraph-paragraph-s-text-decoration);
  --text-case-paragraph-s: var(--wds-typography-styles-paragraph-paragraph-s-text-case);
  --font-family-paragraph-m: var(--wds-typography-styles-paragraph-paragraph-m-font-family);
  --font-weight-paragraph-m: var(--wds-typography-styles-paragraph-paragraph-m-font-weight);
  --font-style-paragraph-m: var(--wds-typography-styles-paragraph-paragraph-m-font-style);
  --font-size-paragraph-m: var(--wds-typography-styles-paragraph-paragraph-m-font-size);
  --line-height-paragraph-m: var(--wds-typography-styles-paragraph-paragraph-m-line-height);
  --letter-spacing-paragraph-m: var(--wds-typography-styles-paragraph-paragraph-m-letter-spacing);
  --paragraph-spacing-paragraph-m: var(
    --wds-typography-styles-paragraph-paragraph-m-paragraph-spacing
  );
  --paragraph-indent-paragraph-m: var(
    --wds-typography-styles-paragraph-paragraph-m-paragraph-indent
  );
  --text-decoration-paragraph-m: var(--wds-typography-styles-paragraph-paragraph-m-text-decoration);
  --text-case-paragraph-m: var(--wds-typography-styles-paragraph-paragraph-m-text-case);
  --font-family-paragraph-l: var(--wds-typography-styles-paragraph-paragraph-l-font-family);
  --font-weight-paragraph-l: var(--wds-typography-styles-paragraph-paragraph-l-font-weight);
  --font-style-paragraph-l: var(--wds-typography-styles-paragraph-paragraph-l-font-style);
  --font-size-paragraph-l: var(--wds-typography-styles-paragraph-paragraph-l-font-size);
  --line-height-paragraph-l: var(--wds-typography-styles-paragraph-paragraph-l-line-height);
  --letter-spacing-paragraph-l: var(--wds-typography-styles-paragraph-paragraph-l-letter-spacing);
  --paragraph-spacing-paragraph-l: var(
    --wds-typography-styles-paragraph-paragraph-l-paragraph-spacing
  );
  --paragraph-indent-paragraph-l: var(
    --wds-typography-styles-paragraph-paragraph-l-paragraph-indent
  );
  --text-decoration-paragraph-l: var(--wds-typography-styles-paragraph-paragraph-l-text-decoration);
  --text-case-paragraph-l: var(--wds-typography-styles-paragraph-paragraph-l-text-case);
  --font-family-mono: var(--wds-typography-styles-paragraph-mono-font-family);
  --font-weight-mono: var(--wds-typography-styles-paragraph-mono-font-weight);
  --font-style-mono: var(--wds-typography-styles-paragraph-mono-font-style);
  --font-size-mono: var(--wds-typography-styles-paragraph-mono-font-size);
  --line-height-mono: var(--wds-typography-styles-paragraph-mono-line-height);
  --letter-spacing-mono: var(--wds-typography-styles-paragraph-mono-letter-spacing);
  --paragraph-spacing-mono: var(--wds-typography-styles-paragraph-mono-paragraph-spacing);
  --paragraph-indent-mono: var(--wds-typography-styles-paragraph-mono-paragraph-indent);
  --text-decoration-mono: var(--wds-typography-styles-paragraph-mono-text-decoration);
  --text-case-mono: var(--wds-typography-styles-paragraph-mono-text-case);
  --font-family-paragraph-l-bold: var(
    --wds-typography-styles-paragraph-paragraph-l-bold-font-family
  );
  --font-weight-paragraph-l-bold: var(
    --wds-typography-styles-paragraph-paragraph-l-bold-font-weight
  );
  --font-style-paragraph-l-bold: var(--wds-typography-styles-paragraph-paragraph-l-bold-font-style);
  --font-size-paragraph-l-bold: var(--wds-typography-styles-paragraph-paragraph-l-bold-font-size);
  --line-height-paragraph-l-bold: var(
    --wds-typography-styles-paragraph-paragraph-l-bold-line-height
  );
  --letter-spacing-paragraph-l-bold: var(
    --wds-typography-styles-paragraph-paragraph-l-bold-letter-spacing
  );
  --paragraph-spacing-paragraph-l-bold: var(
    --wds-typography-styles-paragraph-paragraph-l-bold-paragraph-spacing
  );
  --paragraph-indent-paragraph-l-bold: var(
    --wds-typography-styles-paragraph-paragraph-l-bold-paragraph-indent
  );
  --text-decoration-paragraph-l-bold: var(
    --wds-typography-styles-paragraph-paragraph-l-bold-text-decoration
  );
  --text-case-paragraph-l-bold: var(--wds-typography-styles-paragraph-paragraph-l-bold-text-case);
}
