.Tablet {
  --FLDS-Size-Space-0: 0px;
  --FLDS-Size-Space-100: 4px;
  --FLDS-Size-Space-150: 6px;
  --FLDS-Size-Space-200: 8px;
  --FLDS-Size-Space-300: 12px;
  --FLDS-Size-Space-400: 16px;
  --FLDS-Size-Space-600: 24px;
  --FLDS-Size-Space-800: 32px;
  --FLDS-Size-Space-1200: 48px;
  --FLDS-Size-Space-1600: 64px;
  --FLDS-Size-Space-2400: 96px;
  --FLDS-Size-Space-3000: 128px;
  --FLDS-Size-Space-4000: 160px;
  --FLDS-Size-Space-Negative-100: -4px;
  --FLDS-Size-Space-Negative-200: -8px;
  --FLDS-Size-Space-Negative-300: -12px;
  --FLDS-Size-Space-Negative-400: -16px;
  --FLDS-Size-Space-Negative-600: -24px;
  --FLDS-Size-Space-050: 2px;
  --FLDS-Size-Radius-100: 4px;
  --FLDS-Size-Radius-200: 10px;
  --FLDS-Size-Radius-300: 16px;
  --FLDS-Size-Radius-400: 20px;
  --FLDS-Size-Radius-Full: 9999px;
  --FLDS-Size-Depth-0: 0px;
  --FLDS-Size-Depth-100: 4px;
  --FLDS-Size-Depth-200: 8px;
  --FLDS-Size-Depth-400: 16px;
  --FLDS-Size-Depth-800: 32px;
  --FLDS-Size-Depth-1200: 48px;
  --FLDS-Size-Depth-025: 1px;
  --FLDS-Size-Depth-Negative-025: -1px;
  --FLDS-Size-Depth-Negative-100: -4px;
  --FLDS-Size-Depth-Negative-200: -8px;
  --FLDS-Size-Depth-Negative-400: -16px;
  --FLDS-Size-Depth-Negative-800: -32px;
  --FLDS-Size-Depth-Negative-1200: -48px;
  --FLDS-Size-Stroke-Border: 1px;
  --FLDS-Size-Stroke-Focus-Ring: 2px;
  --FLDS-Size-Blur-100: 4px;
  --FLDS-Size-Icon-Small: 24px;
  --FLDS-Size-Icon-Medium: 32px;
  --FLDS-Size-Icon-Large: 40px;
  --FLDS-Size-Icon-Xx-Large: 100px;
  --FLDS-Size-Icon-X-Large: 60px;
  --FLDS-Size-Padding-Horizontal: 16px;
  --FLDS-Typography-Title-Page-Font-Family: Inter;
  --FLDS-Typography-Title-Page-Font-Weight: 700;
  --FLDS-Typography-Title-Page-Size-Small: 40px;
  --FLDS-Typography-Title-Page-Size-Base: 48px;
  --FLDS-Typography-Title-Page-Size-Large: 64px;
  --FLDS-Typography-Subtitle-Font-Family: Inter;
  --FLDS-Typography-Subtitle-Size-Base: 32px;
  --FLDS-Typography-Subtitle-Font-Weight: 400;
  --FLDS-Typography-Subtitle-Size-Large: 40px;
  --FLDS-Typography-Subtitle-Size-Small: 24px;
  --FLDS-Typography-Body-Font-Family: Inter;
  --FLDS-Typography-Body-Size-Medium: 16px;
  --FLDS-Typography-Body-Font-Weight-Regular: 400;
  --FLDS-Typography-Body-Size-Large: 20px;
  --FLDS-Typography-Body-Size-Small: 14px;
  --FLDS-Typography-Body-Font-Weight-Strong: 600;
  --FLDS-Typography-Body-Font-Style-Italic: Italic;
  --FLDS-Typography-Code-Font-Family: Roboto Mono;
  --FLDS-Typography-Code-Size-Base: 16px;
  --FLDS-Typography-Code-Font-Weight: 400;
  --FLDS-Typography-Code-Size-Large: 20px;
  --FLDS-Typography-Code-Size-Small: 14px;
  --FLDS-Typography-Heading-Font-Family: Inter;
  --FLDS-Typography-Heading-Size-Base: 24px;
  --FLDS-Typography-Heading-Font-Weight: 600;
  --FLDS-Typography-Heading-Size-Large: 32px;
  --FLDS-Typography-Heading-Size-Small: 20px;
  --FLDS-Typography-Title-Hero-Font-Family: Inter;
  --FLDS-Typography-Title-Hero-Size: 72px;
  --FLDS-Typography-Title-Hero-Font-Weight: 700;
  --FLDS-Typography-Subheading-Font-Family: Inter;
  --FLDS-Typography-Subheading-Size-Small: 16px;
  --FLDS-Typography-Subheading-Size-Medium: 20px;
  --FLDS-Typography-Subheading-Size-Large: 24px;
  --FLDS-Typography-Subheading-Font-Weight: 400;

  .FLDS-Styles-Typography-Title-Hero {
    font-family: Inter;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: -3%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Title-Page {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -2%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Subtitle {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Heading {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -2%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Subheading {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Body-Base {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Body-Strong {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Body-Emphasis {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Body-Link {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: underline;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Body-Small {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Body-Small-Strong {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Body-Code {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Body-Base-Very-Small {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Body-Emphasis-Very-Small {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Body-Link-Very-Small {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: underline;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Body-Strong-Very-Small {
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Single-Line-Body-Base {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Single-Line-Body-Small-Strong {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Single-Line-Body-Base-Small {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Utilities-Component-Notes-Regular {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Utilities-Component-Notes-Bold {
    font-family: Roboto Mono;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Display-Display {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xxs-Light {
    font-family: Inter;
    font-weight: 300;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xxs-Regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xxs-Medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xxs-Semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xxs-Bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xxs-Extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xxs-Strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xs-Light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xs-Regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xs-Medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xs-Semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xs-Bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xs-Extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xs-Strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Sm-Light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Sm-Regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Sm-Medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Sm-Semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Sm-Bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Sm-Extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Sm-Strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Md-Light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Md-Regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Md-Medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Md-Semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Md-Bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Md-Extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Md-Strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Lg-Light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Lg-Regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Lg-Medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Lg-Semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Lg-Bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Lg-Extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Lg-Strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xl-Light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xl-Regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xl-Medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xl-Semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xl-Bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xl-Extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-Xl-Strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-2xl-Light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-2xl-Regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-2xl-Medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-2xl-Semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-2xl-Bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-2xl-Extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-2xl-Strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-3xl-Light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-3xl-Regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-3xl-Medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-3xl-Semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-3xl-Bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-3xl-Extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-3xl-Strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-4xl-Light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-4xl-Regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-4xl-Medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-4xl-Semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-4xl-Bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-4xl-Extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Label-4xl-Strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Paragraph-Body-Light {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Paragraph-Body-Medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Paragraph-Body-Regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Paragraph-Body-Semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Paragraph-Body-Bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Paragraph-Body-Extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Paragraph-Body-Strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Paragraph-Code-Light {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .FLDS-Styles-Typography-Paragraph-Link-Regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
}
