.Mobile {
  --flds-size-space-0: 0px;
  --flds-size-space-100: 4px;
  --flds-size-space-150: 6px;
  --flds-size-space-200: 8px;
  --flds-size-space-300: 12px;
  --flds-size-space-400: 16px;
  --flds-size-space-600: 24px;
  --flds-size-space-800: 32px;
  --flds-size-space-1200: 48px;
  --flds-size-space-1600: 64px;
  --flds-size-space-2400: 96px;
  --flds-size-space-3000: 128px;
  --flds-size-space-4000: 160px;
  --flds-size-space-negative-100: -4px;
  --flds-size-space-negative-200: -8px;
  --flds-size-space-negative-300: -12px;
  --flds-size-space-negative-400: -16px;
  --flds-size-space-negative-600: -24px;
  --flds-size-space-050: 2px;
  --flds-size-radius-100: 4px;
  --flds-size-radius-200: 10px;
  --flds-size-radius-300: 16px;
  --flds-size-radius-400: 20px;
  --flds-size-radius-full: 9999px;
  --flds-size-depth-0: 0px;
  --flds-size-depth-100: 4px;
  --flds-size-depth-200: 8px;
  --flds-size-depth-400: 16px;
  --flds-size-depth-800: 32px;
  --flds-size-depth-1200: 48px;
  --flds-size-depth-025: 1px;
  --flds-size-depth-negative-025: -1px;
  --flds-size-depth-negative-100: -4px;
  --flds-size-depth-negative-200: -8px;
  --flds-size-depth-negative-400: -16px;
  --flds-size-depth-negative-800: -32px;
  --flds-size-depth-negative-1200: -48px;
  --flds-size-stroke-border: 1px;
  --flds-size-stroke-focus-ring: 2px;
  --flds-size-blur-100: 4px;
  --flds-size-icon-small: 24px;
  --flds-size-icon-medium: 32px;
  --flds-size-icon-large: 40px;
  --flds-size-icon-xx-large: 100px;
  --flds-size-icon-x-large: 60px;
  --flds-size-padding-horizontal: 12px;
  --flds-typography-title-page-font-family: Inter;
  --flds-typography-title-page-font-weight: 700;
  --flds-typography-title-page-size-small: 32px;
  --flds-typography-title-page-size-base: 40px;
  --flds-typography-title-page-size-large: 48px;
  --flds-typography-subtitle-font-family: Inter;
  --flds-typography-subtitle-size-base: 24px;
  --flds-typography-subtitle-font-weight: 400;
  --flds-typography-subtitle-size-large: 32px;
  --flds-typography-subtitle-size-small: 20px;
  --flds-typography-body-font-family: Inter;
  --flds-typography-body-size-medium: 14px;
  --flds-typography-body-font-weight-regular: 400;
  --flds-typography-body-size-large: 16px;
  --flds-typography-body-size-small: 12px;
  --flds-typography-body-font-weight-strong: 600;
  --flds-typography-body-font-style-italic: Italic;
  --flds-typography-code-font-family: Roboto Mono;
  --flds-typography-code-size-base: 14px;
  --flds-typography-code-font-weight: 400;
  --flds-typography-code-size-large: 16px;
  --flds-typography-code-size-small: 12px;
  --flds-typography-heading-font-family: Inter;
  --flds-typography-heading-size-base: 20px;
  --flds-typography-heading-font-weight: 600;
  --flds-typography-heading-size-large: 24px;
  --flds-typography-heading-size-small: 16px;
  --flds-typography-title-hero-font-family: Inter;
  --flds-typography-title-hero-size: 64px;
  --flds-typography-title-hero-font-weight: 700;
  --flds-typography-subheading-font-family: Inter;
  --flds-typography-subheading-size-small: 14px;
  --flds-typography-subheading-size-medium: 16px;
  --flds-typography-subheading-size-large: 20px;
  --flds-typography-subheading-font-weight: 400;

  .flds-styles-typography-title-hero {
    font-family: Inter;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: -3%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-title-page {
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -2%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-subtitle {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-heading {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-subheading {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-body-base {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-body-strong {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-body-emphasis {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-body-link {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: underline;
    text-transform: none;
  }
  .flds-styles-typography-body-small {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-body-small-strong {
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-body-code {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-body-base-very-small {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-body-emphasis-very-small {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-body-link-very-small {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: underline;
    text-transform: none;
  }
  .flds-styles-typography-body-strong-very-small {
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-single-line-body-base {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-single-line-body-small-strong {
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-single-line-body-base-small {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-utilities-component-notes-regular {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-utilities-component-notes-bold {
    font-family: Roboto Mono;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-display-display {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xxs-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xxs-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xxs-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xxs-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xxs-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xxs-extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xxs-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 10px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xs-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xs-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xs-medium {
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xs-semibold {
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xs-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xs-extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xs-strong {
    font-family: Inter;
    font-weight: 900;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-sm-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-sm-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-sm-medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-sm-semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-sm-bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-sm-extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-sm-strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-md-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-md-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-md-medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-md-semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-md-bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-md-extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-md-strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-lg-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-lg-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-lg-medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-lg-semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-lg-bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-lg-extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-lg-strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xl-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xl-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xl-medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xl-semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xl-bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xl-extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-xl-strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-2xl-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-2xl-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-2xl-medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-2xl-semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-2xl-bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-2xl-extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-2xl-strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-3xl-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-3xl-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-3xl-medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-3xl-semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-3xl-bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-3xl-extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-3xl-strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-4xl-light {
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-4xl-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-4xl-medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-4xl-semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-4xl-bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-4xl-extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-label-4xl-strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-paragraph-body-light {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-paragraph-body-medium {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-paragraph-body-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-paragraph-body-semibold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-paragraph-body-bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-paragraph-body-extrabold {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-paragraph-body-strong {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-paragraph-code-light {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
  .flds-styles-typography-paragraph-link-regular {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0%;
    text-indent: 0;
    text-decoration: none;
    text-transform: none;
  }
}
